#:include "common.fypp" 
submodule(stdlib_lapack) stdlib_lapack_svd_comp
  implicit none(type,external)


  contains

     module pure subroutine stdlib_stgsja( jobu, jobv, jobq, m, p, n, k, l, a, lda, b,ldb, tola, tolb, &
     !! STGSJA computes the generalized singular value decomposition (GSVD)
     !! of two real upper triangular (or trapezoidal) matrices A and B.
     !! On entry, it is assumed that matrices A and B have the following
     !! forms, which may be obtained by the preprocessing subroutine SGGSVP
     !! from a general M-by-N matrix A and P-by-N matrix B:
     !! N-K-L  K    L
     !! A =    K ( 0    A12  A13 ) if M-K-L >= 0;
     !! L ( 0     0   A23 )
     !! M-K-L ( 0     0    0  )
     !! N-K-L  K    L
     !! A =  K ( 0    A12  A13 ) if M-K-L < 0;
     !! M-K ( 0     0   A23 )
     !! N-K-L  K    L
     !! B =  L ( 0     0   B13 )
     !! P-L ( 0     0    0  )
     !! where the K-by-K matrix A12 and L-by-L matrix B13 are nonsingular
     !! upper triangular; A23 is L-by-L upper triangular if M-K-L >= 0,
     !! otherwise A23 is (M-K)-by-L upper trapezoidal.
     !! On exit,
     !! U**T *A*Q = D1*( 0 R ),    V**T *B*Q = D2*( 0 R ),
     !! where U, V and Q are orthogonal matrices.
     !! R is a nonsingular upper triangular matrix, and D1 and D2 are
     !! ``diagonal'' matrices, which are of the following structures:
     !! If M-K-L >= 0,
     !! K  L
     !! D1 =     K ( I  0 )
     !! L ( 0  C )
     !! M-K-L ( 0  0 )
     !! K  L
     !! D2 = L   ( 0  S )
     !! P-L ( 0  0 )
     !! N-K-L  K    L
     !! ( 0 R ) = K (  0   R11  R12 ) K
     !! L (  0    0   R22 ) L
     !! where
     !! C = diag( ALPHA(K+1), ... , ALPHA(K+L) ),
     !! S = diag( BETA(K+1),  ... , BETA(K+L) ),
     !! C**2 + S**2 = I.
     !! R is stored in A(1:K+L,N-K-L+1:N) on exit.
     !! If M-K-L < 0,
     !! K M-K K+L-M
     !! D1 =   K ( I  0    0   )
     !! M-K ( 0  C    0   )
     !! K M-K K+L-M
     !! D2 =   M-K ( 0  S    0   )
     !! K+L-M ( 0  0    I   )
     !! P-L ( 0  0    0   )
     !! N-K-L  K   M-K  K+L-M
     !! ( 0 R ) =    K ( 0    R11  R12  R13  )
     !! M-K ( 0     0   R22  R23  )
     !! K+L-M ( 0     0    0   R33  )
     !! where
     !! C = diag( ALPHA(K+1), ... , ALPHA(M) ),
     !! S = diag( BETA(K+1),  ... , BETA(M) ),
     !! C**2 + S**2 = I.
     !! R = ( R11 R12 R13 ) is stored in A(1:M, N-K-L+1:N) and R33 is stored
     !! (  0  R22 R23 )
     !! in B(M-K+1:L,N+M-K-L+1:N) on exit.
     !! The computation of the orthogonal transformation matrices U, V or Q
     !! is optional.  These matrices may either be formed explicitly, or they
     !! may be postmultiplied into input matrices U1, V1, or Q1.
               alpha, beta, u, ldu, v, ldv,q, ldq, work, ncycle, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: jobq, jobu, jobv
           integer(ilp), intent(out) :: info, ncycle
           integer(ilp), intent(in) :: k, l, lda, ldb, ldq, ldu, ldv, m, n, p
           real(sp), intent(in) :: tola, tolb
           ! Array Arguments 
           real(sp), intent(inout) :: a(lda,*), b(ldb,*), q(ldq,*), u(ldu,*), v(ldv,*)
           real(sp), intent(out) :: alpha(*), beta(*), work(*)
        ! =====================================================================
           ! Parameters 
           integer(ilp), parameter :: maxit = 40
           real(sp), parameter :: hugenum = huge(zero)
           
           
           ! Local Scalars 
           logical(lk) :: initq, initu, initv, upper, wantq, wantu, wantv
           integer(ilp) :: i, j, kcycle
           real(sp) :: a1, a2, a3, b1, b2, b3, csq, csu, csv, error, gamma, rwk, snq, snu, snv, &
                     ssmin
           ! Intrinsic Functions 
           ! Executable Statements 
           ! decode and test the input parameters
           initu = stdlib_lsame( jobu, 'I' )
           wantu = initu .or. stdlib_lsame( jobu, 'U' )
           initv = stdlib_lsame( jobv, 'I' )
           wantv = initv .or. stdlib_lsame( jobv, 'V' )
           initq = stdlib_lsame( jobq, 'I' )
           wantq = initq .or. stdlib_lsame( jobq, 'Q' )
           info = 0
           if( .not.( initu .or. wantu .or. stdlib_lsame( jobu, 'N' ) ) ) then
              info = -1
           else if( .not.( initv .or. wantv .or. stdlib_lsame( jobv, 'N' ) ) ) then
              info = -2
           else if( .not.( initq .or. wantq .or. stdlib_lsame( jobq, 'N' ) ) ) then
              info = -3
           else if( m<0 ) then
              info = -4
           else if( p<0 ) then
              info = -5
           else if( n<0 ) then
              info = -6
           else if( lda<max( 1, m ) ) then
              info = -10
           else if( ldb<max( 1, p ) ) then
              info = -12
           else if( ldu<1 .or. ( wantu .and. ldu<m ) ) then
              info = -18
           else if( ldv<1 .or. ( wantv .and. ldv<p ) ) then
              info = -20
           else if( ldq<1 .or. ( wantq .and. ldq<n ) ) then
              info = -22
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'STGSJA', -info )
              return
           end if
           ! initialize u, v and q, if necessary
           if( initu )call stdlib_slaset( 'FULL', m, m, zero, one, u, ldu )
           if( initv )call stdlib_slaset( 'FULL', p, p, zero, one, v, ldv )
           if( initq )call stdlib_slaset( 'FULL', n, n, zero, one, q, ldq )
           ! loop until convergence
           upper = .false.
           loop_40: do kcycle = 1, maxit
              upper = .not.upper
              loop_20: do i = 1, l - 1
                 loop_10: do j = i + 1, l
                    a1 = zero
                    a2 = zero
                    a3 = zero
                    if( k+i<=m )a1 = a( k+i, n-l+i )
                    if( k+j<=m )a3 = a( k+j, n-l+j )
                    b1 = b( i, n-l+i )
                    b3 = b( j, n-l+j )
                    if( upper ) then
                       if( k+i<=m )a2 = a( k+i, n-l+j )
                       b2 = b( i, n-l+j )
                    else
                       if( k+j<=m )a2 = a( k+j, n-l+i )
                       b2 = b( j, n-l+i )
                    end if
                    call stdlib_slags2( upper, a1, a2, a3, b1, b2, b3, csu, snu,csv, snv, csq, &
                              snq )
                    ! update (k+i)-th and (k+j)-th rows of matrix a: u**t *a
                    if( k+j<=m )call stdlib_srot( l, a( k+j, n-l+1 ), lda, a( k+i, n-l+1 ),lda, &
                              csu, snu )
                    ! update i-th and j-th rows of matrix b: v**t *b
                    call stdlib_srot( l, b( j, n-l+1 ), ldb, b( i, n-l+1 ), ldb,csv, snv )
                    ! update (n-l+i)-th and (n-l+j)-th columns of matrices
                    ! a and b: a*q and b*q
                    call stdlib_srot( min( k+l, m ), a( 1, n-l+j ), 1,a( 1, n-l+i ), 1, csq, snq )
                              
                    call stdlib_srot( l, b( 1, n-l+j ), 1, b( 1, n-l+i ), 1, csq,snq )
                    if( upper ) then
                       if( k+i<=m )a( k+i, n-l+j ) = zero
                       b( i, n-l+j ) = zero
                    else
                       if( k+j<=m )a( k+j, n-l+i ) = zero
                       b( j, n-l+i ) = zero
                    end if
                    ! update orthogonal matrices u, v, q, if desired.
                    if( wantu .and. k+j<=m )call stdlib_srot( m, u( 1, k+j ), 1, u( 1, k+i ), 1, &
                              csu,snu )
                    if( wantv )call stdlib_srot( p, v( 1, j ), 1, v( 1, i ), 1, csv, snv )
                    if( wantq )call stdlib_srot( n, q( 1, n-l+j ), 1, q( 1, n-l+i ), 1, csq,snq )
                              
                 end do loop_10
              end do loop_20
              if( .not.upper ) then
                 ! the matrices a13 and b13 were lower triangular at the start
                 ! of the cycle, and are now upper triangular.
                 ! convergence test: test the parallelism of the corresponding
                 ! rows of a and b.
                 error = zero
                 do i = 1, min( l, m-k )
                    call stdlib_scopy( l-i+1, a( k+i, n-l+i ), lda, work, 1 )
                    call stdlib_scopy( l-i+1, b( i, n-l+i ), ldb, work( l+1 ), 1 )
                    call stdlib_slapll( l-i+1, work, 1, work( l+1 ), 1, ssmin )
                    error = max( error, ssmin )
                 end do
                 if( abs( error )<=min( tola, tolb ) )go to 50
              end if
              ! end of cycle loop
           end do loop_40
           ! the algorithm has not converged after maxit cycles.
           info = 1
           go to 100
           50 continue
           ! if error <= min(tola,tolb), then the algorithm has converged.
           ! compute the generalized singular value pairs (alpha, beta), and
           ! set the triangular matrix r to array a.
           do i = 1, k
              alpha( i ) = one
              beta( i ) = zero
           end do
           do i = 1, min( l, m-k )
              a1 = a( k+i, n-l+i )
              b1 = b( i, n-l+i )
              gamma = b1 / a1
              if( (gamma<=hugenum).and.(gamma>=-hugenum) ) then
                 ! change sign if necessary
                 if( gamma<zero ) then
                    call stdlib_sscal( l-i+1, -one, b( i, n-l+i ), ldb )
                    if( wantv )call stdlib_sscal( p, -one, v( 1, i ), 1 )
                 end if
                 call stdlib_slartg( abs( gamma ), one, beta( k+i ), alpha( k+i ),rwk )
                 if( alpha( k+i )>=beta( k+i ) ) then
                    call stdlib_sscal( l-i+1, one / alpha( k+i ), a( k+i, n-l+i ),lda )
                 else
                    call stdlib_sscal( l-i+1, one / beta( k+i ), b( i, n-l+i ),ldb )
                    call stdlib_scopy( l-i+1, b( i, n-l+i ), ldb, a( k+i, n-l+i ),lda )
                 end if
              else
                 alpha( k+i ) = zero
                 beta( k+i ) = one
                 call stdlib_scopy( l-i+1, b( i, n-l+i ), ldb, a( k+i, n-l+i ),lda )
              end if
           end do
           ! post-assignment
           do i = m + 1, k + l
              alpha( i ) = zero
              beta( i ) = one
           end do
           if( k+l<n ) then
              do i = k + l + 1, n
                 alpha( i ) = zero
                 beta( i ) = zero
              end do
           end if
           100 continue
           ncycle = kcycle
           return
     end subroutine stdlib_stgsja

     module pure subroutine stdlib_dtgsja( jobu, jobv, jobq, m, p, n, k, l, a, lda, b,ldb, tola, tolb, &
     !! DTGSJA computes the generalized singular value decomposition (GSVD)
     !! of two real upper triangular (or trapezoidal) matrices A and B.
     !! On entry, it is assumed that matrices A and B have the following
     !! forms, which may be obtained by the preprocessing subroutine DGGSVP
     !! from a general M-by-N matrix A and P-by-N matrix B:
     !! N-K-L  K    L
     !! A =    K ( 0    A12  A13 ) if M-K-L >= 0;
     !! L ( 0     0   A23 )
     !! M-K-L ( 0     0    0  )
     !! N-K-L  K    L
     !! A =  K ( 0    A12  A13 ) if M-K-L < 0;
     !! M-K ( 0     0   A23 )
     !! N-K-L  K    L
     !! B =  L ( 0     0   B13 )
     !! P-L ( 0     0    0  )
     !! where the K-by-K matrix A12 and L-by-L matrix B13 are nonsingular
     !! upper triangular; A23 is L-by-L upper triangular if M-K-L >= 0,
     !! otherwise A23 is (M-K)-by-L upper trapezoidal.
     !! On exit,
     !! U**T *A*Q = D1*( 0 R ),    V**T *B*Q = D2*( 0 R ),
     !! where U, V and Q are orthogonal matrices.
     !! R is a nonsingular upper triangular matrix, and D1 and D2 are
     !! ``diagonal'' matrices, which are of the following structures:
     !! If M-K-L >= 0,
     !! K  L
     !! D1 =     K ( I  0 )
     !! L ( 0  C )
     !! M-K-L ( 0  0 )
     !! K  L
     !! D2 = L   ( 0  S )
     !! P-L ( 0  0 )
     !! N-K-L  K    L
     !! ( 0 R ) = K (  0   R11  R12 ) K
     !! L (  0    0   R22 ) L
     !! where
     !! C = diag( ALPHA(K+1), ... , ALPHA(K+L) ),
     !! S = diag( BETA(K+1),  ... , BETA(K+L) ),
     !! C**2 + S**2 = I.
     !! R is stored in A(1:K+L,N-K-L+1:N) on exit.
     !! If M-K-L < 0,
     !! K M-K K+L-M
     !! D1 =   K ( I  0    0   )
     !! M-K ( 0  C    0   )
     !! K M-K K+L-M
     !! D2 =   M-K ( 0  S    0   )
     !! K+L-M ( 0  0    I   )
     !! P-L ( 0  0    0   )
     !! N-K-L  K   M-K  K+L-M
     !! ( 0 R ) =    K ( 0    R11  R12  R13  )
     !! M-K ( 0     0   R22  R23  )
     !! K+L-M ( 0     0    0   R33  )
     !! where
     !! C = diag( ALPHA(K+1), ... , ALPHA(M) ),
     !! S = diag( BETA(K+1),  ... , BETA(M) ),
     !! C**2 + S**2 = I.
     !! R = ( R11 R12 R13 ) is stored in A(1:M, N-K-L+1:N) and R33 is stored
     !! (  0  R22 R23 )
     !! in B(M-K+1:L,N+M-K-L+1:N) on exit.
     !! The computation of the orthogonal transformation matrices U, V or Q
     !! is optional.  These matrices may either be formed explicitly, or they
     !! may be postmultiplied into input matrices U1, V1, or Q1.
               alpha, beta, u, ldu, v, ldv,q, ldq, work, ncycle, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: jobq, jobu, jobv
           integer(ilp), intent(out) :: info, ncycle
           integer(ilp), intent(in) :: k, l, lda, ldb, ldq, ldu, ldv, m, n, p
           real(dp), intent(in) :: tola, tolb
           ! Array Arguments 
           real(dp), intent(inout) :: a(lda,*), b(ldb,*), q(ldq,*), u(ldu,*), v(ldv,*)
           real(dp), intent(out) :: alpha(*), beta(*), work(*)
        ! =====================================================================
           ! Parameters 
           integer(ilp), parameter :: maxit = 40
           real(dp), parameter :: hugenum = huge(zero)
           
           
           ! Local Scalars 
           logical(lk) :: initq, initu, initv, upper, wantq, wantu, wantv
           integer(ilp) :: i, j, kcycle
           real(dp) :: a1, a2, a3, b1, b2, b3, csq, csu, csv, error, gamma, rwk, snq, snu, snv, &
                     ssmin
           ! Intrinsic Functions 
           ! Executable Statements 
           ! decode and test the input parameters
           initu = stdlib_lsame( jobu, 'I' )
           wantu = initu .or. stdlib_lsame( jobu, 'U' )
           initv = stdlib_lsame( jobv, 'I' )
           wantv = initv .or. stdlib_lsame( jobv, 'V' )
           initq = stdlib_lsame( jobq, 'I' )
           wantq = initq .or. stdlib_lsame( jobq, 'Q' )
           info = 0
           if( .not.( initu .or. wantu .or. stdlib_lsame( jobu, 'N' ) ) ) then
              info = -1
           else if( .not.( initv .or. wantv .or. stdlib_lsame( jobv, 'N' ) ) ) then
              info = -2
           else if( .not.( initq .or. wantq .or. stdlib_lsame( jobq, 'N' ) ) ) then
              info = -3
           else if( m<0 ) then
              info = -4
           else if( p<0 ) then
              info = -5
           else if( n<0 ) then
              info = -6
           else if( lda<max( 1, m ) ) then
              info = -10
           else if( ldb<max( 1, p ) ) then
              info = -12
           else if( ldu<1 .or. ( wantu .and. ldu<m ) ) then
              info = -18
           else if( ldv<1 .or. ( wantv .and. ldv<p ) ) then
              info = -20
           else if( ldq<1 .or. ( wantq .and. ldq<n ) ) then
              info = -22
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'DTGSJA', -info )
              return
           end if
           ! initialize u, v and q, if necessary
           if( initu )call stdlib_dlaset( 'FULL', m, m, zero, one, u, ldu )
           if( initv )call stdlib_dlaset( 'FULL', p, p, zero, one, v, ldv )
           if( initq )call stdlib_dlaset( 'FULL', n, n, zero, one, q, ldq )
           ! loop until convergence
           upper = .false.
           loop_40: do kcycle = 1, maxit
              upper = .not.upper
              loop_20: do i = 1, l - 1
                 loop_10: do j = i + 1, l
                    a1 = zero
                    a2 = zero
                    a3 = zero
                    if( k+i<=m )a1 = a( k+i, n-l+i )
                    if( k+j<=m )a3 = a( k+j, n-l+j )
                    b1 = b( i, n-l+i )
                    b3 = b( j, n-l+j )
                    if( upper ) then
                       if( k+i<=m )a2 = a( k+i, n-l+j )
                       b2 = b( i, n-l+j )
                    else
                       if( k+j<=m )a2 = a( k+j, n-l+i )
                       b2 = b( j, n-l+i )
                    end if
                    call stdlib_dlags2( upper, a1, a2, a3, b1, b2, b3, csu, snu,csv, snv, csq, &
                              snq )
                    ! update (k+i)-th and (k+j)-th rows of matrix a: u**t *a
                    if( k+j<=m )call stdlib_drot( l, a( k+j, n-l+1 ), lda, a( k+i, n-l+1 ),lda, &
                              csu, snu )
                    ! update i-th and j-th rows of matrix b: v**t *b
                    call stdlib_drot( l, b( j, n-l+1 ), ldb, b( i, n-l+1 ), ldb,csv, snv )
                    ! update (n-l+i)-th and (n-l+j)-th columns of matrices
                    ! a and b: a*q and b*q
                    call stdlib_drot( min( k+l, m ), a( 1, n-l+j ), 1,a( 1, n-l+i ), 1, csq, snq )
                              
                    call stdlib_drot( l, b( 1, n-l+j ), 1, b( 1, n-l+i ), 1, csq,snq )
                    if( upper ) then
                       if( k+i<=m )a( k+i, n-l+j ) = zero
                       b( i, n-l+j ) = zero
                    else
                       if( k+j<=m )a( k+j, n-l+i ) = zero
                       b( j, n-l+i ) = zero
                    end if
                    ! update orthogonal matrices u, v, q, if desired.
                    if( wantu .and. k+j<=m )call stdlib_drot( m, u( 1, k+j ), 1, u( 1, k+i ), 1, &
                              csu,snu )
                    if( wantv )call stdlib_drot( p, v( 1, j ), 1, v( 1, i ), 1, csv, snv )
                    if( wantq )call stdlib_drot( n, q( 1, n-l+j ), 1, q( 1, n-l+i ), 1, csq,snq )
                              
                 end do loop_10
              end do loop_20
              if( .not.upper ) then
                 ! the matrices a13 and b13 were lower triangular at the start
                 ! of the cycle, and are now upper triangular.
                 ! convergence test: test the parallelism of the corresponding
                 ! rows of a and b.
                 error = zero
                 do i = 1, min( l, m-k )
                    call stdlib_dcopy( l-i+1, a( k+i, n-l+i ), lda, work, 1 )
                    call stdlib_dcopy( l-i+1, b( i, n-l+i ), ldb, work( l+1 ), 1 )
                    call stdlib_dlapll( l-i+1, work, 1, work( l+1 ), 1, ssmin )
                    error = max( error, ssmin )
                 end do
                 if( abs( error )<=min( tola, tolb ) )go to 50
              end if
              ! end of cycle loop
           end do loop_40
           ! the algorithm has not converged after maxit cycles.
           info = 1
           go to 100
           50 continue
           ! if error <= min(tola,tolb), then the algorithm has converged.
           ! compute the generalized singular value pairs (alpha, beta), and
           ! set the triangular matrix r to array a.
           do i = 1, k
              alpha( i ) = one
              beta( i ) = zero
           end do
           do i = 1, min( l, m-k )
              a1 = a( k+i, n-l+i )
              b1 = b( i, n-l+i )
              gamma = b1 / a1
              if( (gamma<=hugenum).and.(gamma>=-hugenum) ) then
                 ! change sign if necessary
                 if( gamma<zero ) then
                    call stdlib_dscal( l-i+1, -one, b( i, n-l+i ), ldb )
                    if( wantv )call stdlib_dscal( p, -one, v( 1, i ), 1 )
                 end if
                 call stdlib_dlartg( abs( gamma ), one, beta( k+i ), alpha( k+i ),rwk )
                 if( alpha( k+i )>=beta( k+i ) ) then
                    call stdlib_dscal( l-i+1, one / alpha( k+i ), a( k+i, n-l+i ),lda )
                 else
                    call stdlib_dscal( l-i+1, one / beta( k+i ), b( i, n-l+i ),ldb )
                    call stdlib_dcopy( l-i+1, b( i, n-l+i ), ldb, a( k+i, n-l+i ),lda )
                 end if
              else
                 alpha( k+i ) = zero
                 beta( k+i ) = one
                 call stdlib_dcopy( l-i+1, b( i, n-l+i ), ldb, a( k+i, n-l+i ),lda )
              end if
           end do
           ! post-assignment
           do i = m + 1, k + l
              alpha( i ) = zero
              beta( i ) = one
           end do
           if( k+l<n ) then
              do i = k + l + 1, n
                 alpha( i ) = zero
                 beta( i ) = zero
              end do
           end if
           100 continue
           ncycle = kcycle
           return
     end subroutine stdlib_dtgsja

#:for rk,rt,ri in REAL_KINDS_TYPES
#:if not rk in ["sp","dp"]
     module pure subroutine stdlib_${ri}$tgsja( jobu, jobv, jobq, m, p, n, k, l, a, lda, b,ldb, tola, tolb, &
     !! DTGSJA: computes the generalized singular value decomposition (GSVD)
     !! of two real upper triangular (or trapezoidal) matrices A and B.
     !! On entry, it is assumed that matrices A and B have the following
     !! forms, which may be obtained by the preprocessing subroutine DGGSVP
     !! from a general M-by-N matrix A and P-by-N matrix B:
     !! N-K-L  K    L
     !! A =    K ( 0    A12  A13 ) if M-K-L >= 0;
     !! L ( 0     0   A23 )
     !! M-K-L ( 0     0    0  )
     !! N-K-L  K    L
     !! A =  K ( 0    A12  A13 ) if M-K-L < 0;
     !! M-K ( 0     0   A23 )
     !! N-K-L  K    L
     !! B =  L ( 0     0   B13 )
     !! P-L ( 0     0    0  )
     !! where the K-by-K matrix A12 and L-by-L matrix B13 are nonsingular
     !! upper triangular; A23 is L-by-L upper triangular if M-K-L >= 0,
     !! otherwise A23 is (M-K)-by-L upper trapezoidal.
     !! On exit,
     !! U**T *A*Q = D1*( 0 R ),    V**T *B*Q = D2*( 0 R ),
     !! where U, V and Q are orthogonal matrices.
     !! R is a nonsingular upper triangular matrix, and D1 and D2 are
     !! ``diagonal'' matrices, which are of the following structures:
     !! If M-K-L >= 0,
     !! K  L
     !! D1 =     K ( I  0 )
     !! L ( 0  C )
     !! M-K-L ( 0  0 )
     !! K  L
     !! D2 = L   ( 0  S )
     !! P-L ( 0  0 )
     !! N-K-L  K    L
     !! ( 0 R ) = K (  0   R11  R12 ) K
     !! L (  0    0   R22 ) L
     !! where
     !! C = diag( ALPHA(K+1), ... , ALPHA(K+L) ),
     !! S = diag( BETA(K+1),  ... , BETA(K+L) ),
     !! C**2 + S**2 = I.
     !! R is stored in A(1:K+L,N-K-L+1:N) on exit.
     !! If M-K-L < 0,
     !! K M-K K+L-M
     !! D1 =   K ( I  0    0   )
     !! M-K ( 0  C    0   )
     !! K M-K K+L-M
     !! D2 =   M-K ( 0  S    0   )
     !! K+L-M ( 0  0    I   )
     !! P-L ( 0  0    0   )
     !! N-K-L  K   M-K  K+L-M
     !! ( 0 R ) =    K ( 0    R11  R12  R13  )
     !! M-K ( 0     0   R22  R23  )
     !! K+L-M ( 0     0    0   R33  )
     !! where
     !! C = diag( ALPHA(K+1), ... , ALPHA(M) ),
     !! S = diag( BETA(K+1),  ... , BETA(M) ),
     !! C**2 + S**2 = I.
     !! R = ( R11 R12 R13 ) is stored in A(1:M, N-K-L+1:N) and R33 is stored
     !! (  0  R22 R23 )
     !! in B(M-K+1:L,N+M-K-L+1:N) on exit.
     !! The computation of the orthogonal transformation matrices U, V or Q
     !! is optional.  These matrices may either be formed explicitly, or they
     !! may be postmultiplied into input matrices U1, V1, or Q1.
               alpha, beta, u, ldu, v, ldv,q, ldq, work, ncycle, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${rk}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: jobq, jobu, jobv
           integer(ilp), intent(out) :: info, ncycle
           integer(ilp), intent(in) :: k, l, lda, ldb, ldq, ldu, ldv, m, n, p
           real(${rk}$), intent(in) :: tola, tolb
           ! Array Arguments 
           real(${rk}$), intent(inout) :: a(lda,*), b(ldb,*), q(ldq,*), u(ldu,*), v(ldv,*)
           real(${rk}$), intent(out) :: alpha(*), beta(*), work(*)
        ! =====================================================================
           ! Parameters 
           integer(ilp), parameter :: maxit = 40
           real(${rk}$), parameter :: hugenum = huge(zero)
           
           
           ! Local Scalars 
           logical(lk) :: initq, initu, initv, upper, wantq, wantu, wantv
           integer(ilp) :: i, j, kcycle
           real(${rk}$) :: a1, a2, a3, b1, b2, b3, csq, csu, csv, error, gamma, rwk, snq, snu, snv, &
                     ssmin
           ! Intrinsic Functions 
           ! Executable Statements 
           ! decode and test the input parameters
           initu = stdlib_lsame( jobu, 'I' )
           wantu = initu .or. stdlib_lsame( jobu, 'U' )
           initv = stdlib_lsame( jobv, 'I' )
           wantv = initv .or. stdlib_lsame( jobv, 'V' )
           initq = stdlib_lsame( jobq, 'I' )
           wantq = initq .or. stdlib_lsame( jobq, 'Q' )
           info = 0
           if( .not.( initu .or. wantu .or. stdlib_lsame( jobu, 'N' ) ) ) then
              info = -1
           else if( .not.( initv .or. wantv .or. stdlib_lsame( jobv, 'N' ) ) ) then
              info = -2
           else if( .not.( initq .or. wantq .or. stdlib_lsame( jobq, 'N' ) ) ) then
              info = -3
           else if( m<0 ) then
              info = -4
           else if( p<0 ) then
              info = -5
           else if( n<0 ) then
              info = -6
           else if( lda<max( 1, m ) ) then
              info = -10
           else if( ldb<max( 1, p ) ) then
              info = -12
           else if( ldu<1 .or. ( wantu .and. ldu<m ) ) then
              info = -18
           else if( ldv<1 .or. ( wantv .and. ldv<p ) ) then
              info = -20
           else if( ldq<1 .or. ( wantq .and. ldq<n ) ) then
              info = -22
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'DTGSJA', -info )
              return
           end if
           ! initialize u, v and q, if necessary
           if( initu )call stdlib_${ri}$laset( 'FULL', m, m, zero, one, u, ldu )
           if( initv )call stdlib_${ri}$laset( 'FULL', p, p, zero, one, v, ldv )
           if( initq )call stdlib_${ri}$laset( 'FULL', n, n, zero, one, q, ldq )
           ! loop until convergence
           upper = .false.
           loop_40: do kcycle = 1, maxit
              upper = .not.upper
              loop_20: do i = 1, l - 1
                 loop_10: do j = i + 1, l
                    a1 = zero
                    a2 = zero
                    a3 = zero
                    if( k+i<=m )a1 = a( k+i, n-l+i )
                    if( k+j<=m )a3 = a( k+j, n-l+j )
                    b1 = b( i, n-l+i )
                    b3 = b( j, n-l+j )
                    if( upper ) then
                       if( k+i<=m )a2 = a( k+i, n-l+j )
                       b2 = b( i, n-l+j )
                    else
                       if( k+j<=m )a2 = a( k+j, n-l+i )
                       b2 = b( j, n-l+i )
                    end if
                    call stdlib_${ri}$lags2( upper, a1, a2, a3, b1, b2, b3, csu, snu,csv, snv, csq, &
                              snq )
                    ! update (k+i)-th and (k+j)-th rows of matrix a: u**t *a
                    if( k+j<=m )call stdlib_${ri}$rot( l, a( k+j, n-l+1 ), lda, a( k+i, n-l+1 ),lda, &
                              csu, snu )
                    ! update i-th and j-th rows of matrix b: v**t *b
                    call stdlib_${ri}$rot( l, b( j, n-l+1 ), ldb, b( i, n-l+1 ), ldb,csv, snv )
                    ! update (n-l+i)-th and (n-l+j)-th columns of matrices
                    ! a and b: a*q and b*q
                    call stdlib_${ri}$rot( min( k+l, m ), a( 1, n-l+j ), 1,a( 1, n-l+i ), 1, csq, snq )
                              
                    call stdlib_${ri}$rot( l, b( 1, n-l+j ), 1, b( 1, n-l+i ), 1, csq,snq )
                    if( upper ) then
                       if( k+i<=m )a( k+i, n-l+j ) = zero
                       b( i, n-l+j ) = zero
                    else
                       if( k+j<=m )a( k+j, n-l+i ) = zero
                       b( j, n-l+i ) = zero
                    end if
                    ! update orthogonal matrices u, v, q, if desired.
                    if( wantu .and. k+j<=m )call stdlib_${ri}$rot( m, u( 1, k+j ), 1, u( 1, k+i ), 1, &
                              csu,snu )
                    if( wantv )call stdlib_${ri}$rot( p, v( 1, j ), 1, v( 1, i ), 1, csv, snv )
                    if( wantq )call stdlib_${ri}$rot( n, q( 1, n-l+j ), 1, q( 1, n-l+i ), 1, csq,snq )
                              
                 end do loop_10
              end do loop_20
              if( .not.upper ) then
                 ! the matrices a13 and b13 were lower triangular at the start
                 ! of the cycle, and are now upper triangular.
                 ! convergence test: test the parallelism of the corresponding
                 ! rows of a and b.
                 error = zero
                 do i = 1, min( l, m-k )
                    call stdlib_${ri}$copy( l-i+1, a( k+i, n-l+i ), lda, work, 1 )
                    call stdlib_${ri}$copy( l-i+1, b( i, n-l+i ), ldb, work( l+1 ), 1 )
                    call stdlib_${ri}$lapll( l-i+1, work, 1, work( l+1 ), 1, ssmin )
                    error = max( error, ssmin )
                 end do
                 if( abs( error )<=min( tola, tolb ) )go to 50
              end if
              ! end of cycle loop
           end do loop_40
           ! the algorithm has not converged after maxit cycles.
           info = 1
           go to 100
           50 continue
           ! if error <= min(tola,tolb), then the algorithm has converged.
           ! compute the generalized singular value pairs (alpha, beta), and
           ! set the triangular matrix r to array a.
           do i = 1, k
              alpha( i ) = one
              beta( i ) = zero
           end do
           do i = 1, min( l, m-k )
              a1 = a( k+i, n-l+i )
              b1 = b( i, n-l+i )
              gamma = b1 / a1
              if( (gamma<=hugenum).and.(gamma>=-hugenum) ) then
                 ! change sign if necessary
                 if( gamma<zero ) then
                    call stdlib_${ri}$scal( l-i+1, -one, b( i, n-l+i ), ldb )
                    if( wantv )call stdlib_${ri}$scal( p, -one, v( 1, i ), 1 )
                 end if
                 call stdlib_${ri}$lartg( abs( gamma ), one, beta( k+i ), alpha( k+i ),rwk )
                 if( alpha( k+i )>=beta( k+i ) ) then
                    call stdlib_${ri}$scal( l-i+1, one / alpha( k+i ), a( k+i, n-l+i ),lda )
                 else
                    call stdlib_${ri}$scal( l-i+1, one / beta( k+i ), b( i, n-l+i ),ldb )
                    call stdlib_${ri}$copy( l-i+1, b( i, n-l+i ), ldb, a( k+i, n-l+i ),lda )
                 end if
              else
                 alpha( k+i ) = zero
                 beta( k+i ) = one
                 call stdlib_${ri}$copy( l-i+1, b( i, n-l+i ), ldb, a( k+i, n-l+i ),lda )
              end if
           end do
           ! post-assignment
           do i = m + 1, k + l
              alpha( i ) = zero
              beta( i ) = one
           end do
           if( k+l<n ) then
              do i = k + l + 1, n
                 alpha( i ) = zero
                 beta( i ) = zero
              end do
           end if
           100 continue
           ncycle = kcycle
           return
     end subroutine stdlib_${ri}$tgsja

#:endif
#:endfor

     module pure subroutine stdlib_ctgsja( jobu, jobv, jobq, m, p, n, k, l, a, lda, b,ldb, tola, tolb, &
     !! CTGSJA computes the generalized singular value decomposition (GSVD)
     !! of two complex upper triangular (or trapezoidal) matrices A and B.
     !! On entry, it is assumed that matrices A and B have the following
     !! forms, which may be obtained by the preprocessing subroutine CGGSVP
     !! from a general M-by-N matrix A and P-by-N matrix B:
     !! N-K-L  K    L
     !! A =    K ( 0    A12  A13 ) if M-K-L >= 0;
     !! L ( 0     0   A23 )
     !! M-K-L ( 0     0    0  )
     !! N-K-L  K    L
     !! A =  K ( 0    A12  A13 ) if M-K-L < 0;
     !! M-K ( 0     0   A23 )
     !! N-K-L  K    L
     !! B =  L ( 0     0   B13 )
     !! P-L ( 0     0    0  )
     !! where the K-by-K matrix A12 and L-by-L matrix B13 are nonsingular
     !! upper triangular; A23 is L-by-L upper triangular if M-K-L >= 0,
     !! otherwise A23 is (M-K)-by-L upper trapezoidal.
     !! On exit,
     !! U**H *A*Q = D1*( 0 R ),    V**H *B*Q = D2*( 0 R ),
     !! where U, V and Q are unitary matrices.
     !! R is a nonsingular upper triangular matrix, and D1
     !! and D2 are ``diagonal'' matrices, which are of the following
     !! structures:
     !! If M-K-L >= 0,
     !! K  L
     !! D1 =     K ( I  0 )
     !! L ( 0  C )
     !! M-K-L ( 0  0 )
     !! K  L
     !! D2 = L   ( 0  S )
     !! P-L ( 0  0 )
     !! N-K-L  K    L
     !! ( 0 R ) = K (  0   R11  R12 ) K
     !! L (  0    0   R22 ) L
     !! where
     !! C = diag( ALPHA(K+1), ... , ALPHA(K+L) ),
     !! S = diag( BETA(K+1),  ... , BETA(K+L) ),
     !! C**2 + S**2 = I.
     !! R is stored in A(1:K+L,N-K-L+1:N) on exit.
     !! If M-K-L < 0,
     !! K M-K K+L-M
     !! D1 =   K ( I  0    0   )
     !! M-K ( 0  C    0   )
     !! K M-K K+L-M
     !! D2 =   M-K ( 0  S    0   )
     !! K+L-M ( 0  0    I   )
     !! P-L ( 0  0    0   )
     !! N-K-L  K   M-K  K+L-M
     !! ( 0 R ) =    K ( 0    R11  R12  R13  )
     !! M-K ( 0     0   R22  R23  )
     !! K+L-M ( 0     0    0   R33  )
     !! where
     !! C = diag( ALPHA(K+1), ... , ALPHA(M) ),
     !! S = diag( BETA(K+1),  ... , BETA(M) ),
     !! C**2 + S**2 = I.
     !! R = ( R11 R12 R13 ) is stored in A(1:M, N-K-L+1:N) and R33 is stored
     !! (  0  R22 R23 )
     !! in B(M-K+1:L,N+M-K-L+1:N) on exit.
     !! The computation of the unitary transformation matrices U, V or Q
     !! is optional.  These matrices may either be formed explicitly, or they
     !! may be postmultiplied into input matrices U1, V1, or Q1.
               alpha, beta, u, ldu, v, ldv,q, ldq, work, ncycle, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: jobq, jobu, jobv
           integer(ilp), intent(out) :: info, ncycle
           integer(ilp), intent(in) :: k, l, lda, ldb, ldq, ldu, ldv, m, n, p
           real(sp), intent(in) :: tola, tolb
           ! Array Arguments 
           real(sp), intent(out) :: alpha(*), beta(*)
           complex(sp), intent(inout) :: a(lda,*), b(ldb,*), q(ldq,*), u(ldu,*), v(ldv,*)
           complex(sp), intent(out) :: work(*)
        ! =====================================================================
           ! Parameters 
           integer(ilp), parameter :: maxit = 40
           real(sp), parameter :: hugenum = huge(zero)
           
           
           
           ! Local Scalars 
           logical(lk) :: initq, initu, initv, upper, wantq, wantu, wantv
           integer(ilp) :: i, j, kcycle
           real(sp) :: a1, a3, b1, b3, csq, csu, csv, error, gamma, rwk, ssmin
           complex(sp) :: a2, b2, snq, snu, snv
           ! Intrinsic Functions 
           ! Executable Statements 
           ! decode and test the input parameters
           initu = stdlib_lsame( jobu, 'I' )
           wantu = initu .or. stdlib_lsame( jobu, 'U' )
           initv = stdlib_lsame( jobv, 'I' )
           wantv = initv .or. stdlib_lsame( jobv, 'V' )
           initq = stdlib_lsame( jobq, 'I' )
           wantq = initq .or. stdlib_lsame( jobq, 'Q' )
           info = 0
           if( .not.( initu .or. wantu .or. stdlib_lsame( jobu, 'N' ) ) ) then
              info = -1
           else if( .not.( initv .or. wantv .or. stdlib_lsame( jobv, 'N' ) ) ) then
              info = -2
           else if( .not.( initq .or. wantq .or. stdlib_lsame( jobq, 'N' ) ) ) then
              info = -3
           else if( m<0 ) then
              info = -4
           else if( p<0 ) then
              info = -5
           else if( n<0 ) then
              info = -6
           else if( lda<max( 1, m ) ) then
              info = -10
           else if( ldb<max( 1, p ) ) then
              info = -12
           else if( ldu<1 .or. ( wantu .and. ldu<m ) ) then
              info = -18
           else if( ldv<1 .or. ( wantv .and. ldv<p ) ) then
              info = -20
           else if( ldq<1 .or. ( wantq .and. ldq<n ) ) then
              info = -22
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'CTGSJA', -info )
              return
           end if
           ! initialize u, v and q, if necessary
           if( initu )call stdlib_claset( 'FULL', m, m, czero, cone, u, ldu )
           if( initv )call stdlib_claset( 'FULL', p, p, czero, cone, v, ldv )
           if( initq )call stdlib_claset( 'FULL', n, n, czero, cone, q, ldq )
           ! loop until convergence
           upper = .false.
           loop_40: do kcycle = 1, maxit
              upper = .not.upper
              loop_20: do i = 1, l - 1
                 loop_10: do j = i + 1, l
                    a1 = zero
                    a2 = czero
                    a3 = zero
                    if( k+i<=m )a1 = real( a( k+i, n-l+i ),KIND=sp)
                    if( k+j<=m )a3 = real( a( k+j, n-l+j ),KIND=sp)
                    b1 = real( b( i, n-l+i ),KIND=sp)
                    b3 = real( b( j, n-l+j ),KIND=sp)
                    if( upper ) then
                       if( k+i<=m )a2 = a( k+i, n-l+j )
                       b2 = b( i, n-l+j )
                    else
                       if( k+j<=m )a2 = a( k+j, n-l+i )
                       b2 = b( j, n-l+i )
                    end if
                    call stdlib_clags2( upper, a1, a2, a3, b1, b2, b3, csu, snu,csv, snv, csq, &
                              snq )
                    ! update (k+i)-th and (k+j)-th rows of matrix a: u**h *a
                    if( k+j<=m )call stdlib_crot( l, a( k+j, n-l+1 ), lda, a( k+i, n-l+1 ),lda, &
                              csu, conjg( snu ) )
                    ! update i-th and j-th rows of matrix b: v**h *b
                    call stdlib_crot( l, b( j, n-l+1 ), ldb, b( i, n-l+1 ), ldb,csv, conjg( snv ) &
                              )
                    ! update (n-l+i)-th and (n-l+j)-th columns of matrices
                    ! a and b: a*q and b*q
                    call stdlib_crot( min( k+l, m ), a( 1, n-l+j ), 1,a( 1, n-l+i ), 1, csq, snq )
                              
                    call stdlib_crot( l, b( 1, n-l+j ), 1, b( 1, n-l+i ), 1, csq,snq )
                    if( upper ) then
                       if( k+i<=m )a( k+i, n-l+j ) = czero
                       b( i, n-l+j ) = czero
                    else
                       if( k+j<=m )a( k+j, n-l+i ) = czero
                       b( j, n-l+i ) = czero
                    end if
                    ! ensure that the diagonal elements of a and b are real.
                    if( k+i<=m )a( k+i, n-l+i ) = real( a( k+i, n-l+i ),KIND=sp)
                    if( k+j<=m )a( k+j, n-l+j ) = real( a( k+j, n-l+j ),KIND=sp)
                    b( i, n-l+i ) = real( b( i, n-l+i ),KIND=sp)
                    b( j, n-l+j ) = real( b( j, n-l+j ),KIND=sp)
                    ! update unitary matrices u, v, q, if desired.
                    if( wantu .and. k+j<=m )call stdlib_crot( m, u( 1, k+j ), 1, u( 1, k+i ), 1, &
                              csu,snu )
                    if( wantv )call stdlib_crot( p, v( 1, j ), 1, v( 1, i ), 1, csv, snv )
                    if( wantq )call stdlib_crot( n, q( 1, n-l+j ), 1, q( 1, n-l+i ), 1, csq,snq )
                              
                 end do loop_10
              end do loop_20
              if( .not.upper ) then
                 ! the matrices a13 and b13 were lower triangular at the start
                 ! of the cycle, and are now upper triangular.
                 ! convergence test: test the parallelism of the corresponding
                 ! rows of a and b.
                 error = zero
                 do i = 1, min( l, m-k )
                    call stdlib_ccopy( l-i+1, a( k+i, n-l+i ), lda, work, 1 )
                    call stdlib_ccopy( l-i+1, b( i, n-l+i ), ldb, work( l+1 ), 1 )
                    call stdlib_clapll( l-i+1, work, 1, work( l+1 ), 1, ssmin )
                    error = max( error, ssmin )
                 end do
                 if( abs( error )<=min( tola, tolb ) )go to 50
              end if
              ! end of cycle loop
           end do loop_40
           ! the algorithm has not converged after maxit cycles.
           info = 1
           go to 100
           50 continue
           ! if error <= min(tola,tolb), then the algorithm has converged.
           ! compute the generalized singular value pairs (alpha, beta), and
           ! set the triangular matrix r to array a.
           do i = 1, k
              alpha( i ) = one
              beta( i ) = zero
           end do
           do i = 1, min( l, m-k )
              a1 = real( a( k+i, n-l+i ),KIND=sp)
              b1 = real( b( i, n-l+i ),KIND=sp)
              gamma = b1 / a1
              if( (gamma<=hugenum).and.(gamma>=-hugenum) ) then
                 if( gamma<zero ) then
                    call stdlib_csscal( l-i+1, -one, b( i, n-l+i ), ldb )
                    if( wantv )call stdlib_csscal( p, -one, v( 1, i ), 1 )
                 end if
                 call stdlib_slartg( abs( gamma ), one, beta( k+i ), alpha( k+i ),rwk )
                 if( alpha( k+i )>=beta( k+i ) ) then
                    call stdlib_csscal( l-i+1, one / alpha( k+i ), a( k+i, n-l+i ),lda )
                 else
                    call stdlib_csscal( l-i+1, one / beta( k+i ), b( i, n-l+i ),ldb )
                    call stdlib_ccopy( l-i+1, b( i, n-l+i ), ldb, a( k+i, n-l+i ),lda )
                 end if
              else
                 alpha( k+i ) = zero
                 beta( k+i ) = one
                 call stdlib_ccopy( l-i+1, b( i, n-l+i ), ldb, a( k+i, n-l+i ),lda )
              end if
           end do
           ! post-assignment
           do i = m + 1, k + l
              alpha( i ) = zero
              beta( i ) = one
           end do
           if( k+l<n ) then
              do i = k + l + 1, n
                 alpha( i ) = zero
                 beta( i ) = zero
              end do
           end if
           100 continue
           ncycle = kcycle
           return
     end subroutine stdlib_ctgsja

     module pure subroutine stdlib_ztgsja( jobu, jobv, jobq, m, p, n, k, l, a, lda, b,ldb, tola, tolb, &
     !! ZTGSJA computes the generalized singular value decomposition (GSVD)
     !! of two complex upper triangular (or trapezoidal) matrices A and B.
     !! On entry, it is assumed that matrices A and B have the following
     !! forms, which may be obtained by the preprocessing subroutine ZGGSVP
     !! from a general M-by-N matrix A and P-by-N matrix B:
     !! N-K-L  K    L
     !! A =    K ( 0    A12  A13 ) if M-K-L >= 0;
     !! L ( 0     0   A23 )
     !! M-K-L ( 0     0    0  )
     !! N-K-L  K    L
     !! A =  K ( 0    A12  A13 ) if M-K-L < 0;
     !! M-K ( 0     0   A23 )
     !! N-K-L  K    L
     !! B =  L ( 0     0   B13 )
     !! P-L ( 0     0    0  )
     !! where the K-by-K matrix A12 and L-by-L matrix B13 are nonsingular
     !! upper triangular; A23 is L-by-L upper triangular if M-K-L >= 0,
     !! otherwise A23 is (M-K)-by-L upper trapezoidal.
     !! On exit,
     !! U**H *A*Q = D1*( 0 R ),    V**H *B*Q = D2*( 0 R ),
     !! where U, V and Q are unitary matrices.
     !! R is a nonsingular upper triangular matrix, and D1
     !! and D2 are ``diagonal'' matrices, which are of the following
     !! structures:
     !! If M-K-L >= 0,
     !! K  L
     !! D1 =     K ( I  0 )
     !! L ( 0  C )
     !! M-K-L ( 0  0 )
     !! K  L
     !! D2 = L   ( 0  S )
     !! P-L ( 0  0 )
     !! N-K-L  K    L
     !! ( 0 R ) = K (  0   R11  R12 ) K
     !! L (  0    0   R22 ) L
     !! where
     !! C = diag( ALPHA(K+1), ... , ALPHA(K+L) ),
     !! S = diag( BETA(K+1),  ... , BETA(K+L) ),
     !! C**2 + S**2 = I.
     !! R is stored in A(1:K+L,N-K-L+1:N) on exit.
     !! If M-K-L < 0,
     !! K M-K K+L-M
     !! D1 =   K ( I  0    0   )
     !! M-K ( 0  C    0   )
     !! K M-K K+L-M
     !! D2 =   M-K ( 0  S    0   )
     !! K+L-M ( 0  0    I   )
     !! P-L ( 0  0    0   )
     !! N-K-L  K   M-K  K+L-M
     !! ( 0 R ) =    K ( 0    R11  R12  R13  )
     !! M-K ( 0     0   R22  R23  )
     !! K+L-M ( 0     0    0   R33  )
     !! where
     !! C = diag( ALPHA(K+1), ... , ALPHA(M) ),
     !! S = diag( BETA(K+1),  ... , BETA(M) ),
     !! C**2 + S**2 = I.
     !! R = ( R11 R12 R13 ) is stored in A(1:M, N-K-L+1:N) and R33 is stored
     !! (  0  R22 R23 )
     !! in B(M-K+1:L,N+M-K-L+1:N) on exit.
     !! The computation of the unitary transformation matrices U, V or Q
     !! is optional.  These matrices may either be formed explicitly, or they
     !! may be postmultiplied into input matrices U1, V1, or Q1.
               alpha, beta, u, ldu, v, ldv,q, ldq, work, ncycle, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: jobq, jobu, jobv
           integer(ilp), intent(out) :: info, ncycle
           integer(ilp), intent(in) :: k, l, lda, ldb, ldq, ldu, ldv, m, n, p
           real(dp), intent(in) :: tola, tolb
           ! Array Arguments 
           real(dp), intent(out) :: alpha(*), beta(*)
           complex(dp), intent(inout) :: a(lda,*), b(ldb,*), q(ldq,*), u(ldu,*), v(ldv,*)
           complex(dp), intent(out) :: work(*)
        ! =====================================================================
           ! Parameters 
           integer(ilp), parameter :: maxit = 40
           real(dp), parameter :: hugenum = huge(zero)
           
           
           
           ! Local Scalars 
           logical(lk) :: initq, initu, initv, upper, wantq, wantu, wantv
           integer(ilp) :: i, j, kcycle
           real(dp) :: a1, a3, b1, b3, csq, csu, csv, error, gamma, rwk, ssmin
           complex(dp) :: a2, b2, snq, snu, snv
           ! Intrinsic Functions 
           ! Executable Statements 
           ! decode and test the input parameters
           initu = stdlib_lsame( jobu, 'I' )
           wantu = initu .or. stdlib_lsame( jobu, 'U' )
           initv = stdlib_lsame( jobv, 'I' )
           wantv = initv .or. stdlib_lsame( jobv, 'V' )
           initq = stdlib_lsame( jobq, 'I' )
           wantq = initq .or. stdlib_lsame( jobq, 'Q' )
           info = 0
           if( .not.( initu .or. wantu .or. stdlib_lsame( jobu, 'N' ) ) ) then
              info = -1
           else if( .not.( initv .or. wantv .or. stdlib_lsame( jobv, 'N' ) ) ) then
              info = -2
           else if( .not.( initq .or. wantq .or. stdlib_lsame( jobq, 'N' ) ) ) then
              info = -3
           else if( m<0 ) then
              info = -4
           else if( p<0 ) then
              info = -5
           else if( n<0 ) then
              info = -6
           else if( lda<max( 1, m ) ) then
              info = -10
           else if( ldb<max( 1, p ) ) then
              info = -12
           else if( ldu<1 .or. ( wantu .and. ldu<m ) ) then
              info = -18
           else if( ldv<1 .or. ( wantv .and. ldv<p ) ) then
              info = -20
           else if( ldq<1 .or. ( wantq .and. ldq<n ) ) then
              info = -22
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'ZTGSJA', -info )
              return
           end if
           ! initialize u, v and q, if necessary
           if( initu )call stdlib_zlaset( 'FULL', m, m, czero, cone, u, ldu )
           if( initv )call stdlib_zlaset( 'FULL', p, p, czero, cone, v, ldv )
           if( initq )call stdlib_zlaset( 'FULL', n, n, czero, cone, q, ldq )
           ! loop until convergence
           upper = .false.
           loop_40: do kcycle = 1, maxit
              upper = .not.upper
              loop_20: do i = 1, l - 1
                 loop_10: do j = i + 1, l
                    a1 = zero
                    a2 = czero
                    a3 = zero
                    if( k+i<=m )a1 = real( a( k+i, n-l+i ),KIND=dp)
                    if( k+j<=m )a3 = real( a( k+j, n-l+j ),KIND=dp)
                    b1 = real( b( i, n-l+i ),KIND=dp)
                    b3 = real( b( j, n-l+j ),KIND=dp)
                    if( upper ) then
                       if( k+i<=m )a2 = a( k+i, n-l+j )
                       b2 = b( i, n-l+j )
                    else
                       if( k+j<=m )a2 = a( k+j, n-l+i )
                       b2 = b( j, n-l+i )
                    end if
                    call stdlib_zlags2( upper, a1, a2, a3, b1, b2, b3, csu, snu,csv, snv, csq, &
                              snq )
                    ! update (k+i)-th and (k+j)-th rows of matrix a: u**h *a
                    if( k+j<=m )call stdlib_zrot( l, a( k+j, n-l+1 ), lda, a( k+i, n-l+1 ),lda, &
                              csu, conjg( snu ) )
                    ! update i-th and j-th rows of matrix b: v**h *b
                    call stdlib_zrot( l, b( j, n-l+1 ), ldb, b( i, n-l+1 ), ldb,csv, conjg( snv ) &
                              )
                    ! update (n-l+i)-th and (n-l+j)-th columns of matrices
                    ! a and b: a*q and b*q
                    call stdlib_zrot( min( k+l, m ), a( 1, n-l+j ), 1,a( 1, n-l+i ), 1, csq, snq )
                              
                    call stdlib_zrot( l, b( 1, n-l+j ), 1, b( 1, n-l+i ), 1, csq,snq )
                    if( upper ) then
                       if( k+i<=m )a( k+i, n-l+j ) = czero
                       b( i, n-l+j ) = czero
                    else
                       if( k+j<=m )a( k+j, n-l+i ) = czero
                       b( j, n-l+i ) = czero
                    end if
                    ! ensure that the diagonal elements of a and b are real.
                    if( k+i<=m )a( k+i, n-l+i ) = real( a( k+i, n-l+i ),KIND=dp)
                    if( k+j<=m )a( k+j, n-l+j ) = real( a( k+j, n-l+j ),KIND=dp)
                    b( i, n-l+i ) = real( b( i, n-l+i ),KIND=dp)
                    b( j, n-l+j ) = real( b( j, n-l+j ),KIND=dp)
                    ! update unitary matrices u, v, q, if desired.
                    if( wantu .and. k+j<=m )call stdlib_zrot( m, u( 1, k+j ), 1, u( 1, k+i ), 1, &
                              csu,snu )
                    if( wantv )call stdlib_zrot( p, v( 1, j ), 1, v( 1, i ), 1, csv, snv )
                    if( wantq )call stdlib_zrot( n, q( 1, n-l+j ), 1, q( 1, n-l+i ), 1, csq,snq )
                              
                 end do loop_10
              end do loop_20
              if( .not.upper ) then
                 ! the matrices a13 and b13 were lower triangular at the start
                 ! of the cycle, and are now upper triangular.
                 ! convergence test: test the parallelism of the corresponding
                 ! rows of a and b.
                 error = zero
                 do i = 1, min( l, m-k )
                    call stdlib_zcopy( l-i+1, a( k+i, n-l+i ), lda, work, 1 )
                    call stdlib_zcopy( l-i+1, b( i, n-l+i ), ldb, work( l+1 ), 1 )
                    call stdlib_zlapll( l-i+1, work, 1, work( l+1 ), 1, ssmin )
                    error = max( error, ssmin )
                 end do
                 if( abs( error )<=min( tola, tolb ) )go to 50
              end if
              ! end of cycle loop
           end do loop_40
           ! the algorithm has not converged after maxit cycles.
           info = 1
           go to 100
           50 continue
           ! if error <= min(tola,tolb), then the algorithm has converged.
           ! compute the generalized singular value pairs (alpha, beta), and
           ! set the triangular matrix r to array a.
           do i = 1, k
              alpha( i ) = one
              beta( i ) = zero
           end do
           do i = 1, min( l, m-k )
              a1 = real( a( k+i, n-l+i ),KIND=dp)
              b1 = real( b( i, n-l+i ),KIND=dp)
              gamma = b1 / a1
              if( (gamma<=hugenum).and.(gamma>=-hugenum) ) then
                 if( gamma<zero ) then
                    call stdlib_zdscal( l-i+1, -one, b( i, n-l+i ), ldb )
                    if( wantv )call stdlib_zdscal( p, -one, v( 1, i ), 1 )
                 end if
                 call stdlib_dlartg( abs( gamma ), one, beta( k+i ), alpha( k+i ),rwk )
                 if( alpha( k+i )>=beta( k+i ) ) then
                    call stdlib_zdscal( l-i+1, one / alpha( k+i ), a( k+i, n-l+i ),lda )
                 else
                    call stdlib_zdscal( l-i+1, one / beta( k+i ), b( i, n-l+i ),ldb )
                    call stdlib_zcopy( l-i+1, b( i, n-l+i ), ldb, a( k+i, n-l+i ),lda )
                 end if
              else
                 alpha( k+i ) = zero
                 beta( k+i ) = one
                 call stdlib_zcopy( l-i+1, b( i, n-l+i ), ldb, a( k+i, n-l+i ),lda )
              end if
           end do
           ! post-assignment
           do i = m + 1, k + l
              alpha( i ) = zero
              beta( i ) = one
           end do
           if( k+l<n ) then
              do i = k + l + 1, n
                 alpha( i ) = zero
                 beta( i ) = zero
              end do
           end if
           100 continue
           ncycle = kcycle
           return
     end subroutine stdlib_ztgsja

#:for ck,ct,ci in CMPLX_KINDS_TYPES
#:if not ck in ["sp","dp"]
     module pure subroutine stdlib_${ci}$tgsja( jobu, jobv, jobq, m, p, n, k, l, a, lda, b,ldb, tola, tolb, &
     !! ZTGSJA: computes the generalized singular value decomposition (GSVD)
     !! of two complex upper triangular (or trapezoidal) matrices A and B.
     !! On entry, it is assumed that matrices A and B have the following
     !! forms, which may be obtained by the preprocessing subroutine ZGGSVP
     !! from a general M-by-N matrix A and P-by-N matrix B:
     !! N-K-L  K    L
     !! A =    K ( 0    A12  A13 ) if M-K-L >= 0;
     !! L ( 0     0   A23 )
     !! M-K-L ( 0     0    0  )
     !! N-K-L  K    L
     !! A =  K ( 0    A12  A13 ) if M-K-L < 0;
     !! M-K ( 0     0   A23 )
     !! N-K-L  K    L
     !! B =  L ( 0     0   B13 )
     !! P-L ( 0     0    0  )
     !! where the K-by-K matrix A12 and L-by-L matrix B13 are nonsingular
     !! upper triangular; A23 is L-by-L upper triangular if M-K-L >= 0,
     !! otherwise A23 is (M-K)-by-L upper trapezoidal.
     !! On exit,
     !! U**H *A*Q = D1*( 0 R ),    V**H *B*Q = D2*( 0 R ),
     !! where U, V and Q are unitary matrices.
     !! R is a nonsingular upper triangular matrix, and D1
     !! and D2 are ``diagonal'' matrices, which are of the following
     !! structures:
     !! If M-K-L >= 0,
     !! K  L
     !! D1 =     K ( I  0 )
     !! L ( 0  C )
     !! M-K-L ( 0  0 )
     !! K  L
     !! D2 = L   ( 0  S )
     !! P-L ( 0  0 )
     !! N-K-L  K    L
     !! ( 0 R ) = K (  0   R11  R12 ) K
     !! L (  0    0   R22 ) L
     !! where
     !! C = diag( ALPHA(K+1), ... , ALPHA(K+L) ),
     !! S = diag( BETA(K+1),  ... , BETA(K+L) ),
     !! C**2 + S**2 = I.
     !! R is stored in A(1:K+L,N-K-L+1:N) on exit.
     !! If M-K-L < 0,
     !! K M-K K+L-M
     !! D1 =   K ( I  0    0   )
     !! M-K ( 0  C    0   )
     !! K M-K K+L-M
     !! D2 =   M-K ( 0  S    0   )
     !! K+L-M ( 0  0    I   )
     !! P-L ( 0  0    0   )
     !! N-K-L  K   M-K  K+L-M
     !! ( 0 R ) =    K ( 0    R11  R12  R13  )
     !! M-K ( 0     0   R22  R23  )
     !! K+L-M ( 0     0    0   R33  )
     !! where
     !! C = diag( ALPHA(K+1), ... , ALPHA(M) ),
     !! S = diag( BETA(K+1),  ... , BETA(M) ),
     !! C**2 + S**2 = I.
     !! R = ( R11 R12 R13 ) is stored in A(1:M, N-K-L+1:N) and R33 is stored
     !! (  0  R22 R23 )
     !! in B(M-K+1:L,N+M-K-L+1:N) on exit.
     !! The computation of the unitary transformation matrices U, V or Q
     !! is optional.  These matrices may either be formed explicitly, or they
     !! may be postmultiplied into input matrices U1, V1, or Q1.
               alpha, beta, u, ldu, v, ldv,q, ldq, work, ncycle, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${ck}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: jobq, jobu, jobv
           integer(ilp), intent(out) :: info, ncycle
           integer(ilp), intent(in) :: k, l, lda, ldb, ldq, ldu, ldv, m, n, p
           real(${ck}$), intent(in) :: tola, tolb
           ! Array Arguments 
           real(${ck}$), intent(out) :: alpha(*), beta(*)
           complex(${ck}$), intent(inout) :: a(lda,*), b(ldb,*), q(ldq,*), u(ldu,*), v(ldv,*)
           complex(${ck}$), intent(out) :: work(*)
        ! =====================================================================
           ! Parameters 
           integer(ilp), parameter :: maxit = 40
           real(${ck}$), parameter :: hugenum = huge(zero)
           
           
           
           ! Local Scalars 
           logical(lk) :: initq, initu, initv, upper, wantq, wantu, wantv
           integer(ilp) :: i, j, kcycle
           real(${ck}$) :: a1, a3, b1, b3, csq, csu, csv, error, gamma, rwk, ssmin
           complex(${ck}$) :: a2, b2, snq, snu, snv
           ! Intrinsic Functions 
           ! Executable Statements 
           ! decode and test the input parameters
           initu = stdlib_lsame( jobu, 'I' )
           wantu = initu .or. stdlib_lsame( jobu, 'U' )
           initv = stdlib_lsame( jobv, 'I' )
           wantv = initv .or. stdlib_lsame( jobv, 'V' )
           initq = stdlib_lsame( jobq, 'I' )
           wantq = initq .or. stdlib_lsame( jobq, 'Q' )
           info = 0
           if( .not.( initu .or. wantu .or. stdlib_lsame( jobu, 'N' ) ) ) then
              info = -1
           else if( .not.( initv .or. wantv .or. stdlib_lsame( jobv, 'N' ) ) ) then
              info = -2
           else if( .not.( initq .or. wantq .or. stdlib_lsame( jobq, 'N' ) ) ) then
              info = -3
           else if( m<0 ) then
              info = -4
           else if( p<0 ) then
              info = -5
           else if( n<0 ) then
              info = -6
           else if( lda<max( 1, m ) ) then
              info = -10
           else if( ldb<max( 1, p ) ) then
              info = -12
           else if( ldu<1 .or. ( wantu .and. ldu<m ) ) then
              info = -18
           else if( ldv<1 .or. ( wantv .and. ldv<p ) ) then
              info = -20
           else if( ldq<1 .or. ( wantq .and. ldq<n ) ) then
              info = -22
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'ZTGSJA', -info )
              return
           end if
           ! initialize u, v and q, if necessary
           if( initu )call stdlib_${ci}$laset( 'FULL', m, m, czero, cone, u, ldu )
           if( initv )call stdlib_${ci}$laset( 'FULL', p, p, czero, cone, v, ldv )
           if( initq )call stdlib_${ci}$laset( 'FULL', n, n, czero, cone, q, ldq )
           ! loop until convergence
           upper = .false.
           loop_40: do kcycle = 1, maxit
              upper = .not.upper
              loop_20: do i = 1, l - 1
                 loop_10: do j = i + 1, l
                    a1 = zero
                    a2 = czero
                    a3 = zero
                    if( k+i<=m )a1 = real( a( k+i, n-l+i ),KIND=${ck}$)
                    if( k+j<=m )a3 = real( a( k+j, n-l+j ),KIND=${ck}$)
                    b1 = real( b( i, n-l+i ),KIND=${ck}$)
                    b3 = real( b( j, n-l+j ),KIND=${ck}$)
                    if( upper ) then
                       if( k+i<=m )a2 = a( k+i, n-l+j )
                       b2 = b( i, n-l+j )
                    else
                       if( k+j<=m )a2 = a( k+j, n-l+i )
                       b2 = b( j, n-l+i )
                    end if
                    call stdlib_${ci}$lags2( upper, a1, a2, a3, b1, b2, b3, csu, snu,csv, snv, csq, &
                              snq )
                    ! update (k+i)-th and (k+j)-th rows of matrix a: u**h *a
                    if( k+j<=m )call stdlib_${ci}$rot( l, a( k+j, n-l+1 ), lda, a( k+i, n-l+1 ),lda, &
                              csu, conjg( snu ) )
                    ! update i-th and j-th rows of matrix b: v**h *b
                    call stdlib_${ci}$rot( l, b( j, n-l+1 ), ldb, b( i, n-l+1 ), ldb,csv, conjg( snv ) &
                              )
                    ! update (n-l+i)-th and (n-l+j)-th columns of matrices
                    ! a and b: a*q and b*q
                    call stdlib_${ci}$rot( min( k+l, m ), a( 1, n-l+j ), 1,a( 1, n-l+i ), 1, csq, snq )
                              
                    call stdlib_${ci}$rot( l, b( 1, n-l+j ), 1, b( 1, n-l+i ), 1, csq,snq )
                    if( upper ) then
                       if( k+i<=m )a( k+i, n-l+j ) = czero
                       b( i, n-l+j ) = czero
                    else
                       if( k+j<=m )a( k+j, n-l+i ) = czero
                       b( j, n-l+i ) = czero
                    end if
                    ! ensure that the diagonal elements of a and b are real.
                    if( k+i<=m )a( k+i, n-l+i ) = real( a( k+i, n-l+i ),KIND=${ck}$)
                    if( k+j<=m )a( k+j, n-l+j ) = real( a( k+j, n-l+j ),KIND=${ck}$)
                    b( i, n-l+i ) = real( b( i, n-l+i ),KIND=${ck}$)
                    b( j, n-l+j ) = real( b( j, n-l+j ),KIND=${ck}$)
                    ! update unitary matrices u, v, q, if desired.
                    if( wantu .and. k+j<=m )call stdlib_${ci}$rot( m, u( 1, k+j ), 1, u( 1, k+i ), 1, &
                              csu,snu )
                    if( wantv )call stdlib_${ci}$rot( p, v( 1, j ), 1, v( 1, i ), 1, csv, snv )
                    if( wantq )call stdlib_${ci}$rot( n, q( 1, n-l+j ), 1, q( 1, n-l+i ), 1, csq,snq )
                              
                 end do loop_10
              end do loop_20
              if( .not.upper ) then
                 ! the matrices a13 and b13 were lower triangular at the start
                 ! of the cycle, and are now upper triangular.
                 ! convergence test: test the parallelism of the corresponding
                 ! rows of a and b.
                 error = zero
                 do i = 1, min( l, m-k )
                    call stdlib_${ci}$copy( l-i+1, a( k+i, n-l+i ), lda, work, 1 )
                    call stdlib_${ci}$copy( l-i+1, b( i, n-l+i ), ldb, work( l+1 ), 1 )
                    call stdlib_${ci}$lapll( l-i+1, work, 1, work( l+1 ), 1, ssmin )
                    error = max( error, ssmin )
                 end do
                 if( abs( error )<=min( tola, tolb ) )go to 50
              end if
              ! end of cycle loop
           end do loop_40
           ! the algorithm has not converged after maxit cycles.
           info = 1
           go to 100
           50 continue
           ! if error <= min(tola,tolb), then the algorithm has converged.
           ! compute the generalized singular value pairs (alpha, beta), and
           ! set the triangular matrix r to array a.
           do i = 1, k
              alpha( i ) = one
              beta( i ) = zero
           end do
           do i = 1, min( l, m-k )
              a1 = real( a( k+i, n-l+i ),KIND=${ck}$)
              b1 = real( b( i, n-l+i ),KIND=${ck}$)
              gamma = b1 / a1
              if( (gamma<=hugenum).and.(gamma>=-hugenum) ) then
                 if( gamma<zero ) then
                    call stdlib_${ci}$dscal( l-i+1, -one, b( i, n-l+i ), ldb )
                    if( wantv )call stdlib_${ci}$dscal( p, -one, v( 1, i ), 1 )
                 end if
                 call stdlib_${c2ri(ci)}$lartg( abs( gamma ), one, beta( k+i ), alpha( k+i ),rwk )
                 if( alpha( k+i )>=beta( k+i ) ) then
                    call stdlib_${ci}$dscal( l-i+1, one / alpha( k+i ), a( k+i, n-l+i ),lda )
                 else
                    call stdlib_${ci}$dscal( l-i+1, one / beta( k+i ), b( i, n-l+i ),ldb )
                    call stdlib_${ci}$copy( l-i+1, b( i, n-l+i ), ldb, a( k+i, n-l+i ),lda )
                 end if
              else
                 alpha( k+i ) = zero
                 beta( k+i ) = one
                 call stdlib_${ci}$copy( l-i+1, b( i, n-l+i ), ldb, a( k+i, n-l+i ),lda )
              end if
           end do
           ! post-assignment
           do i = m + 1, k + l
              alpha( i ) = zero
              beta( i ) = one
           end do
           if( k+l<n ) then
              do i = k + l + 1, n
                 alpha( i ) = zero
                 beta( i ) = zero
              end do
           end if
           100 continue
           ncycle = kcycle
           return
     end subroutine stdlib_${ci}$tgsja

#:endif
#:endfor



     module pure subroutine stdlib_slartgs( x, y, sigma, cs, sn )
     !! SLARTGS generates a plane rotation designed to introduce a bulge in
     !! Golub-Reinsch-style implicit QR iteration for the bidiagonal SVD
     !! problem. X and Y are the top-row entries, and SIGMA is the shift.
     !! The computed CS and SN define a plane rotation satisfying
     !! [  CS  SN  ]  .  [ X^2 - SIGMA ]  =  [ R ],
     !! [ -SN  CS  ]     [    X * Y    ]     [ 0 ]
     !! with R nonnegative.  If X^2 - SIGMA and X * Y are 0, then the
     !! rotation is by PI/2.
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           real(sp), intent(out) :: cs, sn
           real(sp), intent(in) :: sigma, x, y
        ! ===================================================================
           
           ! Local Scalars 
           real(sp) :: r, s, thresh, w, z
           thresh = stdlib_slamch('E')
           ! compute the first column of b**t*b - sigma^2*i, up to a scale
           ! factor.
           if( (sigma == zero .and. abs(x) < thresh) .or.(abs(x) == sigma .and. y == zero) ) &
                     then
              z = zero
              w = zero
           else if( sigma == zero ) then
              if( x >= zero ) then
                 z = x
                 w = y
              else
                 z = -x
                 w = -y
              end if
           else if( abs(x) < thresh ) then
              z = -sigma*sigma
              w = zero
           else
              if( x >= zero ) then
                 s = one
              else
                 s = negone
              end if
              z = s * (abs(x)-sigma) * (s+sigma/x)
              w = s * y
           end if
           ! generate the rotation.
           ! call stdlib_slartgp( z, w, cs, sn, r ) might seem more natural;
           ! reordering the arguments ensures that if z = 0 then the rotation
           ! is by pi/2.
           call stdlib_slartgp( w, z, sn, cs, r )
           return
           ! end stdlib_slartgs
     end subroutine stdlib_slartgs

     module pure subroutine stdlib_dlartgs( x, y, sigma, cs, sn )
     !! DLARTGS generates a plane rotation designed to introduce a bulge in
     !! Golub-Reinsch-style implicit QR iteration for the bidiagonal SVD
     !! problem. X and Y are the top-row entries, and SIGMA is the shift.
     !! The computed CS and SN define a plane rotation satisfying
     !! [  CS  SN  ]  .  [ X^2 - SIGMA ]  =  [ R ],
     !! [ -SN  CS  ]     [    X * Y    ]     [ 0 ]
     !! with R nonnegative.  If X^2 - SIGMA and X * Y are 0, then the
     !! rotation is by PI/2.
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           real(dp), intent(out) :: cs, sn
           real(dp), intent(in) :: sigma, x, y
        ! ===================================================================
           
           ! Local Scalars 
           real(dp) :: r, s, thresh, w, z
           thresh = stdlib_dlamch('E')
           ! compute the first column of b**t*b - sigma^2*i, up to a scale
           ! factor.
           if( (sigma == zero .and. abs(x) < thresh) .or.(abs(x) == sigma .and. y == zero) ) &
                     then
              z = zero
              w = zero
           else if( sigma == zero ) then
              if( x >= zero ) then
                 z = x
                 w = y
              else
                 z = -x
                 w = -y
              end if
           else if( abs(x) < thresh ) then
              z = -sigma*sigma
              w = zero
           else
              if( x >= zero ) then
                 s = one
              else
                 s = negone
              end if
              z = s * (abs(x)-sigma) * (s+sigma/x)
              w = s * y
           end if
           ! generate the rotation.
           ! call stdlib_dlartgp( z, w, cs, sn, r ) might seem more natural;
           ! reordering the arguments ensures that if z = 0 then the rotation
           ! is by pi/2.
           call stdlib_dlartgp( w, z, sn, cs, r )
           return
           ! end stdlib_dlartgs
     end subroutine stdlib_dlartgs

#:for rk,rt,ri in REAL_KINDS_TYPES
#:if not rk in ["sp","dp"]
     module pure subroutine stdlib_${ri}$lartgs( x, y, sigma, cs, sn )
     !! DLARTGS: generates a plane rotation designed to introduce a bulge in
     !! Golub-Reinsch-style implicit QR iteration for the bidiagonal SVD
     !! problem. X and Y are the top-row entries, and SIGMA is the shift.
     !! The computed CS and SN define a plane rotation satisfying
     !! [  CS  SN  ]  .  [ X^2 - SIGMA ]  =  [ R ],
     !! [ -SN  CS  ]     [    X * Y    ]     [ 0 ]
     !! with R nonnegative.  If X^2 - SIGMA and X * Y are 0, then the
     !! rotation is by PI/2.
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${rk}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           real(${rk}$), intent(out) :: cs, sn
           real(${rk}$), intent(in) :: sigma, x, y
        ! ===================================================================
           
           ! Local Scalars 
           real(${rk}$) :: r, s, thresh, w, z
           thresh = stdlib_${ri}$lamch('E')
           ! compute the first column of b**t*b - sigma^2*i, up to a scale
           ! factor.
           if( (sigma == zero .and. abs(x) < thresh) .or.(abs(x) == sigma .and. y == zero) ) &
                     then
              z = zero
              w = zero
           else if( sigma == zero ) then
              if( x >= zero ) then
                 z = x
                 w = y
              else
                 z = -x
                 w = -y
              end if
           else if( abs(x) < thresh ) then
              z = -sigma*sigma
              w = zero
           else
              if( x >= zero ) then
                 s = one
              else
                 s = negone
              end if
              z = s * (abs(x)-sigma) * (s+sigma/x)
              w = s * y
           end if
           ! generate the rotation.
           ! call stdlib_${ri}$lartgp( z, w, cs, sn, r ) might seem more natural;
           ! reordering the arguments ensures that if z = 0 then the rotation
           ! is by pi/2.
           call stdlib_${ri}$lartgp( w, z, sn, cs, r )
           return
           ! end stdlib_${ri}$lartgs
     end subroutine stdlib_${ri}$lartgs

#:endif
#:endfor



     module pure subroutine stdlib_sormbr( vect, side, trans, m, n, k, a, lda, tau, c,ldc, work, lwork, &
     !! If VECT = 'Q', SORMBR: overwrites the general real M-by-N matrix C
     !! with
     !! SIDE = 'L'     SIDE = 'R'
     !! TRANS = 'N':      Q * C          C * Q
     !! TRANS = 'T':      Q**T * C       C * Q**T
     !! If VECT = 'P', SORMBR overwrites the general real M-by-N matrix C
     !! with
     !! SIDE = 'L'     SIDE = 'R'
     !! TRANS = 'N':      P * C          C * P
     !! TRANS = 'T':      P**T * C       C * P**T
     !! Here Q and P**T are the orthogonal matrices determined by SGEBRD when
     !! reducing a real matrix A to bidiagonal form: A = Q * B * P**T. Q and
     !! P**T are defined as products of elementary reflectors H(i) and G(i)
     !! respectively.
     !! Let nq = m if SIDE = 'L' and nq = n if SIDE = 'R'. Thus nq is the
     !! order of the orthogonal matrix Q or P**T that is applied.
     !! If VECT = 'Q', A is assumed to have been an NQ-by-K matrix:
     !! if nq >= k, Q = H(1) H(2) . . . H(k);
     !! if nq < k, Q = H(1) H(2) . . . H(nq-1).
     !! If VECT = 'P', A is assumed to have been a K-by-NQ matrix:
     !! if k < nq, P = G(1) G(2) . . . G(k);
     !! if k >= nq, P = G(1) G(2) . . . G(nq-1).
               info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: side, trans, vect
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: k, lda, ldc, lwork, m, n
           ! Array Arguments 
           real(sp), intent(inout) :: a(lda,*), c(ldc,*)
           real(sp), intent(in) :: tau(*)
           real(sp), intent(out) :: work(*)
        ! =====================================================================
           ! Local Scalars 
           logical(lk) :: applyq, left, lquery, notran
           character :: transt
           integer(ilp) :: i1, i2, iinfo, lwkopt, mi, nb, ni, nq, nw
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input arguments
           info = 0
           applyq = stdlib_lsame( vect, 'Q' )
           left = stdlib_lsame( side, 'L' )
           notran = stdlib_lsame( trans, 'N' )
           lquery = ( lwork==-1 )
           ! nq is the order of q or p and nw is the minimum dimension of work
           if( left ) then
              nq = m
              nw = max( 1, n )
           else
              nq = n
              nw = max( 1, m )
           end if
           if( .not.applyq .and. .not.stdlib_lsame( vect, 'P' ) ) then
              info = -1
           else if( .not.left .and. .not.stdlib_lsame( side, 'R' ) ) then
              info = -2
           else if( .not.notran .and. .not.stdlib_lsame( trans, 'T' ) ) then
              info = -3
           else if( m<0 ) then
              info = -4
           else if( n<0 ) then
              info = -5
           else if( k<0 ) then
              info = -6
           else if( ( applyq .and. lda<max( 1, nq ) ) .or.( .not.applyq .and. lda<max( 1, min( nq,&
                      k ) ) ) )then
              info = -8
           else if( ldc<max( 1, m ) ) then
              info = -11
           else if( lwork<nw .and. .not.lquery ) then
              info = -13
           end if
           if( info==0 ) then
              if( applyq ) then
                 if( left ) then
                    nb = stdlib_ilaenv( 1, 'SORMQR', side // trans, m-1, n, m-1,-1 )
                 else
                    nb = stdlib_ilaenv( 1, 'SORMQR', side // trans, m, n-1, n-1,-1 )
                 end if
              else
                 if( left ) then
                    nb = stdlib_ilaenv( 1, 'SORMLQ', side // trans, m-1, n, m-1,-1 )
                 else
                    nb = stdlib_ilaenv( 1, 'SORMLQ', side // trans, m, n-1, n-1,-1 )
                 end if
              end if
              lwkopt = nw*nb
              work( 1 ) = lwkopt
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'SORMBR', -info )
              return
           else if( lquery ) then
              return
           end if
           ! quick return if possible
           work( 1 ) = 1
           if( m==0 .or. n==0 )return
           if( applyq ) then
              ! apply q
              if( nq>=k ) then
                 ! q was determined by a call to stdlib_sgebrd with nq >= k
                 call stdlib_sormqr( side, trans, m, n, k, a, lda, tau, c, ldc,work, lwork, iinfo &
                           )
              else if( nq>1 ) then
                 ! q was determined by a call to stdlib_sgebrd with nq < k
                 if( left ) then
                    mi = m - 1
                    ni = n
                    i1 = 2
                    i2 = 1
                 else
                    mi = m
                    ni = n - 1
                    i1 = 1
                    i2 = 2
                 end if
                 call stdlib_sormqr( side, trans, mi, ni, nq-1, a( 2, 1 ), lda, tau,c( i1, i2 ), &
                           ldc, work, lwork, iinfo )
              end if
           else
              ! apply p
              if( notran ) then
                 transt = 'T'
              else
                 transt = 'N'
              end if
              if( nq>k ) then
                 ! p was determined by a call to stdlib_sgebrd with nq > k
                 call stdlib_sormlq( side, transt, m, n, k, a, lda, tau, c, ldc,work, lwork, &
                           iinfo )
              else if( nq>1 ) then
                 ! p was determined by a call to stdlib_sgebrd with nq <= k
                 if( left ) then
                    mi = m - 1
                    ni = n
                    i1 = 2
                    i2 = 1
                 else
                    mi = m
                    ni = n - 1
                    i1 = 1
                    i2 = 2
                 end if
                 call stdlib_sormlq( side, transt, mi, ni, nq-1, a( 1, 2 ), lda,tau, c( i1, i2 ), &
                           ldc, work, lwork, iinfo )
              end if
           end if
           work( 1 ) = lwkopt
           return
     end subroutine stdlib_sormbr

     module pure subroutine stdlib_dormbr( vect, side, trans, m, n, k, a, lda, tau, c,ldc, work, lwork, &
     !! If VECT = 'Q', DORMBR: overwrites the general real M-by-N matrix C
     !! with
     !! SIDE = 'L'     SIDE = 'R'
     !! TRANS = 'N':      Q * C          C * Q
     !! TRANS = 'T':      Q**T * C       C * Q**T
     !! If VECT = 'P', DORMBR overwrites the general real M-by-N matrix C
     !! with
     !! SIDE = 'L'     SIDE = 'R'
     !! TRANS = 'N':      P * C          C * P
     !! TRANS = 'T':      P**T * C       C * P**T
     !! Here Q and P**T are the orthogonal matrices determined by DGEBRD when
     !! reducing a real matrix A to bidiagonal form: A = Q * B * P**T. Q and
     !! P**T are defined as products of elementary reflectors H(i) and G(i)
     !! respectively.
     !! Let nq = m if SIDE = 'L' and nq = n if SIDE = 'R'. Thus nq is the
     !! order of the orthogonal matrix Q or P**T that is applied.
     !! If VECT = 'Q', A is assumed to have been an NQ-by-K matrix:
     !! if nq >= k, Q = H(1) H(2) . . . H(k);
     !! if nq < k, Q = H(1) H(2) . . . H(nq-1).
     !! If VECT = 'P', A is assumed to have been a K-by-NQ matrix:
     !! if k < nq, P = G(1) G(2) . . . G(k);
     !! if k >= nq, P = G(1) G(2) . . . G(nq-1).
               info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: side, trans, vect
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: k, lda, ldc, lwork, m, n
           ! Array Arguments 
           real(dp), intent(inout) :: a(lda,*), c(ldc,*)
           real(dp), intent(in) :: tau(*)
           real(dp), intent(out) :: work(*)
        ! =====================================================================
           ! Local Scalars 
           logical(lk) :: applyq, left, lquery, notran
           character :: transt
           integer(ilp) :: i1, i2, iinfo, lwkopt, mi, nb, ni, nq, nw
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input arguments
           info = 0
           applyq = stdlib_lsame( vect, 'Q' )
           left = stdlib_lsame( side, 'L' )
           notran = stdlib_lsame( trans, 'N' )
           lquery = ( lwork==-1 )
           ! nq is the order of q or p and nw is the minimum dimension of work
           if( left ) then
              nq = m
              nw = max( 1, n )
           else
              nq = n
              nw = max( 1, m )
           end if
           if( .not.applyq .and. .not.stdlib_lsame( vect, 'P' ) ) then
              info = -1
           else if( .not.left .and. .not.stdlib_lsame( side, 'R' ) ) then
              info = -2
           else if( .not.notran .and. .not.stdlib_lsame( trans, 'T' ) ) then
              info = -3
           else if( m<0 ) then
              info = -4
           else if( n<0 ) then
              info = -5
           else if( k<0 ) then
              info = -6
           else if( ( applyq .and. lda<max( 1, nq ) ) .or.( .not.applyq .and. lda<max( 1, min( nq,&
                      k ) ) ) )then
              info = -8
           else if( ldc<max( 1, m ) ) then
              info = -11
           else if( lwork<nw .and. .not.lquery ) then
              info = -13
           end if
           if( info==0 ) then
              if( applyq ) then
                 if( left ) then
                    nb = stdlib_ilaenv( 1, 'DORMQR', side // trans, m-1, n, m-1,-1 )
                 else
                    nb = stdlib_ilaenv( 1, 'DORMQR', side // trans, m, n-1, n-1,-1 )
                 end if
              else
                 if( left ) then
                    nb = stdlib_ilaenv( 1, 'DORMLQ', side // trans, m-1, n, m-1,-1 )
                 else
                    nb = stdlib_ilaenv( 1, 'DORMLQ', side // trans, m, n-1, n-1,-1 )
                 end if
              end if
              lwkopt = nw*nb
              work( 1 ) = lwkopt
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'DORMBR', -info )
              return
           else if( lquery ) then
              return
           end if
           ! quick return if possible
           work( 1 ) = 1
           if( m==0 .or. n==0 )return
           if( applyq ) then
              ! apply q
              if( nq>=k ) then
                 ! q was determined by a call to stdlib_dgebrd with nq >= k
                 call stdlib_dormqr( side, trans, m, n, k, a, lda, tau, c, ldc,work, lwork, iinfo &
                           )
              else if( nq>1 ) then
                 ! q was determined by a call to stdlib_dgebrd with nq < k
                 if( left ) then
                    mi = m - 1
                    ni = n
                    i1 = 2
                    i2 = 1
                 else
                    mi = m
                    ni = n - 1
                    i1 = 1
                    i2 = 2
                 end if
                 call stdlib_dormqr( side, trans, mi, ni, nq-1, a( 2, 1 ), lda, tau,c( i1, i2 ), &
                           ldc, work, lwork, iinfo )
              end if
           else
              ! apply p
              if( notran ) then
                 transt = 'T'
              else
                 transt = 'N'
              end if
              if( nq>k ) then
                 ! p was determined by a call to stdlib_dgebrd with nq > k
                 call stdlib_dormlq( side, transt, m, n, k, a, lda, tau, c, ldc,work, lwork, &
                           iinfo )
              else if( nq>1 ) then
                 ! p was determined by a call to stdlib_dgebrd with nq <= k
                 if( left ) then
                    mi = m - 1
                    ni = n
                    i1 = 2
                    i2 = 1
                 else
                    mi = m
                    ni = n - 1
                    i1 = 1
                    i2 = 2
                 end if
                 call stdlib_dormlq( side, transt, mi, ni, nq-1, a( 1, 2 ), lda,tau, c( i1, i2 ), &
                           ldc, work, lwork, iinfo )
              end if
           end if
           work( 1 ) = lwkopt
           return
     end subroutine stdlib_dormbr

#:for rk,rt,ri in REAL_KINDS_TYPES
#:if not rk in ["sp","dp"]
     module pure subroutine stdlib_${ri}$ormbr( vect, side, trans, m, n, k, a, lda, tau, c,ldc, work, lwork, &
     !! If VECT = 'Q', DORMBR: overwrites the general real M-by-N matrix C
     !! with
     !! SIDE = 'L'     SIDE = 'R'
     !! TRANS = 'N':      Q * C          C * Q
     !! TRANS = 'T':      Q**T * C       C * Q**T
     !! If VECT = 'P', DORMBR overwrites the general real M-by-N matrix C
     !! with
     !! SIDE = 'L'     SIDE = 'R'
     !! TRANS = 'N':      P * C          C * P
     !! TRANS = 'T':      P**T * C       C * P**T
     !! Here Q and P**T are the orthogonal matrices determined by DGEBRD when
     !! reducing a real matrix A to bidiagonal form: A = Q * B * P**T. Q and
     !! P**T are defined as products of elementary reflectors H(i) and G(i)
     !! respectively.
     !! Let nq = m if SIDE = 'L' and nq = n if SIDE = 'R'. Thus nq is the
     !! order of the orthogonal matrix Q or P**T that is applied.
     !! If VECT = 'Q', A is assumed to have been an NQ-by-K matrix:
     !! if nq >= k, Q = H(1) H(2) . . . H(k);
     !! if nq < k, Q = H(1) H(2) . . . H(nq-1).
     !! If VECT = 'P', A is assumed to have been a K-by-NQ matrix:
     !! if k < nq, P = G(1) G(2) . . . G(k);
     !! if k >= nq, P = G(1) G(2) . . . G(nq-1).
               info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${rk}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: side, trans, vect
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: k, lda, ldc, lwork, m, n
           ! Array Arguments 
           real(${rk}$), intent(inout) :: a(lda,*), c(ldc,*)
           real(${rk}$), intent(in) :: tau(*)
           real(${rk}$), intent(out) :: work(*)
        ! =====================================================================
           ! Local Scalars 
           logical(lk) :: applyq, left, lquery, notran
           character :: transt
           integer(ilp) :: i1, i2, iinfo, lwkopt, mi, nb, ni, nq, nw
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input arguments
           info = 0
           applyq = stdlib_lsame( vect, 'Q' )
           left = stdlib_lsame( side, 'L' )
           notran = stdlib_lsame( trans, 'N' )
           lquery = ( lwork==-1 )
           ! nq is the order of q or p and nw is the minimum dimension of work
           if( left ) then
              nq = m
              nw = max( 1, n )
           else
              nq = n
              nw = max( 1, m )
           end if
           if( .not.applyq .and. .not.stdlib_lsame( vect, 'P' ) ) then
              info = -1
           else if( .not.left .and. .not.stdlib_lsame( side, 'R' ) ) then
              info = -2
           else if( .not.notran .and. .not.stdlib_lsame( trans, 'T' ) ) then
              info = -3
           else if( m<0 ) then
              info = -4
           else if( n<0 ) then
              info = -5
           else if( k<0 ) then
              info = -6
           else if( ( applyq .and. lda<max( 1, nq ) ) .or.( .not.applyq .and. lda<max( 1, min( nq,&
                      k ) ) ) )then
              info = -8
           else if( ldc<max( 1, m ) ) then
              info = -11
           else if( lwork<nw .and. .not.lquery ) then
              info = -13
           end if
           if( info==0 ) then
              if( applyq ) then
                 if( left ) then
                    nb = stdlib_ilaenv( 1, 'DORMQR', side // trans, m-1, n, m-1,-1 )
                 else
                    nb = stdlib_ilaenv( 1, 'DORMQR', side // trans, m, n-1, n-1,-1 )
                 end if
              else
                 if( left ) then
                    nb = stdlib_ilaenv( 1, 'DORMLQ', side // trans, m-1, n, m-1,-1 )
                 else
                    nb = stdlib_ilaenv( 1, 'DORMLQ', side // trans, m, n-1, n-1,-1 )
                 end if
              end if
              lwkopt = nw*nb
              work( 1 ) = lwkopt
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'DORMBR', -info )
              return
           else if( lquery ) then
              return
           end if
           ! quick return if possible
           work( 1 ) = 1
           if( m==0 .or. n==0 )return
           if( applyq ) then
              ! apply q
              if( nq>=k ) then
                 ! q was determined by a call to stdlib_${ri}$gebrd with nq >= k
                 call stdlib_${ri}$ormqr( side, trans, m, n, k, a, lda, tau, c, ldc,work, lwork, iinfo &
                           )
              else if( nq>1 ) then
                 ! q was determined by a call to stdlib_${ri}$gebrd with nq < k
                 if( left ) then
                    mi = m - 1
                    ni = n
                    i1 = 2
                    i2 = 1
                 else
                    mi = m
                    ni = n - 1
                    i1 = 1
                    i2 = 2
                 end if
                 call stdlib_${ri}$ormqr( side, trans, mi, ni, nq-1, a( 2, 1 ), lda, tau,c( i1, i2 ), &
                           ldc, work, lwork, iinfo )
              end if
           else
              ! apply p
              if( notran ) then
                 transt = 'T'
              else
                 transt = 'N'
              end if
              if( nq>k ) then
                 ! p was determined by a call to stdlib_${ri}$gebrd with nq > k
                 call stdlib_${ri}$ormlq( side, transt, m, n, k, a, lda, tau, c, ldc,work, lwork, &
                           iinfo )
              else if( nq>1 ) then
                 ! p was determined by a call to stdlib_${ri}$gebrd with nq <= k
                 if( left ) then
                    mi = m - 1
                    ni = n
                    i1 = 2
                    i2 = 1
                 else
                    mi = m
                    ni = n - 1
                    i1 = 1
                    i2 = 2
                 end if
                 call stdlib_${ri}$ormlq( side, transt, mi, ni, nq-1, a( 1, 2 ), lda,tau, c( i1, i2 ), &
                           ldc, work, lwork, iinfo )
              end if
           end if
           work( 1 ) = lwkopt
           return
     end subroutine stdlib_${ri}$ormbr

#:endif
#:endfor



     module pure subroutine stdlib_sgsvj1( jobv, m, n, n1, a, lda, d, sva, mv, v, ldv,eps, sfmin, tol, &
     !! SGSVJ1 is called from SGESVJ as a pre-processor and that is its main
     !! purpose. It applies Jacobi rotations in the same way as SGESVJ does, but
     !! it targets only particular pivots and it does not check convergence
     !! (stopping criterion). Few tuning parameters (marked by [TP]) are
     !! available for the implementer.
     !! Further Details
     !! ~~~~~~~~~~~~~~~
     !! SGSVJ1 applies few sweeps of Jacobi rotations in the column space of
     !! the input M-by-N matrix A. The pivot pairs are taken from the (1,2)
     !! off-diagonal block in the corresponding N-by-N Gram matrix A^T * A. The
     !! block-entries (tiles) of the (1,2) off-diagonal block are marked by the
     !! [x]'s in the following scheme:
     !! | *  *  * [x] [x] [x]|
     !! | *  *  * [x] [x] [x]|    Row-cycling in the nblr-by-nblc [x] blocks.
     !! | *  *  * [x] [x] [x]|    Row-cyclic pivoting inside each [x] block.
     !! |[x] [x] [x] *  *  * |
     !! |[x] [x] [x] *  *  * |
     !! |[x] [x] [x] *  *  * |
     !! In terms of the columns of A, the first N1 columns are rotated 'against'
     !! the remaining N-N1 columns, trying to increase the angle between the
     !! corresponding subspaces. The off-diagonal block is N1-by(N-N1) and it is
     !! tiled using quadratic tiles of side KBL. Here, KBL is a tuning parameter.
     !! The number of sweeps is given in NSWEEP and the orthogonality threshold
     !! is given in TOL.
               nsweep, work, lwork, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           real(sp), intent(in) :: eps, sfmin, tol
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, ldv, lwork, m, mv, n, n1, nsweep
           character, intent(in) :: jobv
           ! Array Arguments 
           real(sp), intent(inout) :: a(lda,*), d(n), sva(n), v(ldv,*)
           real(sp), intent(out) :: work(lwork)
        ! =====================================================================
           
           ! Local Scalars 
           real(sp) :: aapp, aapp0, aapq, aaqq, apoaq, aqoap, big, bigtheta, cs, large, mxaapq, &
           mxsinj, rootbig, rooteps, rootsfmin, roottol, small, sn, t, temp1, theta, &
                     thsign
           integer(ilp) :: blskip, emptsw, i, ibr, igl, ierr, ijblsk, iswrot, jbc, jgl, kbl, mvl, &
                     notrot, nblc, nblr, p, pskipped, q, rowskip, swband
           logical(lk) :: applv, rotok, rsvec
           ! Local Arrays 
           real(sp) :: fastr(5)
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters.
           applv = stdlib_lsame( jobv, 'A' )
           rsvec = stdlib_lsame( jobv, 'V' )
           if( .not.( rsvec .or. applv .or. stdlib_lsame( jobv, 'N' ) ) ) then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( ( n<0 ) .or. ( n>m ) ) then
              info = -3
           else if( n1<0 ) then
              info = -4
           else if( lda<m ) then
              info = -6
           else if( ( rsvec.or.applv ) .and. ( mv<0 ) ) then
              info = -9
           else if( ( rsvec.and.( ldv<n ) ).or.( applv.and.( ldv<mv ) )  ) then
              info = -11
           else if( tol<=eps ) then
              info = -14
           else if( nsweep<0 ) then
              info = -15
           else if( lwork<m ) then
              info = -17
           else
              info = 0
           end if
           ! #:(
           if( info/=0 ) then
              call stdlib_xerbla( 'SGSVJ1', -info )
              return
           end if
           if( rsvec ) then
              mvl = n
           else if( applv ) then
              mvl = mv
           end if
           rsvec = rsvec .or. applv
           rooteps = sqrt( eps )
           rootsfmin = sqrt( sfmin )
           small = sfmin / eps
           big = one / sfmin
           rootbig = one / rootsfmin
           large = big / sqrt( real( m*n,KIND=sp) )
           bigtheta = one / rooteps
           roottol = sqrt( tol )
           ! Initialize The Right Singular Vector Matrix 
           ! rsvec = stdlib_lsame( jobv, 'y' )
           emptsw = n1*( n-n1 )
           notrot = 0
           fastr( 1 ) = zero
           ! .. row-cyclic pivot strategy with de rijk's pivoting ..
           kbl = min( 8, n )
           nblr = n1 / kbl
           if( ( nblr*kbl )/=n1 )nblr = nblr + 1
           ! .. the tiling is nblr-by-nblc [tiles]
           nblc = ( n-n1 ) / kbl
           if( ( nblc*kbl )/=( n-n1 ) )nblc = nblc + 1
           blskip = ( kbl**2 ) + 1
      ! [tp] blkskip is a tuning parameter that depends on swband and kbl.
           rowskip = min( 5, kbl )
      ! [tp] rowskip is a tuning parameter.
           swband = 0
      ! [tp] swband is a tuning parameter. it is meaningful and effective
           ! if stdlib_sgesvj is used as a computational routine in the preconditioned
           ! jacobi svd algorithm stdlib_sgesvj.
           ! | *   *   * [x] [x] [x]|
           ! | *   *   * [x] [x] [x]|    row-cycling in the nblr-by-nblc [x] blocks.
           ! | *   *   * [x] [x] [x]|    row-cyclic pivoting inside each [x] block.
           ! |[x] [x] [x] *   *   * |
           ! |[x] [x] [x] *   *   * |
           ! |[x] [x] [x] *   *   * |
           loop_1993: do i = 1, nsweep
           ! .. go go go ...
              mxaapq = zero
              mxsinj = zero
              iswrot = 0
              notrot = 0
              pskipped = 0
              loop_2000: do ibr = 1, nblr
                 igl = ( ibr-1 )*kbl + 1
      ! ........................................................
       ! ... go to the off diagonal blocks
                 igl = ( ibr-1 )*kbl + 1
                 loop_2010: do jbc = 1, nblc
                    jgl = n1 + ( jbc-1 )*kbl + 1
              ! doing the block at ( ibr, jbc )
                    ijblsk = 0
                    loop_2100: do p = igl, min( igl+kbl-1, n1 )
                       aapp = sva( p )
                       if( aapp>zero ) then
                          pskipped = 0
                          loop_2200: do q = jgl, min( jgl+kbl-1, n )
                             aaqq = sva( q )
                             if( aaqq>zero ) then
                                aapp0 = aapp
           ! M X 2 Jacobi Svd 
              ! Safe Gram Matrix Computation 
                                if( aaqq>=one ) then
                                   if( aapp>=aaqq ) then
                                      rotok = ( small*aapp )<=aaqq
                                   else
                                      rotok = ( small*aaqq )<=aapp
                                   end if
                                   if( aapp<( big / aaqq ) ) then
                                      aapq = ( stdlib_sdot( m, a( 1, p ), 1, a( 1,q ), 1 )*d( p )&
                                                *d( q ) / aaqq )/ aapp
                                   else
                                      call stdlib_scopy( m, a( 1, p ), 1, work, 1 )
                                      call stdlib_slascl( 'G', 0, 0, aapp, d( p ),m, 1, work, lda,&
                                                 ierr )
                                      aapq = stdlib_sdot( m, work, 1, a( 1, q ),1 )*d( q ) / &
                                                aaqq
                                   end if
                                else
                                   if( aapp>=aaqq ) then
                                      rotok = aapp<=( aaqq / small )
                                   else
                                      rotok = aaqq<=( aapp / small )
                                   end if
                                   if( aapp>( small / aaqq ) ) then
                                      aapq = ( stdlib_sdot( m, a( 1, p ), 1, a( 1,q ), 1 )*d( p )&
                                                *d( q ) / aaqq )/ aapp
                                   else
                                      call stdlib_scopy( m, a( 1, q ), 1, work, 1 )
                                      call stdlib_slascl( 'G', 0, 0, aaqq, d( q ),m, 1, work, lda,&
                                                 ierr )
                                      aapq = stdlib_sdot( m, work, 1, a( 1, p ),1 )*d( p ) / &
                                                aapp
                                   end if
                                end if
                                mxaapq = max( mxaapq, abs( aapq ) )
              ! to rotate or not to rotate, that is the question ...
                                if( abs( aapq )>tol ) then
                                   notrot = 0
                 ! rotated  = rotated + 1
                                   pskipped = 0
                                   iswrot = iswrot + 1
                                   if( rotok ) then
                                      aqoap = aaqq / aapp
                                      apoaq = aapp / aaqq
                                      theta = -half*abs( aqoap-apoaq ) / aapq
                                      if( aaqq>aapp0 )theta = -theta
                                      if( abs( theta )>bigtheta ) then
                                         t = half / theta
                                         fastr( 3 ) = t*d( p ) / d( q )
                                         fastr( 4 ) = -t*d( q ) / d( p )
                                         call stdlib_srotm( m, a( 1, p ), 1,a( 1, q ), 1, fastr )
                                                   
                                         if( rsvec )call stdlib_srotm( mvl,v( 1, p ), 1,v( 1, q ),&
                                                    1,fastr )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq ) )
                                         mxsinj = max( mxsinj, abs( t ) )
                                      else
                       ! Choose Correct Signum For Theta And Rotate
                                         thsign = -sign( one, aapq )
                                         if( aaqq>aapp0 )thsign = -thsign
                                         t = one / ( theta+thsign*sqrt( one+theta*theta ) )
                                                   
                                         cs = sqrt( one / ( one+t*t ) )
                                         sn = t*cs
                                         mxsinj = max( mxsinj, abs( sn ) )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq ) )
                                         apoaq = d( p ) / d( q )
                                         aqoap = d( q ) / d( p )
                                         if( d( p )>=one ) then
                                            if( d( q )>=one ) then
                                               fastr( 3 ) = t*apoaq
                                               fastr( 4 ) = -t*aqoap
                                               d( p ) = d( p )*cs
                                               d( q ) = d( q )*cs
                                               call stdlib_srotm( m, a( 1, p ), 1,a( 1, q ), 1,&
                                                         fastr )
                                               if( rsvec )call stdlib_srotm( mvl,v( 1, p ), 1, v( &
                                                         1, q ),1, fastr )
                                            else
                                               call stdlib_saxpy( m, -t*aqoap,a( 1, q ), 1,a( 1, &
                                                         p ), 1 )
                                               call stdlib_saxpy( m, cs*sn*apoaq,a( 1, p ), 1,a( &
                                                         1, q ), 1 )
                                               if( rsvec ) then
                                                  call stdlib_saxpy( mvl, -t*aqoap,v( 1, q ), 1,v(&
                                                             1, p ), 1 )
                                                  call stdlib_saxpy( mvl,cs*sn*apoaq,v( 1, p ), 1,&
                                                            v( 1, q ), 1 )
                                               end if
                                               d( p ) = d( p )*cs
                                               d( q ) = d( q ) / cs
                                            end if
                                         else
                                            if( d( q )>=one ) then
                                               call stdlib_saxpy( m, t*apoaq,a( 1, p ), 1,a( 1, q &
                                                         ), 1 )
                                               call stdlib_saxpy( m, -cs*sn*aqoap,a( 1, q ), 1,a( &
                                                         1, p ), 1 )
                                               if( rsvec ) then
                                                  call stdlib_saxpy( mvl, t*apoaq,v( 1, p ), 1,v( &
                                                            1, q ), 1 )
                                                  call stdlib_saxpy( mvl,-cs*sn*aqoap,v( 1, q ), &
                                                            1,v( 1, p ), 1 )
                                               end if
                                               d( p ) = d( p ) / cs
                                               d( q ) = d( q )*cs
                                            else
                                               if( d( p )>=d( q ) ) then
                                                  call stdlib_saxpy( m, -t*aqoap,a( 1, q ), 1,a( &
                                                            1, p ), 1 )
                                                  call stdlib_saxpy( m, cs*sn*apoaq,a( 1, p ), 1,&
                                                            a( 1, q ), 1 )
                                                  d( p ) = d( p )*cs
                                                  d( q ) = d( q ) / cs
                                                  if( rsvec ) then
                                                     call stdlib_saxpy( mvl,-t*aqoap,v( 1, q ), 1,&
                                                               v( 1, p ), 1 )
                                                     call stdlib_saxpy( mvl,cs*sn*apoaq,v( 1, p ),&
                                                                1,v( 1, q ), 1 )
                                                  end if
                                               else
                                                  call stdlib_saxpy( m, t*apoaq,a( 1, p ), 1,a( 1,&
                                                             q ), 1 )
                                                  call stdlib_saxpy( m,-cs*sn*aqoap,a( 1, q ), 1,&
                                                            a( 1, p ), 1 )
                                                  d( p ) = d( p ) / cs
                                                  d( q ) = d( q )*cs
                                                  if( rsvec ) then
                                                     call stdlib_saxpy( mvl,t*apoaq, v( 1, p ),1, &
                                                               v( 1, q ), 1 )
                                                     call stdlib_saxpy( mvl,-cs*sn*aqoap,v( 1, q )&
                                                               , 1,v( 1, p ), 1 )
                                                  end if
                                               end if
                                            end if
                                         end if
                                      end if
                                   else
                                      if( aapp>aaqq ) then
                                         call stdlib_scopy( m, a( 1, p ), 1, work,1 )
                                         call stdlib_slascl( 'G', 0, 0, aapp, one,m, 1, work, lda,&
                                                    ierr )
                                         call stdlib_slascl( 'G', 0, 0, aaqq, one,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         temp1 = -aapq*d( p ) / d( q )
                                         call stdlib_saxpy( m, temp1, work, 1,a( 1, q ), 1 )
                                                   
                                         call stdlib_slascl( 'G', 0, 0, one, aaqq,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         sva( q ) = aaqq*sqrt( max( zero,one-aapq*aapq ) )
                                         mxsinj = max( mxsinj, sfmin )
                                      else
                                         call stdlib_scopy( m, a( 1, q ), 1, work,1 )
                                         call stdlib_slascl( 'G', 0, 0, aaqq, one,m, 1, work, lda,&
                                                    ierr )
                                         call stdlib_slascl( 'G', 0, 0, aapp, one,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         temp1 = -aapq*d( q ) / d( p )
                                         call stdlib_saxpy( m, temp1, work, 1,a( 1, p ), 1 )
                                                   
                                         call stdlib_slascl( 'G', 0, 0, one, aapp,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         sva( p ) = aapp*sqrt( max( zero,one-aapq*aapq ) )
                                         mxsinj = max( mxsinj, sfmin )
                                      end if
                                   end if
                 ! end if rotok then ... else
                 ! in the case of cancellation in updating sva(q)
                 ! .. recompute sva(q)
                                   if( ( sva( q ) / aaqq )**2<=rooteps )then
                                      if( ( aaqq<rootbig ) .and.( aaqq>rootsfmin ) ) then
                                         sva( q ) = stdlib_snrm2( m, a( 1, q ), 1 )*d( q )
                                      else
                                         t = zero
                                         aaqq = one
                                         call stdlib_slassq( m, a( 1, q ), 1, t,aaqq )
                                         sva( q ) = t*sqrt( aaqq )*d( q )
                                      end if
                                   end if
                                   if( ( aapp / aapp0 )**2<=rooteps ) then
                                      if( ( aapp<rootbig ) .and.( aapp>rootsfmin ) ) then
                                         aapp = stdlib_snrm2( m, a( 1, p ), 1 )*d( p )
                                      else
                                         t = zero
                                         aapp = one
                                         call stdlib_slassq( m, a( 1, p ), 1, t,aapp )
                                         aapp = t*sqrt( aapp )*d( p )
                                      end if
                                      sva( p ) = aapp
                                   end if
                    ! end of ok rotation
                                else
                                   notrot = notrot + 1
                 ! skipped  = skipped  + 1
                                   pskipped = pskipped + 1
                                   ijblsk = ijblsk + 1
                                end if
                             else
                                notrot = notrot + 1
                                pskipped = pskipped + 1
                                ijblsk = ijblsk + 1
                             end if
            ! if ( notrot >= emptsw )  go to 2011
                             if( ( i<=swband ) .and. ( ijblsk>=blskip ) )then
                                sva( p ) = aapp
                                notrot = 0
                                go to 2011
                             end if
                             if( ( i<=swband ) .and.( pskipped>rowskip ) ) then
                                aapp = -aapp
                                notrot = 0
                                go to 2203
                             end if
                          end do loop_2200
              ! end of the q-loop
              2203 continue
                          sva( p ) = aapp
                       else
                          if( aapp==zero )notrot = notrot +min( jgl+kbl-1, n ) - jgl + 1
                          if( aapp<zero )notrot = 0
      ! **      if ( notrot >= emptsw )  go to 2011
                       end if
                    end do loop_2100
           ! end of the p-loop
                 end do loop_2010
           ! end of the jbc-loop
           2011 continue
      ! 2011 bailed out of the jbc-loop
                 do p = igl, min( igl+kbl-1, n )
                    sva( p ) = abs( sva( p ) )
                 end do
      ! **   if ( notrot >= emptsw ) go to 1994
              end do loop_2000
      ! 2000 :: end of the ibr-loop
           ! .. update sva(n)
              if( ( sva( n )<rootbig ) .and. ( sva( n )>rootsfmin ) )then
                 sva( n ) = stdlib_snrm2( m, a( 1, n ), 1 )*d( n )
              else
                 t = zero
                 aapp = one
                 call stdlib_slassq( m, a( 1, n ), 1, t, aapp )
                 sva( n ) = t*sqrt( aapp )*d( n )
              end if
           ! additional steering devices
              if( ( i<swband ) .and. ( ( mxaapq<=roottol ) .or.( iswrot<=n ) ) )swband = i
              if( ( i>swband+1 ) .and. ( mxaapq<real( n,KIND=sp)*tol ) .and.( real( n,KIND=sp)&
                        *mxaapq*mxsinj<tol ) ) then
                 go to 1994
              end if
              if( notrot>=emptsw )go to 1994
           end do loop_1993
           ! end i=1:nsweep loop
       ! #:) reaching this point means that the procedure has completed the given
           ! number of sweeps.
           info = nsweep - 1
           go to 1995
           1994 continue
       ! #:) reaching this point means that during the i-th sweep all pivots were
           ! below the given threshold, causing early exit.
           info = 0
       ! #:) info = 0 confirms successful iterations.
       1995 continue
           ! sort the vector d
           do p = 1, n - 1
              q = stdlib_isamax( n-p+1, sva( p ), 1 ) + p - 1
              if( p/=q ) then
                 temp1 = sva( p )
                 sva( p ) = sva( q )
                 sva( q ) = temp1
                 temp1 = d( p )
                 d( p ) = d( q )
                 d( q ) = temp1
                 call stdlib_sswap( m, a( 1, p ), 1, a( 1, q ), 1 )
                 if( rsvec )call stdlib_sswap( mvl, v( 1, p ), 1, v( 1, q ), 1 )
              end if
           end do
           return
     end subroutine stdlib_sgsvj1

     module pure subroutine stdlib_dgsvj1( jobv, m, n, n1, a, lda, d, sva, mv, v, ldv,eps, sfmin, tol, &
     !! DGSVJ1 is called from DGESVJ as a pre-processor and that is its main
     !! purpose. It applies Jacobi rotations in the same way as DGESVJ does, but
     !! it targets only particular pivots and it does not check convergence
     !! (stopping criterion). Few tuning parameters (marked by [TP]) are
     !! available for the implementer.
     !! Further Details
     !! ~~~~~~~~~~~~~~~
     !! DGSVJ1 applies few sweeps of Jacobi rotations in the column space of
     !! the input M-by-N matrix A. The pivot pairs are taken from the (1,2)
     !! off-diagonal block in the corresponding N-by-N Gram matrix A^T * A. The
     !! block-entries (tiles) of the (1,2) off-diagonal block are marked by the
     !! [x]'s in the following scheme:
     !! | *  *  * [x] [x] [x]|
     !! | *  *  * [x] [x] [x]|    Row-cycling in the nblr-by-nblc [x] blocks.
     !! | *  *  * [x] [x] [x]|    Row-cyclic pivoting inside each [x] block.
     !! |[x] [x] [x] *  *  * |
     !! |[x] [x] [x] *  *  * |
     !! |[x] [x] [x] *  *  * |
     !! In terms of the columns of A, the first N1 columns are rotated 'against'
     !! the remaining N-N1 columns, trying to increase the angle between the
     !! corresponding subspaces. The off-diagonal block is N1-by(N-N1) and it is
     !! tiled using quadratic tiles of side KBL. Here, KBL is a tuning parameter.
     !! The number of sweeps is given in NSWEEP and the orthogonality threshold
     !! is given in TOL.
               nsweep, work, lwork, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           real(dp), intent(in) :: eps, sfmin, tol
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, ldv, lwork, m, mv, n, n1, nsweep
           character, intent(in) :: jobv
           ! Array Arguments 
           real(dp), intent(inout) :: a(lda,*), d(n), sva(n), v(ldv,*)
           real(dp), intent(out) :: work(lwork)
        ! =====================================================================
           
           ! Local Scalars 
           real(dp) :: aapp, aapp0, aapq, aaqq, apoaq, aqoap, big, bigtheta, cs, large, mxaapq, &
           mxsinj, rootbig, rooteps, rootsfmin, roottol, small, sn, t, temp1, theta, &
                     thsign
           integer(ilp) :: blskip, emptsw, i, ibr, igl, ierr, ijblsk, iswrot, jbc, jgl, kbl, mvl, &
                     notrot, nblc, nblr, p, pskipped, q, rowskip, swband
           logical(lk) :: applv, rotok, rsvec
           ! Local Arrays 
           real(dp) :: fastr(5)
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters.
           applv = stdlib_lsame( jobv, 'A' )
           rsvec = stdlib_lsame( jobv, 'V' )
           if( .not.( rsvec .or. applv .or. stdlib_lsame( jobv, 'N' ) ) ) then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( ( n<0 ) .or. ( n>m ) ) then
              info = -3
           else if( n1<0 ) then
              info = -4
           else if( lda<m ) then
              info = -6
           else if( ( rsvec.or.applv ) .and. ( mv<0 ) ) then
              info = -9
           else if( ( rsvec.and.( ldv<n ) ).or.( applv.and.( ldv<mv ) )  ) then
              info = -11
           else if( tol<=eps ) then
              info = -14
           else if( nsweep<0 ) then
              info = -15
           else if( lwork<m ) then
              info = -17
           else
              info = 0
           end if
           ! #:(
           if( info/=0 ) then
              call stdlib_xerbla( 'DGSVJ1', -info )
              return
           end if
           if( rsvec ) then
              mvl = n
           else if( applv ) then
              mvl = mv
           end if
           rsvec = rsvec .or. applv
           rooteps = sqrt( eps )
           rootsfmin = sqrt( sfmin )
           small = sfmin / eps
           big = one / sfmin
           rootbig = one / rootsfmin
           large = big / sqrt( real( m*n,KIND=dp) )
           bigtheta = one / rooteps
           roottol = sqrt( tol )
           ! Initialize The Right Singular Vector Matrix 
           ! rsvec = stdlib_lsame( jobv, 'y' )
           emptsw = n1*( n-n1 )
           notrot = 0
           fastr( 1 ) = zero
           ! .. row-cyclic pivot strategy with de rijk's pivoting ..
           kbl = min( 8, n )
           nblr = n1 / kbl
           if( ( nblr*kbl )/=n1 )nblr = nblr + 1
           ! .. the tiling is nblr-by-nblc [tiles]
           nblc = ( n-n1 ) / kbl
           if( ( nblc*kbl )/=( n-n1 ) )nblc = nblc + 1
           blskip = ( kbl**2 ) + 1
      ! [tp] blkskip is a tuning parameter that depends on swband and kbl.
           rowskip = min( 5, kbl )
      ! [tp] rowskip is a tuning parameter.
           swband = 0
      ! [tp] swband is a tuning parameter. it is meaningful and effective
           ! if stdlib_sgesvj is used as a computational routine in the preconditioned
           ! jacobi svd algorithm stdlib_sgesvj.
           ! | *   *   * [x] [x] [x]|
           ! | *   *   * [x] [x] [x]|    row-cycling in the nblr-by-nblc [x] blocks.
           ! | *   *   * [x] [x] [x]|    row-cyclic pivoting inside each [x] block.
           ! |[x] [x] [x] *   *   * |
           ! |[x] [x] [x] *   *   * |
           ! |[x] [x] [x] *   *   * |
           loop_1993: do i = 1, nsweep
           ! .. go go go ...
              mxaapq = zero
              mxsinj = zero
              iswrot = 0
              notrot = 0
              pskipped = 0
              loop_2000: do ibr = 1, nblr
                 igl = ( ibr-1 )*kbl + 1
      ! ........................................................
       ! ... go to the off diagonal blocks
                 igl = ( ibr-1 )*kbl + 1
                 loop_2010: do jbc = 1, nblc
                    jgl = n1 + ( jbc-1 )*kbl + 1
              ! doing the block at ( ibr, jbc )
                    ijblsk = 0
                    loop_2100: do p = igl, min( igl+kbl-1, n1 )
                       aapp = sva( p )
                       if( aapp>zero ) then
                          pskipped = 0
                          loop_2200: do q = jgl, min( jgl+kbl-1, n )
                             aaqq = sva( q )
                             if( aaqq>zero ) then
                                aapp0 = aapp
           ! M X 2 Jacobi Svd 
              ! Safe Gram Matrix Computation 
                                if( aaqq>=one ) then
                                   if( aapp>=aaqq ) then
                                      rotok = ( small*aapp )<=aaqq
                                   else
                                      rotok = ( small*aaqq )<=aapp
                                   end if
                                   if( aapp<( big / aaqq ) ) then
                                      aapq = ( stdlib_ddot( m, a( 1, p ), 1, a( 1,q ), 1 )*d( p )&
                                                *d( q ) / aaqq )/ aapp
                                   else
                                      call stdlib_dcopy( m, a( 1, p ), 1, work, 1 )
                                      call stdlib_dlascl( 'G', 0, 0, aapp, d( p ),m, 1, work, lda,&
                                                 ierr )
                                      aapq = stdlib_ddot( m, work, 1, a( 1, q ),1 )*d( q ) / &
                                                aaqq
                                   end if
                                else
                                   if( aapp>=aaqq ) then
                                      rotok = aapp<=( aaqq / small )
                                   else
                                      rotok = aaqq<=( aapp / small )
                                   end if
                                   if( aapp>( small / aaqq ) ) then
                                      aapq = ( stdlib_ddot( m, a( 1, p ), 1, a( 1,q ), 1 )*d( p )&
                                                *d( q ) / aaqq )/ aapp
                                   else
                                      call stdlib_dcopy( m, a( 1, q ), 1, work, 1 )
                                      call stdlib_dlascl( 'G', 0, 0, aaqq, d( q ),m, 1, work, lda,&
                                                 ierr )
                                      aapq = stdlib_ddot( m, work, 1, a( 1, p ),1 )*d( p ) / &
                                                aapp
                                   end if
                                end if
                                mxaapq = max( mxaapq, abs( aapq ) )
              ! to rotate or not to rotate, that is the question ...
                                if( abs( aapq )>tol ) then
                                   notrot = 0
                 ! rotated  = rotated + 1
                                   pskipped = 0
                                   iswrot = iswrot + 1
                                   if( rotok ) then
                                      aqoap = aaqq / aapp
                                      apoaq = aapp / aaqq
                                      theta = -half*abs(aqoap-apoaq) / aapq
                                      if( aaqq>aapp0 )theta = -theta
                                      if( abs( theta )>bigtheta ) then
                                         t = half / theta
                                         fastr( 3 ) = t*d( p ) / d( q )
                                         fastr( 4 ) = -t*d( q ) / d( p )
                                         call stdlib_drotm( m, a( 1, p ), 1,a( 1, q ), 1, fastr )
                                                   
                                         if( rsvec )call stdlib_drotm( mvl,v( 1, p ), 1,v( 1, q ),&
                                                    1,fastr )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq ) )
                                         mxsinj = max( mxsinj, abs( t ) )
                                      else
                       ! Choose Correct Signum For Theta And Rotate
                                         thsign = -sign( one, aapq )
                                         if( aaqq>aapp0 )thsign = -thsign
                                         t = one / ( theta+thsign*sqrt( one+theta*theta ) )
                                                   
                                         cs = sqrt( one / ( one+t*t ) )
                                         sn = t*cs
                                         mxsinj = max( mxsinj, abs( sn ) )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq ) )
                                         apoaq = d( p ) / d( q )
                                         aqoap = d( q ) / d( p )
                                         if( d( p )>=one ) then
                                            if( d( q )>=one ) then
                                               fastr( 3 ) = t*apoaq
                                               fastr( 4 ) = -t*aqoap
                                               d( p ) = d( p )*cs
                                               d( q ) = d( q )*cs
                                               call stdlib_drotm( m, a( 1, p ), 1,a( 1, q ), 1,&
                                                         fastr )
                                               if( rsvec )call stdlib_drotm( mvl,v( 1, p ), 1, v( &
                                                         1, q ),1, fastr )
                                            else
                                               call stdlib_daxpy( m, -t*aqoap,a( 1, q ), 1,a( 1, &
                                                         p ), 1 )
                                               call stdlib_daxpy( m, cs*sn*apoaq,a( 1, p ), 1,a( &
                                                         1, q ), 1 )
                                               if( rsvec ) then
                                                  call stdlib_daxpy( mvl, -t*aqoap,v( 1, q ), 1,v(&
                                                             1, p ), 1 )
                                                  call stdlib_daxpy( mvl,cs*sn*apoaq,v( 1, p ), 1,&
                                                            v( 1, q ), 1 )
                                               end if
                                               d( p ) = d( p )*cs
                                               d( q ) = d( q ) / cs
                                            end if
                                         else
                                            if( d( q )>=one ) then
                                               call stdlib_daxpy( m, t*apoaq,a( 1, p ), 1,a( 1, q &
                                                         ), 1 )
                                               call stdlib_daxpy( m, -cs*sn*aqoap,a( 1, q ), 1,a( &
                                                         1, p ), 1 )
                                               if( rsvec ) then
                                                  call stdlib_daxpy( mvl, t*apoaq,v( 1, p ), 1,v( &
                                                            1, q ), 1 )
                                                  call stdlib_daxpy( mvl,-cs*sn*aqoap,v( 1, q ), &
                                                            1,v( 1, p ), 1 )
                                               end if
                                               d( p ) = d( p ) / cs
                                               d( q ) = d( q )*cs
                                            else
                                               if( d( p )>=d( q ) ) then
                                                  call stdlib_daxpy( m, -t*aqoap,a( 1, q ), 1,a( &
                                                            1, p ), 1 )
                                                  call stdlib_daxpy( m, cs*sn*apoaq,a( 1, p ), 1,&
                                                            a( 1, q ), 1 )
                                                  d( p ) = d( p )*cs
                                                  d( q ) = d( q ) / cs
                                                  if( rsvec ) then
                                                     call stdlib_daxpy( mvl,-t*aqoap,v( 1, q ), 1,&
                                                               v( 1, p ), 1 )
                                                     call stdlib_daxpy( mvl,cs*sn*apoaq,v( 1, p ),&
                                                                1,v( 1, q ), 1 )
                                                  end if
                                               else
                                                  call stdlib_daxpy( m, t*apoaq,a( 1, p ), 1,a( 1,&
                                                             q ), 1 )
                                                  call stdlib_daxpy( m,-cs*sn*aqoap,a( 1, q ), 1,&
                                                            a( 1, p ), 1 )
                                                  d( p ) = d( p ) / cs
                                                  d( q ) = d( q )*cs
                                                  if( rsvec ) then
                                                     call stdlib_daxpy( mvl,t*apoaq, v( 1, p ),1, &
                                                               v( 1, q ), 1 )
                                                     call stdlib_daxpy( mvl,-cs*sn*aqoap,v( 1, q )&
                                                               , 1,v( 1, p ), 1 )
                                                  end if
                                               end if
                                            end if
                                         end if
                                      end if
                                   else
                                      if( aapp>aaqq ) then
                                         call stdlib_dcopy( m, a( 1, p ), 1, work,1 )
                                         call stdlib_dlascl( 'G', 0, 0, aapp, one,m, 1, work, lda,&
                                                    ierr )
                                         call stdlib_dlascl( 'G', 0, 0, aaqq, one,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         temp1 = -aapq*d( p ) / d( q )
                                         call stdlib_daxpy( m, temp1, work, 1,a( 1, q ), 1 )
                                                   
                                         call stdlib_dlascl( 'G', 0, 0, one, aaqq,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         sva( q ) = aaqq*sqrt( max( zero,one-aapq*aapq ) )
                                         mxsinj = max( mxsinj, sfmin )
                                      else
                                         call stdlib_dcopy( m, a( 1, q ), 1, work,1 )
                                         call stdlib_dlascl( 'G', 0, 0, aaqq, one,m, 1, work, lda,&
                                                    ierr )
                                         call stdlib_dlascl( 'G', 0, 0, aapp, one,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         temp1 = -aapq*d( q ) / d( p )
                                         call stdlib_daxpy( m, temp1, work, 1,a( 1, p ), 1 )
                                                   
                                         call stdlib_dlascl( 'G', 0, 0, one, aapp,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         sva( p ) = aapp*sqrt( max( zero,one-aapq*aapq ) )
                                         mxsinj = max( mxsinj, sfmin )
                                      end if
                                   end if
                 ! end if rotok then ... else
                 ! in the case of cancellation in updating sva(q)
                 ! .. recompute sva(q)
                                   if( ( sva( q ) / aaqq )**2<=rooteps )then
                                      if( ( aaqq<rootbig ) .and.( aaqq>rootsfmin ) ) then
                                         sva( q ) = stdlib_dnrm2( m, a( 1, q ), 1 )*d( q )
                                      else
                                         t = zero
                                         aaqq = one
                                         call stdlib_dlassq( m, a( 1, q ), 1, t,aaqq )
                                         sva( q ) = t*sqrt( aaqq )*d( q )
                                      end if
                                   end if
                                   if( ( aapp / aapp0 )**2<=rooteps ) then
                                      if( ( aapp<rootbig ) .and.( aapp>rootsfmin ) ) then
                                         aapp = stdlib_dnrm2( m, a( 1, p ), 1 )*d( p )
                                      else
                                         t = zero
                                         aapp = one
                                         call stdlib_dlassq( m, a( 1, p ), 1, t,aapp )
                                         aapp = t*sqrt( aapp )*d( p )
                                      end if
                                      sva( p ) = aapp
                                   end if
                    ! end of ok rotation
                                else
                                   notrot = notrot + 1
                 ! skipped  = skipped  + 1
                                   pskipped = pskipped + 1
                                   ijblsk = ijblsk + 1
                                end if
                             else
                                notrot = notrot + 1
                                pskipped = pskipped + 1
                                ijblsk = ijblsk + 1
                             end if
            ! if ( notrot >= emptsw )  go to 2011
                             if( ( i<=swband ) .and. ( ijblsk>=blskip ) )then
                                sva( p ) = aapp
                                notrot = 0
                                go to 2011
                             end if
                             if( ( i<=swband ) .and.( pskipped>rowskip ) ) then
                                aapp = -aapp
                                notrot = 0
                                go to 2203
                             end if
                          end do loop_2200
              ! end of the q-loop
              2203 continue
                          sva( p ) = aapp
                       else
                          if( aapp==zero )notrot = notrot +min( jgl+kbl-1, n ) - jgl + 1
                          if( aapp<zero )notrot = 0
      ! **      if ( notrot >= emptsw )  go to 2011
                       end if
                    end do loop_2100
           ! end of the p-loop
                 end do loop_2010
           ! end of the jbc-loop
           2011 continue
      ! 2011 bailed out of the jbc-loop
                 do p = igl, min( igl+kbl-1, n )
                    sva( p ) = abs( sva( p ) )
                 end do
      ! **   if ( notrot >= emptsw ) go to 1994
              end do loop_2000
      ! 2000 :: end of the ibr-loop
           ! .. update sva(n)
              if( ( sva( n )<rootbig ) .and. ( sva( n )>rootsfmin ) )then
                 sva( n ) = stdlib_dnrm2( m, a( 1, n ), 1 )*d( n )
              else
                 t = zero
                 aapp = one
                 call stdlib_dlassq( m, a( 1, n ), 1, t, aapp )
                 sva( n ) = t*sqrt( aapp )*d( n )
              end if
           ! additional steering devices
              if( ( i<swband ) .and. ( ( mxaapq<=roottol ) .or.( iswrot<=n ) ) )swband = i
              if( ( i>swband+1 ) .and. ( mxaapq<real( n,KIND=dp)*tol ) .and.( real( n,KIND=dp)&
                        *mxaapq*mxsinj<tol ) ) then
                 go to 1994
              end if
              if( notrot>=emptsw )go to 1994
           end do loop_1993
           ! end i=1:nsweep loop
       ! #:) reaching this point means that the procedure has completed the given
           ! number of sweeps.
           info = nsweep - 1
           go to 1995
           1994 continue
       ! #:) reaching this point means that during the i-th sweep all pivots were
           ! below the given threshold, causing early exit.
           info = 0
       ! #:) info = 0 confirms successful iterations.
       1995 continue
           ! sort the vector d
           do p = 1, n - 1
              q = stdlib_idamax( n-p+1, sva( p ), 1 ) + p - 1
              if( p/=q ) then
                 temp1 = sva( p )
                 sva( p ) = sva( q )
                 sva( q ) = temp1
                 temp1 = d( p )
                 d( p ) = d( q )
                 d( q ) = temp1
                 call stdlib_dswap( m, a( 1, p ), 1, a( 1, q ), 1 )
                 if( rsvec )call stdlib_dswap( mvl, v( 1, p ), 1, v( 1, q ), 1 )
              end if
           end do
           return
     end subroutine stdlib_dgsvj1

#:for rk,rt,ri in REAL_KINDS_TYPES
#:if not rk in ["sp","dp"]
     module pure subroutine stdlib_${ri}$gsvj1( jobv, m, n, n1, a, lda, d, sva, mv, v, ldv,eps, sfmin, tol, &
     !! DGSVJ1: is called from DGESVJ as a pre-processor and that is its main
     !! purpose. It applies Jacobi rotations in the same way as DGESVJ does, but
     !! it targets only particular pivots and it does not check convergence
     !! (stopping criterion). Few tuning parameters (marked by [TP]) are
     !! available for the implementer.
     !! Further Details
     !! ~~~~~~~~~~~~~~~
     !! DGSVJ1 applies few sweeps of Jacobi rotations in the column space of
     !! the input M-by-N matrix A. The pivot pairs are taken from the (1,2)
     !! off-diagonal block in the corresponding N-by-N Gram matrix A^T * A. The
     !! block-entries (tiles) of the (1,2) off-diagonal block are marked by the
     !! [x]'s in the following scheme:
     !! | *  *  * [x] [x] [x]|
     !! | *  *  * [x] [x] [x]|    Row-cycling in the nblr-by-nblc [x] blocks.
     !! | *  *  * [x] [x] [x]|    Row-cyclic pivoting inside each [x] block.
     !! |[x] [x] [x] *  *  * |
     !! |[x] [x] [x] *  *  * |
     !! |[x] [x] [x] *  *  * |
     !! In terms of the columns of A, the first N1 columns are rotated 'against'
     !! the remaining N-N1 columns, trying to increase the angle between the
     !! corresponding subspaces. The off-diagonal block is N1-by(N-N1) and it is
     !! tiled using quadratic tiles of side KBL. Here, KBL is a tuning parameter.
     !! The number of sweeps is given in NSWEEP and the orthogonality threshold
     !! is given in TOL.
               nsweep, work, lwork, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${rk}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           real(${rk}$), intent(in) :: eps, sfmin, tol
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, ldv, lwork, m, mv, n, n1, nsweep
           character, intent(in) :: jobv
           ! Array Arguments 
           real(${rk}$), intent(inout) :: a(lda,*), d(n), sva(n), v(ldv,*)
           real(${rk}$), intent(out) :: work(lwork)
        ! =====================================================================
           
           ! Local Scalars 
           real(${rk}$) :: aapp, aapp0, aapq, aaqq, apoaq, aqoap, big, bigtheta, cs, large, mxaapq, &
           mxsinj, rootbig, rooteps, rootsfmin, roottol, small, sn, t, temp1, theta, &
                     thsign
           integer(ilp) :: blskip, emptsw, i, ibr, igl, ierr, ijblsk, iswrot, jbc, jgl, kbl, mvl, &
                     notrot, nblc, nblr, p, pskipped, q, rowskip, swband
           logical(lk) :: applv, rotok, rsvec
           ! Local Arrays 
           real(${rk}$) :: fastr(5)
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters.
           applv = stdlib_lsame( jobv, 'A' )
           rsvec = stdlib_lsame( jobv, 'V' )
           if( .not.( rsvec .or. applv .or. stdlib_lsame( jobv, 'N' ) ) ) then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( ( n<0 ) .or. ( n>m ) ) then
              info = -3
           else if( n1<0 ) then
              info = -4
           else if( lda<m ) then
              info = -6
           else if( ( rsvec.or.applv ) .and. ( mv<0 ) ) then
              info = -9
           else if( ( rsvec.and.( ldv<n ) ).or.( applv.and.( ldv<mv ) )  ) then
              info = -11
           else if( tol<=eps ) then
              info = -14
           else if( nsweep<0 ) then
              info = -15
           else if( lwork<m ) then
              info = -17
           else
              info = 0
           end if
           ! #:(
           if( info/=0 ) then
              call stdlib_xerbla( 'DGSVJ1', -info )
              return
           end if
           if( rsvec ) then
              mvl = n
           else if( applv ) then
              mvl = mv
           end if
           rsvec = rsvec .or. applv
           rooteps = sqrt( eps )
           rootsfmin = sqrt( sfmin )
           small = sfmin / eps
           big = one / sfmin
           rootbig = one / rootsfmin
           large = big / sqrt( real( m*n,KIND=${rk}$) )
           bigtheta = one / rooteps
           roottol = sqrt( tol )
           ! Initialize The Right Singular Vector Matrix 
           ! rsvec = stdlib_lsame( jobv, 'y' )
           emptsw = n1*( n-n1 )
           notrot = 0
           fastr( 1 ) = zero
           ! .. row-cyclic pivot strategy with de rijk's pivoting ..
           kbl = min( 8, n )
           nblr = n1 / kbl
           if( ( nblr*kbl )/=n1 )nblr = nblr + 1
           ! .. the tiling is nblr-by-nblc [tiles]
           nblc = ( n-n1 ) / kbl
           if( ( nblc*kbl )/=( n-n1 ) )nblc = nblc + 1
           blskip = ( kbl**2 ) + 1
      ! [tp] blkskip is a tuning parameter that depends on swband and kbl.
           rowskip = min( 5, kbl )
      ! [tp] rowskip is a tuning parameter.
           swband = 0
      ! [tp] swband is a tuning parameter. it is meaningful and effective
           ! if stdlib_dgesvj is used as a computational routine in the preconditioned
           ! jacobi svd algorithm stdlib_dgesvj.
           ! | *   *   * [x] [x] [x]|
           ! | *   *   * [x] [x] [x]|    row-cycling in the nblr-by-nblc [x] blocks.
           ! | *   *   * [x] [x] [x]|    row-cyclic pivoting inside each [x] block.
           ! |[x] [x] [x] *   *   * |
           ! |[x] [x] [x] *   *   * |
           ! |[x] [x] [x] *   *   * |
           loop_1993: do i = 1, nsweep
           ! .. go go go ...
              mxaapq = zero
              mxsinj = zero
              iswrot = 0
              notrot = 0
              pskipped = 0
              loop_2000: do ibr = 1, nblr
                 igl = ( ibr-1 )*kbl + 1
      ! ........................................................
       ! ... go to the off diagonal blocks
                 igl = ( ibr-1 )*kbl + 1
                 loop_2010: do jbc = 1, nblc
                    jgl = n1 + ( jbc-1 )*kbl + 1
              ! doing the block at ( ibr, jbc )
                    ijblsk = 0
                    loop_2100: do p = igl, min( igl+kbl-1, n1 )
                       aapp = sva( p )
                       if( aapp>zero ) then
                          pskipped = 0
                          loop_2200: do q = jgl, min( jgl+kbl-1, n )
                             aaqq = sva( q )
                             if( aaqq>zero ) then
                                aapp0 = aapp
           ! M X 2 Jacobi Svd 
              ! Safe Gram Matrix Computation 
                                if( aaqq>=one ) then
                                   if( aapp>=aaqq ) then
                                      rotok = ( small*aapp )<=aaqq
                                   else
                                      rotok = ( small*aaqq )<=aapp
                                   end if
                                   if( aapp<( big / aaqq ) ) then
                                      aapq = ( stdlib_${ri}$dot( m, a( 1, p ), 1, a( 1,q ), 1 )*d( p )&
                                                *d( q ) / aaqq )/ aapp
                                   else
                                      call stdlib_${ri}$copy( m, a( 1, p ), 1, work, 1 )
                                      call stdlib_${ri}$lascl( 'G', 0, 0, aapp, d( p ),m, 1, work, lda,&
                                                 ierr )
                                      aapq = stdlib_${ri}$dot( m, work, 1, a( 1, q ),1 )*d( q ) / &
                                                aaqq
                                   end if
                                else
                                   if( aapp>=aaqq ) then
                                      rotok = aapp<=( aaqq / small )
                                   else
                                      rotok = aaqq<=( aapp / small )
                                   end if
                                   if( aapp>( small / aaqq ) ) then
                                      aapq = ( stdlib_${ri}$dot( m, a( 1, p ), 1, a( 1,q ), 1 )*d( p )&
                                                *d( q ) / aaqq )/ aapp
                                   else
                                      call stdlib_${ri}$copy( m, a( 1, q ), 1, work, 1 )
                                      call stdlib_${ri}$lascl( 'G', 0, 0, aaqq, d( q ),m, 1, work, lda,&
                                                 ierr )
                                      aapq = stdlib_${ri}$dot( m, work, 1, a( 1, p ),1 )*d( p ) / &
                                                aapp
                                   end if
                                end if
                                mxaapq = max( mxaapq, abs( aapq ) )
              ! to rotate or not to rotate, that is the question ...
                                if( abs( aapq )>tol ) then
                                   notrot = 0
                 ! rotated  = rotated + 1
                                   pskipped = 0
                                   iswrot = iswrot + 1
                                   if( rotok ) then
                                      aqoap = aaqq / aapp
                                      apoaq = aapp / aaqq
                                      theta = -half*abs(aqoap-apoaq) / aapq
                                      if( aaqq>aapp0 )theta = -theta
                                      if( abs( theta )>bigtheta ) then
                                         t = half / theta
                                         fastr( 3 ) = t*d( p ) / d( q )
                                         fastr( 4 ) = -t*d( q ) / d( p )
                                         call stdlib_${ri}$rotm( m, a( 1, p ), 1,a( 1, q ), 1, fastr )
                                                   
                                         if( rsvec )call stdlib_${ri}$rotm( mvl,v( 1, p ), 1,v( 1, q ),&
                                                    1,fastr )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq ) )
                                         mxsinj = max( mxsinj, abs( t ) )
                                      else
                       ! Choose Correct Signum For Theta And Rotate
                                         thsign = -sign( one, aapq )
                                         if( aaqq>aapp0 )thsign = -thsign
                                         t = one / ( theta+thsign*sqrt( one+theta*theta ) )
                                                   
                                         cs = sqrt( one / ( one+t*t ) )
                                         sn = t*cs
                                         mxsinj = max( mxsinj, abs( sn ) )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq ) )
                                         apoaq = d( p ) / d( q )
                                         aqoap = d( q ) / d( p )
                                         if( d( p )>=one ) then
                                            if( d( q )>=one ) then
                                               fastr( 3 ) = t*apoaq
                                               fastr( 4 ) = -t*aqoap
                                               d( p ) = d( p )*cs
                                               d( q ) = d( q )*cs
                                               call stdlib_${ri}$rotm( m, a( 1, p ), 1,a( 1, q ), 1,&
                                                         fastr )
                                               if( rsvec )call stdlib_${ri}$rotm( mvl,v( 1, p ), 1, v( &
                                                         1, q ),1, fastr )
                                            else
                                               call stdlib_${ri}$axpy( m, -t*aqoap,a( 1, q ), 1,a( 1, &
                                                         p ), 1 )
                                               call stdlib_${ri}$axpy( m, cs*sn*apoaq,a( 1, p ), 1,a( &
                                                         1, q ), 1 )
                                               if( rsvec ) then
                                                  call stdlib_${ri}$axpy( mvl, -t*aqoap,v( 1, q ), 1,v(&
                                                             1, p ), 1 )
                                                  call stdlib_${ri}$axpy( mvl,cs*sn*apoaq,v( 1, p ), 1,&
                                                            v( 1, q ), 1 )
                                               end if
                                               d( p ) = d( p )*cs
                                               d( q ) = d( q ) / cs
                                            end if
                                         else
                                            if( d( q )>=one ) then
                                               call stdlib_${ri}$axpy( m, t*apoaq,a( 1, p ), 1,a( 1, q &
                                                         ), 1 )
                                               call stdlib_${ri}$axpy( m, -cs*sn*aqoap,a( 1, q ), 1,a( &
                                                         1, p ), 1 )
                                               if( rsvec ) then
                                                  call stdlib_${ri}$axpy( mvl, t*apoaq,v( 1, p ), 1,v( &
                                                            1, q ), 1 )
                                                  call stdlib_${ri}$axpy( mvl,-cs*sn*aqoap,v( 1, q ), &
                                                            1,v( 1, p ), 1 )
                                               end if
                                               d( p ) = d( p ) / cs
                                               d( q ) = d( q )*cs
                                            else
                                               if( d( p )>=d( q ) ) then
                                                  call stdlib_${ri}$axpy( m, -t*aqoap,a( 1, q ), 1,a( &
                                                            1, p ), 1 )
                                                  call stdlib_${ri}$axpy( m, cs*sn*apoaq,a( 1, p ), 1,&
                                                            a( 1, q ), 1 )
                                                  d( p ) = d( p )*cs
                                                  d( q ) = d( q ) / cs
                                                  if( rsvec ) then
                                                     call stdlib_${ri}$axpy( mvl,-t*aqoap,v( 1, q ), 1,&
                                                               v( 1, p ), 1 )
                                                     call stdlib_${ri}$axpy( mvl,cs*sn*apoaq,v( 1, p ),&
                                                                1,v( 1, q ), 1 )
                                                  end if
                                               else
                                                  call stdlib_${ri}$axpy( m, t*apoaq,a( 1, p ), 1,a( 1,&
                                                             q ), 1 )
                                                  call stdlib_${ri}$axpy( m,-cs*sn*aqoap,a( 1, q ), 1,&
                                                            a( 1, p ), 1 )
                                                  d( p ) = d( p ) / cs
                                                  d( q ) = d( q )*cs
                                                  if( rsvec ) then
                                                     call stdlib_${ri}$axpy( mvl,t*apoaq, v( 1, p ),1, &
                                                               v( 1, q ), 1 )
                                                     call stdlib_${ri}$axpy( mvl,-cs*sn*aqoap,v( 1, q )&
                                                               , 1,v( 1, p ), 1 )
                                                  end if
                                               end if
                                            end if
                                         end if
                                      end if
                                   else
                                      if( aapp>aaqq ) then
                                         call stdlib_${ri}$copy( m, a( 1, p ), 1, work,1 )
                                         call stdlib_${ri}$lascl( 'G', 0, 0, aapp, one,m, 1, work, lda,&
                                                    ierr )
                                         call stdlib_${ri}$lascl( 'G', 0, 0, aaqq, one,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         temp1 = -aapq*d( p ) / d( q )
                                         call stdlib_${ri}$axpy( m, temp1, work, 1,a( 1, q ), 1 )
                                                   
                                         call stdlib_${ri}$lascl( 'G', 0, 0, one, aaqq,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         sva( q ) = aaqq*sqrt( max( zero,one-aapq*aapq ) )
                                         mxsinj = max( mxsinj, sfmin )
                                      else
                                         call stdlib_${ri}$copy( m, a( 1, q ), 1, work,1 )
                                         call stdlib_${ri}$lascl( 'G', 0, 0, aaqq, one,m, 1, work, lda,&
                                                    ierr )
                                         call stdlib_${ri}$lascl( 'G', 0, 0, aapp, one,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         temp1 = -aapq*d( q ) / d( p )
                                         call stdlib_${ri}$axpy( m, temp1, work, 1,a( 1, p ), 1 )
                                                   
                                         call stdlib_${ri}$lascl( 'G', 0, 0, one, aapp,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         sva( p ) = aapp*sqrt( max( zero,one-aapq*aapq ) )
                                         mxsinj = max( mxsinj, sfmin )
                                      end if
                                   end if
                 ! end if rotok then ... else
                 ! in the case of cancellation in updating sva(q)
                 ! .. recompute sva(q)
                                   if( ( sva( q ) / aaqq )**2<=rooteps )then
                                      if( ( aaqq<rootbig ) .and.( aaqq>rootsfmin ) ) then
                                         sva( q ) = stdlib_${ri}$nrm2( m, a( 1, q ), 1 )*d( q )
                                      else
                                         t = zero
                                         aaqq = one
                                         call stdlib_${ri}$lassq( m, a( 1, q ), 1, t,aaqq )
                                         sva( q ) = t*sqrt( aaqq )*d( q )
                                      end if
                                   end if
                                   if( ( aapp / aapp0 )**2<=rooteps ) then
                                      if( ( aapp<rootbig ) .and.( aapp>rootsfmin ) ) then
                                         aapp = stdlib_${ri}$nrm2( m, a( 1, p ), 1 )*d( p )
                                      else
                                         t = zero
                                         aapp = one
                                         call stdlib_${ri}$lassq( m, a( 1, p ), 1, t,aapp )
                                         aapp = t*sqrt( aapp )*d( p )
                                      end if
                                      sva( p ) = aapp
                                   end if
                    ! end of ok rotation
                                else
                                   notrot = notrot + 1
                 ! skipped  = skipped  + 1
                                   pskipped = pskipped + 1
                                   ijblsk = ijblsk + 1
                                end if
                             else
                                notrot = notrot + 1
                                pskipped = pskipped + 1
                                ijblsk = ijblsk + 1
                             end if
            ! if ( notrot >= emptsw )  go to 2011
                             if( ( i<=swband ) .and. ( ijblsk>=blskip ) )then
                                sva( p ) = aapp
                                notrot = 0
                                go to 2011
                             end if
                             if( ( i<=swband ) .and.( pskipped>rowskip ) ) then
                                aapp = -aapp
                                notrot = 0
                                go to 2203
                             end if
                          end do loop_2200
              ! end of the q-loop
              2203 continue
                          sva( p ) = aapp
                       else
                          if( aapp==zero )notrot = notrot +min( jgl+kbl-1, n ) - jgl + 1
                          if( aapp<zero )notrot = 0
      ! **      if ( notrot >= emptsw )  go to 2011
                       end if
                    end do loop_2100
           ! end of the p-loop
                 end do loop_2010
           ! end of the jbc-loop
           2011 continue
      ! 2011 bailed out of the jbc-loop
                 do p = igl, min( igl+kbl-1, n )
                    sva( p ) = abs( sva( p ) )
                 end do
      ! **   if ( notrot >= emptsw ) go to 1994
              end do loop_2000
      ! 2000 :: end of the ibr-loop
           ! .. update sva(n)
              if( ( sva( n )<rootbig ) .and. ( sva( n )>rootsfmin ) )then
                 sva( n ) = stdlib_${ri}$nrm2( m, a( 1, n ), 1 )*d( n )
              else
                 t = zero
                 aapp = one
                 call stdlib_${ri}$lassq( m, a( 1, n ), 1, t, aapp )
                 sva( n ) = t*sqrt( aapp )*d( n )
              end if
           ! additional steering devices
              if( ( i<swband ) .and. ( ( mxaapq<=roottol ) .or.( iswrot<=n ) ) )swband = i
              if( ( i>swband+1 ) .and. ( mxaapq<real( n,KIND=${rk}$)*tol ) .and.( real( n,KIND=${rk}$)&
                        *mxaapq*mxsinj<tol ) ) then
                 go to 1994
              end if
              if( notrot>=emptsw )go to 1994
           end do loop_1993
           ! end i=1:nsweep loop
       ! #:) reaching this point means that the procedure has completed the given
           ! number of sweeps.
           info = nsweep - 1
           go to 1995
           1994 continue
       ! #:) reaching this point means that during the i-th sweep all pivots were
           ! below the given threshold, causing early exit.
           info = 0
       ! #:) info = 0 confirms successful iterations.
       1995 continue
           ! sort the vector d
           do p = 1, n - 1
              q = stdlib_i${ri}$amax( n-p+1, sva( p ), 1 ) + p - 1
              if( p/=q ) then
                 temp1 = sva( p )
                 sva( p ) = sva( q )
                 sva( q ) = temp1
                 temp1 = d( p )
                 d( p ) = d( q )
                 d( q ) = temp1
                 call stdlib_${ri}$swap( m, a( 1, p ), 1, a( 1, q ), 1 )
                 if( rsvec )call stdlib_${ri}$swap( mvl, v( 1, p ), 1, v( 1, q ), 1 )
              end if
           end do
           return
     end subroutine stdlib_${ri}$gsvj1

#:endif
#:endfor

     module pure subroutine stdlib_cgsvj1( jobv, m, n, n1, a, lda, d, sva, mv, v, ldv,eps, sfmin, tol, &
     !! CGSVJ1 is called from CGESVJ as a pre-processor and that is its main
     !! purpose. It applies Jacobi rotations in the same way as CGESVJ does, but
     !! it targets only particular pivots and it does not check convergence
     !! (stopping criterion). Few tuning parameters (marked by [TP]) are
     !! available for the implementer.
     !! Further Details
     !! ~~~~~~~~~~~~~~~
     !! CGSVJ1 applies few sweeps of Jacobi rotations in the column space of
     !! the input M-by-N matrix A. The pivot pairs are taken from the (1,2)
     !! off-diagonal block in the corresponding N-by-N Gram matrix A^T * A. The
     !! block-entries (tiles) of the (1,2) off-diagonal block are marked by the
     !! [x]'s in the following scheme:
     !! | *  *  * [x] [x] [x]|
     !! | *  *  * [x] [x] [x]|    Row-cycling in the nblr-by-nblc [x] blocks.
     !! | *  *  * [x] [x] [x]|    Row-cyclic pivoting inside each [x] block.
     !! |[x] [x] [x] *  *  * |
     !! |[x] [x] [x] *  *  * |
     !! |[x] [x] [x] *  *  * |
     !! In terms of the columns of A, the first N1 columns are rotated 'against'
     !! the remaining N-N1 columns, trying to increase the angle between the
     !! corresponding subspaces. The off-diagonal block is N1-by(N-N1) and it is
     !! tiled using quadratic tiles of side KBL. Here, KBL is a tuning parameter.
     !! The number of sweeps is given in NSWEEP and the orthogonality threshold
     !! is given in TOL.
               nsweep, work, lwork, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           real(sp), intent(in) :: eps, sfmin, tol
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, ldv, lwork, m, mv, n, n1, nsweep
           character, intent(in) :: jobv
           ! Array Arguments 
           complex(sp), intent(inout) :: a(lda,*), d(n), v(ldv,*)
           complex(sp), intent(out) :: work(lwork)
           real(sp), intent(inout) :: sva(n)
        ! =====================================================================
           
           ! Local Scalars 
           complex(sp) :: aapq, ompq
           real(sp) :: aapp, aapp0, aapq1, aaqq, apoaq, aqoap, big, bigtheta, cs, mxaapq, mxsinj, &
                     rootbig, rooteps, rootsfmin, roottol, small, sn, t, temp1, theta, thsign
           integer(ilp) :: blskip, emptsw, i, ibr, igl, ierr, ijblsk, iswrot, jbc, jgl, kbl, mvl, &
                     notrot, nblc, nblr, p, pskipped, q, rowskip, swband
           logical(lk) :: applv, rotok, rsvec
           ! Intrinsic Functions 
           ! From Lapack
           ! Executable Statements 
           ! test the input parameters.
           applv = stdlib_lsame( jobv, 'A' )
           rsvec = stdlib_lsame( jobv, 'V' )
           if( .not.( rsvec .or. applv .or. stdlib_lsame( jobv, 'N' ) ) ) then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( ( n<0 ) .or. ( n>m ) ) then
              info = -3
           else if( n1<0 ) then
              info = -4
           else if( lda<m ) then
              info = -6
           else if( ( rsvec.or.applv ) .and. ( mv<0 ) ) then
              info = -9
           else if( ( rsvec.and.( ldv<n ) ).or.( applv.and.( ldv<mv ) )  ) then
              info = -11
           else if( tol<=eps ) then
              info = -14
           else if( nsweep<0 ) then
              info = -15
           else if( lwork<m ) then
              info = -17
           else
              info = 0
           end if
           ! #:(
           if( info/=0 ) then
              call stdlib_xerbla( 'CGSVJ1', -info )
              return
           end if
           if( rsvec ) then
              mvl = n
           else if( applv ) then
              mvl = mv
           end if
           rsvec = rsvec .or. applv
           rooteps = sqrt( eps )
           rootsfmin = sqrt( sfmin )
           small = sfmin / eps
           big = one / sfmin
           rootbig = one / rootsfmin
           ! large = big / sqrt( real( m*n,KIND=sp) )
           bigtheta = one / rooteps
           roottol = sqrt( tol )
           ! Initialize The Right Singular Vector Matrix 
           ! rsvec = stdlib_lsame( jobv, 'y' )
           emptsw = n1*( n-n1 )
           notrot = 0
           ! .. row-cyclic pivot strategy with de rijk's pivoting ..
           kbl = min( 8, n )
           nblr = n1 / kbl
           if( ( nblr*kbl )/=n1 )nblr = nblr + 1
           ! .. the tiling is nblr-by-nblc [tiles]
           nblc = ( n-n1 ) / kbl
           if( ( nblc*kbl )/=( n-n1 ) )nblc = nblc + 1
           blskip = ( kbl**2 ) + 1
      ! [tp] blkskip is a tuning parameter that depends on swband and kbl.
           rowskip = min( 5, kbl )
      ! [tp] rowskip is a tuning parameter.
           swband = 0
      ! [tp] swband is a tuning parameter. it is meaningful and effective
           ! if stdlib_cgesvj is used as a computational routine in the preconditioned
           ! jacobi svd algorithm stdlib_cgejsv.
           ! | *   *   * [x] [x] [x]|
           ! | *   *   * [x] [x] [x]|    row-cycling in the nblr-by-nblc [x] blocks.
           ! | *   *   * [x] [x] [x]|    row-cyclic pivoting inside each [x] block.
           ! |[x] [x] [x] *   *   * |
           ! |[x] [x] [x] *   *   * |
           ! |[x] [x] [x] *   *   * |
           loop_1993: do i = 1, nsweep
           ! .. go go go ...
              mxaapq = zero
              mxsinj = zero
              iswrot = 0
              notrot = 0
              pskipped = 0
           ! each sweep is unrolled using kbl-by-kbl tiles over the pivot pairs
           ! 1 <= p < q <= n. this is the first step toward a blocked implementation
           ! of the rotations. new implementation, based on block transformations,
           ! is under development.
              loop_2000: do ibr = 1, nblr
                 igl = ( ibr-1 )*kbl + 1
       ! ... go to the off diagonal blocks
                 igl = ( ibr-1 )*kbl + 1
                  ! do 2010 jbc = ibr + 1, nbl
                 loop_2010: do jbc = 1, nblc
                    jgl = ( jbc-1 )*kbl + n1 + 1
              ! doing the block at ( ibr, jbc )
                    ijblsk = 0
                    loop_2100: do p = igl, min( igl+kbl-1, n1 )
                       aapp = sva( p )
                       if( aapp>zero ) then
                          pskipped = 0
                          loop_2200: do q = jgl, min( jgl+kbl-1, n )
                             aaqq = sva( q )
                             if( aaqq>zero ) then
                                aapp0 = aapp
           ! M X 2 Jacobi Svd 
              ! safe gram matrix computation
                                if( aaqq>=one ) then
                                   if( aapp>=aaqq ) then
                                      rotok = ( small*aapp )<=aaqq
                                   else
                                      rotok = ( small*aaqq )<=aapp
                                   end if
                                   if( aapp<( big / aaqq ) ) then
                                      aapq = ( stdlib_cdotc( m, a( 1, p ), 1,a( 1, q ), 1 ) / &
                                                aaqq ) / aapp
                                   else
                                      call stdlib_ccopy( m, a( 1, p ), 1,work, 1 )
                                      call stdlib_clascl( 'G', 0, 0, aapp,one, m, 1,work, lda, &
                                                ierr )
                                      aapq = stdlib_cdotc( m, work, 1,a( 1, q ), 1 ) / &
                                                aaqq
                                   end if
                                else
                                   if( aapp>=aaqq ) then
                                      rotok = aapp<=( aaqq / small )
                                   else
                                      rotok = aaqq<=( aapp / small )
                                   end if
                                   if( aapp>( small / aaqq ) ) then
                                      aapq = ( stdlib_cdotc( m, a( 1, p ), 1,a( 1, q ), 1 ) / max(&
                                                aaqq,aapp) )/ min(aaqq,aapp)
                                   else
                                      call stdlib_ccopy( m, a( 1, q ), 1,work, 1 )
                                      call stdlib_clascl( 'G', 0, 0, aaqq,one, m, 1,work, lda, &
                                                ierr )
                                      aapq = stdlib_cdotc( m, a( 1, p ), 1,work, 1 ) / &
                                                aapp
                                   end if
                                end if
                                 ! aapq = aapq * conjg(cwork(p))*cwork(q)
                                aapq1  = -abs(aapq)
                                mxaapq = max( mxaapq, -aapq1 )
              ! to rotate or not to rotate, that is the question ...
                                if( abs( aapq1 )>tol ) then
                                   ompq = aapq / abs(aapq)
                                   notrot = 0
      ! [rtd]      rotated  = rotated + 1
                                   pskipped = 0
                                   iswrot = iswrot + 1
                                   if( rotok ) then
                                      aqoap = aaqq / aapp
                                      apoaq = aapp / aaqq
                                      theta = -half*abs( aqoap-apoaq )/ aapq1
                                      if( aaqq>aapp0 )theta = -theta
                                      if( abs( theta )>bigtheta ) then
                                         t  = half / theta
                                         cs = one
                                         call stdlib_crot( m, a(1,p), 1, a(1,q), 1,cs, conjg(ompq)&
                                                   *t )
                                         if( rsvec ) then
                                             call stdlib_crot( mvl, v(1,p), 1,v(1,q), 1, cs, &
                                                       conjg(ompq)*t )
                                         end if
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq1 ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq1 ) )
                                         mxsinj = max( mxsinj, abs( t ) )
                                      else
                       ! Choose Correct Signum For Theta And Rotate
                                         thsign = -sign( one, aapq1 )
                                         if( aaqq>aapp0 )thsign = -thsign
                                         t = one / ( theta+thsign*sqrt( one+theta*theta ) )
                                                   
                                         cs = sqrt( one / ( one+t*t ) )
                                         sn = t*cs
                                         mxsinj = max( mxsinj, abs( sn ) )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq1 ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq1 ) )
                                         call stdlib_crot( m, a(1,p), 1, a(1,q), 1,cs, conjg(ompq)&
                                                   *sn )
                                         if( rsvec ) then
                                             call stdlib_crot( mvl, v(1,p), 1,v(1,q), 1, cs, &
                                                       conjg(ompq)*sn )
                                         end if
                                      end if
                                      d(p) = -d(q) * ompq
                                   else
                    ! .. have to use modified gram-schmidt like transformation
                                    if( aapp>aaqq ) then
                                         call stdlib_ccopy( m, a( 1, p ), 1,work, 1 )
                                         call stdlib_clascl( 'G', 0, 0, aapp, one,m, 1, work,lda,&
                                                   ierr )
                                         call stdlib_clascl( 'G', 0, 0, aaqq, one,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         call stdlib_caxpy( m, -aapq, work,1, a( 1, q ), 1 )
                                                   
                                         call stdlib_clascl( 'G', 0, 0, one, aaqq,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         sva( q ) = aaqq*sqrt( max( zero,one-aapq1*aapq1 ) )
                                                   
                                         mxsinj = max( mxsinj, sfmin )
                                    else
                                        call stdlib_ccopy( m, a( 1, q ), 1,work, 1 )
                                         call stdlib_clascl( 'G', 0, 0, aaqq, one,m, 1, work,lda,&
                                                   ierr )
                                         call stdlib_clascl( 'G', 0, 0, aapp, one,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         call stdlib_caxpy( m, -conjg(aapq),work, 1, a( 1, p ), 1 &
                                                   )
                                         call stdlib_clascl( 'G', 0, 0, one, aapp,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         sva( p ) = aapp*sqrt( max( zero,one-aapq1*aapq1 ) )
                                                   
                                         mxsinj = max( mxsinj, sfmin )
                                    end if
                                   end if
                 ! end if rotok then ... else
                 ! in the case of cancellation in updating sva(q), sva(p)
                 ! .. recompute sva(q), sva(p)
                                   if( ( sva( q ) / aaqq )**2<=rooteps )then
                                      if( ( aaqq<rootbig ) .and.( aaqq>rootsfmin ) ) then
                                         sva( q ) = stdlib_scnrm2( m, a( 1, q ), 1)
                                       else
                                         t = zero
                                         aaqq = one
                                         call stdlib_classq( m, a( 1, q ), 1, t,aaqq )
                                         sva( q ) = t*sqrt( aaqq )
                                      end if
                                   end if
                                   if( ( aapp / aapp0 )**2<=rooteps ) then
                                      if( ( aapp<rootbig ) .and.( aapp>rootsfmin ) ) then
                                         aapp = stdlib_scnrm2( m, a( 1, p ), 1 )
                                      else
                                         t = zero
                                         aapp = one
                                         call stdlib_classq( m, a( 1, p ), 1, t,aapp )
                                         aapp = t*sqrt( aapp )
                                      end if
                                      sva( p ) = aapp
                                   end if
                    ! end of ok rotation
                                else
                                   notrot = notrot + 1
      ! [rtd]      skipped  = skipped  + 1
                                   pskipped = pskipped + 1
                                   ijblsk = ijblsk + 1
                                end if
                             else
                                notrot = notrot + 1
                                pskipped = pskipped + 1
                                ijblsk = ijblsk + 1
                             end if
                             if( ( i<=swband ) .and. ( ijblsk>=blskip ) )then
                                sva( p ) = aapp
                                notrot = 0
                                go to 2011
                             end if
                             if( ( i<=swband ) .and.( pskipped>rowskip ) ) then
                                aapp = -aapp
                                notrot = 0
                                go to 2203
                             end if
                          end do loop_2200
              ! end of the q-loop
              2203 continue
                          sva( p ) = aapp
                       else
                          if( aapp==zero )notrot = notrot +min( jgl+kbl-1, n ) - jgl + 1
                          if( aapp<zero )notrot = 0
                       end if
                    end do loop_2100
           ! end of the p-loop
                 end do loop_2010
           ! end of the jbc-loop
           2011 continue
      ! 2011 bailed out of the jbc-loop
                 do p = igl, min( igl+kbl-1, n )
                    sva( p ) = abs( sva( p ) )
                 end do
      ! **
              end do loop_2000
      ! 2000 :: end of the ibr-loop
           ! .. update sva(n)
              if( ( sva( n )<rootbig ) .and. ( sva( n )>rootsfmin ) )then
                 sva( n ) = stdlib_scnrm2( m, a( 1, n ), 1 )
              else
                 t = zero
                 aapp = one
                 call stdlib_classq( m, a( 1, n ), 1, t, aapp )
                 sva( n ) = t*sqrt( aapp )
              end if
           ! additional steering devices
              if( ( i<swband ) .and. ( ( mxaapq<=roottol ) .or.( iswrot<=n ) ) )swband = i
              if( ( i>swband+1 ) .and. ( mxaapq<sqrt( real( n,KIND=sp) )*tol ) .and. ( real( n,&
                        KIND=sp)*mxaapq*mxsinj<tol ) ) then
                 go to 1994
              end if
              if( notrot>=emptsw )go to 1994
           end do loop_1993
           ! end i=1:nsweep loop
       ! #:( reaching this point means that the procedure has not converged.
           info = nsweep - 1
           go to 1995
           1994 continue
       ! #:) reaching this point means numerical convergence after the i-th
           ! sweep.
           info = 0
       ! #:) info = 0 confirms successful iterations.
       1995 continue
           ! sort the vector sva() of column norms.
           do p = 1, n - 1
              q = stdlib_isamax( n-p+1, sva( p ), 1 ) + p - 1
              if( p/=q ) then
                 temp1 = sva( p )
                 sva( p ) = sva( q )
                 sva( q ) = temp1
                 aapq = d( p )
                 d( p ) = d( q )
                 d( q ) = aapq
                 call stdlib_cswap( m, a( 1, p ), 1, a( 1, q ), 1 )
                 if( rsvec )call stdlib_cswap( mvl, v( 1, p ), 1, v( 1, q ), 1 )
              end if
           end do
           return
     end subroutine stdlib_cgsvj1

     module pure subroutine stdlib_zgsvj1( jobv, m, n, n1, a, lda, d, sva, mv, v, ldv,eps, sfmin, tol, &
     !! ZGSVJ1 is called from ZGESVJ as a pre-processor and that is its main
     !! purpose. It applies Jacobi rotations in the same way as ZGESVJ does, but
     !! it targets only particular pivots and it does not check convergence
     !! (stopping criterion). Few tuning parameters (marked by [TP]) are
     !! available for the implementer.
     !! Further Details
     !! ~~~~~~~~~~~~~~~
     !! ZGSVJ1 applies few sweeps of Jacobi rotations in the column space of
     !! the input M-by-N matrix A. The pivot pairs are taken from the (1,2)
     !! off-diagonal block in the corresponding N-by-N Gram matrix A^T * A. The
     !! block-entries (tiles) of the (1,2) off-diagonal block are marked by the
     !! [x]'s in the following scheme:
     !! | *  *  * [x] [x] [x]|
     !! | *  *  * [x] [x] [x]|    Row-cycling in the nblr-by-nblc [x] blocks.
     !! | *  *  * [x] [x] [x]|    Row-cyclic pivoting inside each [x] block.
     !! |[x] [x] [x] *  *  * |
     !! |[x] [x] [x] *  *  * |
     !! |[x] [x] [x] *  *  * |
     !! In terms of the columns of A, the first N1 columns are rotated 'against'
     !! the remaining N-N1 columns, trying to increase the angle between the
     !! corresponding subspaces. The off-diagonal block is N1-by(N-N1) and it is
     !! tiled using quadratic tiles of side KBL. Here, KBL is a tuning parameter.
     !! The number of sweeps is given in NSWEEP and the orthogonality threshold
     !! is given in TOL.
               nsweep, work, lwork, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           real(dp), intent(in) :: eps, sfmin, tol
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, ldv, lwork, m, mv, n, n1, nsweep
           character, intent(in) :: jobv
           ! Array Arguments 
           complex(dp), intent(inout) :: a(lda,*), d(n), v(ldv,*)
           complex(dp), intent(out) :: work(lwork)
           real(dp), intent(inout) :: sva(n)
        ! =====================================================================
           
           ! Local Scalars 
           complex(dp) :: aapq, ompq
           real(dp) :: aapp, aapp0, aapq1, aaqq, apoaq, aqoap, big, bigtheta, cs, mxaapq, mxsinj, &
                     rootbig, rooteps, rootsfmin, roottol, small, sn, t, temp1, theta, thsign
           integer(ilp) :: blskip, emptsw, i, ibr, igl, ierr, ijblsk, iswrot, jbc, jgl, kbl, mvl, &
                     notrot, nblc, nblr, p, pskipped, q, rowskip, swband
           logical(lk) :: applv, rotok, rsvec
           ! Intrinsic Functions 
           ! From Lapack
           ! Executable Statements 
           ! test the input parameters.
           applv = stdlib_lsame( jobv, 'A' )
           rsvec = stdlib_lsame( jobv, 'V' )
           if( .not.( rsvec .or. applv .or. stdlib_lsame( jobv, 'N' ) ) ) then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( ( n<0 ) .or. ( n>m ) ) then
              info = -3
           else if( n1<0 ) then
              info = -4
           else if( lda<m ) then
              info = -6
           else if( ( rsvec.or.applv ) .and. ( mv<0 ) ) then
              info = -9
           else if( ( rsvec.and.( ldv<n ) ).or.( applv.and.( ldv<mv ) )  ) then
              info = -11
           else if( tol<=eps ) then
              info = -14
           else if( nsweep<0 ) then
              info = -15
           else if( lwork<m ) then
              info = -17
           else
              info = 0
           end if
           ! #:(
           if( info/=0 ) then
              call stdlib_xerbla( 'ZGSVJ1', -info )
              return
           end if
           if( rsvec ) then
              mvl = n
           else if( applv ) then
              mvl = mv
           end if
           rsvec = rsvec .or. applv
           rooteps = sqrt( eps )
           rootsfmin = sqrt( sfmin )
           small = sfmin / eps
           big = one / sfmin
           rootbig = one / rootsfmin
           ! large = big / sqrt( real( m*n,KIND=dp) )
           bigtheta = one / rooteps
           roottol = sqrt( tol )
           ! Initialize The Right Singular Vector Matrix 
           ! rsvec = stdlib_lsame( jobv, 'y' )
           emptsw = n1*( n-n1 )
           notrot = 0
           ! .. row-cyclic pivot strategy with de rijk's pivoting ..
           kbl = min( 8, n )
           nblr = n1 / kbl
           if( ( nblr*kbl )/=n1 )nblr = nblr + 1
           ! .. the tiling is nblr-by-nblc [tiles]
           nblc = ( n-n1 ) / kbl
           if( ( nblc*kbl )/=( n-n1 ) )nblc = nblc + 1
           blskip = ( kbl**2 ) + 1
      ! [tp] blkskip is a tuning parameter that depends on swband and kbl.
           rowskip = min( 5, kbl )
      ! [tp] rowskip is a tuning parameter.
           swband = 0
      ! [tp] swband is a tuning parameter. it is meaningful and effective
           ! if stdlib_zgesvj is used as a computational routine in the preconditioned
           ! jacobi svd algorithm stdlib_zgejsv.
           ! | *   *   * [x] [x] [x]|
           ! | *   *   * [x] [x] [x]|    row-cycling in the nblr-by-nblc [x] blocks.
           ! | *   *   * [x] [x] [x]|    row-cyclic pivoting inside each [x] block.
           ! |[x] [x] [x] *   *   * |
           ! |[x] [x] [x] *   *   * |
           ! |[x] [x] [x] *   *   * |
           loop_1993: do i = 1, nsweep
           ! .. go go go ...
              mxaapq = zero
              mxsinj = zero
              iswrot = 0
              notrot = 0
              pskipped = 0
           ! each sweep is unrolled using kbl-by-kbl tiles over the pivot pairs
           ! 1 <= p < q <= n. this is the first step toward a blocked implementation
           ! of the rotations. new implementation, based on block transformations,
           ! is under development.
              loop_2000: do ibr = 1, nblr
                 igl = ( ibr-1 )*kbl + 1
       ! ... go to the off diagonal blocks
                 igl = ( ibr-1 )*kbl + 1
                  ! do 2010 jbc = ibr + 1, nbl
                 loop_2010: do jbc = 1, nblc
                    jgl = ( jbc-1 )*kbl + n1 + 1
              ! doing the block at ( ibr, jbc )
                    ijblsk = 0
                    loop_2100: do p = igl, min( igl+kbl-1, n1 )
                       aapp = sva( p )
                       if( aapp>zero ) then
                          pskipped = 0
                          loop_2200: do q = jgl, min( jgl+kbl-1, n )
                             aaqq = sva( q )
                             if( aaqq>zero ) then
                                aapp0 = aapp
           ! M X 2 Jacobi Svd 
              ! safe gram matrix computation
                                if( aaqq>=one ) then
                                   if( aapp>=aaqq ) then
                                      rotok = ( small*aapp )<=aaqq
                                   else
                                      rotok = ( small*aaqq )<=aapp
                                   end if
                                   if( aapp<( big / aaqq ) ) then
                                      aapq = ( stdlib_zdotc( m, a( 1, p ), 1,a( 1, q ), 1 ) / &
                                                aaqq ) / aapp
                                   else
                                      call stdlib_zcopy( m, a( 1, p ), 1,work, 1 )
                                      call stdlib_zlascl( 'G', 0, 0, aapp,one, m, 1,work, lda, &
                                                ierr )
                                      aapq = stdlib_zdotc( m, work, 1,a( 1, q ), 1 ) / &
                                                aaqq
                                   end if
                                else
                                   if( aapp>=aaqq ) then
                                      rotok = aapp<=( aaqq / small )
                                   else
                                      rotok = aaqq<=( aapp / small )
                                   end if
                                   if( aapp>( small / aaqq ) ) then
                                      aapq = ( stdlib_zdotc( m, a( 1, p ), 1,a( 1, q ), 1 ) / max(&
                                                aaqq,aapp) )/ min(aaqq,aapp)
                                   else
                                      call stdlib_zcopy( m, a( 1, q ), 1,work, 1 )
                                      call stdlib_zlascl( 'G', 0, 0, aaqq,one, m, 1,work, lda, &
                                                ierr )
                                      aapq = stdlib_zdotc( m, a( 1, p ), 1,work, 1 ) / &
                                                aapp
                                   end if
                                end if
                                 ! aapq = aapq * conjg(cwork(p))*cwork(q)
                                aapq1  = -abs(aapq)
                                mxaapq = max( mxaapq, -aapq1 )
              ! to rotate or not to rotate, that is the question ...
                                if( abs( aapq1 )>tol ) then
                                   ompq = aapq / abs(aapq)
                                   notrot = 0
      ! [rtd]      rotated  = rotated + 1
                                   pskipped = 0
                                   iswrot = iswrot + 1
                                   if( rotok ) then
                                      aqoap = aaqq / aapp
                                      apoaq = aapp / aaqq
                                      theta = -half*abs( aqoap-apoaq )/ aapq1
                                      if( aaqq>aapp0 )theta = -theta
                                      if( abs( theta )>bigtheta ) then
                                         t  = half / theta
                                         cs = one
                                         call stdlib_zrot( m, a(1,p), 1, a(1,q), 1,cs, conjg(ompq)&
                                                   *t )
                                         if( rsvec ) then
                                             call stdlib_zrot( mvl, v(1,p), 1,v(1,q), 1, cs, &
                                                       conjg(ompq)*t )
                                         end if
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq1 ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq1 ) )
                                         mxsinj = max( mxsinj, abs( t ) )
                                      else
                       ! Choose Correct Signum For Theta And Rotate
                                         thsign = -sign( one, aapq1 )
                                         if( aaqq>aapp0 )thsign = -thsign
                                         t = one / ( theta+thsign*sqrt( one+theta*theta ) )
                                                   
                                         cs = sqrt( one / ( one+t*t ) )
                                         sn = t*cs
                                         mxsinj = max( mxsinj, abs( sn ) )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq1 ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq1 ) )
                                         call stdlib_zrot( m, a(1,p), 1, a(1,q), 1,cs, conjg(ompq)&
                                                   *sn )
                                         if( rsvec ) then
                                             call stdlib_zrot( mvl, v(1,p), 1,v(1,q), 1, cs, &
                                                       conjg(ompq)*sn )
                                         end if
                                      end if
                                      d(p) = -d(q) * ompq
                                   else
                    ! .. have to use modified gram-schmidt like transformation
                                    if( aapp>aaqq ) then
                                         call stdlib_zcopy( m, a( 1, p ), 1,work, 1 )
                                         call stdlib_zlascl( 'G', 0, 0, aapp, one,m, 1, work,lda,&
                                                   ierr )
                                         call stdlib_zlascl( 'G', 0, 0, aaqq, one,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         call stdlib_zaxpy( m, -aapq, work,1, a( 1, q ), 1 )
                                                   
                                         call stdlib_zlascl( 'G', 0, 0, one, aaqq,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         sva( q ) = aaqq*sqrt( max( zero,one-aapq1*aapq1 ) )
                                                   
                                         mxsinj = max( mxsinj, sfmin )
                                    else
                                        call stdlib_zcopy( m, a( 1, q ), 1,work, 1 )
                                         call stdlib_zlascl( 'G', 0, 0, aaqq, one,m, 1, work,lda,&
                                                   ierr )
                                         call stdlib_zlascl( 'G', 0, 0, aapp, one,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         call stdlib_zaxpy( m, -conjg(aapq),work, 1, a( 1, p ), 1 &
                                                   )
                                         call stdlib_zlascl( 'G', 0, 0, one, aapp,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         sva( p ) = aapp*sqrt( max( zero,one-aapq1*aapq1 ) )
                                                   
                                         mxsinj = max( mxsinj, sfmin )
                                    end if
                                   end if
                 ! end if rotok then ... else
                 ! in the case of cancellation in updating sva(q), sva(p)
                 ! .. recompute sva(q), sva(p)
                                   if( ( sva( q ) / aaqq )**2<=rooteps )then
                                      if( ( aaqq<rootbig ) .and.( aaqq>rootsfmin ) ) then
                                         sva( q ) = stdlib_dznrm2( m, a( 1, q ), 1)
                                       else
                                         t = zero
                                         aaqq = one
                                         call stdlib_zlassq( m, a( 1, q ), 1, t,aaqq )
                                         sva( q ) = t*sqrt( aaqq )
                                      end if
                                   end if
                                   if( ( aapp / aapp0 )**2<=rooteps ) then
                                      if( ( aapp<rootbig ) .and.( aapp>rootsfmin ) ) then
                                         aapp = stdlib_dznrm2( m, a( 1, p ), 1 )
                                      else
                                         t = zero
                                         aapp = one
                                         call stdlib_zlassq( m, a( 1, p ), 1, t,aapp )
                                         aapp = t*sqrt( aapp )
                                      end if
                                      sva( p ) = aapp
                                   end if
                    ! end of ok rotation
                                else
                                   notrot = notrot + 1
      ! [rtd]      skipped  = skipped  + 1
                                   pskipped = pskipped + 1
                                   ijblsk = ijblsk + 1
                                end if
                             else
                                notrot = notrot + 1
                                pskipped = pskipped + 1
                                ijblsk = ijblsk + 1
                             end if
                             if( ( i<=swband ) .and. ( ijblsk>=blskip ) )then
                                sva( p ) = aapp
                                notrot = 0
                                go to 2011
                             end if
                             if( ( i<=swband ) .and.( pskipped>rowskip ) ) then
                                aapp = -aapp
                                notrot = 0
                                go to 2203
                             end if
                          end do loop_2200
              ! end of the q-loop
              2203 continue
                          sva( p ) = aapp
                       else
                          if( aapp==zero )notrot = notrot +min( jgl+kbl-1, n ) - jgl + 1
                          if( aapp<zero )notrot = 0
                       end if
                    end do loop_2100
           ! end of the p-loop
                 end do loop_2010
           ! end of the jbc-loop
           2011 continue
      ! 2011 bailed out of the jbc-loop
                 do p = igl, min( igl+kbl-1, n )
                    sva( p ) = abs( sva( p ) )
                 end do
      ! **
              end do loop_2000
      ! 2000 :: end of the ibr-loop
           ! .. update sva(n)
              if( ( sva( n )<rootbig ) .and. ( sva( n )>rootsfmin ) )then
                 sva( n ) = stdlib_dznrm2( m, a( 1, n ), 1 )
              else
                 t = zero
                 aapp = one
                 call stdlib_zlassq( m, a( 1, n ), 1, t, aapp )
                 sva( n ) = t*sqrt( aapp )
              end if
           ! additional steering devices
              if( ( i<swband ) .and. ( ( mxaapq<=roottol ) .or.( iswrot<=n ) ) )swband = i
              if( ( i>swband+1 ) .and. ( mxaapq<sqrt( real( n,KIND=dp) )*tol ) .and. ( real( n,&
                        KIND=dp)*mxaapq*mxsinj<tol ) ) then
                 go to 1994
              end if
              if( notrot>=emptsw )go to 1994
           end do loop_1993
           ! end i=1:nsweep loop
       ! #:( reaching this point means that the procedure has not converged.
           info = nsweep - 1
           go to 1995
           1994 continue
       ! #:) reaching this point means numerical convergence after the i-th
           ! sweep.
           info = 0
       ! #:) info = 0 confirms successful iterations.
       1995 continue
           ! sort the vector sva() of column norms.
           do p = 1, n - 1
              q = stdlib_idamax( n-p+1, sva( p ), 1 ) + p - 1
              if( p/=q ) then
                 temp1 = sva( p )
                 sva( p ) = sva( q )
                 sva( q ) = temp1
                 aapq = d( p )
                 d( p ) = d( q )
                 d( q ) = aapq
                 call stdlib_zswap( m, a( 1, p ), 1, a( 1, q ), 1 )
                 if( rsvec )call stdlib_zswap( mvl, v( 1, p ), 1, v( 1, q ), 1 )
              end if
           end do
           return
     end subroutine stdlib_zgsvj1

#:for ck,ct,ci in CMPLX_KINDS_TYPES
#:if not ck in ["sp","dp"]
     module pure subroutine stdlib_${ci}$gsvj1( jobv, m, n, n1, a, lda, d, sva, mv, v, ldv,eps, sfmin, tol, &
     !! ZGSVJ1: is called from ZGESVJ as a pre-processor and that is its main
     !! purpose. It applies Jacobi rotations in the same way as ZGESVJ does, but
     !! it targets only particular pivots and it does not check convergence
     !! (stopping criterion). Few tuning parameters (marked by [TP]) are
     !! available for the implementer.
     !! Further Details
     !! ~~~~~~~~~~~~~~~
     !! ZGSVJ1 applies few sweeps of Jacobi rotations in the column space of
     !! the input M-by-N matrix A. The pivot pairs are taken from the (1,2)
     !! off-diagonal block in the corresponding N-by-N Gram matrix A^T * A. The
     !! block-entries (tiles) of the (1,2) off-diagonal block are marked by the
     !! [x]'s in the following scheme:
     !! | *  *  * [x] [x] [x]|
     !! | *  *  * [x] [x] [x]|    Row-cycling in the nblr-by-nblc [x] blocks.
     !! | *  *  * [x] [x] [x]|    Row-cyclic pivoting inside each [x] block.
     !! |[x] [x] [x] *  *  * |
     !! |[x] [x] [x] *  *  * |
     !! |[x] [x] [x] *  *  * |
     !! In terms of the columns of A, the first N1 columns are rotated 'against'
     !! the remaining N-N1 columns, trying to increase the angle between the
     !! corresponding subspaces. The off-diagonal block is N1-by(N-N1) and it is
     !! tiled using quadratic tiles of side KBL. Here, KBL is a tuning parameter.
     !! The number of sweeps is given in NSWEEP and the orthogonality threshold
     !! is given in TOL.
               nsweep, work, lwork, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${ck}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           real(${ck}$), intent(in) :: eps, sfmin, tol
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, ldv, lwork, m, mv, n, n1, nsweep
           character, intent(in) :: jobv
           ! Array Arguments 
           complex(${ck}$), intent(inout) :: a(lda,*), d(n), v(ldv,*)
           complex(${ck}$), intent(out) :: work(lwork)
           real(${ck}$), intent(inout) :: sva(n)
        ! =====================================================================
           
           ! Local Scalars 
           complex(${ck}$) :: aapq, ompq
           real(${ck}$) :: aapp, aapp0, aapq1, aaqq, apoaq, aqoap, big, bigtheta, cs, mxaapq, mxsinj, &
                     rootbig, rooteps, rootsfmin, roottol, small, sn, t, temp1, theta, thsign
           integer(ilp) :: blskip, emptsw, i, ibr, igl, ierr, ijblsk, iswrot, jbc, jgl, kbl, mvl, &
                     notrot, nblc, nblr, p, pskipped, q, rowskip, swband
           logical(lk) :: applv, rotok, rsvec
           ! Intrinsic Functions 
           ! From Lapack
           ! Executable Statements 
           ! test the input parameters.
           applv = stdlib_lsame( jobv, 'A' )
           rsvec = stdlib_lsame( jobv, 'V' )
           if( .not.( rsvec .or. applv .or. stdlib_lsame( jobv, 'N' ) ) ) then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( ( n<0 ) .or. ( n>m ) ) then
              info = -3
           else if( n1<0 ) then
              info = -4
           else if( lda<m ) then
              info = -6
           else if( ( rsvec.or.applv ) .and. ( mv<0 ) ) then
              info = -9
           else if( ( rsvec.and.( ldv<n ) ).or.( applv.and.( ldv<mv ) )  ) then
              info = -11
           else if( tol<=eps ) then
              info = -14
           else if( nsweep<0 ) then
              info = -15
           else if( lwork<m ) then
              info = -17
           else
              info = 0
           end if
           ! #:(
           if( info/=0 ) then
              call stdlib_xerbla( 'ZGSVJ1', -info )
              return
           end if
           if( rsvec ) then
              mvl = n
           else if( applv ) then
              mvl = mv
           end if
           rsvec = rsvec .or. applv
           rooteps = sqrt( eps )
           rootsfmin = sqrt( sfmin )
           small = sfmin / eps
           big = one / sfmin
           rootbig = one / rootsfmin
           ! large = big / sqrt( real( m*n,KIND=${ck}$) )
           bigtheta = one / rooteps
           roottol = sqrt( tol )
           ! Initialize The Right Singular Vector Matrix 
           ! rsvec = stdlib_lsame( jobv, 'y' )
           emptsw = n1*( n-n1 )
           notrot = 0
           ! .. row-cyclic pivot strategy with de rijk's pivoting ..
           kbl = min( 8, n )
           nblr = n1 / kbl
           if( ( nblr*kbl )/=n1 )nblr = nblr + 1
           ! .. the tiling is nblr-by-nblc [tiles]
           nblc = ( n-n1 ) / kbl
           if( ( nblc*kbl )/=( n-n1 ) )nblc = nblc + 1
           blskip = ( kbl**2 ) + 1
      ! [tp] blkskip is a tuning parameter that depends on swband and kbl.
           rowskip = min( 5, kbl )
      ! [tp] rowskip is a tuning parameter.
           swband = 0
      ! [tp] swband is a tuning parameter. it is meaningful and effective
           ! if stdlib_${ci}$gesvj is used as a computational routine in the preconditioned
           ! jacobi svd algorithm stdlib_${ci}$gejsv.
           ! | *   *   * [x] [x] [x]|
           ! | *   *   * [x] [x] [x]|    row-cycling in the nblr-by-nblc [x] blocks.
           ! | *   *   * [x] [x] [x]|    row-cyclic pivoting inside each [x] block.
           ! |[x] [x] [x] *   *   * |
           ! |[x] [x] [x] *   *   * |
           ! |[x] [x] [x] *   *   * |
           loop_1993: do i = 1, nsweep
           ! .. go go go ...
              mxaapq = zero
              mxsinj = zero
              iswrot = 0
              notrot = 0
              pskipped = 0
           ! each sweep is unrolled using kbl-by-kbl tiles over the pivot pairs
           ! 1 <= p < q <= n. this is the first step toward a blocked implementation
           ! of the rotations. new implementation, based on block transformations,
           ! is under development.
              loop_2000: do ibr = 1, nblr
                 igl = ( ibr-1 )*kbl + 1
       ! ... go to the off diagonal blocks
                 igl = ( ibr-1 )*kbl + 1
                  ! do 2010 jbc = ibr + 1, nbl
                 loop_2010: do jbc = 1, nblc
                    jgl = ( jbc-1 )*kbl + n1 + 1
              ! doing the block at ( ibr, jbc )
                    ijblsk = 0
                    loop_2100: do p = igl, min( igl+kbl-1, n1 )
                       aapp = sva( p )
                       if( aapp>zero ) then
                          pskipped = 0
                          loop_2200: do q = jgl, min( jgl+kbl-1, n )
                             aaqq = sva( q )
                             if( aaqq>zero ) then
                                aapp0 = aapp
           ! M X 2 Jacobi Svd 
              ! safe gram matrix computation
                                if( aaqq>=one ) then
                                   if( aapp>=aaqq ) then
                                      rotok = ( small*aapp )<=aaqq
                                   else
                                      rotok = ( small*aaqq )<=aapp
                                   end if
                                   if( aapp<( big / aaqq ) ) then
                                      aapq = ( stdlib_${ci}$dotc( m, a( 1, p ), 1,a( 1, q ), 1 ) / &
                                                aaqq ) / aapp
                                   else
                                      call stdlib_${ci}$copy( m, a( 1, p ), 1,work, 1 )
                                      call stdlib_${ci}$lascl( 'G', 0, 0, aapp,one, m, 1,work, lda, &
                                                ierr )
                                      aapq = stdlib_${ci}$dotc( m, work, 1,a( 1, q ), 1 ) / &
                                                aaqq
                                   end if
                                else
                                   if( aapp>=aaqq ) then
                                      rotok = aapp<=( aaqq / small )
                                   else
                                      rotok = aaqq<=( aapp / small )
                                   end if
                                   if( aapp>( small / aaqq ) ) then
                                      aapq = ( stdlib_${ci}$dotc( m, a( 1, p ), 1,a( 1, q ), 1 ) / max(&
                                                aaqq,aapp) )/ min(aaqq,aapp)
                                   else
                                      call stdlib_${ci}$copy( m, a( 1, q ), 1,work, 1 )
                                      call stdlib_${ci}$lascl( 'G', 0, 0, aaqq,one, m, 1,work, lda, &
                                                ierr )
                                      aapq = stdlib_${ci}$dotc( m, a( 1, p ), 1,work, 1 ) / &
                                                aapp
                                   end if
                                end if
                                 ! aapq = aapq * conjg(cwork(p))*cwork(q)
                                aapq1  = -abs(aapq)
                                mxaapq = max( mxaapq, -aapq1 )
              ! to rotate or not to rotate, that is the question ...
                                if( abs( aapq1 )>tol ) then
                                   ompq = aapq / abs(aapq)
                                   notrot = 0
      ! [rtd]      rotated  = rotated + 1
                                   pskipped = 0
                                   iswrot = iswrot + 1
                                   if( rotok ) then
                                      aqoap = aaqq / aapp
                                      apoaq = aapp / aaqq
                                      theta = -half*abs( aqoap-apoaq )/ aapq1
                                      if( aaqq>aapp0 )theta = -theta
                                      if( abs( theta )>bigtheta ) then
                                         t  = half / theta
                                         cs = one
                                         call stdlib_${ci}$rot( m, a(1,p), 1, a(1,q), 1,cs, conjg(ompq)&
                                                   *t )
                                         if( rsvec ) then
                                             call stdlib_${ci}$rot( mvl, v(1,p), 1,v(1,q), 1, cs, &
                                                       conjg(ompq)*t )
                                         end if
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq1 ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq1 ) )
                                         mxsinj = max( mxsinj, abs( t ) )
                                      else
                       ! Choose Correct Signum For Theta And Rotate
                                         thsign = -sign( one, aapq1 )
                                         if( aaqq>aapp0 )thsign = -thsign
                                         t = one / ( theta+thsign*sqrt( one+theta*theta ) )
                                                   
                                         cs = sqrt( one / ( one+t*t ) )
                                         sn = t*cs
                                         mxsinj = max( mxsinj, abs( sn ) )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq1 ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq1 ) )
                                         call stdlib_${ci}$rot( m, a(1,p), 1, a(1,q), 1,cs, conjg(ompq)&
                                                   *sn )
                                         if( rsvec ) then
                                             call stdlib_${ci}$rot( mvl, v(1,p), 1,v(1,q), 1, cs, &
                                                       conjg(ompq)*sn )
                                         end if
                                      end if
                                      d(p) = -d(q) * ompq
                                   else
                    ! .. have to use modified gram-schmidt like transformation
                                    if( aapp>aaqq ) then
                                         call stdlib_${ci}$copy( m, a( 1, p ), 1,work, 1 )
                                         call stdlib_${ci}$lascl( 'G', 0, 0, aapp, one,m, 1, work,lda,&
                                                   ierr )
                                         call stdlib_${ci}$lascl( 'G', 0, 0, aaqq, one,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         call stdlib_${ci}$axpy( m, -aapq, work,1, a( 1, q ), 1 )
                                                   
                                         call stdlib_${ci}$lascl( 'G', 0, 0, one, aaqq,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         sva( q ) = aaqq*sqrt( max( zero,one-aapq1*aapq1 ) )
                                                   
                                         mxsinj = max( mxsinj, sfmin )
                                    else
                                        call stdlib_${ci}$copy( m, a( 1, q ), 1,work, 1 )
                                         call stdlib_${ci}$lascl( 'G', 0, 0, aaqq, one,m, 1, work,lda,&
                                                   ierr )
                                         call stdlib_${ci}$lascl( 'G', 0, 0, aapp, one,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         call stdlib_${ci}$axpy( m, -conjg(aapq),work, 1, a( 1, p ), 1 &
                                                   )
                                         call stdlib_${ci}$lascl( 'G', 0, 0, one, aapp,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         sva( p ) = aapp*sqrt( max( zero,one-aapq1*aapq1 ) )
                                                   
                                         mxsinj = max( mxsinj, sfmin )
                                    end if
                                   end if
                 ! end if rotok then ... else
                 ! in the case of cancellation in updating sva(q), sva(p)
                 ! .. recompute sva(q), sva(p)
                                   if( ( sva( q ) / aaqq )**2<=rooteps )then
                                      if( ( aaqq<rootbig ) .and.( aaqq>rootsfmin ) ) then
                                         sva( q ) = stdlib_${c2ri(ci)}$znrm2( m, a( 1, q ), 1)
                                       else
                                         t = zero
                                         aaqq = one
                                         call stdlib_${ci}$lassq( m, a( 1, q ), 1, t,aaqq )
                                         sva( q ) = t*sqrt( aaqq )
                                      end if
                                   end if
                                   if( ( aapp / aapp0 )**2<=rooteps ) then
                                      if( ( aapp<rootbig ) .and.( aapp>rootsfmin ) ) then
                                         aapp = stdlib_${c2ri(ci)}$znrm2( m, a( 1, p ), 1 )
                                      else
                                         t = zero
                                         aapp = one
                                         call stdlib_${ci}$lassq( m, a( 1, p ), 1, t,aapp )
                                         aapp = t*sqrt( aapp )
                                      end if
                                      sva( p ) = aapp
                                   end if
                    ! end of ok rotation
                                else
                                   notrot = notrot + 1
      ! [rtd]      skipped  = skipped  + 1
                                   pskipped = pskipped + 1
                                   ijblsk = ijblsk + 1
                                end if
                             else
                                notrot = notrot + 1
                                pskipped = pskipped + 1
                                ijblsk = ijblsk + 1
                             end if
                             if( ( i<=swband ) .and. ( ijblsk>=blskip ) )then
                                sva( p ) = aapp
                                notrot = 0
                                go to 2011
                             end if
                             if( ( i<=swband ) .and.( pskipped>rowskip ) ) then
                                aapp = -aapp
                                notrot = 0
                                go to 2203
                             end if
                          end do loop_2200
              ! end of the q-loop
              2203 continue
                          sva( p ) = aapp
                       else
                          if( aapp==zero )notrot = notrot +min( jgl+kbl-1, n ) - jgl + 1
                          if( aapp<zero )notrot = 0
                       end if
                    end do loop_2100
           ! end of the p-loop
                 end do loop_2010
           ! end of the jbc-loop
           2011 continue
      ! 2011 bailed out of the jbc-loop
                 do p = igl, min( igl+kbl-1, n )
                    sva( p ) = abs( sva( p ) )
                 end do
      ! **
              end do loop_2000
      ! 2000 :: end of the ibr-loop
           ! .. update sva(n)
              if( ( sva( n )<rootbig ) .and. ( sva( n )>rootsfmin ) )then
                 sva( n ) = stdlib_${c2ri(ci)}$znrm2( m, a( 1, n ), 1 )
              else
                 t = zero
                 aapp = one
                 call stdlib_${ci}$lassq( m, a( 1, n ), 1, t, aapp )
                 sva( n ) = t*sqrt( aapp )
              end if
           ! additional steering devices
              if( ( i<swband ) .and. ( ( mxaapq<=roottol ) .or.( iswrot<=n ) ) )swband = i
              if( ( i>swband+1 ) .and. ( mxaapq<sqrt( real( n,KIND=${ck}$) )*tol ) .and. ( real( n,&
                        KIND=${ck}$)*mxaapq*mxsinj<tol ) ) then
                 go to 1994
              end if
              if( notrot>=emptsw )go to 1994
           end do loop_1993
           ! end i=1:nsweep loop
       ! #:( reaching this point means that the procedure has not converged.
           info = nsweep - 1
           go to 1995
           1994 continue
       ! #:) reaching this point means numerical convergence after the i-th
           ! sweep.
           info = 0
       ! #:) info = 0 confirms successful iterations.
       1995 continue
           ! sort the vector sva() of column norms.
           do p = 1, n - 1
              q = stdlib_i${c2ri(ci)}$amax( n-p+1, sva( p ), 1 ) + p - 1
              if( p/=q ) then
                 temp1 = sva( p )
                 sva( p ) = sva( q )
                 sva( q ) = temp1
                 aapq = d( p )
                 d( p ) = d( q )
                 d( q ) = aapq
                 call stdlib_${ci}$swap( m, a( 1, p ), 1, a( 1, q ), 1 )
                 if( rsvec )call stdlib_${ci}$swap( mvl, v( 1, p ), 1, v( 1, q ), 1 )
              end if
           end do
           return
     end subroutine stdlib_${ci}$gsvj1

#:endif
#:endfor



     module pure subroutine stdlib_slabrd( m, n, nb, a, lda, d, e, tauq, taup, x, ldx, y,ldy )
     !! SLABRD reduces the first NB rows and columns of a real general
     !! m by n matrix A to upper or lower bidiagonal form by an orthogonal
     !! transformation Q**T * A * P, and returns the matrices X and Y which
     !! are needed to apply the transformation to the unreduced part of A.
     !! If m >= n, A is reduced to upper bidiagonal form; if m < n, to lower
     !! bidiagonal form.
     !! This is an auxiliary routine called by SGEBRD
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(in) :: lda, ldx, ldy, m, n, nb
           ! Array Arguments 
           real(sp), intent(inout) :: a(lda,*)
           real(sp), intent(out) :: d(*), e(*), taup(*), tauq(*), x(ldx,*), y(ldy,*)
        ! =====================================================================
           
           ! Local Scalars 
           integer(ilp) :: i
           ! Intrinsic Functions 
           ! Executable Statements 
           ! quick return if possible
           if( m<=0 .or. n<=0 )return
           if( m>=n ) then
              ! reduce to upper bidiagonal form
              loop_10: do i = 1, nb
                 ! update a(i:m,i)
                 call stdlib_sgemv( 'NO TRANSPOSE', m-i+1, i-1, -one, a( i, 1 ),lda, y( i, 1 ), &
                           ldy, one, a( i, i ), 1 )
                 call stdlib_sgemv( 'NO TRANSPOSE', m-i+1, i-1, -one, x( i, 1 ),ldx, a( 1, i ), 1,&
                            one, a( i, i ), 1 )
                 ! generate reflection q(i) to annihilate a(i+1:m,i)
                 call stdlib_slarfg( m-i+1, a( i, i ), a( min( i+1, m ), i ), 1,tauq( i ) )
                           
                 d( i ) = a( i, i )
                 if( i<n ) then
                    a( i, i ) = one
                    ! compute y(i+1:n,i)
                    call stdlib_sgemv( 'TRANSPOSE', m-i+1, n-i, one, a( i, i+1 ),lda, a( i, i ), &
                              1, zero, y( i+1, i ), 1 )
                    call stdlib_sgemv( 'TRANSPOSE', m-i+1, i-1, one, a( i, 1 ), lda,a( i, i ), 1, &
                              zero, y( 1, i ), 1 )
                    call stdlib_sgemv( 'NO TRANSPOSE', n-i, i-1, -one, y( i+1, 1 ),ldy, y( 1, i ),&
                               1, one, y( i+1, i ), 1 )
                    call stdlib_sgemv( 'TRANSPOSE', m-i+1, i-1, one, x( i, 1 ), ldx,a( i, i ), 1, &
                              zero, y( 1, i ), 1 )
                    call stdlib_sgemv( 'TRANSPOSE', i-1, n-i, -one, a( 1, i+1 ),lda, y( 1, i ), 1,&
                               one, y( i+1, i ), 1 )
                    call stdlib_sscal( n-i, tauq( i ), y( i+1, i ), 1 )
                    ! update a(i,i+1:n)
                    call stdlib_sgemv( 'NO TRANSPOSE', n-i, i, -one, y( i+1, 1 ),ldy, a( i, 1 ), &
                              lda, one, a( i, i+1 ), lda )
                    call stdlib_sgemv( 'TRANSPOSE', i-1, n-i, -one, a( 1, i+1 ),lda, x( i, 1 ), &
                              ldx, one, a( i, i+1 ), lda )
                    ! generate reflection p(i) to annihilate a(i,i+2:n)
                    call stdlib_slarfg( n-i, a( i, i+1 ), a( i, min( i+2, n ) ),lda, taup( i ) )
                              
                    e( i ) = a( i, i+1 )
                    a( i, i+1 ) = one
                    ! compute x(i+1:m,i)
                    call stdlib_sgemv( 'NO TRANSPOSE', m-i, n-i, one, a( i+1, i+1 ),lda, a( i, i+&
                              1 ), lda, zero, x( i+1, i ), 1 )
                    call stdlib_sgemv( 'TRANSPOSE', n-i, i, one, y( i+1, 1 ), ldy,a( i, i+1 ), &
                              lda, zero, x( 1, i ), 1 )
                    call stdlib_sgemv( 'NO TRANSPOSE', m-i, i, -one, a( i+1, 1 ),lda, x( 1, i ), &
                              1, one, x( i+1, i ), 1 )
                    call stdlib_sgemv( 'NO TRANSPOSE', i-1, n-i, one, a( 1, i+1 ),lda, a( i, i+1 )&
                              , lda, zero, x( 1, i ), 1 )
                    call stdlib_sgemv( 'NO TRANSPOSE', m-i, i-1, -one, x( i+1, 1 ),ldx, x( 1, i ),&
                               1, one, x( i+1, i ), 1 )
                    call stdlib_sscal( m-i, taup( i ), x( i+1, i ), 1 )
                 end if
              end do loop_10
           else
              ! reduce to lower bidiagonal form
              loop_20: do i = 1, nb
                 ! update a(i,i:n)
                 call stdlib_sgemv( 'NO TRANSPOSE', n-i+1, i-1, -one, y( i, 1 ),ldy, a( i, 1 ), &
                           lda, one, a( i, i ), lda )
                 call stdlib_sgemv( 'TRANSPOSE', i-1, n-i+1, -one, a( 1, i ), lda,x( i, 1 ), ldx, &
                           one, a( i, i ), lda )
                 ! generate reflection p(i) to annihilate a(i,i+1:n)
                 call stdlib_slarfg( n-i+1, a( i, i ), a( i, min( i+1, n ) ), lda,taup( i ) )
                           
                 d( i ) = a( i, i )
                 if( i<m ) then
                    a( i, i ) = one
                    ! compute x(i+1:m,i)
                    call stdlib_sgemv( 'NO TRANSPOSE', m-i, n-i+1, one, a( i+1, i ),lda, a( i, i )&
                              , lda, zero, x( i+1, i ), 1 )
                    call stdlib_sgemv( 'TRANSPOSE', n-i+1, i-1, one, y( i, 1 ), ldy,a( i, i ), &
                              lda, zero, x( 1, i ), 1 )
                    call stdlib_sgemv( 'NO TRANSPOSE', m-i, i-1, -one, a( i+1, 1 ),lda, x( 1, i ),&
                               1, one, x( i+1, i ), 1 )
                    call stdlib_sgemv( 'NO TRANSPOSE', i-1, n-i+1, one, a( 1, i ),lda, a( i, i ), &
                              lda, zero, x( 1, i ), 1 )
                    call stdlib_sgemv( 'NO TRANSPOSE', m-i, i-1, -one, x( i+1, 1 ),ldx, x( 1, i ),&
                               1, one, x( i+1, i ), 1 )
                    call stdlib_sscal( m-i, taup( i ), x( i+1, i ), 1 )
                    ! update a(i+1:m,i)
                    call stdlib_sgemv( 'NO TRANSPOSE', m-i, i-1, -one, a( i+1, 1 ),lda, y( i, 1 ),&
                               ldy, one, a( i+1, i ), 1 )
                    call stdlib_sgemv( 'NO TRANSPOSE', m-i, i, -one, x( i+1, 1 ),ldx, a( 1, i ), &
                              1, one, a( i+1, i ), 1 )
                    ! generate reflection q(i) to annihilate a(i+2:m,i)
                    call stdlib_slarfg( m-i, a( i+1, i ), a( min( i+2, m ), i ), 1,tauq( i ) )
                              
                    e( i ) = a( i+1, i )
                    a( i+1, i ) = one
                    ! compute y(i+1:n,i)
                    call stdlib_sgemv( 'TRANSPOSE', m-i, n-i, one, a( i+1, i+1 ),lda, a( i+1, i ),&
                               1, zero, y( i+1, i ), 1 )
                    call stdlib_sgemv( 'TRANSPOSE', m-i, i-1, one, a( i+1, 1 ), lda,a( i+1, i ), &
                              1, zero, y( 1, i ), 1 )
                    call stdlib_sgemv( 'NO TRANSPOSE', n-i, i-1, -one, y( i+1, 1 ),ldy, y( 1, i ),&
                               1, one, y( i+1, i ), 1 )
                    call stdlib_sgemv( 'TRANSPOSE', m-i, i, one, x( i+1, 1 ), ldx,a( i+1, i ), 1, &
                              zero, y( 1, i ), 1 )
                    call stdlib_sgemv( 'TRANSPOSE', i, n-i, -one, a( 1, i+1 ), lda,y( 1, i ), 1, &
                              one, y( i+1, i ), 1 )
                    call stdlib_sscal( n-i, tauq( i ), y( i+1, i ), 1 )
                 end if
              end do loop_20
           end if
           return
     end subroutine stdlib_slabrd

     module pure subroutine stdlib_dlabrd( m, n, nb, a, lda, d, e, tauq, taup, x, ldx, y,ldy )
     !! DLABRD reduces the first NB rows and columns of a real general
     !! m by n matrix A to upper or lower bidiagonal form by an orthogonal
     !! transformation Q**T * A * P, and returns the matrices X and Y which
     !! are needed to apply the transformation to the unreduced part of A.
     !! If m >= n, A is reduced to upper bidiagonal form; if m < n, to lower
     !! bidiagonal form.
     !! This is an auxiliary routine called by DGEBRD
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(in) :: lda, ldx, ldy, m, n, nb
           ! Array Arguments 
           real(dp), intent(inout) :: a(lda,*)
           real(dp), intent(out) :: d(*), e(*), taup(*), tauq(*), x(ldx,*), y(ldy,*)
        ! =====================================================================
           
           ! Local Scalars 
           integer(ilp) :: i
           ! Intrinsic Functions 
           ! Executable Statements 
           ! quick return if possible
           if( m<=0 .or. n<=0 )return
           if( m>=n ) then
              ! reduce to upper bidiagonal form
              loop_10: do i = 1, nb
                 ! update a(i:m,i)
                 call stdlib_dgemv( 'NO TRANSPOSE', m-i+1, i-1, -one, a( i, 1 ),lda, y( i, 1 ), &
                           ldy, one, a( i, i ), 1 )
                 call stdlib_dgemv( 'NO TRANSPOSE', m-i+1, i-1, -one, x( i, 1 ),ldx, a( 1, i ), 1,&
                            one, a( i, i ), 1 )
                 ! generate reflection q(i) to annihilate a(i+1:m,i)
                 call stdlib_dlarfg( m-i+1, a( i, i ), a( min( i+1, m ), i ), 1,tauq( i ) )
                           
                 d( i ) = a( i, i )
                 if( i<n ) then
                    a( i, i ) = one
                    ! compute y(i+1:n,i)
                    call stdlib_dgemv( 'TRANSPOSE', m-i+1, n-i, one, a( i, i+1 ),lda, a( i, i ), &
                              1, zero, y( i+1, i ), 1 )
                    call stdlib_dgemv( 'TRANSPOSE', m-i+1, i-1, one, a( i, 1 ), lda,a( i, i ), 1, &
                              zero, y( 1, i ), 1 )
                    call stdlib_dgemv( 'NO TRANSPOSE', n-i, i-1, -one, y( i+1, 1 ),ldy, y( 1, i ),&
                               1, one, y( i+1, i ), 1 )
                    call stdlib_dgemv( 'TRANSPOSE', m-i+1, i-1, one, x( i, 1 ), ldx,a( i, i ), 1, &
                              zero, y( 1, i ), 1 )
                    call stdlib_dgemv( 'TRANSPOSE', i-1, n-i, -one, a( 1, i+1 ),lda, y( 1, i ), 1,&
                               one, y( i+1, i ), 1 )
                    call stdlib_dscal( n-i, tauq( i ), y( i+1, i ), 1 )
                    ! update a(i,i+1:n)
                    call stdlib_dgemv( 'NO TRANSPOSE', n-i, i, -one, y( i+1, 1 ),ldy, a( i, 1 ), &
                              lda, one, a( i, i+1 ), lda )
                    call stdlib_dgemv( 'TRANSPOSE', i-1, n-i, -one, a( 1, i+1 ),lda, x( i, 1 ), &
                              ldx, one, a( i, i+1 ), lda )
                    ! generate reflection p(i) to annihilate a(i,i+2:n)
                    call stdlib_dlarfg( n-i, a( i, i+1 ), a( i, min( i+2, n ) ),lda, taup( i ) )
                              
                    e( i ) = a( i, i+1 )
                    a( i, i+1 ) = one
                    ! compute x(i+1:m,i)
                    call stdlib_dgemv( 'NO TRANSPOSE', m-i, n-i, one, a( i+1, i+1 ),lda, a( i, i+&
                              1 ), lda, zero, x( i+1, i ), 1 )
                    call stdlib_dgemv( 'TRANSPOSE', n-i, i, one, y( i+1, 1 ), ldy,a( i, i+1 ), &
                              lda, zero, x( 1, i ), 1 )
                    call stdlib_dgemv( 'NO TRANSPOSE', m-i, i, -one, a( i+1, 1 ),lda, x( 1, i ), &
                              1, one, x( i+1, i ), 1 )
                    call stdlib_dgemv( 'NO TRANSPOSE', i-1, n-i, one, a( 1, i+1 ),lda, a( i, i+1 )&
                              , lda, zero, x( 1, i ), 1 )
                    call stdlib_dgemv( 'NO TRANSPOSE', m-i, i-1, -one, x( i+1, 1 ),ldx, x( 1, i ),&
                               1, one, x( i+1, i ), 1 )
                    call stdlib_dscal( m-i, taup( i ), x( i+1, i ), 1 )
                 end if
              end do loop_10
           else
              ! reduce to lower bidiagonal form
              loop_20: do i = 1, nb
                 ! update a(i,i:n)
                 call stdlib_dgemv( 'NO TRANSPOSE', n-i+1, i-1, -one, y( i, 1 ),ldy, a( i, 1 ), &
                           lda, one, a( i, i ), lda )
                 call stdlib_dgemv( 'TRANSPOSE', i-1, n-i+1, -one, a( 1, i ), lda,x( i, 1 ), ldx, &
                           one, a( i, i ), lda )
                 ! generate reflection p(i) to annihilate a(i,i+1:n)
                 call stdlib_dlarfg( n-i+1, a( i, i ), a( i, min( i+1, n ) ), lda,taup( i ) )
                           
                 d( i ) = a( i, i )
                 if( i<m ) then
                    a( i, i ) = one
                    ! compute x(i+1:m,i)
                    call stdlib_dgemv( 'NO TRANSPOSE', m-i, n-i+1, one, a( i+1, i ),lda, a( i, i )&
                              , lda, zero, x( i+1, i ), 1 )
                    call stdlib_dgemv( 'TRANSPOSE', n-i+1, i-1, one, y( i, 1 ), ldy,a( i, i ), &
                              lda, zero, x( 1, i ), 1 )
                    call stdlib_dgemv( 'NO TRANSPOSE', m-i, i-1, -one, a( i+1, 1 ),lda, x( 1, i ),&
                               1, one, x( i+1, i ), 1 )
                    call stdlib_dgemv( 'NO TRANSPOSE', i-1, n-i+1, one, a( 1, i ),lda, a( i, i ), &
                              lda, zero, x( 1, i ), 1 )
                    call stdlib_dgemv( 'NO TRANSPOSE', m-i, i-1, -one, x( i+1, 1 ),ldx, x( 1, i ),&
                               1, one, x( i+1, i ), 1 )
                    call stdlib_dscal( m-i, taup( i ), x( i+1, i ), 1 )
                    ! update a(i+1:m,i)
                    call stdlib_dgemv( 'NO TRANSPOSE', m-i, i-1, -one, a( i+1, 1 ),lda, y( i, 1 ),&
                               ldy, one, a( i+1, i ), 1 )
                    call stdlib_dgemv( 'NO TRANSPOSE', m-i, i, -one, x( i+1, 1 ),ldx, a( 1, i ), &
                              1, one, a( i+1, i ), 1 )
                    ! generate reflection q(i) to annihilate a(i+2:m,i)
                    call stdlib_dlarfg( m-i, a( i+1, i ), a( min( i+2, m ), i ), 1,tauq( i ) )
                              
                    e( i ) = a( i+1, i )
                    a( i+1, i ) = one
                    ! compute y(i+1:n,i)
                    call stdlib_dgemv( 'TRANSPOSE', m-i, n-i, one, a( i+1, i+1 ),lda, a( i+1, i ),&
                               1, zero, y( i+1, i ), 1 )
                    call stdlib_dgemv( 'TRANSPOSE', m-i, i-1, one, a( i+1, 1 ), lda,a( i+1, i ), &
                              1, zero, y( 1, i ), 1 )
                    call stdlib_dgemv( 'NO TRANSPOSE', n-i, i-1, -one, y( i+1, 1 ),ldy, y( 1, i ),&
                               1, one, y( i+1, i ), 1 )
                    call stdlib_dgemv( 'TRANSPOSE', m-i, i, one, x( i+1, 1 ), ldx,a( i+1, i ), 1, &
                              zero, y( 1, i ), 1 )
                    call stdlib_dgemv( 'TRANSPOSE', i, n-i, -one, a( 1, i+1 ), lda,y( 1, i ), 1, &
                              one, y( i+1, i ), 1 )
                    call stdlib_dscal( n-i, tauq( i ), y( i+1, i ), 1 )
                 end if
              end do loop_20
           end if
           return
     end subroutine stdlib_dlabrd

#:for rk,rt,ri in REAL_KINDS_TYPES
#:if not rk in ["sp","dp"]
     module pure subroutine stdlib_${ri}$labrd( m, n, nb, a, lda, d, e, tauq, taup, x, ldx, y,ldy )
     !! DLABRD: reduces the first NB rows and columns of a real general
     !! m by n matrix A to upper or lower bidiagonal form by an orthogonal
     !! transformation Q**T * A * P, and returns the matrices X and Y which
     !! are needed to apply the transformation to the unreduced part of A.
     !! If m >= n, A is reduced to upper bidiagonal form; if m < n, to lower
     !! bidiagonal form.
     !! This is an auxiliary routine called by DGEBRD
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${rk}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(in) :: lda, ldx, ldy, m, n, nb
           ! Array Arguments 
           real(${rk}$), intent(inout) :: a(lda,*)
           real(${rk}$), intent(out) :: d(*), e(*), taup(*), tauq(*), x(ldx,*), y(ldy,*)
        ! =====================================================================
           
           ! Local Scalars 
           integer(ilp) :: i
           ! Intrinsic Functions 
           ! Executable Statements 
           ! quick return if possible
           if( m<=0 .or. n<=0 )return
           if( m>=n ) then
              ! reduce to upper bidiagonal form
              loop_10: do i = 1, nb
                 ! update a(i:m,i)
                 call stdlib_${ri}$gemv( 'NO TRANSPOSE', m-i+1, i-1, -one, a( i, 1 ),lda, y( i, 1 ), &
                           ldy, one, a( i, i ), 1 )
                 call stdlib_${ri}$gemv( 'NO TRANSPOSE', m-i+1, i-1, -one, x( i, 1 ),ldx, a( 1, i ), 1,&
                            one, a( i, i ), 1 )
                 ! generate reflection q(i) to annihilate a(i+1:m,i)
                 call stdlib_${ri}$larfg( m-i+1, a( i, i ), a( min( i+1, m ), i ), 1,tauq( i ) )
                           
                 d( i ) = a( i, i )
                 if( i<n ) then
                    a( i, i ) = one
                    ! compute y(i+1:n,i)
                    call stdlib_${ri}$gemv( 'TRANSPOSE', m-i+1, n-i, one, a( i, i+1 ),lda, a( i, i ), &
                              1, zero, y( i+1, i ), 1 )
                    call stdlib_${ri}$gemv( 'TRANSPOSE', m-i+1, i-1, one, a( i, 1 ), lda,a( i, i ), 1, &
                              zero, y( 1, i ), 1 )
                    call stdlib_${ri}$gemv( 'NO TRANSPOSE', n-i, i-1, -one, y( i+1, 1 ),ldy, y( 1, i ),&
                               1, one, y( i+1, i ), 1 )
                    call stdlib_${ri}$gemv( 'TRANSPOSE', m-i+1, i-1, one, x( i, 1 ), ldx,a( i, i ), 1, &
                              zero, y( 1, i ), 1 )
                    call stdlib_${ri}$gemv( 'TRANSPOSE', i-1, n-i, -one, a( 1, i+1 ),lda, y( 1, i ), 1,&
                               one, y( i+1, i ), 1 )
                    call stdlib_${ri}$scal( n-i, tauq( i ), y( i+1, i ), 1 )
                    ! update a(i,i+1:n)
                    call stdlib_${ri}$gemv( 'NO TRANSPOSE', n-i, i, -one, y( i+1, 1 ),ldy, a( i, 1 ), &
                              lda, one, a( i, i+1 ), lda )
                    call stdlib_${ri}$gemv( 'TRANSPOSE', i-1, n-i, -one, a( 1, i+1 ),lda, x( i, 1 ), &
                              ldx, one, a( i, i+1 ), lda )
                    ! generate reflection p(i) to annihilate a(i,i+2:n)
                    call stdlib_${ri}$larfg( n-i, a( i, i+1 ), a( i, min( i+2, n ) ),lda, taup( i ) )
                              
                    e( i ) = a( i, i+1 )
                    a( i, i+1 ) = one
                    ! compute x(i+1:m,i)
                    call stdlib_${ri}$gemv( 'NO TRANSPOSE', m-i, n-i, one, a( i+1, i+1 ),lda, a( i, i+&
                              1 ), lda, zero, x( i+1, i ), 1 )
                    call stdlib_${ri}$gemv( 'TRANSPOSE', n-i, i, one, y( i+1, 1 ), ldy,a( i, i+1 ), &
                              lda, zero, x( 1, i ), 1 )
                    call stdlib_${ri}$gemv( 'NO TRANSPOSE', m-i, i, -one, a( i+1, 1 ),lda, x( 1, i ), &
                              1, one, x( i+1, i ), 1 )
                    call stdlib_${ri}$gemv( 'NO TRANSPOSE', i-1, n-i, one, a( 1, i+1 ),lda, a( i, i+1 )&
                              , lda, zero, x( 1, i ), 1 )
                    call stdlib_${ri}$gemv( 'NO TRANSPOSE', m-i, i-1, -one, x( i+1, 1 ),ldx, x( 1, i ),&
                               1, one, x( i+1, i ), 1 )
                    call stdlib_${ri}$scal( m-i, taup( i ), x( i+1, i ), 1 )
                 end if
              end do loop_10
           else
              ! reduce to lower bidiagonal form
              loop_20: do i = 1, nb
                 ! update a(i,i:n)
                 call stdlib_${ri}$gemv( 'NO TRANSPOSE', n-i+1, i-1, -one, y( i, 1 ),ldy, a( i, 1 ), &
                           lda, one, a( i, i ), lda )
                 call stdlib_${ri}$gemv( 'TRANSPOSE', i-1, n-i+1, -one, a( 1, i ), lda,x( i, 1 ), ldx, &
                           one, a( i, i ), lda )
                 ! generate reflection p(i) to annihilate a(i,i+1:n)
                 call stdlib_${ri}$larfg( n-i+1, a( i, i ), a( i, min( i+1, n ) ), lda,taup( i ) )
                           
                 d( i ) = a( i, i )
                 if( i<m ) then
                    a( i, i ) = one
                    ! compute x(i+1:m,i)
                    call stdlib_${ri}$gemv( 'NO TRANSPOSE', m-i, n-i+1, one, a( i+1, i ),lda, a( i, i )&
                              , lda, zero, x( i+1, i ), 1 )
                    call stdlib_${ri}$gemv( 'TRANSPOSE', n-i+1, i-1, one, y( i, 1 ), ldy,a( i, i ), &
                              lda, zero, x( 1, i ), 1 )
                    call stdlib_${ri}$gemv( 'NO TRANSPOSE', m-i, i-1, -one, a( i+1, 1 ),lda, x( 1, i ),&
                               1, one, x( i+1, i ), 1 )
                    call stdlib_${ri}$gemv( 'NO TRANSPOSE', i-1, n-i+1, one, a( 1, i ),lda, a( i, i ), &
                              lda, zero, x( 1, i ), 1 )
                    call stdlib_${ri}$gemv( 'NO TRANSPOSE', m-i, i-1, -one, x( i+1, 1 ),ldx, x( 1, i ),&
                               1, one, x( i+1, i ), 1 )
                    call stdlib_${ri}$scal( m-i, taup( i ), x( i+1, i ), 1 )
                    ! update a(i+1:m,i)
                    call stdlib_${ri}$gemv( 'NO TRANSPOSE', m-i, i-1, -one, a( i+1, 1 ),lda, y( i, 1 ),&
                               ldy, one, a( i+1, i ), 1 )
                    call stdlib_${ri}$gemv( 'NO TRANSPOSE', m-i, i, -one, x( i+1, 1 ),ldx, a( 1, i ), &
                              1, one, a( i+1, i ), 1 )
                    ! generate reflection q(i) to annihilate a(i+2:m,i)
                    call stdlib_${ri}$larfg( m-i, a( i+1, i ), a( min( i+2, m ), i ), 1,tauq( i ) )
                              
                    e( i ) = a( i+1, i )
                    a( i+1, i ) = one
                    ! compute y(i+1:n,i)
                    call stdlib_${ri}$gemv( 'TRANSPOSE', m-i, n-i, one, a( i+1, i+1 ),lda, a( i+1, i ),&
                               1, zero, y( i+1, i ), 1 )
                    call stdlib_${ri}$gemv( 'TRANSPOSE', m-i, i-1, one, a( i+1, 1 ), lda,a( i+1, i ), &
                              1, zero, y( 1, i ), 1 )
                    call stdlib_${ri}$gemv( 'NO TRANSPOSE', n-i, i-1, -one, y( i+1, 1 ),ldy, y( 1, i ),&
                               1, one, y( i+1, i ), 1 )
                    call stdlib_${ri}$gemv( 'TRANSPOSE', m-i, i, one, x( i+1, 1 ), ldx,a( i+1, i ), 1, &
                              zero, y( 1, i ), 1 )
                    call stdlib_${ri}$gemv( 'TRANSPOSE', i, n-i, -one, a( 1, i+1 ), lda,y( 1, i ), 1, &
                              one, y( i+1, i ), 1 )
                    call stdlib_${ri}$scal( n-i, tauq( i ), y( i+1, i ), 1 )
                 end if
              end do loop_20
           end if
           return
     end subroutine stdlib_${ri}$labrd

#:endif
#:endfor

     module pure subroutine stdlib_clabrd( m, n, nb, a, lda, d, e, tauq, taup, x, ldx, y,ldy )
     !! CLABRD reduces the first NB rows and columns of a complex general
     !! m by n matrix A to upper or lower real bidiagonal form by a unitary
     !! transformation Q**H * A * P, and returns the matrices X and Y which
     !! are needed to apply the transformation to the unreduced part of A.
     !! If m >= n, A is reduced to upper bidiagonal form; if m < n, to lower
     !! bidiagonal form.
     !! This is an auxiliary routine called by CGEBRD
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(in) :: lda, ldx, ldy, m, n, nb
           ! Array Arguments 
           real(sp), intent(out) :: d(*), e(*)
           complex(sp), intent(inout) :: a(lda,*)
           complex(sp), intent(out) :: taup(*), tauq(*), x(ldx,*), y(ldy,*)
        ! =====================================================================
           
           ! Local Scalars 
           integer(ilp) :: i
           complex(sp) :: alpha
           ! Intrinsic Functions 
           ! Executable Statements 
           ! quick return if possible
           if( m<=0 .or. n<=0 )return
           if( m>=n ) then
              ! reduce to upper bidiagonal form
              loop_10: do i = 1, nb
                 ! update a(i:m,i)
                 call stdlib_clacgv( i-1, y( i, 1 ), ldy )
                 call stdlib_cgemv( 'NO TRANSPOSE', m-i+1, i-1, -cone, a( i, 1 ),lda, y( i, 1 ), &
                           ldy, cone, a( i, i ), 1 )
                 call stdlib_clacgv( i-1, y( i, 1 ), ldy )
                 call stdlib_cgemv( 'NO TRANSPOSE', m-i+1, i-1, -cone, x( i, 1 ),ldx, a( 1, i ), &
                           1, cone, a( i, i ), 1 )
                 ! generate reflection q(i) to annihilate a(i+1:m,i)
                 alpha = a( i, i )
                 call stdlib_clarfg( m-i+1, alpha, a( min( i+1, m ), i ), 1,tauq( i ) )
                 d( i ) = real( alpha,KIND=sp)
                 if( i<n ) then
                    a( i, i ) = cone
                    ! compute y(i+1:n,i)
                    call stdlib_cgemv( 'CONJUGATE TRANSPOSE', m-i+1, n-i, cone,a( i, i+1 ), lda, &
                              a( i, i ), 1, czero,y( i+1, i ), 1 )
                    call stdlib_cgemv( 'CONJUGATE TRANSPOSE', m-i+1, i-1, cone,a( i, 1 ), lda, a( &
                              i, i ), 1, czero,y( 1, i ), 1 )
                    call stdlib_cgemv( 'NO TRANSPOSE', n-i, i-1, -cone, y( i+1, 1 ),ldy, y( 1, i )&
                              , 1, cone, y( i+1, i ), 1 )
                    call stdlib_cgemv( 'CONJUGATE TRANSPOSE', m-i+1, i-1, cone,x( i, 1 ), ldx, a( &
                              i, i ), 1, czero,y( 1, i ), 1 )
                    call stdlib_cgemv( 'CONJUGATE TRANSPOSE', i-1, n-i, -cone,a( 1, i+1 ), lda, y(&
                               1, i ), 1, cone,y( i+1, i ), 1 )
                    call stdlib_cscal( n-i, tauq( i ), y( i+1, i ), 1 )
                    ! update a(i,i+1:n)
                    call stdlib_clacgv( n-i, a( i, i+1 ), lda )
                    call stdlib_clacgv( i, a( i, 1 ), lda )
                    call stdlib_cgemv( 'NO TRANSPOSE', n-i, i, -cone, y( i+1, 1 ),ldy, a( i, 1 ), &
                              lda, cone, a( i, i+1 ), lda )
                    call stdlib_clacgv( i, a( i, 1 ), lda )
                    call stdlib_clacgv( i-1, x( i, 1 ), ldx )
                    call stdlib_cgemv( 'CONJUGATE TRANSPOSE', i-1, n-i, -cone,a( 1, i+1 ), lda, x(&
                               i, 1 ), ldx, cone,a( i, i+1 ), lda )
                    call stdlib_clacgv( i-1, x( i, 1 ), ldx )
                    ! generate reflection p(i) to annihilate a(i,i+2:n)
                    alpha = a( i, i+1 )
                    call stdlib_clarfg( n-i, alpha, a( i, min( i+2, n ) ),lda, taup( i ) )
                    e( i ) = real( alpha,KIND=sp)
                    a( i, i+1 ) = cone
                    ! compute x(i+1:m,i)
                    call stdlib_cgemv( 'NO TRANSPOSE', m-i, n-i, cone, a( i+1, i+1 ),lda, a( i, i+&
                              1 ), lda, czero, x( i+1, i ), 1 )
                    call stdlib_cgemv( 'CONJUGATE TRANSPOSE', n-i, i, cone,y( i+1, 1 ), ldy, a( i,&
                               i+1 ), lda, czero,x( 1, i ), 1 )
                    call stdlib_cgemv( 'NO TRANSPOSE', m-i, i, -cone, a( i+1, 1 ),lda, x( 1, i ), &
                              1, cone, x( i+1, i ), 1 )
                    call stdlib_cgemv( 'NO TRANSPOSE', i-1, n-i, cone, a( 1, i+1 ),lda, a( i, i+1 &
                              ), lda, czero, x( 1, i ), 1 )
                    call stdlib_cgemv( 'NO TRANSPOSE', m-i, i-1, -cone, x( i+1, 1 ),ldx, x( 1, i )&
                              , 1, cone, x( i+1, i ), 1 )
                    call stdlib_cscal( m-i, taup( i ), x( i+1, i ), 1 )
                    call stdlib_clacgv( n-i, a( i, i+1 ), lda )
                 end if
              end do loop_10
           else
              ! reduce to lower bidiagonal form
              loop_20: do i = 1, nb
                 ! update a(i,i:n)
                 call stdlib_clacgv( n-i+1, a( i, i ), lda )
                 call stdlib_clacgv( i-1, a( i, 1 ), lda )
                 call stdlib_cgemv( 'NO TRANSPOSE', n-i+1, i-1, -cone, y( i, 1 ),ldy, a( i, 1 ), &
                           lda, cone, a( i, i ), lda )
                 call stdlib_clacgv( i-1, a( i, 1 ), lda )
                 call stdlib_clacgv( i-1, x( i, 1 ), ldx )
                 call stdlib_cgemv( 'CONJUGATE TRANSPOSE', i-1, n-i+1, -cone,a( 1, i ), lda, x( i,&
                            1 ), ldx, cone, a( i, i ),lda )
                 call stdlib_clacgv( i-1, x( i, 1 ), ldx )
                 ! generate reflection p(i) to annihilate a(i,i+1:n)
                 alpha = a( i, i )
                 call stdlib_clarfg( n-i+1, alpha, a( i, min( i+1, n ) ), lda,taup( i ) )
                 d( i ) = real( alpha,KIND=sp)
                 if( i<m ) then
                    a( i, i ) = cone
                    ! compute x(i+1:m,i)
                    call stdlib_cgemv( 'NO TRANSPOSE', m-i, n-i+1, cone, a( i+1, i ),lda, a( i, i &
                              ), lda, czero, x( i+1, i ), 1 )
                    call stdlib_cgemv( 'CONJUGATE TRANSPOSE', n-i+1, i-1, cone,y( i, 1 ), ldy, a( &
                              i, i ), lda, czero,x( 1, i ), 1 )
                    call stdlib_cgemv( 'NO TRANSPOSE', m-i, i-1, -cone, a( i+1, 1 ),lda, x( 1, i )&
                              , 1, cone, x( i+1, i ), 1 )
                    call stdlib_cgemv( 'NO TRANSPOSE', i-1, n-i+1, cone, a( 1, i ),lda, a( i, i ),&
                               lda, czero, x( 1, i ), 1 )
                    call stdlib_cgemv( 'NO TRANSPOSE', m-i, i-1, -cone, x( i+1, 1 ),ldx, x( 1, i )&
                              , 1, cone, x( i+1, i ), 1 )
                    call stdlib_cscal( m-i, taup( i ), x( i+1, i ), 1 )
                    call stdlib_clacgv( n-i+1, a( i, i ), lda )
                    ! update a(i+1:m,i)
                    call stdlib_clacgv( i-1, y( i, 1 ), ldy )
                    call stdlib_cgemv( 'NO TRANSPOSE', m-i, i-1, -cone, a( i+1, 1 ),lda, y( i, 1 )&
                              , ldy, cone, a( i+1, i ), 1 )
                    call stdlib_clacgv( i-1, y( i, 1 ), ldy )
                    call stdlib_cgemv( 'NO TRANSPOSE', m-i, i, -cone, x( i+1, 1 ),ldx, a( 1, i ), &
                              1, cone, a( i+1, i ), 1 )
                    ! generate reflection q(i) to annihilate a(i+2:m,i)
                    alpha = a( i+1, i )
                    call stdlib_clarfg( m-i, alpha, a( min( i+2, m ), i ), 1,tauq( i ) )
                    e( i ) = real( alpha,KIND=sp)
                    a( i+1, i ) = cone
                    ! compute y(i+1:n,i)
                    call stdlib_cgemv( 'CONJUGATE TRANSPOSE', m-i, n-i, cone,a( i+1, i+1 ), lda, &
                              a( i+1, i ), 1, czero,y( i+1, i ), 1 )
                    call stdlib_cgemv( 'CONJUGATE TRANSPOSE', m-i, i-1, cone,a( i+1, 1 ), lda, a( &
                              i+1, i ), 1, czero,y( 1, i ), 1 )
                    call stdlib_cgemv( 'NO TRANSPOSE', n-i, i-1, -cone, y( i+1, 1 ),ldy, y( 1, i )&
                              , 1, cone, y( i+1, i ), 1 )
                    call stdlib_cgemv( 'CONJUGATE TRANSPOSE', m-i, i, cone,x( i+1, 1 ), ldx, a( i+&
                              1, i ), 1, czero,y( 1, i ), 1 )
                    call stdlib_cgemv( 'CONJUGATE TRANSPOSE', i, n-i, -cone,a( 1, i+1 ), lda, y( &
                              1, i ), 1, cone,y( i+1, i ), 1 )
                    call stdlib_cscal( n-i, tauq( i ), y( i+1, i ), 1 )
                 else
                    call stdlib_clacgv( n-i+1, a( i, i ), lda )
                 end if
              end do loop_20
           end if
           return
     end subroutine stdlib_clabrd

     module pure subroutine stdlib_zlabrd( m, n, nb, a, lda, d, e, tauq, taup, x, ldx, y,ldy )
     !! ZLABRD reduces the first NB rows and columns of a complex general
     !! m by n matrix A to upper or lower real bidiagonal form by a unitary
     !! transformation Q**H * A * P, and returns the matrices X and Y which
     !! are needed to apply the transformation to the unreduced part of A.
     !! If m >= n, A is reduced to upper bidiagonal form; if m < n, to lower
     !! bidiagonal form.
     !! This is an auxiliary routine called by ZGEBRD
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(in) :: lda, ldx, ldy, m, n, nb
           ! Array Arguments 
           real(dp), intent(out) :: d(*), e(*)
           complex(dp), intent(inout) :: a(lda,*)
           complex(dp), intent(out) :: taup(*), tauq(*), x(ldx,*), y(ldy,*)
        ! =====================================================================
           
           ! Local Scalars 
           integer(ilp) :: i
           complex(dp) :: alpha
           ! Intrinsic Functions 
           ! Executable Statements 
           ! quick return if possible
           if( m<=0 .or. n<=0 )return
           if( m>=n ) then
              ! reduce to upper bidiagonal form
              loop_10: do i = 1, nb
                 ! update a(i:m,i)
                 call stdlib_zlacgv( i-1, y( i, 1 ), ldy )
                 call stdlib_zgemv( 'NO TRANSPOSE', m-i+1, i-1, -cone, a( i, 1 ),lda, y( i, 1 ), &
                           ldy, cone, a( i, i ), 1 )
                 call stdlib_zlacgv( i-1, y( i, 1 ), ldy )
                 call stdlib_zgemv( 'NO TRANSPOSE', m-i+1, i-1, -cone, x( i, 1 ),ldx, a( 1, i ), &
                           1, cone, a( i, i ), 1 )
                 ! generate reflection q(i) to annihilate a(i+1:m,i)
                 alpha = a( i, i )
                 call stdlib_zlarfg( m-i+1, alpha, a( min( i+1, m ), i ), 1,tauq( i ) )
                 d( i ) = real( alpha,KIND=dp)
                 if( i<n ) then
                    a( i, i ) = cone
                    ! compute y(i+1:n,i)
                    call stdlib_zgemv( 'CONJUGATE TRANSPOSE', m-i+1, n-i, cone,a( i, i+1 ), lda, &
                              a( i, i ), 1, czero,y( i+1, i ), 1 )
                    call stdlib_zgemv( 'CONJUGATE TRANSPOSE', m-i+1, i-1, cone,a( i, 1 ), lda, a( &
                              i, i ), 1, czero,y( 1, i ), 1 )
                    call stdlib_zgemv( 'NO TRANSPOSE', n-i, i-1, -cone, y( i+1, 1 ),ldy, y( 1, i )&
                              , 1, cone, y( i+1, i ), 1 )
                    call stdlib_zgemv( 'CONJUGATE TRANSPOSE', m-i+1, i-1, cone,x( i, 1 ), ldx, a( &
                              i, i ), 1, czero,y( 1, i ), 1 )
                    call stdlib_zgemv( 'CONJUGATE TRANSPOSE', i-1, n-i, -cone,a( 1, i+1 ), lda, y(&
                               1, i ), 1, cone,y( i+1, i ), 1 )
                    call stdlib_zscal( n-i, tauq( i ), y( i+1, i ), 1 )
                    ! update a(i,i+1:n)
                    call stdlib_zlacgv( n-i, a( i, i+1 ), lda )
                    call stdlib_zlacgv( i, a( i, 1 ), lda )
                    call stdlib_zgemv( 'NO TRANSPOSE', n-i, i, -cone, y( i+1, 1 ),ldy, a( i, 1 ), &
                              lda, cone, a( i, i+1 ), lda )
                    call stdlib_zlacgv( i, a( i, 1 ), lda )
                    call stdlib_zlacgv( i-1, x( i, 1 ), ldx )
                    call stdlib_zgemv( 'CONJUGATE TRANSPOSE', i-1, n-i, -cone,a( 1, i+1 ), lda, x(&
                               i, 1 ), ldx, cone,a( i, i+1 ), lda )
                    call stdlib_zlacgv( i-1, x( i, 1 ), ldx )
                    ! generate reflection p(i) to annihilate a(i,i+2:n)
                    alpha = a( i, i+1 )
                    call stdlib_zlarfg( n-i, alpha, a( i, min( i+2, n ) ), lda,taup( i ) )
                    e( i ) = real( alpha,KIND=dp)
                    a( i, i+1 ) = cone
                    ! compute x(i+1:m,i)
                    call stdlib_zgemv( 'NO TRANSPOSE', m-i, n-i, cone, a( i+1, i+1 ),lda, a( i, i+&
                              1 ), lda, czero, x( i+1, i ), 1 )
                    call stdlib_zgemv( 'CONJUGATE TRANSPOSE', n-i, i, cone,y( i+1, 1 ), ldy, a( i,&
                               i+1 ), lda, czero,x( 1, i ), 1 )
                    call stdlib_zgemv( 'NO TRANSPOSE', m-i, i, -cone, a( i+1, 1 ),lda, x( 1, i ), &
                              1, cone, x( i+1, i ), 1 )
                    call stdlib_zgemv( 'NO TRANSPOSE', i-1, n-i, cone, a( 1, i+1 ),lda, a( i, i+1 &
                              ), lda, czero, x( 1, i ), 1 )
                    call stdlib_zgemv( 'NO TRANSPOSE', m-i, i-1, -cone, x( i+1, 1 ),ldx, x( 1, i )&
                              , 1, cone, x( i+1, i ), 1 )
                    call stdlib_zscal( m-i, taup( i ), x( i+1, i ), 1 )
                    call stdlib_zlacgv( n-i, a( i, i+1 ), lda )
                 end if
              end do loop_10
           else
              ! reduce to lower bidiagonal form
              loop_20: do i = 1, nb
                 ! update a(i,i:n)
                 call stdlib_zlacgv( n-i+1, a( i, i ), lda )
                 call stdlib_zlacgv( i-1, a( i, 1 ), lda )
                 call stdlib_zgemv( 'NO TRANSPOSE', n-i+1, i-1, -cone, y( i, 1 ),ldy, a( i, 1 ), &
                           lda, cone, a( i, i ), lda )
                 call stdlib_zlacgv( i-1, a( i, 1 ), lda )
                 call stdlib_zlacgv( i-1, x( i, 1 ), ldx )
                 call stdlib_zgemv( 'CONJUGATE TRANSPOSE', i-1, n-i+1, -cone,a( 1, i ), lda, x( i,&
                            1 ), ldx, cone, a( i, i ),lda )
                 call stdlib_zlacgv( i-1, x( i, 1 ), ldx )
                 ! generate reflection p(i) to annihilate a(i,i+1:n)
                 alpha = a( i, i )
                 call stdlib_zlarfg( n-i+1, alpha, a( i, min( i+1, n ) ), lda,taup( i ) )
                 d( i ) = real( alpha,KIND=dp)
                 if( i<m ) then
                    a( i, i ) = cone
                    ! compute x(i+1:m,i)
                    call stdlib_zgemv( 'NO TRANSPOSE', m-i, n-i+1, cone, a( i+1, i ),lda, a( i, i &
                              ), lda, czero, x( i+1, i ), 1 )
                    call stdlib_zgemv( 'CONJUGATE TRANSPOSE', n-i+1, i-1, cone,y( i, 1 ), ldy, a( &
                              i, i ), lda, czero,x( 1, i ), 1 )
                    call stdlib_zgemv( 'NO TRANSPOSE', m-i, i-1, -cone, a( i+1, 1 ),lda, x( 1, i )&
                              , 1, cone, x( i+1, i ), 1 )
                    call stdlib_zgemv( 'NO TRANSPOSE', i-1, n-i+1, cone, a( 1, i ),lda, a( i, i ),&
                               lda, czero, x( 1, i ), 1 )
                    call stdlib_zgemv( 'NO TRANSPOSE', m-i, i-1, -cone, x( i+1, 1 ),ldx, x( 1, i )&
                              , 1, cone, x( i+1, i ), 1 )
                    call stdlib_zscal( m-i, taup( i ), x( i+1, i ), 1 )
                    call stdlib_zlacgv( n-i+1, a( i, i ), lda )
                    ! update a(i+1:m,i)
                    call stdlib_zlacgv( i-1, y( i, 1 ), ldy )
                    call stdlib_zgemv( 'NO TRANSPOSE', m-i, i-1, -cone, a( i+1, 1 ),lda, y( i, 1 )&
                              , ldy, cone, a( i+1, i ), 1 )
                    call stdlib_zlacgv( i-1, y( i, 1 ), ldy )
                    call stdlib_zgemv( 'NO TRANSPOSE', m-i, i, -cone, x( i+1, 1 ),ldx, a( 1, i ), &
                              1, cone, a( i+1, i ), 1 )
                    ! generate reflection q(i) to annihilate a(i+2:m,i)
                    alpha = a( i+1, i )
                    call stdlib_zlarfg( m-i, alpha, a( min( i+2, m ), i ), 1,tauq( i ) )
                    e( i ) = real( alpha,KIND=dp)
                    a( i+1, i ) = cone
                    ! compute y(i+1:n,i)
                    call stdlib_zgemv( 'CONJUGATE TRANSPOSE', m-i, n-i, cone,a( i+1, i+1 ), lda, &
                              a( i+1, i ), 1, czero,y( i+1, i ), 1 )
                    call stdlib_zgemv( 'CONJUGATE TRANSPOSE', m-i, i-1, cone,a( i+1, 1 ), lda, a( &
                              i+1, i ), 1, czero,y( 1, i ), 1 )
                    call stdlib_zgemv( 'NO TRANSPOSE', n-i, i-1, -cone, y( i+1, 1 ),ldy, y( 1, i )&
                              , 1, cone, y( i+1, i ), 1 )
                    call stdlib_zgemv( 'CONJUGATE TRANSPOSE', m-i, i, cone,x( i+1, 1 ), ldx, a( i+&
                              1, i ), 1, czero,y( 1, i ), 1 )
                    call stdlib_zgemv( 'CONJUGATE TRANSPOSE', i, n-i, -cone,a( 1, i+1 ), lda, y( &
                              1, i ), 1, cone,y( i+1, i ), 1 )
                    call stdlib_zscal( n-i, tauq( i ), y( i+1, i ), 1 )
                 else
                    call stdlib_zlacgv( n-i+1, a( i, i ), lda )
                 end if
              end do loop_20
           end if
           return
     end subroutine stdlib_zlabrd

#:for ck,ct,ci in CMPLX_KINDS_TYPES
#:if not ck in ["sp","dp"]
     module pure subroutine stdlib_${ci}$labrd( m, n, nb, a, lda, d, e, tauq, taup, x, ldx, y,ldy )
     !! ZLABRD: reduces the first NB rows and columns of a complex general
     !! m by n matrix A to upper or lower real bidiagonal form by a unitary
     !! transformation Q**H * A * P, and returns the matrices X and Y which
     !! are needed to apply the transformation to the unreduced part of A.
     !! If m >= n, A is reduced to upper bidiagonal form; if m < n, to lower
     !! bidiagonal form.
     !! This is an auxiliary routine called by ZGEBRD
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${ck}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(in) :: lda, ldx, ldy, m, n, nb
           ! Array Arguments 
           real(${ck}$), intent(out) :: d(*), e(*)
           complex(${ck}$), intent(inout) :: a(lda,*)
           complex(${ck}$), intent(out) :: taup(*), tauq(*), x(ldx,*), y(ldy,*)
        ! =====================================================================
           
           ! Local Scalars 
           integer(ilp) :: i
           complex(${ck}$) :: alpha
           ! Intrinsic Functions 
           ! Executable Statements 
           ! quick return if possible
           if( m<=0 .or. n<=0 )return
           if( m>=n ) then
              ! reduce to upper bidiagonal form
              loop_10: do i = 1, nb
                 ! update a(i:m,i)
                 call stdlib_${ci}$lacgv( i-1, y( i, 1 ), ldy )
                 call stdlib_${ci}$gemv( 'NO TRANSPOSE', m-i+1, i-1, -cone, a( i, 1 ),lda, y( i, 1 ), &
                           ldy, cone, a( i, i ), 1 )
                 call stdlib_${ci}$lacgv( i-1, y( i, 1 ), ldy )
                 call stdlib_${ci}$gemv( 'NO TRANSPOSE', m-i+1, i-1, -cone, x( i, 1 ),ldx, a( 1, i ), &
                           1, cone, a( i, i ), 1 )
                 ! generate reflection q(i) to annihilate a(i+1:m,i)
                 alpha = a( i, i )
                 call stdlib_${ci}$larfg( m-i+1, alpha, a( min( i+1, m ), i ), 1,tauq( i ) )
                 d( i ) = real( alpha,KIND=${ck}$)
                 if( i<n ) then
                    a( i, i ) = cone
                    ! compute y(i+1:n,i)
                    call stdlib_${ci}$gemv( 'CONJUGATE TRANSPOSE', m-i+1, n-i, cone,a( i, i+1 ), lda, &
                              a( i, i ), 1, czero,y( i+1, i ), 1 )
                    call stdlib_${ci}$gemv( 'CONJUGATE TRANSPOSE', m-i+1, i-1, cone,a( i, 1 ), lda, a( &
                              i, i ), 1, czero,y( 1, i ), 1 )
                    call stdlib_${ci}$gemv( 'NO TRANSPOSE', n-i, i-1, -cone, y( i+1, 1 ),ldy, y( 1, i )&
                              , 1, cone, y( i+1, i ), 1 )
                    call stdlib_${ci}$gemv( 'CONJUGATE TRANSPOSE', m-i+1, i-1, cone,x( i, 1 ), ldx, a( &
                              i, i ), 1, czero,y( 1, i ), 1 )
                    call stdlib_${ci}$gemv( 'CONJUGATE TRANSPOSE', i-1, n-i, -cone,a( 1, i+1 ), lda, y(&
                               1, i ), 1, cone,y( i+1, i ), 1 )
                    call stdlib_${ci}$scal( n-i, tauq( i ), y( i+1, i ), 1 )
                    ! update a(i,i+1:n)
                    call stdlib_${ci}$lacgv( n-i, a( i, i+1 ), lda )
                    call stdlib_${ci}$lacgv( i, a( i, 1 ), lda )
                    call stdlib_${ci}$gemv( 'NO TRANSPOSE', n-i, i, -cone, y( i+1, 1 ),ldy, a( i, 1 ), &
                              lda, cone, a( i, i+1 ), lda )
                    call stdlib_${ci}$lacgv( i, a( i, 1 ), lda )
                    call stdlib_${ci}$lacgv( i-1, x( i, 1 ), ldx )
                    call stdlib_${ci}$gemv( 'CONJUGATE TRANSPOSE', i-1, n-i, -cone,a( 1, i+1 ), lda, x(&
                               i, 1 ), ldx, cone,a( i, i+1 ), lda )
                    call stdlib_${ci}$lacgv( i-1, x( i, 1 ), ldx )
                    ! generate reflection p(i) to annihilate a(i,i+2:n)
                    alpha = a( i, i+1 )
                    call stdlib_${ci}$larfg( n-i, alpha, a( i, min( i+2, n ) ), lda,taup( i ) )
                    e( i ) = real( alpha,KIND=${ck}$)
                    a( i, i+1 ) = cone
                    ! compute x(i+1:m,i)
                    call stdlib_${ci}$gemv( 'NO TRANSPOSE', m-i, n-i, cone, a( i+1, i+1 ),lda, a( i, i+&
                              1 ), lda, czero, x( i+1, i ), 1 )
                    call stdlib_${ci}$gemv( 'CONJUGATE TRANSPOSE', n-i, i, cone,y( i+1, 1 ), ldy, a( i,&
                               i+1 ), lda, czero,x( 1, i ), 1 )
                    call stdlib_${ci}$gemv( 'NO TRANSPOSE', m-i, i, -cone, a( i+1, 1 ),lda, x( 1, i ), &
                              1, cone, x( i+1, i ), 1 )
                    call stdlib_${ci}$gemv( 'NO TRANSPOSE', i-1, n-i, cone, a( 1, i+1 ),lda, a( i, i+1 &
                              ), lda, czero, x( 1, i ), 1 )
                    call stdlib_${ci}$gemv( 'NO TRANSPOSE', m-i, i-1, -cone, x( i+1, 1 ),ldx, x( 1, i )&
                              , 1, cone, x( i+1, i ), 1 )
                    call stdlib_${ci}$scal( m-i, taup( i ), x( i+1, i ), 1 )
                    call stdlib_${ci}$lacgv( n-i, a( i, i+1 ), lda )
                 end if
              end do loop_10
           else
              ! reduce to lower bidiagonal form
              loop_20: do i = 1, nb
                 ! update a(i,i:n)
                 call stdlib_${ci}$lacgv( n-i+1, a( i, i ), lda )
                 call stdlib_${ci}$lacgv( i-1, a( i, 1 ), lda )
                 call stdlib_${ci}$gemv( 'NO TRANSPOSE', n-i+1, i-1, -cone, y( i, 1 ),ldy, a( i, 1 ), &
                           lda, cone, a( i, i ), lda )
                 call stdlib_${ci}$lacgv( i-1, a( i, 1 ), lda )
                 call stdlib_${ci}$lacgv( i-1, x( i, 1 ), ldx )
                 call stdlib_${ci}$gemv( 'CONJUGATE TRANSPOSE', i-1, n-i+1, -cone,a( 1, i ), lda, x( i,&
                            1 ), ldx, cone, a( i, i ),lda )
                 call stdlib_${ci}$lacgv( i-1, x( i, 1 ), ldx )
                 ! generate reflection p(i) to annihilate a(i,i+1:n)
                 alpha = a( i, i )
                 call stdlib_${ci}$larfg( n-i+1, alpha, a( i, min( i+1, n ) ), lda,taup( i ) )
                 d( i ) = real( alpha,KIND=${ck}$)
                 if( i<m ) then
                    a( i, i ) = cone
                    ! compute x(i+1:m,i)
                    call stdlib_${ci}$gemv( 'NO TRANSPOSE', m-i, n-i+1, cone, a( i+1, i ),lda, a( i, i &
                              ), lda, czero, x( i+1, i ), 1 )
                    call stdlib_${ci}$gemv( 'CONJUGATE TRANSPOSE', n-i+1, i-1, cone,y( i, 1 ), ldy, a( &
                              i, i ), lda, czero,x( 1, i ), 1 )
                    call stdlib_${ci}$gemv( 'NO TRANSPOSE', m-i, i-1, -cone, a( i+1, 1 ),lda, x( 1, i )&
                              , 1, cone, x( i+1, i ), 1 )
                    call stdlib_${ci}$gemv( 'NO TRANSPOSE', i-1, n-i+1, cone, a( 1, i ),lda, a( i, i ),&
                               lda, czero, x( 1, i ), 1 )
                    call stdlib_${ci}$gemv( 'NO TRANSPOSE', m-i, i-1, -cone, x( i+1, 1 ),ldx, x( 1, i )&
                              , 1, cone, x( i+1, i ), 1 )
                    call stdlib_${ci}$scal( m-i, taup( i ), x( i+1, i ), 1 )
                    call stdlib_${ci}$lacgv( n-i+1, a( i, i ), lda )
                    ! update a(i+1:m,i)
                    call stdlib_${ci}$lacgv( i-1, y( i, 1 ), ldy )
                    call stdlib_${ci}$gemv( 'NO TRANSPOSE', m-i, i-1, -cone, a( i+1, 1 ),lda, y( i, 1 )&
                              , ldy, cone, a( i+1, i ), 1 )
                    call stdlib_${ci}$lacgv( i-1, y( i, 1 ), ldy )
                    call stdlib_${ci}$gemv( 'NO TRANSPOSE', m-i, i, -cone, x( i+1, 1 ),ldx, a( 1, i ), &
                              1, cone, a( i+1, i ), 1 )
                    ! generate reflection q(i) to annihilate a(i+2:m,i)
                    alpha = a( i+1, i )
                    call stdlib_${ci}$larfg( m-i, alpha, a( min( i+2, m ), i ), 1,tauq( i ) )
                    e( i ) = real( alpha,KIND=${ck}$)
                    a( i+1, i ) = cone
                    ! compute y(i+1:n,i)
                    call stdlib_${ci}$gemv( 'CONJUGATE TRANSPOSE', m-i, n-i, cone,a( i+1, i+1 ), lda, &
                              a( i+1, i ), 1, czero,y( i+1, i ), 1 )
                    call stdlib_${ci}$gemv( 'CONJUGATE TRANSPOSE', m-i, i-1, cone,a( i+1, 1 ), lda, a( &
                              i+1, i ), 1, czero,y( 1, i ), 1 )
                    call stdlib_${ci}$gemv( 'NO TRANSPOSE', n-i, i-1, -cone, y( i+1, 1 ),ldy, y( 1, i )&
                              , 1, cone, y( i+1, i ), 1 )
                    call stdlib_${ci}$gemv( 'CONJUGATE TRANSPOSE', m-i, i, cone,x( i+1, 1 ), ldx, a( i+&
                              1, i ), 1, czero,y( 1, i ), 1 )
                    call stdlib_${ci}$gemv( 'CONJUGATE TRANSPOSE', i, n-i, -cone,a( 1, i+1 ), lda, y( &
                              1, i ), 1, cone,y( i+1, i ), 1 )
                    call stdlib_${ci}$scal( n-i, tauq( i ), y( i+1, i ), 1 )
                 else
                    call stdlib_${ci}$lacgv( n-i+1, a( i, i ), lda )
                 end if
              end do loop_20
           end if
           return
     end subroutine stdlib_${ci}$labrd

#:endif
#:endfor



     module pure subroutine stdlib_slapll( n, x, incx, y, incy, ssmin )
     !! Given two column vectors X and Y, let
     !! A = ( X Y ).
     !! The subroutine first computes the QR factorization of A = Q*R,
     !! and then computes the SVD of the 2-by-2 upper triangular matrix R.
     !! The smaller singular value of R is returned in SSMIN, which is used
     !! as the measurement of the linear dependency of the vectors X and Y.
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(in) :: incx, incy, n
           real(sp), intent(out) :: ssmin
           ! Array Arguments 
           real(sp), intent(inout) :: x(*), y(*)
        ! =====================================================================
           
           ! Local Scalars 
           real(sp) :: a11, a12, a22, c, ssmax, tau
           ! Executable Statements 
           ! quick return if possible
           if( n<=1 ) then
              ssmin = zero
              return
           end if
           ! compute the qr factorization of the n-by-2 matrix ( x y )
           call stdlib_slarfg( n, x( 1 ), x( 1+incx ), incx, tau )
           a11 = x( 1 )
           x( 1 ) = one
           c = -tau*stdlib_sdot( n, x, incx, y, incy )
           call stdlib_saxpy( n, c, x, incx, y, incy )
           call stdlib_slarfg( n-1, y( 1+incy ), y( 1+2*incy ), incy, tau )
           a12 = y( 1 )
           a22 = y( 1+incy )
           ! compute the svd of 2-by-2 upper triangular matrix.
           call stdlib_slas2( a11, a12, a22, ssmin, ssmax )
           return
     end subroutine stdlib_slapll

     module pure subroutine stdlib_dlapll( n, x, incx, y, incy, ssmin )
     !! Given two column vectors X and Y, let
     !! A = ( X Y ).
     !! The subroutine first computes the QR factorization of A = Q*R,
     !! and then computes the SVD of the 2-by-2 upper triangular matrix R.
     !! The smaller singular value of R is returned in SSMIN, which is used
     !! as the measurement of the linear dependency of the vectors X and Y.
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(in) :: incx, incy, n
           real(dp), intent(out) :: ssmin
           ! Array Arguments 
           real(dp), intent(inout) :: x(*), y(*)
        ! =====================================================================
           
           ! Local Scalars 
           real(dp) :: a11, a12, a22, c, ssmax, tau
           ! Executable Statements 
           ! quick return if possible
           if( n<=1 ) then
              ssmin = zero
              return
           end if
           ! compute the qr factorization of the n-by-2 matrix ( x y )
           call stdlib_dlarfg( n, x( 1 ), x( 1+incx ), incx, tau )
           a11 = x( 1 )
           x( 1 ) = one
           c = -tau*stdlib_ddot( n, x, incx, y, incy )
           call stdlib_daxpy( n, c, x, incx, y, incy )
           call stdlib_dlarfg( n-1, y( 1+incy ), y( 1+2*incy ), incy, tau )
           a12 = y( 1 )
           a22 = y( 1+incy )
           ! compute the svd of 2-by-2 upper triangular matrix.
           call stdlib_dlas2( a11, a12, a22, ssmin, ssmax )
           return
     end subroutine stdlib_dlapll

#:for rk,rt,ri in REAL_KINDS_TYPES
#:if not rk in ["sp","dp"]
     module pure subroutine stdlib_${ri}$lapll( n, x, incx, y, incy, ssmin )
     !! Given two column vectors X and Y, let
     !! A = ( X Y ).
     !! The subroutine first computes the QR factorization of A = Q*R,
     !! and then computes the SVD of the 2-by-2 upper triangular matrix R.
     !! The smaller singular value of R is returned in SSMIN, which is used
     !! as the measurement of the linear dependency of the vectors X and Y.
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${rk}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(in) :: incx, incy, n
           real(${rk}$), intent(out) :: ssmin
           ! Array Arguments 
           real(${rk}$), intent(inout) :: x(*), y(*)
        ! =====================================================================
           
           ! Local Scalars 
           real(${rk}$) :: a11, a12, a22, c, ssmax, tau
           ! Executable Statements 
           ! quick return if possible
           if( n<=1 ) then
              ssmin = zero
              return
           end if
           ! compute the qr factorization of the n-by-2 matrix ( x y )
           call stdlib_${ri}$larfg( n, x( 1 ), x( 1+incx ), incx, tau )
           a11 = x( 1 )
           x( 1 ) = one
           c = -tau*stdlib_${ri}$dot( n, x, incx, y, incy )
           call stdlib_${ri}$axpy( n, c, x, incx, y, incy )
           call stdlib_${ri}$larfg( n-1, y( 1+incy ), y( 1+2*incy ), incy, tau )
           a12 = y( 1 )
           a22 = y( 1+incy )
           ! compute the svd of 2-by-2 upper triangular matrix.
           call stdlib_${ri}$las2( a11, a12, a22, ssmin, ssmax )
           return
     end subroutine stdlib_${ri}$lapll

#:endif
#:endfor

     module pure subroutine stdlib_clapll( n, x, incx, y, incy, ssmin )
     !! Given two column vectors X and Y, let
     !! A = ( X Y ).
     !! The subroutine first computes the QR factorization of A = Q*R,
     !! and then computes the SVD of the 2-by-2 upper triangular matrix R.
     !! The smaller singular value of R is returned in SSMIN, which is used
     !! as the measurement of the linear dependency of the vectors X and Y.
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(in) :: incx, incy, n
           real(sp), intent(out) :: ssmin
           ! Array Arguments 
           complex(sp), intent(inout) :: x(*), y(*)
        ! =====================================================================
           
           
           ! Local Scalars 
           real(sp) :: ssmax
           complex(sp) :: a11, a12, a22, c, tau
           ! Intrinsic Functions 
           ! Executable Statements 
           ! quick return if possible
           if( n<=1 ) then
              ssmin = zero
              return
           end if
           ! compute the qr factorization of the n-by-2 matrix ( x y )
           call stdlib_clarfg( n, x( 1 ), x( 1+incx ), incx, tau )
           a11 = x( 1 )
           x( 1 ) = cone
           c = -conjg( tau )*stdlib_cdotc( n, x, incx, y, incy )
           call stdlib_caxpy( n, c, x, incx, y, incy )
           call stdlib_clarfg( n-1, y( 1+incy ), y( 1+2*incy ), incy, tau )
           a12 = y( 1 )
           a22 = y( 1+incy )
           ! compute the svd of 2-by-2 upper triangular matrix.
           call stdlib_slas2( abs( a11 ), abs( a12 ), abs( a22 ), ssmin, ssmax )
           return
     end subroutine stdlib_clapll

     module pure subroutine stdlib_zlapll( n, x, incx, y, incy, ssmin )
     !! Given two column vectors X and Y, let
     !! A = ( X Y ).
     !! The subroutine first computes the QR factorization of A = Q*R,
     !! and then computes the SVD of the 2-by-2 upper triangular matrix R.
     !! The smaller singular value of R is returned in SSMIN, which is used
     !! as the measurement of the linear dependency of the vectors X and Y.
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(in) :: incx, incy, n
           real(dp), intent(out) :: ssmin
           ! Array Arguments 
           complex(dp), intent(inout) :: x(*), y(*)
        ! =====================================================================
           
           
           ! Local Scalars 
           real(dp) :: ssmax
           complex(dp) :: a11, a12, a22, c, tau
           ! Intrinsic Functions 
           ! Executable Statements 
           ! quick return if possible
           if( n<=1 ) then
              ssmin = zero
              return
           end if
           ! compute the qr factorization of the n-by-2 matrix ( x y )
           call stdlib_zlarfg( n, x( 1 ), x( 1+incx ), incx, tau )
           a11 = x( 1 )
           x( 1 ) = cone
           c = -conjg( tau )*stdlib_zdotc( n, x, incx, y, incy )
           call stdlib_zaxpy( n, c, x, incx, y, incy )
           call stdlib_zlarfg( n-1, y( 1+incy ), y( 1+2*incy ), incy, tau )
           a12 = y( 1 )
           a22 = y( 1+incy )
           ! compute the svd of 2-by-2 upper triangular matrix.
           call stdlib_dlas2( abs( a11 ), abs( a12 ), abs( a22 ), ssmin, ssmax )
           return
     end subroutine stdlib_zlapll

#:for ck,ct,ci in CMPLX_KINDS_TYPES
#:if not ck in ["sp","dp"]
     module pure subroutine stdlib_${ci}$lapll( n, x, incx, y, incy, ssmin )
     !! Given two column vectors X and Y, let
     !! A = ( X Y ).
     !! The subroutine first computes the QR factorization of A = Q*R,
     !! and then computes the SVD of the 2-by-2 upper triangular matrix R.
     !! The smaller singular value of R is returned in SSMIN, which is used
     !! as the measurement of the linear dependency of the vectors X and Y.
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${ck}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(in) :: incx, incy, n
           real(${ck}$), intent(out) :: ssmin
           ! Array Arguments 
           complex(${ck}$), intent(inout) :: x(*), y(*)
        ! =====================================================================
           
           
           ! Local Scalars 
           real(${ck}$) :: ssmax
           complex(${ck}$) :: a11, a12, a22, c, tau
           ! Intrinsic Functions 
           ! Executable Statements 
           ! quick return if possible
           if( n<=1 ) then
              ssmin = zero
              return
           end if
           ! compute the qr factorization of the n-by-2 matrix ( x y )
           call stdlib_${ci}$larfg( n, x( 1 ), x( 1+incx ), incx, tau )
           a11 = x( 1 )
           x( 1 ) = cone
           c = -conjg( tau )*stdlib_${ci}$dotc( n, x, incx, y, incy )
           call stdlib_${ci}$axpy( n, c, x, incx, y, incy )
           call stdlib_${ci}$larfg( n-1, y( 1+incy ), y( 1+2*incy ), incy, tau )
           a12 = y( 1 )
           a22 = y( 1+incy )
           ! compute the svd of 2-by-2 upper triangular matrix.
           call stdlib_${c2ri(ci)}$las2( abs( a11 ), abs( a12 ), abs( a22 ), ssmin, ssmax )
           return
     end subroutine stdlib_${ci}$lapll

#:endif
#:endfor



     module pure subroutine stdlib_sgebrd( m, n, a, lda, d, e, tauq, taup, work, lwork,info )
     !! SGEBRD reduces a general real M-by-N matrix A to upper or lower
     !! bidiagonal form B by an orthogonal transformation: Q**T * A * P = B.
     !! If m >= n, B is upper bidiagonal; if m < n, B is lower bidiagonal.
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, lwork, m, n
           ! Array Arguments 
           real(sp), intent(inout) :: a(lda,*)
           real(sp), intent(out) :: d(*), e(*), taup(*), tauq(*), work(*)
        ! =====================================================================
           
           ! Local Scalars 
           logical(lk) :: lquery
           integer(ilp) :: i, iinfo, j, ldwrkx, ldwrky, lwkopt, minmn, nb, nbmin, nx, ws
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters
           info = 0
           nb = max( 1, stdlib_ilaenv( 1, 'SGEBRD', ' ', m, n, -1, -1 ) )
           lwkopt = ( m+n )*nb
           work( 1 ) = real( lwkopt,KIND=sp)
           lquery = ( lwork==-1 )
           if( m<0 ) then
              info = -1
           else if( n<0 ) then
              info = -2
           else if( lda<max( 1, m ) ) then
              info = -4
           else if( lwork<max( 1, m, n ) .and. .not.lquery ) then
              info = -10
           end if
           if( info<0 ) then
              call stdlib_xerbla( 'SGEBRD', -info )
              return
           else if( lquery ) then
              return
           end if
           ! quick return if possible
           minmn = min( m, n )
           if( minmn==0 ) then
              work( 1 ) = 1
              return
           end if
           ws = max( m, n )
           ldwrkx = m
           ldwrky = n
           if( nb>1 .and. nb<minmn ) then
              ! set the crossover point nx.
              nx = max( nb, stdlib_ilaenv( 3, 'SGEBRD', ' ', m, n, -1, -1 ) )
              ! determine when to switch from blocked to unblocked code.
              if( nx<minmn ) then
                 ws = ( m+n )*nb
                 if( lwork<ws ) then
                    ! not enough work space for the optimal nb, consider using
                    ! a smaller block size.
                    nbmin = stdlib_ilaenv( 2, 'SGEBRD', ' ', m, n, -1, -1 )
                    if( lwork>=( m+n )*nbmin ) then
                       nb = lwork / ( m+n )
                    else
                       nb = 1
                       nx = minmn
                    end if
                 end if
              end if
           else
              nx = minmn
           end if
           do i = 1, minmn - nx, nb
              ! reduce rows and columns i:i+nb-1 to bidiagonal form and return
              ! the matrices x and y which are needed to update the unreduced
              ! part of the matrix
              call stdlib_slabrd( m-i+1, n-i+1, nb, a( i, i ), lda, d( i ), e( i ),tauq( i ), &
                        taup( i ), work, ldwrkx,work( ldwrkx*nb+1 ), ldwrky )
              ! update the trailing submatrix a(i+nb:m,i+nb:n), using an update
              ! of the form  a := a - v*y**t - x*u**t
              call stdlib_sgemm( 'NO TRANSPOSE', 'TRANSPOSE', m-i-nb+1, n-i-nb+1,nb, -one, a( i+&
                        nb, i ), lda,work( ldwrkx*nb+nb+1 ), ldwrky, one,a( i+nb, i+nb ), lda )
              call stdlib_sgemm( 'NO TRANSPOSE', 'NO TRANSPOSE', m-i-nb+1, n-i-nb+1,nb, -one, &
                        work( nb+1 ), ldwrkx, a( i, i+nb ), lda,one, a( i+nb, i+nb ), lda )
              ! copy diagonal and off-diagonal elements of b back into a
              if( m>=n ) then
                 do j = i, i + nb - 1
                    a( j, j ) = d( j )
                    a( j, j+1 ) = e( j )
                 end do
              else
                 do j = i, i + nb - 1
                    a( j, j ) = d( j )
                    a( j+1, j ) = e( j )
                 end do
              end if
           end do
           ! use unblocked code to reduce the remainder of the matrix
           call stdlib_sgebd2( m-i+1, n-i+1, a( i, i ), lda, d( i ), e( i ),tauq( i ), taup( i ), &
                     work, iinfo )
           work( 1 ) = ws
           return
     end subroutine stdlib_sgebrd

     module pure subroutine stdlib_dgebrd( m, n, a, lda, d, e, tauq, taup, work, lwork,info )
     !! DGEBRD reduces a general real M-by-N matrix A to upper or lower
     !! bidiagonal form B by an orthogonal transformation: Q**T * A * P = B.
     !! If m >= n, B is upper bidiagonal; if m < n, B is lower bidiagonal.
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, lwork, m, n
           ! Array Arguments 
           real(dp), intent(inout) :: a(lda,*)
           real(dp), intent(out) :: d(*), e(*), taup(*), tauq(*), work(*)
        ! =====================================================================
           
           ! Local Scalars 
           logical(lk) :: lquery
           integer(ilp) :: i, iinfo, j, ldwrkx, ldwrky, lwkopt, minmn, nb, nbmin, nx, ws
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters
           info = 0
           nb = max( 1, stdlib_ilaenv( 1, 'DGEBRD', ' ', m, n, -1, -1 ) )
           lwkopt = ( m+n )*nb
           work( 1 ) = real( lwkopt,KIND=dp)
           lquery = ( lwork==-1 )
           if( m<0 ) then
              info = -1
           else if( n<0 ) then
              info = -2
           else if( lda<max( 1, m ) ) then
              info = -4
           else if( lwork<max( 1, m, n ) .and. .not.lquery ) then
              info = -10
           end if
           if( info<0 ) then
              call stdlib_xerbla( 'DGEBRD', -info )
              return
           else if( lquery ) then
              return
           end if
           ! quick return if possible
           minmn = min( m, n )
           if( minmn==0 ) then
              work( 1 ) = 1
              return
           end if
           ws = max( m, n )
           ldwrkx = m
           ldwrky = n
           if( nb>1 .and. nb<minmn ) then
              ! set the crossover point nx.
              nx = max( nb, stdlib_ilaenv( 3, 'DGEBRD', ' ', m, n, -1, -1 ) )
              ! determine when to switch from blocked to unblocked code.
              if( nx<minmn ) then
                 ws = ( m+n )*nb
                 if( lwork<ws ) then
                    ! not enough work space for the optimal nb, consider using
                    ! a smaller block size.
                    nbmin = stdlib_ilaenv( 2, 'DGEBRD', ' ', m, n, -1, -1 )
                    if( lwork>=( m+n )*nbmin ) then
                       nb = lwork / ( m+n )
                    else
                       nb = 1
                       nx = minmn
                    end if
                 end if
              end if
           else
              nx = minmn
           end if
           do i = 1, minmn - nx, nb
              ! reduce rows and columns i:i+nb-1 to bidiagonal form and return
              ! the matrices x and y which are needed to update the unreduced
              ! part of the matrix
              call stdlib_dlabrd( m-i+1, n-i+1, nb, a( i, i ), lda, d( i ), e( i ),tauq( i ), &
                        taup( i ), work, ldwrkx,work( ldwrkx*nb+1 ), ldwrky )
              ! update the trailing submatrix a(i+nb:m,i+nb:n), using an update
              ! of the form  a := a - v*y**t - x*u**t
              call stdlib_dgemm( 'NO TRANSPOSE', 'TRANSPOSE', m-i-nb+1, n-i-nb+1,nb, -one, a( i+&
                        nb, i ), lda,work( ldwrkx*nb+nb+1 ), ldwrky, one,a( i+nb, i+nb ), lda )
              call stdlib_dgemm( 'NO TRANSPOSE', 'NO TRANSPOSE', m-i-nb+1, n-i-nb+1,nb, -one, &
                        work( nb+1 ), ldwrkx, a( i, i+nb ), lda,one, a( i+nb, i+nb ), lda )
              ! copy diagonal and off-diagonal elements of b back into a
              if( m>=n ) then
                 do j = i, i + nb - 1
                    a( j, j ) = d( j )
                    a( j, j+1 ) = e( j )
                 end do
              else
                 do j = i, i + nb - 1
                    a( j, j ) = d( j )
                    a( j+1, j ) = e( j )
                 end do
              end if
           end do
           ! use unblocked code to reduce the remainder of the matrix
           call stdlib_dgebd2( m-i+1, n-i+1, a( i, i ), lda, d( i ), e( i ),tauq( i ), taup( i ), &
                     work, iinfo )
           work( 1 ) = ws
           return
     end subroutine stdlib_dgebrd

#:for rk,rt,ri in REAL_KINDS_TYPES
#:if not rk in ["sp","dp"]
     module pure subroutine stdlib_${ri}$gebrd( m, n, a, lda, d, e, tauq, taup, work, lwork,info )
     !! DGEBRD: reduces a general real M-by-N matrix A to upper or lower
     !! bidiagonal form B by an orthogonal transformation: Q**T * A * P = B.
     !! If m >= n, B is upper bidiagonal; if m < n, B is lower bidiagonal.
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${rk}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, lwork, m, n
           ! Array Arguments 
           real(${rk}$), intent(inout) :: a(lda,*)
           real(${rk}$), intent(out) :: d(*), e(*), taup(*), tauq(*), work(*)
        ! =====================================================================
           
           ! Local Scalars 
           logical(lk) :: lquery
           integer(ilp) :: i, iinfo, j, ldwrkx, ldwrky, lwkopt, minmn, nb, nbmin, nx, ws
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters
           info = 0
           nb = max( 1, stdlib_ilaenv( 1, 'DGEBRD', ' ', m, n, -1, -1 ) )
           lwkopt = ( m+n )*nb
           work( 1 ) = real( lwkopt,KIND=${rk}$)
           lquery = ( lwork==-1 )
           if( m<0 ) then
              info = -1
           else if( n<0 ) then
              info = -2
           else if( lda<max( 1, m ) ) then
              info = -4
           else if( lwork<max( 1, m, n ) .and. .not.lquery ) then
              info = -10
           end if
           if( info<0 ) then
              call stdlib_xerbla( 'DGEBRD', -info )
              return
           else if( lquery ) then
              return
           end if
           ! quick return if possible
           minmn = min( m, n )
           if( minmn==0 ) then
              work( 1 ) = 1
              return
           end if
           ws = max( m, n )
           ldwrkx = m
           ldwrky = n
           if( nb>1 .and. nb<minmn ) then
              ! set the crossover point nx.
              nx = max( nb, stdlib_ilaenv( 3, 'DGEBRD', ' ', m, n, -1, -1 ) )
              ! determine when to switch from blocked to unblocked code.
              if( nx<minmn ) then
                 ws = ( m+n )*nb
                 if( lwork<ws ) then
                    ! not enough work space for the optimal nb, consider using
                    ! a smaller block size.
                    nbmin = stdlib_ilaenv( 2, 'DGEBRD', ' ', m, n, -1, -1 )
                    if( lwork>=( m+n )*nbmin ) then
                       nb = lwork / ( m+n )
                    else
                       nb = 1
                       nx = minmn
                    end if
                 end if
              end if
           else
              nx = minmn
           end if
           do i = 1, minmn - nx, nb
              ! reduce rows and columns i:i+nb-1 to bidiagonal form and return
              ! the matrices x and y which are needed to update the unreduced
              ! part of the matrix
              call stdlib_${ri}$labrd( m-i+1, n-i+1, nb, a( i, i ), lda, d( i ), e( i ),tauq( i ), &
                        taup( i ), work, ldwrkx,work( ldwrkx*nb+1 ), ldwrky )
              ! update the trailing submatrix a(i+nb:m,i+nb:n), using an update
              ! of the form  a := a - v*y**t - x*u**t
              call stdlib_${ri}$gemm( 'NO TRANSPOSE', 'TRANSPOSE', m-i-nb+1, n-i-nb+1,nb, -one, a( i+&
                        nb, i ), lda,work( ldwrkx*nb+nb+1 ), ldwrky, one,a( i+nb, i+nb ), lda )
              call stdlib_${ri}$gemm( 'NO TRANSPOSE', 'NO TRANSPOSE', m-i-nb+1, n-i-nb+1,nb, -one, &
                        work( nb+1 ), ldwrkx, a( i, i+nb ), lda,one, a( i+nb, i+nb ), lda )
              ! copy diagonal and off-diagonal elements of b back into a
              if( m>=n ) then
                 do j = i, i + nb - 1
                    a( j, j ) = d( j )
                    a( j, j+1 ) = e( j )
                 end do
              else
                 do j = i, i + nb - 1
                    a( j, j ) = d( j )
                    a( j+1, j ) = e( j )
                 end do
              end if
           end do
           ! use unblocked code to reduce the remainder of the matrix
           call stdlib_${ri}$gebd2( m-i+1, n-i+1, a( i, i ), lda, d( i ), e( i ),tauq( i ), taup( i ), &
                     work, iinfo )
           work( 1 ) = ws
           return
     end subroutine stdlib_${ri}$gebrd

#:endif
#:endfor

     module pure subroutine stdlib_cgebrd( m, n, a, lda, d, e, tauq, taup, work, lwork,info )
     !! CGEBRD reduces a general complex M-by-N matrix A to upper or lower
     !! bidiagonal form B by a unitary transformation: Q**H * A * P = B.
     !! If m >= n, B is upper bidiagonal; if m < n, B is lower bidiagonal.
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, lwork, m, n
           ! Array Arguments 
           real(sp), intent(out) :: d(*), e(*)
           complex(sp), intent(inout) :: a(lda,*)
           complex(sp), intent(out) :: taup(*), tauq(*), work(*)
        ! =====================================================================
           
           ! Local Scalars 
           logical(lk) :: lquery
           integer(ilp) :: i, iinfo, j, ldwrkx, ldwrky, lwkopt, minmn, nb, nbmin, nx, ws
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters
           info = 0
           nb = max( 1, stdlib_ilaenv( 1, 'CGEBRD', ' ', m, n, -1, -1 ) )
           lwkopt = ( m+n )*nb
           work( 1 ) = real( lwkopt,KIND=sp)
           lquery = ( lwork==-1 )
           if( m<0 ) then
              info = -1
           else if( n<0 ) then
              info = -2
           else if( lda<max( 1, m ) ) then
              info = -4
           else if( lwork<max( 1, m, n ) .and. .not.lquery ) then
              info = -10
           end if
           if( info<0 ) then
              call stdlib_xerbla( 'CGEBRD', -info )
              return
           else if( lquery ) then
              return
           end if
           ! quick return if possible
           minmn = min( m, n )
           if( minmn==0 ) then
              work( 1 ) = 1
              return
           end if
           ws = max( m, n )
           ldwrkx = m
           ldwrky = n
           if( nb>1 .and. nb<minmn ) then
              ! set the crossover point nx.
              nx = max( nb, stdlib_ilaenv( 3, 'CGEBRD', ' ', m, n, -1, -1 ) )
              ! determine when to switch from blocked to unblocked code.
              if( nx<minmn ) then
                 ws = ( m+n )*nb
                 if( lwork<ws ) then
                    ! not enough work space for the optimal nb, consider using
                    ! a smaller block size.
                    nbmin = stdlib_ilaenv( 2, 'CGEBRD', ' ', m, n, -1, -1 )
                    if( lwork>=( m+n )*nbmin ) then
                       nb = lwork / ( m+n )
                    else
                       nb = 1
                       nx = minmn
                    end if
                 end if
              end if
           else
              nx = minmn
           end if
           do i = 1, minmn - nx, nb
              ! reduce rows and columns i:i+ib-1 to bidiagonal form and return
              ! the matrices x and y which are needed to update the unreduced
              ! part of the matrix
              call stdlib_clabrd( m-i+1, n-i+1, nb, a( i, i ), lda, d( i ), e( i ),tauq( i ), &
                        taup( i ), work, ldwrkx,work( ldwrkx*nb+1 ), ldwrky )
              ! update the trailing submatrix a(i+ib:m,i+ib:n), using
              ! an update of the form  a := a - v*y**h - x*u**h
              call stdlib_cgemm( 'NO TRANSPOSE', 'CONJUGATE TRANSPOSE', m-i-nb+1,n-i-nb+1, nb, -&
              cone, a( i+nb, i ), lda,work( ldwrkx*nb+nb+1 ), ldwrky, cone,a( i+nb, i+nb ), lda )
                        
              call stdlib_cgemm( 'NO TRANSPOSE', 'NO TRANSPOSE', m-i-nb+1, n-i-nb+1,nb, -cone, &
                        work( nb+1 ), ldwrkx, a( i, i+nb ), lda,cone, a( i+nb, i+nb ), lda )
              ! copy diagonal and off-diagonal elements of b back into a
              if( m>=n ) then
                 do j = i, i + nb - 1
                    a( j, j ) = d( j )
                    a( j, j+1 ) = e( j )
                 end do
              else
                 do j = i, i + nb - 1
                    a( j, j ) = d( j )
                    a( j+1, j ) = e( j )
                 end do
              end if
           end do
           ! use unblocked code to reduce the remainder of the matrix
           call stdlib_cgebd2( m-i+1, n-i+1, a( i, i ), lda, d( i ), e( i ),tauq( i ), taup( i ), &
                     work, iinfo )
           work( 1 ) = ws
           return
     end subroutine stdlib_cgebrd

     module pure subroutine stdlib_zgebrd( m, n, a, lda, d, e, tauq, taup, work, lwork,info )
     !! ZGEBRD reduces a general complex M-by-N matrix A to upper or lower
     !! bidiagonal form B by a unitary transformation: Q**H * A * P = B.
     !! If m >= n, B is upper bidiagonal; if m < n, B is lower bidiagonal.
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, lwork, m, n
           ! Array Arguments 
           real(dp), intent(out) :: d(*), e(*)
           complex(dp), intent(inout) :: a(lda,*)
           complex(dp), intent(out) :: taup(*), tauq(*), work(*)
        ! =====================================================================
           
           ! Local Scalars 
           logical(lk) :: lquery
           integer(ilp) :: i, iinfo, j, ldwrkx, ldwrky, lwkopt, minmn, nb, nbmin, nx, ws
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters
           info = 0
           nb = max( 1, stdlib_ilaenv( 1, 'ZGEBRD', ' ', m, n, -1, -1 ) )
           lwkopt = ( m+n )*nb
           work( 1 ) = real( lwkopt,KIND=dp)
           lquery = ( lwork==-1 )
           if( m<0 ) then
              info = -1
           else if( n<0 ) then
              info = -2
           else if( lda<max( 1, m ) ) then
              info = -4
           else if( lwork<max( 1, m, n ) .and. .not.lquery ) then
              info = -10
           end if
           if( info<0 ) then
              call stdlib_xerbla( 'ZGEBRD', -info )
              return
           else if( lquery ) then
              return
           end if
           ! quick return if possible
           minmn = min( m, n )
           if( minmn==0 ) then
              work( 1 ) = 1
              return
           end if
           ws = max( m, n )
           ldwrkx = m
           ldwrky = n
           if( nb>1 .and. nb<minmn ) then
              ! set the crossover point nx.
              nx = max( nb, stdlib_ilaenv( 3, 'ZGEBRD', ' ', m, n, -1, -1 ) )
              ! determine when to switch from blocked to unblocked code.
              if( nx<minmn ) then
                 ws = ( m+n )*nb
                 if( lwork<ws ) then
                    ! not enough work space for the optimal nb, consider using
                    ! a smaller block size.
                    nbmin = stdlib_ilaenv( 2, 'ZGEBRD', ' ', m, n, -1, -1 )
                    if( lwork>=( m+n )*nbmin ) then
                       nb = lwork / ( m+n )
                    else
                       nb = 1
                       nx = minmn
                    end if
                 end if
              end if
           else
              nx = minmn
           end if
           do i = 1, minmn - nx, nb
              ! reduce rows and columns i:i+ib-1 to bidiagonal form and return
              ! the matrices x and y which are needed to update the unreduced
              ! part of the matrix
              call stdlib_zlabrd( m-i+1, n-i+1, nb, a( i, i ), lda, d( i ), e( i ),tauq( i ), &
                        taup( i ), work, ldwrkx,work( ldwrkx*nb+1 ), ldwrky )
              ! update the trailing submatrix a(i+ib:m,i+ib:n), using
              ! an update of the form  a := a - v*y**h - x*u**h
              call stdlib_zgemm( 'NO TRANSPOSE', 'CONJUGATE TRANSPOSE', m-i-nb+1,n-i-nb+1, nb, -&
              cone, a( i+nb, i ), lda,work( ldwrkx*nb+nb+1 ), ldwrky, cone,a( i+nb, i+nb ), lda )
                        
              call stdlib_zgemm( 'NO TRANSPOSE', 'NO TRANSPOSE', m-i-nb+1, n-i-nb+1,nb, -cone, &
                        work( nb+1 ), ldwrkx, a( i, i+nb ), lda,cone, a( i+nb, i+nb ), lda )
              ! copy diagonal and off-diagonal elements of b back into a
              if( m>=n ) then
                 do j = i, i + nb - 1
                    a( j, j ) = d( j )
                    a( j, j+1 ) = e( j )
                 end do
              else
                 do j = i, i + nb - 1
                    a( j, j ) = d( j )
                    a( j+1, j ) = e( j )
                 end do
              end if
           end do
           ! use unblocked code to reduce the remainder of the matrix
           call stdlib_zgebd2( m-i+1, n-i+1, a( i, i ), lda, d( i ), e( i ),tauq( i ), taup( i ), &
                     work, iinfo )
           work( 1 ) = ws
           return
     end subroutine stdlib_zgebrd

#:for ck,ct,ci in CMPLX_KINDS_TYPES
#:if not ck in ["sp","dp"]
     module pure subroutine stdlib_${ci}$gebrd( m, n, a, lda, d, e, tauq, taup, work, lwork,info )
     !! ZGEBRD: reduces a general complex M-by-N matrix A to upper or lower
     !! bidiagonal form B by a unitary transformation: Q**H * A * P = B.
     !! If m >= n, B is upper bidiagonal; if m < n, B is lower bidiagonal.
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${ck}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, lwork, m, n
           ! Array Arguments 
           real(${ck}$), intent(out) :: d(*), e(*)
           complex(${ck}$), intent(inout) :: a(lda,*)
           complex(${ck}$), intent(out) :: taup(*), tauq(*), work(*)
        ! =====================================================================
           
           ! Local Scalars 
           logical(lk) :: lquery
           integer(ilp) :: i, iinfo, j, ldwrkx, ldwrky, lwkopt, minmn, nb, nbmin, nx, ws
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters
           info = 0
           nb = max( 1, stdlib_ilaenv( 1, 'ZGEBRD', ' ', m, n, -1, -1 ) )
           lwkopt = ( m+n )*nb
           work( 1 ) = real( lwkopt,KIND=${ck}$)
           lquery = ( lwork==-1 )
           if( m<0 ) then
              info = -1
           else if( n<0 ) then
              info = -2
           else if( lda<max( 1, m ) ) then
              info = -4
           else if( lwork<max( 1, m, n ) .and. .not.lquery ) then
              info = -10
           end if
           if( info<0 ) then
              call stdlib_xerbla( 'ZGEBRD', -info )
              return
           else if( lquery ) then
              return
           end if
           ! quick return if possible
           minmn = min( m, n )
           if( minmn==0 ) then
              work( 1 ) = 1
              return
           end if
           ws = max( m, n )
           ldwrkx = m
           ldwrky = n
           if( nb>1 .and. nb<minmn ) then
              ! set the crossover point nx.
              nx = max( nb, stdlib_ilaenv( 3, 'ZGEBRD', ' ', m, n, -1, -1 ) )
              ! determine when to switch from blocked to unblocked code.
              if( nx<minmn ) then
                 ws = ( m+n )*nb
                 if( lwork<ws ) then
                    ! not enough work space for the optimal nb, consider using
                    ! a smaller block size.
                    nbmin = stdlib_ilaenv( 2, 'ZGEBRD', ' ', m, n, -1, -1 )
                    if( lwork>=( m+n )*nbmin ) then
                       nb = lwork / ( m+n )
                    else
                       nb = 1
                       nx = minmn
                    end if
                 end if
              end if
           else
              nx = minmn
           end if
           do i = 1, minmn - nx, nb
              ! reduce rows and columns i:i+ib-1 to bidiagonal form and return
              ! the matrices x and y which are needed to update the unreduced
              ! part of the matrix
              call stdlib_${ci}$labrd( m-i+1, n-i+1, nb, a( i, i ), lda, d( i ), e( i ),tauq( i ), &
                        taup( i ), work, ldwrkx,work( ldwrkx*nb+1 ), ldwrky )
              ! update the trailing submatrix a(i+ib:m,i+ib:n), using
              ! an update of the form  a := a - v*y**h - x*u**h
              call stdlib_${ci}$gemm( 'NO TRANSPOSE', 'CONJUGATE TRANSPOSE', m-i-nb+1,n-i-nb+1, nb, -&
              cone, a( i+nb, i ), lda,work( ldwrkx*nb+nb+1 ), ldwrky, cone,a( i+nb, i+nb ), lda )
                        
              call stdlib_${ci}$gemm( 'NO TRANSPOSE', 'NO TRANSPOSE', m-i-nb+1, n-i-nb+1,nb, -cone, &
                        work( nb+1 ), ldwrkx, a( i, i+nb ), lda,cone, a( i+nb, i+nb ), lda )
              ! copy diagonal and off-diagonal elements of b back into a
              if( m>=n ) then
                 do j = i, i + nb - 1
                    a( j, j ) = d( j )
                    a( j, j+1 ) = e( j )
                 end do
              else
                 do j = i, i + nb - 1
                    a( j, j ) = d( j )
                    a( j+1, j ) = e( j )
                 end do
              end if
           end do
           ! use unblocked code to reduce the remainder of the matrix
           call stdlib_${ci}$gebd2( m-i+1, n-i+1, a( i, i ), lda, d( i ), e( i ),tauq( i ), taup( i ), &
                     work, iinfo )
           work( 1 ) = ws
           return
     end subroutine stdlib_${ci}$gebrd

#:endif
#:endfor



     module pure subroutine stdlib_slasv2( f, g, h, ssmin, ssmax, snr, csr, snl, csl )
     !! SLASV2 computes the singular value decomposition of a 2-by-2
     !! triangular matrix
     !! [  F   G  ]
     !! [  0   H  ].
     !! On return, abs(SSMAX) is the larger singular value, abs(SSMIN) is the
     !! smaller singular value, and (CSL,SNL) and (CSR,SNR) are the left and
     !! right singular vectors for abs(SSMAX), giving the decomposition
     !! [ CSL  SNL ] [  F   G  ] [ CSR -SNR ]  =  [ SSMAX   0   ]
     !! [-SNL  CSL ] [  0   H  ] [ SNR  CSR ]     [  0    SSMIN ].
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           real(sp), intent(out) :: csl, csr, snl, snr, ssmax, ssmin
           real(sp), intent(in) :: f, g, h
       ! =====================================================================
           
           
           
           
           
           ! Local Scalars 
           logical(lk) :: gasmal, swap
           integer(ilp) :: pmax
           real(sp) :: a, clt, crt, d, fa, ft, ga, gt, ha, ht, l, m, mm, r, s, slt, srt, t, temp, &
                     tsign, tt
           ! Intrinsic Functions 
           ! Executable Statements 
           ft = f
           fa = abs( ft )
           ht = h
           ha = abs( h )
           ! pmax points to the maximum absolute element of matrix
             ! pmax = 1 if f largest in absolute values
             ! pmax = 2 if g largest in absolute values
             ! pmax = 3 if h largest in absolute values
           pmax = 1
           swap = ( ha>fa )
           if( swap ) then
              pmax = 3
              temp = ft
              ft = ht
              ht = temp
              temp = fa
              fa = ha
              ha = temp
              ! now fa .ge. ha
           end if
           gt = g
           ga = abs( gt )
           if( ga==zero ) then
              ! diagonal matrix
              ssmin = ha
              ssmax = fa
              clt = one
              crt = one
              slt = zero
              srt = zero
           else
              gasmal = .true.
              if( ga>fa ) then
                 pmax = 2
                 if( ( fa / ga )<stdlib_slamch( 'EPS' ) ) then
                    ! case of very large ga
                    gasmal = .false.
                    ssmax = ga
                    if( ha>one ) then
                       ssmin = fa / ( ga / ha )
                    else
                       ssmin = ( fa / ga )*ha
                    end if
                    clt = one
                    slt = ht / gt
                    srt = one
                    crt = ft / gt
                 end if
              end if
              if( gasmal ) then
                 ! normal case
                 d = fa - ha
                 if( d==fa ) then
                    ! copes with infinite f or h
                    l = one
                 else
                    l = d / fa
                 end if
                 ! note that 0 .le. l .le. 1
                 m = gt / ft
                 ! note that abs(m) .le. 1/macheps
                 t = two - l
                 ! note that t .ge. 1
                 mm = m*m
                 tt = t*t
                 s = sqrt( tt+mm )
                 ! note that 1 .le. s .le. 1 + 1/macheps
                 if( l==zero ) then
                    r = abs( m )
                 else
                    r = sqrt( l*l+mm )
                 end if
                 ! note that 0 .le. r .le. 1 + 1/macheps
                 a = half*( s+r )
                 ! note that 1 .le. a .le. 1 + abs(m)
                 ssmin = ha / a
                 ssmax = fa*a
                 if( mm==zero ) then
                    ! note that m is very tiny
                    if( l==zero ) then
                       t = sign( two, ft )*sign( one, gt )
                    else
                       t = gt / sign( d, ft ) + m / t
                    end if
                 else
                    t = ( m / ( s+t )+m / ( r+l ) )*( one+a )
                 end if
                 l = sqrt( t*t+four )
                 crt = two / l
                 srt = t / l
                 clt = ( crt+srt*m ) / a
                 slt = ( ht / ft )*srt / a
              end if
           end if
           if( swap ) then
              csl = srt
              snl = crt
              csr = slt
              snr = clt
           else
              csl = clt
              snl = slt
              csr = crt
              snr = srt
           end if
           ! correct signs of ssmax and ssmin
           if( pmax==1 )tsign = sign( one, csr )*sign( one, csl )*sign( one, f )
           if( pmax==2 )tsign = sign( one, snr )*sign( one, csl )*sign( one, g )
           if( pmax==3 )tsign = sign( one, snr )*sign( one, snl )*sign( one, h )
           ssmax = sign( ssmax, tsign )
           ssmin = sign( ssmin, tsign*sign( one, f )*sign( one, h ) )
           return
     end subroutine stdlib_slasv2

     module pure subroutine stdlib_dlasv2( f, g, h, ssmin, ssmax, snr, csr, snl, csl )
     !! DLASV2 computes the singular value decomposition of a 2-by-2
     !! triangular matrix
     !! [  F   G  ]
     !! [  0   H  ].
     !! On return, abs(SSMAX) is the larger singular value, abs(SSMIN) is the
     !! smaller singular value, and (CSL,SNL) and (CSR,SNR) are the left and
     !! right singular vectors for abs(SSMAX), giving the decomposition
     !! [ CSL  SNL ] [  F   G  ] [ CSR -SNR ]  =  [ SSMAX   0   ]
     !! [-SNL  CSL ] [  0   H  ] [ SNR  CSR ]     [  0    SSMIN ].
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           real(dp), intent(out) :: csl, csr, snl, snr, ssmax, ssmin
           real(dp), intent(in) :: f, g, h
       ! =====================================================================
           
           
           
           
           
           ! Local Scalars 
           logical(lk) :: gasmal, swap
           integer(ilp) :: pmax
           real(dp) :: a, clt, crt, d, fa, ft, ga, gt, ha, ht, l, m, mm, r, s, slt, srt, t, temp, &
                     tsign, tt
           ! Intrinsic Functions 
           ! Executable Statements 
           ft = f
           fa = abs( ft )
           ht = h
           ha = abs( h )
           ! pmax points to the maximum absolute element of matrix
             ! pmax = 1 if f largest in absolute values
             ! pmax = 2 if g largest in absolute values
             ! pmax = 3 if h largest in absolute values
           pmax = 1
           swap = ( ha>fa )
           if( swap ) then
              pmax = 3
              temp = ft
              ft = ht
              ht = temp
              temp = fa
              fa = ha
              ha = temp
              ! now fa .ge. ha
           end if
           gt = g
           ga = abs( gt )
           if( ga==zero ) then
              ! diagonal matrix
              ssmin = ha
              ssmax = fa
              clt = one
              crt = one
              slt = zero
              srt = zero
           else
              gasmal = .true.
              if( ga>fa ) then
                 pmax = 2
                 if( ( fa / ga )<stdlib_dlamch( 'EPS' ) ) then
                    ! case of very large ga
                    gasmal = .false.
                    ssmax = ga
                    if( ha>one ) then
                       ssmin = fa / ( ga / ha )
                    else
                       ssmin = ( fa / ga )*ha
                    end if
                    clt = one
                    slt = ht / gt
                    srt = one
                    crt = ft / gt
                 end if
              end if
              if( gasmal ) then
                 ! normal case
                 d = fa - ha
                 if( d==fa ) then
                    ! copes with infinite f or h
                    l = one
                 else
                    l = d / fa
                 end if
                 ! note that 0 .le. l .le. 1
                 m = gt / ft
                 ! note that abs(m) .le. 1/macheps
                 t = two - l
                 ! note that t .ge. 1
                 mm = m*m
                 tt = t*t
                 s = sqrt( tt+mm )
                 ! note that 1 .le. s .le. 1 + 1/macheps
                 if( l==zero ) then
                    r = abs( m )
                 else
                    r = sqrt( l*l+mm )
                 end if
                 ! note that 0 .le. r .le. 1 + 1/macheps
                 a = half*( s+r )
                 ! note that 1 .le. a .le. 1 + abs(m)
                 ssmin = ha / a
                 ssmax = fa*a
                 if( mm==zero ) then
                    ! note that m is very tiny
                    if( l==zero ) then
                       t = sign( two, ft )*sign( one, gt )
                    else
                       t = gt / sign( d, ft ) + m / t
                    end if
                 else
                    t = ( m / ( s+t )+m / ( r+l ) )*( one+a )
                 end if
                 l = sqrt( t*t+four )
                 crt = two / l
                 srt = t / l
                 clt = ( crt+srt*m ) / a
                 slt = ( ht / ft )*srt / a
              end if
           end if
           if( swap ) then
              csl = srt
              snl = crt
              csr = slt
              snr = clt
           else
              csl = clt
              snl = slt
              csr = crt
              snr = srt
           end if
           ! correct signs of ssmax and ssmin
           if( pmax==1 )tsign = sign( one, csr )*sign( one, csl )*sign( one, f )
           if( pmax==2 )tsign = sign( one, snr )*sign( one, csl )*sign( one, g )
           if( pmax==3 )tsign = sign( one, snr )*sign( one, snl )*sign( one, h )
           ssmax = sign( ssmax, tsign )
           ssmin = sign( ssmin, tsign*sign( one, f )*sign( one, h ) )
           return
     end subroutine stdlib_dlasv2

#:for rk,rt,ri in REAL_KINDS_TYPES
#:if not rk in ["sp","dp"]
     module pure subroutine stdlib_${ri}$lasv2( f, g, h, ssmin, ssmax, snr, csr, snl, csl )
     !! DLASV2: computes the singular value decomposition of a 2-by-2
     !! triangular matrix
     !! [  F   G  ]
     !! [  0   H  ].
     !! On return, abs(SSMAX) is the larger singular value, abs(SSMIN) is the
     !! smaller singular value, and (CSL,SNL) and (CSR,SNR) are the left and
     !! right singular vectors for abs(SSMAX), giving the decomposition
     !! [ CSL  SNL ] [  F   G  ] [ CSR -SNR ]  =  [ SSMAX   0   ]
     !! [-SNL  CSL ] [  0   H  ] [ SNR  CSR ]     [  0    SSMIN ].
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${rk}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           real(${rk}$), intent(out) :: csl, csr, snl, snr, ssmax, ssmin
           real(${rk}$), intent(in) :: f, g, h
       ! =====================================================================
           
           
           
           
           
           ! Local Scalars 
           logical(lk) :: gasmal, swap
           integer(ilp) :: pmax
           real(${rk}$) :: a, clt, crt, d, fa, ft, ga, gt, ha, ht, l, m, mm, r, s, slt, srt, t, temp, &
                     tsign, tt
           ! Intrinsic Functions 
           ! Executable Statements 
           ft = f
           fa = abs( ft )
           ht = h
           ha = abs( h )
           ! pmax points to the maximum absolute element of matrix
             ! pmax = 1 if f largest in absolute values
             ! pmax = 2 if g largest in absolute values
             ! pmax = 3 if h largest in absolute values
           pmax = 1
           swap = ( ha>fa )
           if( swap ) then
              pmax = 3
              temp = ft
              ft = ht
              ht = temp
              temp = fa
              fa = ha
              ha = temp
              ! now fa .ge. ha
           end if
           gt = g
           ga = abs( gt )
           if( ga==zero ) then
              ! diagonal matrix
              ssmin = ha
              ssmax = fa
              clt = one
              crt = one
              slt = zero
              srt = zero
           else
              gasmal = .true.
              if( ga>fa ) then
                 pmax = 2
                 if( ( fa / ga )<stdlib_${ri}$lamch( 'EPS' ) ) then
                    ! case of very large ga
                    gasmal = .false.
                    ssmax = ga
                    if( ha>one ) then
                       ssmin = fa / ( ga / ha )
                    else
                       ssmin = ( fa / ga )*ha
                    end if
                    clt = one
                    slt = ht / gt
                    srt = one
                    crt = ft / gt
                 end if
              end if
              if( gasmal ) then
                 ! normal case
                 d = fa - ha
                 if( d==fa ) then
                    ! copes with infinite f or h
                    l = one
                 else
                    l = d / fa
                 end if
                 ! note that 0 .le. l .le. 1
                 m = gt / ft
                 ! note that abs(m) .le. 1/macheps
                 t = two - l
                 ! note that t .ge. 1
                 mm = m*m
                 tt = t*t
                 s = sqrt( tt+mm )
                 ! note that 1 .le. s .le. 1 + 1/macheps
                 if( l==zero ) then
                    r = abs( m )
                 else
                    r = sqrt( l*l+mm )
                 end if
                 ! note that 0 .le. r .le. 1 + 1/macheps
                 a = half*( s+r )
                 ! note that 1 .le. a .le. 1 + abs(m)
                 ssmin = ha / a
                 ssmax = fa*a
                 if( mm==zero ) then
                    ! note that m is very tiny
                    if( l==zero ) then
                       t = sign( two, ft )*sign( one, gt )
                    else
                       t = gt / sign( d, ft ) + m / t
                    end if
                 else
                    t = ( m / ( s+t )+m / ( r+l ) )*( one+a )
                 end if
                 l = sqrt( t*t+four )
                 crt = two / l
                 srt = t / l
                 clt = ( crt+srt*m ) / a
                 slt = ( ht / ft )*srt / a
              end if
           end if
           if( swap ) then
              csl = srt
              snl = crt
              csr = slt
              snr = clt
           else
              csl = clt
              snl = slt
              csr = crt
              snr = srt
           end if
           ! correct signs of ssmax and ssmin
           if( pmax==1 )tsign = sign( one, csr )*sign( one, csl )*sign( one, f )
           if( pmax==2 )tsign = sign( one, snr )*sign( one, csl )*sign( one, g )
           if( pmax==3 )tsign = sign( one, snr )*sign( one, snl )*sign( one, h )
           ssmax = sign( ssmax, tsign )
           ssmin = sign( ssmin, tsign*sign( one, f )*sign( one, h ) )
           return
     end subroutine stdlib_${ri}$lasv2

#:endif
#:endfor



     module pure subroutine stdlib_sgsvj0( jobv, m, n, a, lda, d, sva, mv, v, ldv, eps,sfmin, tol, &
     !! SGSVJ0 is called from SGESVJ as a pre-processor and that is its main
     !! purpose. It applies Jacobi rotations in the same way as SGESVJ does, but
     !! it does not check convergence (stopping criterion). Few tuning
     !! parameters (marked by [TP]) are available for the implementer.
               nsweep, work, lwork, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, ldv, lwork, m, mv, n, nsweep
           real(sp), intent(in) :: eps, sfmin, tol
           character, intent(in) :: jobv
           ! Array Arguments 
           real(sp), intent(inout) :: a(lda,*), sva(n), d(n), v(ldv,*)
           real(sp), intent(out) :: work(lwork)
        ! =====================================================================
           
           ! Local Scalars 
           real(sp) :: aapp, aapp0, aapq, aaqq, apoaq, aqoap, big, bigtheta, cs, mxaapq, mxsinj, &
                     rootbig, rooteps, rootsfmin, roottol, small, sn, t, temp1, theta, thsign
           integer(ilp) :: blskip, emptsw, i, ibr, ierr, igl, ijblsk, ir1, iswrot, jbc, jgl, kbl, &
                     lkahead, mvl, nbl, notrot, p, pskipped, q, rowskip, swband
           logical(lk) :: applv, rotok, rsvec
           ! Local Arrays 
           real(sp) :: fastr(5)
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters.
           applv = stdlib_lsame( jobv, 'A' )
           rsvec = stdlib_lsame( jobv, 'V' )
           if( .not.( rsvec .or. applv .or. stdlib_lsame( jobv, 'N' ) ) ) then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( ( n<0 ) .or. ( n>m ) ) then
              info = -3
           else if( lda<m ) then
              info = -5
           else if( ( rsvec.or.applv ) .and. ( mv<0 ) ) then
              info = -8
           else if( ( rsvec.and.( ldv<n ) ).or.( applv.and.( ldv<mv ) ) ) then
              info = -10
           else if( tol<=eps ) then
              info = -13
           else if( nsweep<0 ) then
              info = -14
           else if( lwork<m ) then
              info = -16
           else
              info = 0
           end if
           ! #:(
           if( info/=0 ) then
              call stdlib_xerbla( 'SGSVJ0', -info )
              return
           end if
           if( rsvec ) then
              mvl = n
           else if( applv ) then
              mvl = mv
           end if
           rsvec = rsvec .or. applv
           rooteps = sqrt( eps )
           rootsfmin = sqrt( sfmin )
           small = sfmin / eps
           big = one / sfmin
           rootbig = one / rootsfmin
           bigtheta = one / rooteps
           roottol = sqrt( tol )
           ! .. row-cyclic jacobi svd algorithm with column pivoting ..
           emptsw = ( n*( n-1 ) ) / 2
           notrot = 0
           fastr( 1 ) = zero
           ! .. row-cyclic pivot strategy with de rijk's pivoting ..
           swband = 0
      ! [tp] swband is a tuning parameter. it is meaningful and effective
           ! if stdlib_sgesvj is used as a computational routine in the preconditioned
           ! jacobi svd algorithm stdlib_sgesvj. for sweeps i=1:swband the procedure
           ! ......
           kbl = min( 8, n )
      ! [tp] kbl is a tuning parameter that defines the tile size in the
           ! tiling of the p-q loops of pivot pairs. in general, an optimal
           ! value of kbl depends on the matrix dimensions and on the
           ! parameters of the computer's memory.
           nbl = n / kbl
           if( ( nbl*kbl )/=n )nbl = nbl + 1
           blskip = ( kbl**2 ) + 1
      ! [tp] blkskip is a tuning parameter that depends on swband and kbl.
           rowskip = min( 5, kbl )
      ! [tp] rowskip is a tuning parameter.
           lkahead = 1
      ! [tp] lkahead is a tuning parameter.
           swband = 0
           pskipped = 0
           loop_1993: do i = 1, nsweep
           ! .. go go go ...
              mxaapq = zero
              mxsinj = zero
              iswrot = 0
              notrot = 0
              pskipped = 0
              loop_2000: do ibr = 1, nbl
                 igl = ( ibr-1 )*kbl + 1
                 loop_1002: do ir1 = 0, min( lkahead, nbl-ibr )
                    igl = igl + ir1*kbl
                    loop_2001: do p = igl, min( igl+kbl-1, n-1 )
           ! .. de rijk's pivoting
                       q = stdlib_isamax( n-p+1, sva( p ), 1 ) + p - 1
                       if( p/=q ) then
                          call stdlib_sswap( m, a( 1, p ), 1, a( 1, q ), 1 )
                          if( rsvec )call stdlib_sswap( mvl, v( 1, p ), 1,v( 1, q ), 1 )
                          temp1 = sva( p )
                          sva( p ) = sva( q )
                          sva( q ) = temp1
                          temp1 = d( p )
                          d( p ) = d( q )
                          d( q ) = temp1
                       end if
                       if( ir1==0 ) then
              ! column norms are periodically updated by explicit
              ! norm computation.
              ! caveat:
              ! some blas implementations compute stdlib_snrm2(m,a(1,p),1)
              ! as sqrt(stdlib_sdot(m,a(1,p),1,a(1,p),1)), which may result in
              ! overflow for ||a(:,p)||_2 > sqrt(overflow_threshold), and
              ! underflow for ||a(:,p)||_2 < sqrt(underflow_threshold).
              ! hence, stdlib_snrm2 cannot be trusted, not even in the case when
              ! the true norm is far from the under(over)flow boundaries.
              ! if properly implemented stdlib_snrm2 is available, the if-then-else
              ! below should read "aapp = stdlib_snrm2( m, a(1,p), 1 ) * d(p)".
                          if( ( sva( p )<rootbig ) .and.( sva( p )>rootsfmin ) ) then
                             sva( p ) = stdlib_snrm2( m, a( 1, p ), 1 )*d( p )
                          else
                             temp1 = zero
                             aapp = one
                             call stdlib_slassq( m, a( 1, p ), 1, temp1, aapp )
                             sva( p ) = temp1*sqrt( aapp )*d( p )
                          end if
                          aapp = sva( p )
                       else
                          aapp = sva( p )
                       end if
                       if( aapp>zero ) then
                          pskipped = 0
                          loop_2002: do q = p + 1, min( igl+kbl-1, n )
                             aaqq = sva( q )
                             if( aaqq>zero ) then
                                aapp0 = aapp
                                if( aaqq>=one ) then
                                   rotok = ( small*aapp )<=aaqq
                                   if( aapp<( big / aaqq ) ) then
                                      aapq = ( stdlib_sdot( m, a( 1, p ), 1, a( 1,q ), 1 )*d( p )&
                                                *d( q ) / aaqq )/ aapp
                                   else
                                      call stdlib_scopy( m, a( 1, p ), 1, work, 1 )
                                      call stdlib_slascl( 'G', 0, 0, aapp, d( p ),m, 1, work, lda,&
                                                 ierr )
                                      aapq = stdlib_sdot( m, work, 1, a( 1, q ),1 )*d( q ) / &
                                                aaqq
                                   end if
                                else
                                   rotok = aapp<=( aaqq / small )
                                   if( aapp>( small / aaqq ) ) then
                                      aapq = ( stdlib_sdot( m, a( 1, p ), 1, a( 1,q ), 1 )*d( p )&
                                                *d( q ) / aaqq )/ aapp
                                   else
                                      call stdlib_scopy( m, a( 1, q ), 1, work, 1 )
                                      call stdlib_slascl( 'G', 0, 0, aaqq, d( q ),m, 1, work, lda,&
                                                 ierr )
                                      aapq = stdlib_sdot( m, work, 1, a( 1, p ),1 )*d( p ) / &
                                                aapp
                                   end if
                                end if
                                mxaapq = max( mxaapq, abs( aapq ) )
              ! to rotate or not to rotate, that is the question ...
                                if( abs( aapq )>tol ) then
                 ! Rotate
                 ! rotated = rotated + one
                                   if( ir1==0 ) then
                                      notrot = 0
                                      pskipped = 0
                                      iswrot = iswrot + 1
                                   end if
                                   if( rotok ) then
                                      aqoap = aaqq / aapp
                                      apoaq = aapp / aaqq
                                      theta = -half*abs( aqoap-apoaq ) / aapq
                                      if( abs( theta )>bigtheta ) then
                                         t = half / theta
                                         fastr( 3 ) = t*d( p ) / d( q )
                                         fastr( 4 ) = -t*d( q ) / d( p )
                                         call stdlib_srotm( m, a( 1, p ), 1,a( 1, q ), 1, fastr )
                                                   
                                         if( rsvec )call stdlib_srotm( mvl,v( 1, p ), 1,v( 1, q ),&
                                                    1,fastr )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq ) )
                                         mxsinj = max( mxsinj, abs( t ) )
                                      else
                       ! Choose Correct Signum For Theta And Rotate
                                         thsign = -sign( one, aapq )
                                         t = one / ( theta+thsign*sqrt( one+theta*theta ) )
                                                   
                                         cs = sqrt( one / ( one+t*t ) )
                                         sn = t*cs
                                         mxsinj = max( mxsinj, abs( sn ) )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq ) )
                                         apoaq = d( p ) / d( q )
                                         aqoap = d( q ) / d( p )
                                         if( d( p )>=one ) then
                                            if( d( q )>=one ) then
                                               fastr( 3 ) = t*apoaq
                                               fastr( 4 ) = -t*aqoap
                                               d( p ) = d( p )*cs
                                               d( q ) = d( q )*cs
                                               call stdlib_srotm( m, a( 1, p ), 1,a( 1, q ), 1,&
                                                         fastr )
                                               if( rsvec )call stdlib_srotm( mvl,v( 1, p ), 1, v( &
                                                         1, q ),1, fastr )
                                            else
                                               call stdlib_saxpy( m, -t*aqoap,a( 1, q ), 1,a( 1, &
                                                         p ), 1 )
                                               call stdlib_saxpy( m, cs*sn*apoaq,a( 1, p ), 1,a( &
                                                         1, q ), 1 )
                                               d( p ) = d( p )*cs
                                               d( q ) = d( q ) / cs
                                               if( rsvec ) then
                                                  call stdlib_saxpy( mvl, -t*aqoap,v( 1, q ), 1,v(&
                                                             1, p ), 1 )
                                                  call stdlib_saxpy( mvl,cs*sn*apoaq,v( 1, p ), 1,&
                                                            v( 1, q ), 1 )
                                               end if
                                            end if
                                         else
                                            if( d( q )>=one ) then
                                               call stdlib_saxpy( m, t*apoaq,a( 1, p ), 1,a( 1, q &
                                                         ), 1 )
                                               call stdlib_saxpy( m, -cs*sn*aqoap,a( 1, q ), 1,a( &
                                                         1, p ), 1 )
                                               d( p ) = d( p ) / cs
                                               d( q ) = d( q )*cs
                                               if( rsvec ) then
                                                  call stdlib_saxpy( mvl, t*apoaq,v( 1, p ), 1,v( &
                                                            1, q ), 1 )
                                                  call stdlib_saxpy( mvl,-cs*sn*aqoap,v( 1, q ), &
                                                            1,v( 1, p ), 1 )
                                               end if
                                            else
                                               if( d( p )>=d( q ) ) then
                                                  call stdlib_saxpy( m, -t*aqoap,a( 1, q ), 1,a( &
                                                            1, p ), 1 )
                                                  call stdlib_saxpy( m, cs*sn*apoaq,a( 1, p ), 1,&
                                                            a( 1, q ), 1 )
                                                  d( p ) = d( p )*cs
                                                  d( q ) = d( q ) / cs
                                                  if( rsvec ) then
                                                     call stdlib_saxpy( mvl,-t*aqoap,v( 1, q ), 1,&
                                                               v( 1, p ), 1 )
                                                     call stdlib_saxpy( mvl,cs*sn*apoaq,v( 1, p ),&
                                                                1,v( 1, q ), 1 )
                                                  end if
                                               else
                                                  call stdlib_saxpy( m, t*apoaq,a( 1, p ), 1,a( 1,&
                                                             q ), 1 )
                                                  call stdlib_saxpy( m,-cs*sn*aqoap,a( 1, q ), 1,&
                                                            a( 1, p ), 1 )
                                                  d( p ) = d( p ) / cs
                                                  d( q ) = d( q )*cs
                                                  if( rsvec ) then
                                                     call stdlib_saxpy( mvl,t*apoaq, v( 1, p ),1, &
                                                               v( 1, q ), 1 )
                                                     call stdlib_saxpy( mvl,-cs*sn*aqoap,v( 1, q )&
                                                               , 1,v( 1, p ), 1 )
                                                  end if
                                               end if
                                            end if
                                         end if
                                      end if
                                   else
                    ! .. have to use modified gram-schmidt like transformation
                                      call stdlib_scopy( m, a( 1, p ), 1, work, 1 )
                                      call stdlib_slascl( 'G', 0, 0, aapp, one, m,1, work, lda, &
                                                ierr )
                                      call stdlib_slascl( 'G', 0, 0, aaqq, one, m,1, a( 1, q ), &
                                                lda, ierr )
                                      temp1 = -aapq*d( p ) / d( q )
                                      call stdlib_saxpy( m, temp1, work, 1,a( 1, q ), 1 )
                                      call stdlib_slascl( 'G', 0, 0, one, aaqq, m,1, a( 1, q ), &
                                                lda, ierr )
                                      sva( q ) = aaqq*sqrt( max( zero,one-aapq*aapq ) )
                                      mxsinj = max( mxsinj, sfmin )
                                   end if
                 ! end if rotok then ... else
                 ! in the case of cancellation in updating sva(q), sva(p)
                 ! recompute sva(q), sva(p).
                                   if( ( sva( q ) / aaqq )**2<=rooteps )then
                                      if( ( aaqq<rootbig ) .and.( aaqq>rootsfmin ) ) then
                                         sva( q ) = stdlib_snrm2( m, a( 1, q ), 1 )*d( q )
                                      else
                                         t = zero
                                         aaqq = one
                                         call stdlib_slassq( m, a( 1, q ), 1, t,aaqq )
                                         sva( q ) = t*sqrt( aaqq )*d( q )
                                      end if
                                   end if
                                   if( ( aapp / aapp0 )<=rooteps ) then
                                      if( ( aapp<rootbig ) .and.( aapp>rootsfmin ) ) then
                                         aapp = stdlib_snrm2( m, a( 1, p ), 1 )*d( p )
                                      else
                                         t = zero
                                         aapp = one
                                         call stdlib_slassq( m, a( 1, p ), 1, t,aapp )
                                         aapp = t*sqrt( aapp )*d( p )
                                      end if
                                      sva( p ) = aapp
                                   end if
                                else
              ! a(:,p) and a(:,q) already numerically orthogonal
                                   if( ir1==0 )notrot = notrot + 1
                                   pskipped = pskipped + 1
                                end if
                             else
              ! a(:,q) is zero column
                                if( ir1==0 )notrot = notrot + 1
                                pskipped = pskipped + 1
                             end if
                             if( ( i<=swband ) .and.( pskipped>rowskip ) ) then
                                if( ir1==0 )aapp = -aapp
                                notrot = 0
                                go to 2103
                             end if
                          end do loop_2002
           ! end q-loop
           2103 continue
           ! bailed out of q-loop
                          sva( p ) = aapp
                       else
                          sva( p ) = aapp
                          if( ( ir1==0 ) .and. ( aapp==zero ) )notrot = notrot + min( igl+kbl-1, &
                                    n ) - p
                       end if
                    end do loop_2001
           ! end of the p-loop
           ! end of doing the block ( ibr, ibr )
                 end do loop_1002
           ! end of ir1-loop
      ! ........................................................
       ! ... go to the off diagonal blocks
                 igl = ( ibr-1 )*kbl + 1
                 loop_2010: do jbc = ibr + 1, nbl
                    jgl = ( jbc-1 )*kbl + 1
              ! doing the block at ( ibr, jbc )
                    ijblsk = 0
                    loop_2100: do p = igl, min( igl+kbl-1, n )
                       aapp = sva( p )
                       if( aapp>zero ) then
                          pskipped = 0
                          loop_2200: do q = jgl, min( jgl+kbl-1, n )
                             aaqq = sva( q )
                             if( aaqq>zero ) then
                                aapp0 = aapp
           ! M X 2 Jacobi Svd 
              ! Safe Gram Matrix Computation 
                                if( aaqq>=one ) then
                                   if( aapp>=aaqq ) then
                                      rotok = ( small*aapp )<=aaqq
                                   else
                                      rotok = ( small*aaqq )<=aapp
                                   end if
                                   if( aapp<( big / aaqq ) ) then
                                      aapq = ( stdlib_sdot( m, a( 1, p ), 1, a( 1,q ), 1 )*d( p )&
                                                *d( q ) / aaqq )/ aapp
                                   else
                                      call stdlib_scopy( m, a( 1, p ), 1, work, 1 )
                                      call stdlib_slascl( 'G', 0, 0, aapp, d( p ),m, 1, work, lda,&
                                                 ierr )
                                      aapq = stdlib_sdot( m, work, 1, a( 1, q ),1 )*d( q ) / &
                                                aaqq
                                   end if
                                else
                                   if( aapp>=aaqq ) then
                                      rotok = aapp<=( aaqq / small )
                                   else
                                      rotok = aaqq<=( aapp / small )
                                   end if
                                   if( aapp>( small / aaqq ) ) then
                                      aapq = ( stdlib_sdot( m, a( 1, p ), 1, a( 1,q ), 1 )*d( p )&
                                                *d( q ) / aaqq )/ aapp
                                   else
                                      call stdlib_scopy( m, a( 1, q ), 1, work, 1 )
                                      call stdlib_slascl( 'G', 0, 0, aaqq, d( q ),m, 1, work, lda,&
                                                 ierr )
                                      aapq = stdlib_sdot( m, work, 1, a( 1, p ),1 )*d( p ) / &
                                                aapp
                                   end if
                                end if
                                mxaapq = max( mxaapq, abs( aapq ) )
              ! to rotate or not to rotate, that is the question ...
                                if( abs( aapq )>tol ) then
                                   notrot = 0
                 ! rotated  = rotated + 1
                                   pskipped = 0
                                   iswrot = iswrot + 1
                                   if( rotok ) then
                                      aqoap = aaqq / aapp
                                      apoaq = aapp / aaqq
                                      theta = -half*abs( aqoap-apoaq ) / aapq
                                      if( aaqq>aapp0 )theta = -theta
                                      if( abs( theta )>bigtheta ) then
                                         t = half / theta
                                         fastr( 3 ) = t*d( p ) / d( q )
                                         fastr( 4 ) = -t*d( q ) / d( p )
                                         call stdlib_srotm( m, a( 1, p ), 1,a( 1, q ), 1, fastr )
                                                   
                                         if( rsvec )call stdlib_srotm( mvl,v( 1, p ), 1,v( 1, q ),&
                                                    1,fastr )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq ) )
                                         mxsinj = max( mxsinj, abs( t ) )
                                      else
                       ! Choose Correct Signum For Theta And Rotate
                                         thsign = -sign( one, aapq )
                                         if( aaqq>aapp0 )thsign = -thsign
                                         t = one / ( theta+thsign*sqrt( one+theta*theta ) )
                                                   
                                         cs = sqrt( one / ( one+t*t ) )
                                         sn = t*cs
                                         mxsinj = max( mxsinj, abs( sn ) )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq ) )
                                         apoaq = d( p ) / d( q )
                                         aqoap = d( q ) / d( p )
                                         if( d( p )>=one ) then
                                            if( d( q )>=one ) then
                                               fastr( 3 ) = t*apoaq
                                               fastr( 4 ) = -t*aqoap
                                               d( p ) = d( p )*cs
                                               d( q ) = d( q )*cs
                                               call stdlib_srotm( m, a( 1, p ), 1,a( 1, q ), 1,&
                                                         fastr )
                                               if( rsvec )call stdlib_srotm( mvl,v( 1, p ), 1, v( &
                                                         1, q ),1, fastr )
                                            else
                                               call stdlib_saxpy( m, -t*aqoap,a( 1, q ), 1,a( 1, &
                                                         p ), 1 )
                                               call stdlib_saxpy( m, cs*sn*apoaq,a( 1, p ), 1,a( &
                                                         1, q ), 1 )
                                               if( rsvec ) then
                                                  call stdlib_saxpy( mvl, -t*aqoap,v( 1, q ), 1,v(&
                                                             1, p ), 1 )
                                                  call stdlib_saxpy( mvl,cs*sn*apoaq,v( 1, p ), 1,&
                                                            v( 1, q ), 1 )
                                               end if
                                               d( p ) = d( p )*cs
                                               d( q ) = d( q ) / cs
                                            end if
                                         else
                                            if( d( q )>=one ) then
                                               call stdlib_saxpy( m, t*apoaq,a( 1, p ), 1,a( 1, q &
                                                         ), 1 )
                                               call stdlib_saxpy( m, -cs*sn*aqoap,a( 1, q ), 1,a( &
                                                         1, p ), 1 )
                                               if( rsvec ) then
                                                  call stdlib_saxpy( mvl, t*apoaq,v( 1, p ), 1,v( &
                                                            1, q ), 1 )
                                                  call stdlib_saxpy( mvl,-cs*sn*aqoap,v( 1, q ), &
                                                            1,v( 1, p ), 1 )
                                               end if
                                               d( p ) = d( p ) / cs
                                               d( q ) = d( q )*cs
                                            else
                                               if( d( p )>=d( q ) ) then
                                                  call stdlib_saxpy( m, -t*aqoap,a( 1, q ), 1,a( &
                                                            1, p ), 1 )
                                                  call stdlib_saxpy( m, cs*sn*apoaq,a( 1, p ), 1,&
                                                            a( 1, q ), 1 )
                                                  d( p ) = d( p )*cs
                                                  d( q ) = d( q ) / cs
                                                  if( rsvec ) then
                                                     call stdlib_saxpy( mvl,-t*aqoap,v( 1, q ), 1,&
                                                               v( 1, p ), 1 )
                                                     call stdlib_saxpy( mvl,cs*sn*apoaq,v( 1, p ),&
                                                                1,v( 1, q ), 1 )
                                                  end if
                                               else
                                                  call stdlib_saxpy( m, t*apoaq,a( 1, p ), 1,a( 1,&
                                                             q ), 1 )
                                                  call stdlib_saxpy( m,-cs*sn*aqoap,a( 1, q ), 1,&
                                                            a( 1, p ), 1 )
                                                  d( p ) = d( p ) / cs
                                                  d( q ) = d( q )*cs
                                                  if( rsvec ) then
                                                     call stdlib_saxpy( mvl,t*apoaq, v( 1, p ),1, &
                                                               v( 1, q ), 1 )
                                                     call stdlib_saxpy( mvl,-cs*sn*aqoap,v( 1, q )&
                                                               , 1,v( 1, p ), 1 )
                                                  end if
                                               end if
                                            end if
                                         end if
                                      end if
                                   else
                                      if( aapp>aaqq ) then
                                         call stdlib_scopy( m, a( 1, p ), 1, work,1 )
                                         call stdlib_slascl( 'G', 0, 0, aapp, one,m, 1, work, lda,&
                                                    ierr )
                                         call stdlib_slascl( 'G', 0, 0, aaqq, one,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         temp1 = -aapq*d( p ) / d( q )
                                         call stdlib_saxpy( m, temp1, work, 1,a( 1, q ), 1 )
                                                   
                                         call stdlib_slascl( 'G', 0, 0, one, aaqq,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         sva( q ) = aaqq*sqrt( max( zero,one-aapq*aapq ) )
                                         mxsinj = max( mxsinj, sfmin )
                                      else
                                         call stdlib_scopy( m, a( 1, q ), 1, work,1 )
                                         call stdlib_slascl( 'G', 0, 0, aaqq, one,m, 1, work, lda,&
                                                    ierr )
                                         call stdlib_slascl( 'G', 0, 0, aapp, one,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         temp1 = -aapq*d( q ) / d( p )
                                         call stdlib_saxpy( m, temp1, work, 1,a( 1, p ), 1 )
                                                   
                                         call stdlib_slascl( 'G', 0, 0, one, aapp,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         sva( p ) = aapp*sqrt( max( zero,one-aapq*aapq ) )
                                         mxsinj = max( mxsinj, sfmin )
                                      end if
                                   end if
                 ! end if rotok then ... else
                 ! in the case of cancellation in updating sva(q)
                 ! .. recompute sva(q)
                                   if( ( sva( q ) / aaqq )**2<=rooteps )then
                                      if( ( aaqq<rootbig ) .and.( aaqq>rootsfmin ) ) then
                                         sva( q ) = stdlib_snrm2( m, a( 1, q ), 1 )*d( q )
                                      else
                                         t = zero
                                         aaqq = one
                                         call stdlib_slassq( m, a( 1, q ), 1, t,aaqq )
                                         sva( q ) = t*sqrt( aaqq )*d( q )
                                      end if
                                   end if
                                   if( ( aapp / aapp0 )**2<=rooteps ) then
                                      if( ( aapp<rootbig ) .and.( aapp>rootsfmin ) ) then
                                         aapp = stdlib_snrm2( m, a( 1, p ), 1 )*d( p )
                                      else
                                         t = zero
                                         aapp = one
                                         call stdlib_slassq( m, a( 1, p ), 1, t,aapp )
                                         aapp = t*sqrt( aapp )*d( p )
                                      end if
                                      sva( p ) = aapp
                                   end if
                    ! end of ok rotation
                                else
                                   notrot = notrot + 1
                                   pskipped = pskipped + 1
                                   ijblsk = ijblsk + 1
                                end if
                             else
                                notrot = notrot + 1
                                pskipped = pskipped + 1
                                ijblsk = ijblsk + 1
                             end if
                             if( ( i<=swband ) .and. ( ijblsk>=blskip ) )then
                                sva( p ) = aapp
                                notrot = 0
                                go to 2011
                             end if
                             if( ( i<=swband ) .and.( pskipped>rowskip ) ) then
                                aapp = -aapp
                                notrot = 0
                                go to 2203
                             end if
                          end do loop_2200
              ! end of the q-loop
              2203 continue
                          sva( p ) = aapp
                       else
                          if( aapp==zero )notrot = notrot +min( jgl+kbl-1, n ) - jgl + 1
                          if( aapp<zero )notrot = 0
                       end if
                    end do loop_2100
           ! end of the p-loop
                 end do loop_2010
           ! end of the jbc-loop
           2011 continue
      ! 2011 bailed out of the jbc-loop
                 do p = igl, min( igl+kbl-1, n )
                    sva( p ) = abs( sva( p ) )
                 end do
              end do loop_2000
      ! 2000 :: end of the ibr-loop
           ! .. update sva(n)
              if( ( sva( n )<rootbig ) .and. ( sva( n )>rootsfmin ) )then
                 sva( n ) = stdlib_snrm2( m, a( 1, n ), 1 )*d( n )
              else
                 t = zero
                 aapp = one
                 call stdlib_slassq( m, a( 1, n ), 1, t, aapp )
                 sva( n ) = t*sqrt( aapp )*d( n )
              end if
           ! additional steering devices
              if( ( i<swband ) .and. ( ( mxaapq<=roottol ) .or.( iswrot<=n ) ) )swband = i
              if( ( i>swband+1 ) .and. ( mxaapq<real( n,KIND=sp)*tol ) .and.( real( n,KIND=sp)&
                        *mxaapq*mxsinj<tol ) ) then
                 go to 1994
              end if
              if( notrot>=emptsw )go to 1994
           end do loop_1993
           ! end i=1:nsweep loop
       ! #:) reaching this point means that the procedure has completed the given
           ! number of iterations.
           info = nsweep - 1
           go to 1995
           1994 continue
       ! #:) reaching this point means that during the i-th sweep all pivots were
           ! below the given tolerance, causing early exit.
           info = 0
       ! #:) info = 0 confirms successful iterations.
       1995 continue
           ! sort the vector d.
           do p = 1, n - 1
              q = stdlib_isamax( n-p+1, sva( p ), 1 ) + p - 1
              if( p/=q ) then
                 temp1 = sva( p )
                 sva( p ) = sva( q )
                 sva( q ) = temp1
                 temp1 = d( p )
                 d( p ) = d( q )
                 d( q ) = temp1
                 call stdlib_sswap( m, a( 1, p ), 1, a( 1, q ), 1 )
                 if( rsvec )call stdlib_sswap( mvl, v( 1, p ), 1, v( 1, q ), 1 )
              end if
           end do
           return
     end subroutine stdlib_sgsvj0

     module pure subroutine stdlib_dgsvj0( jobv, m, n, a, lda, d, sva, mv, v, ldv, eps,sfmin, tol, &
     !! DGSVJ0 is called from DGESVJ as a pre-processor and that is its main
     !! purpose. It applies Jacobi rotations in the same way as DGESVJ does, but
     !! it does not check convergence (stopping criterion). Few tuning
     !! parameters (marked by [TP]) are available for the implementer.
               nsweep, work, lwork, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, ldv, lwork, m, mv, n, nsweep
           real(dp), intent(in) :: eps, sfmin, tol
           character, intent(in) :: jobv
           ! Array Arguments 
           real(dp), intent(inout) :: a(lda,*), sva(n), d(n), v(ldv,*)
           real(dp), intent(out) :: work(lwork)
        ! =====================================================================
           
           ! Local Scalars 
           real(dp) :: aapp, aapp0, aapq, aaqq, apoaq, aqoap, big, bigtheta, cs, mxaapq, mxsinj, &
                     rootbig, rooteps, rootsfmin, roottol, small, sn, t, temp1, theta, thsign
           integer(ilp) :: blskip, emptsw, i, ibr, ierr, igl, ijblsk, ir1, iswrot, jbc, jgl, kbl, &
                     lkahead, mvl, nbl, notrot, p, pskipped, q, rowskip, swband
           logical(lk) :: applv, rotok, rsvec
           ! Local Arrays 
           real(dp) :: fastr(5)
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters.
           applv = stdlib_lsame( jobv, 'A' )
           rsvec = stdlib_lsame( jobv, 'V' )
           if( .not.( rsvec .or. applv .or. stdlib_lsame( jobv, 'N' ) ) ) then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( ( n<0 ) .or. ( n>m ) ) then
              info = -3
           else if( lda<m ) then
              info = -5
           else if( ( rsvec.or.applv ) .and. ( mv<0 ) ) then
              info = -8
           else if( ( rsvec.and.( ldv<n ) ).or.( applv.and.( ldv<mv ) ) ) then
              info = -10
           else if( tol<=eps ) then
              info = -13
           else if( nsweep<0 ) then
              info = -14
           else if( lwork<m ) then
              info = -16
           else
              info = 0
           end if
           ! #:(
           if( info/=0 ) then
              call stdlib_xerbla( 'DGSVJ0', -info )
              return
           end if
           if( rsvec ) then
              mvl = n
           else if( applv ) then
              mvl = mv
           end if
           rsvec = rsvec .or. applv
           rooteps = sqrt( eps )
           rootsfmin = sqrt( sfmin )
           small = sfmin / eps
           big = one / sfmin
           rootbig = one / rootsfmin
           bigtheta = one / rooteps
           roottol = sqrt( tol )
           ! -#- row-cyclic jacobi svd algorithm with column pivoting -#-
           emptsw = ( n*( n-1 ) ) / 2
           notrot = 0
           fastr( 1 ) = zero
           ! -#- row-cyclic pivot strategy with de rijk's pivoting -#-
           swband = 0
      ! [tp] swband is a tuning parameter. it is meaningful and effective
           ! if stdlib_sgesvj is used as a computational routine in the preconditioned
           ! jacobi svd algorithm stdlib_sgesvj. for sweeps i=1:swband the procedure
           ! ......
           kbl = min( 8, n )
      ! [tp] kbl is a tuning parameter that defines the tile size in the
           ! tiling of the p-q loops of pivot pairs. in general, an optimal
           ! value of kbl depends on the matrix dimensions and on the
           ! parameters of the computer's memory.
           nbl = n / kbl
           if( ( nbl*kbl )/=n )nbl = nbl + 1
           blskip = ( kbl**2 ) + 1
      ! [tp] blkskip is a tuning parameter that depends on swband and kbl.
           rowskip = min( 5, kbl )
      ! [tp] rowskip is a tuning parameter.
           lkahead = 1
      ! [tp] lkahead is a tuning parameter.
           swband = 0
           pskipped = 0
           loop_1993: do i = 1, nsweep
           ! .. go go go ...
              mxaapq = zero
              mxsinj = zero
              iswrot = 0
              notrot = 0
              pskipped = 0
              loop_2000: do ibr = 1, nbl
                 igl = ( ibr-1 )*kbl + 1
                 loop_1002: do ir1 = 0, min( lkahead, nbl-ibr )
                    igl = igl + ir1*kbl
                    loop_2001: do p = igl, min( igl+kbl-1, n-1 )
           ! .. de rijk's pivoting
                       q = stdlib_idamax( n-p+1, sva( p ), 1 ) + p - 1
                       if( p/=q ) then
                          call stdlib_dswap( m, a( 1, p ), 1, a( 1, q ), 1 )
                          if( rsvec )call stdlib_dswap( mvl, v( 1, p ), 1,v( 1, q ), 1 )
                          temp1 = sva( p )
                          sva( p ) = sva( q )
                          sva( q ) = temp1
                          temp1 = d( p )
                          d( p ) = d( q )
                          d( q ) = temp1
                       end if
                       if( ir1==0 ) then
              ! column norms are periodically updated by explicit
              ! norm computation.
              ! caveat:
              ! some blas implementations compute stdlib_dnrm2(m,a(1,p),1)
              ! as sqrt(stdlib_ddot(m,a(1,p),1,a(1,p),1)), which may result in
              ! overflow for ||a(:,p)||_2 > sqrt(overflow_threshold), and
              ! underflow for ||a(:,p)||_2 < sqrt(underflow_threshold).
              ! hence, stdlib_dnrm2 cannot be trusted, not even in the case when
              ! the true norm is far from the under(over)flow boundaries.
              ! if properly implemented stdlib_dnrm2 is available, the if-then-else
              ! below should read "aapp = stdlib_dnrm2( m, a(1,p), 1 ) * d(p)".
                          if( ( sva( p )<rootbig ) .and.( sva( p )>rootsfmin ) ) then
                             sva( p ) = stdlib_dnrm2( m, a( 1, p ), 1 )*d( p )
                          else
                             temp1 = zero
                             aapp = one
                             call stdlib_dlassq( m, a( 1, p ), 1, temp1, aapp )
                             sva( p ) = temp1*sqrt( aapp )*d( p )
                          end if
                          aapp = sva( p )
                       else
                          aapp = sva( p )
                       end if
                       if( aapp>zero ) then
                          pskipped = 0
                          loop_2002: do q = p + 1, min( igl+kbl-1, n )
                             aaqq = sva( q )
                             if( aaqq>zero ) then
                                aapp0 = aapp
                                if( aaqq>=one ) then
                                   rotok = ( small*aapp )<=aaqq
                                   if( aapp<( big / aaqq ) ) then
                                      aapq = ( stdlib_ddot( m, a( 1, p ), 1, a( 1,q ), 1 )*d( p )&
                                                *d( q ) / aaqq )/ aapp
                                   else
                                      call stdlib_dcopy( m, a( 1, p ), 1, work, 1 )
                                      call stdlib_dlascl( 'G', 0, 0, aapp, d( p ),m, 1, work, lda,&
                                                 ierr )
                                      aapq = stdlib_ddot( m, work, 1, a( 1, q ),1 )*d( q ) / &
                                                aaqq
                                   end if
                                else
                                   rotok = aapp<=( aaqq / small )
                                   if( aapp>( small / aaqq ) ) then
                                      aapq = ( stdlib_ddot( m, a( 1, p ), 1, a( 1,q ), 1 )*d( p )&
                                                *d( q ) / aaqq )/ aapp
                                   else
                                      call stdlib_dcopy( m, a( 1, q ), 1, work, 1 )
                                      call stdlib_dlascl( 'G', 0, 0, aaqq, d( q ),m, 1, work, lda,&
                                                 ierr )
                                      aapq = stdlib_ddot( m, work, 1, a( 1, p ),1 )*d( p ) / &
                                                aapp
                                   end if
                                end if
                                mxaapq = max( mxaapq, abs( aapq ) )
              ! to rotate or not to rotate, that is the question ...
                                if( abs( aapq )>tol ) then
                 ! Rotate
                 ! rotated = rotated + one
                                   if( ir1==0 ) then
                                      notrot = 0
                                      pskipped = 0
                                      iswrot = iswrot + 1
                                   end if
                                   if( rotok ) then
                                      aqoap = aaqq / aapp
                                      apoaq = aapp / aaqq
                                      theta = -half*abs( aqoap-apoaq )/aapq
                                      if( abs( theta )>bigtheta ) then
                                         t = half / theta
                                         fastr( 3 ) = t*d( p ) / d( q )
                                         fastr( 4 ) = -t*d( q ) / d( p )
                                         call stdlib_drotm( m, a( 1, p ), 1,a( 1, q ), 1, fastr )
                                                   
                                         if( rsvec )call stdlib_drotm( mvl,v( 1, p ), 1,v( 1, q ),&
                                                    1,fastr )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq ) )
                                         mxsinj = max( mxsinj, abs( t ) )
                                      else
                       ! Choose Correct Signum For Theta And Rotate
                                         thsign = -sign( one, aapq )
                                         t = one / ( theta+thsign*sqrt( one+theta*theta ) )
                                                   
                                         cs = sqrt( one / ( one+t*t ) )
                                         sn = t*cs
                                         mxsinj = max( mxsinj, abs( sn ) )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq ) )
                                         apoaq = d( p ) / d( q )
                                         aqoap = d( q ) / d( p )
                                         if( d( p )>=one ) then
                                            if( d( q )>=one ) then
                                               fastr( 3 ) = t*apoaq
                                               fastr( 4 ) = -t*aqoap
                                               d( p ) = d( p )*cs
                                               d( q ) = d( q )*cs
                                               call stdlib_drotm( m, a( 1, p ), 1,a( 1, q ), 1,&
                                                         fastr )
                                               if( rsvec )call stdlib_drotm( mvl,v( 1, p ), 1, v( &
                                                         1, q ),1, fastr )
                                            else
                                               call stdlib_daxpy( m, -t*aqoap,a( 1, q ), 1,a( 1, &
                                                         p ), 1 )
                                               call stdlib_daxpy( m, cs*sn*apoaq,a( 1, p ), 1,a( &
                                                         1, q ), 1 )
                                               d( p ) = d( p )*cs
                                               d( q ) = d( q ) / cs
                                               if( rsvec ) then
                                                  call stdlib_daxpy( mvl, -t*aqoap,v( 1, q ), 1,v(&
                                                             1, p ), 1 )
                                                  call stdlib_daxpy( mvl,cs*sn*apoaq,v( 1, p ), 1,&
                                                            v( 1, q ), 1 )
                                               end if
                                            end if
                                         else
                                            if( d( q )>=one ) then
                                               call stdlib_daxpy( m, t*apoaq,a( 1, p ), 1,a( 1, q &
                                                         ), 1 )
                                               call stdlib_daxpy( m, -cs*sn*aqoap,a( 1, q ), 1,a( &
                                                         1, p ), 1 )
                                               d( p ) = d( p ) / cs
                                               d( q ) = d( q )*cs
                                               if( rsvec ) then
                                                  call stdlib_daxpy( mvl, t*apoaq,v( 1, p ), 1,v( &
                                                            1, q ), 1 )
                                                  call stdlib_daxpy( mvl,-cs*sn*aqoap,v( 1, q ), &
                                                            1,v( 1, p ), 1 )
                                               end if
                                            else
                                               if( d( p )>=d( q ) ) then
                                                  call stdlib_daxpy( m, -t*aqoap,a( 1, q ), 1,a( &
                                                            1, p ), 1 )
                                                  call stdlib_daxpy( m, cs*sn*apoaq,a( 1, p ), 1,&
                                                            a( 1, q ), 1 )
                                                  d( p ) = d( p )*cs
                                                  d( q ) = d( q ) / cs
                                                  if( rsvec ) then
                                                     call stdlib_daxpy( mvl,-t*aqoap,v( 1, q ), 1,&
                                                               v( 1, p ), 1 )
                                                     call stdlib_daxpy( mvl,cs*sn*apoaq,v( 1, p ),&
                                                                1,v( 1, q ), 1 )
                                                  end if
                                               else
                                                  call stdlib_daxpy( m, t*apoaq,a( 1, p ), 1,a( 1,&
                                                             q ), 1 )
                                                  call stdlib_daxpy( m,-cs*sn*aqoap,a( 1, q ), 1,&
                                                            a( 1, p ), 1 )
                                                  d( p ) = d( p ) / cs
                                                  d( q ) = d( q )*cs
                                                  if( rsvec ) then
                                                     call stdlib_daxpy( mvl,t*apoaq, v( 1, p ),1, &
                                                               v( 1, q ), 1 )
                                                     call stdlib_daxpy( mvl,-cs*sn*aqoap,v( 1, q )&
                                                               , 1,v( 1, p ), 1 )
                                                  end if
                                               end if
                                            end if
                                         end if
                                      end if
                                   else
                    ! .. have to use modified gram-schmidt like transformation
                                      call stdlib_dcopy( m, a( 1, p ), 1, work, 1 )
                                      call stdlib_dlascl( 'G', 0, 0, aapp, one, m,1, work, lda, &
                                                ierr )
                                      call stdlib_dlascl( 'G', 0, 0, aaqq, one, m,1, a( 1, q ), &
                                                lda, ierr )
                                      temp1 = -aapq*d( p ) / d( q )
                                      call stdlib_daxpy( m, temp1, work, 1,a( 1, q ), 1 )
                                      call stdlib_dlascl( 'G', 0, 0, one, aaqq, m,1, a( 1, q ), &
                                                lda, ierr )
                                      sva( q ) = aaqq*sqrt( max( zero,one-aapq*aapq ) )
                                      mxsinj = max( mxsinj, sfmin )
                                   end if
                 ! end if rotok then ... else
                 ! in the case of cancellation in updating sva(q), sva(p)
                 ! recompute sva(q), sva(p).
                                   if( ( sva( q ) / aaqq )**2<=rooteps )then
                                      if( ( aaqq<rootbig ) .and.( aaqq>rootsfmin ) ) then
                                         sva( q ) = stdlib_dnrm2( m, a( 1, q ), 1 )*d( q )
                                      else
                                         t = zero
                                         aaqq = one
                                         call stdlib_dlassq( m, a( 1, q ), 1, t,aaqq )
                                         sva( q ) = t*sqrt( aaqq )*d( q )
                                      end if
                                   end if
                                   if( ( aapp / aapp0 )<=rooteps ) then
                                      if( ( aapp<rootbig ) .and.( aapp>rootsfmin ) ) then
                                         aapp = stdlib_dnrm2( m, a( 1, p ), 1 )*d( p )
                                      else
                                         t = zero
                                         aapp = one
                                         call stdlib_dlassq( m, a( 1, p ), 1, t,aapp )
                                         aapp = t*sqrt( aapp )*d( p )
                                      end if
                                      sva( p ) = aapp
                                   end if
                                else
              ! a(:,p) and a(:,q) already numerically orthogonal
                                   if( ir1==0 )notrot = notrot + 1
                                   pskipped = pskipped + 1
                                end if
                             else
              ! a(:,q) is zero column
                                if( ir1==0 )notrot = notrot + 1
                                pskipped = pskipped + 1
                             end if
                             if( ( i<=swband ) .and.( pskipped>rowskip ) ) then
                                if( ir1==0 )aapp = -aapp
                                notrot = 0
                                go to 2103
                             end if
                          end do loop_2002
           ! end q-loop
           2103 continue
           ! bailed out of q-loop
                          sva( p ) = aapp
                       else
                          sva( p ) = aapp
                          if( ( ir1==0 ) .and. ( aapp==zero ) )notrot = notrot + min( igl+kbl-1, &
                                    n ) - p
                       end if
                    end do loop_2001
           ! end of the p-loop
           ! end of doing the block ( ibr, ibr )
                 end do loop_1002
           ! end of ir1-loop
      ! ........................................................
       ! ... go to the off diagonal blocks
                 igl = ( ibr-1 )*kbl + 1
                 loop_2010: do jbc = ibr + 1, nbl
                    jgl = ( jbc-1 )*kbl + 1
              ! doing the block at ( ibr, jbc )
                    ijblsk = 0
                    loop_2100: do p = igl, min( igl+kbl-1, n )
                       aapp = sva( p )
                       if( aapp>zero ) then
                          pskipped = 0
                          loop_2200: do q = jgl, min( jgl+kbl-1, n )
                             aaqq = sva( q )
                             if( aaqq>zero ) then
                                aapp0 = aapp
           ! -#- m x 2 jacobi svd -#-
              ! -#- safe gram matrix computation -#-
                                if( aaqq>=one ) then
                                   if( aapp>=aaqq ) then
                                      rotok = ( small*aapp )<=aaqq
                                   else
                                      rotok = ( small*aaqq )<=aapp
                                   end if
                                   if( aapp<( big / aaqq ) ) then
                                      aapq = ( stdlib_ddot( m, a( 1, p ), 1, a( 1,q ), 1 )*d( p )&
                                                *d( q ) / aaqq )/ aapp
                                   else
                                      call stdlib_dcopy( m, a( 1, p ), 1, work, 1 )
                                      call stdlib_dlascl( 'G', 0, 0, aapp, d( p ),m, 1, work, lda,&
                                                 ierr )
                                      aapq = stdlib_ddot( m, work, 1, a( 1, q ),1 )*d( q ) / &
                                                aaqq
                                   end if
                                else
                                   if( aapp>=aaqq ) then
                                      rotok = aapp<=( aaqq / small )
                                   else
                                      rotok = aaqq<=( aapp / small )
                                   end if
                                   if( aapp>( small / aaqq ) ) then
                                      aapq = ( stdlib_ddot( m, a( 1, p ), 1, a( 1,q ), 1 )*d( p )&
                                                *d( q ) / aaqq )/ aapp
                                   else
                                      call stdlib_dcopy( m, a( 1, q ), 1, work, 1 )
                                      call stdlib_dlascl( 'G', 0, 0, aaqq, d( q ),m, 1, work, lda,&
                                                 ierr )
                                      aapq = stdlib_ddot( m, work, 1, a( 1, p ),1 )*d( p ) / &
                                                aapp
                                   end if
                                end if
                                mxaapq = max( mxaapq, abs( aapq ) )
              ! to rotate or not to rotate, that is the question ...
                                if( abs( aapq )>tol ) then
                                   notrot = 0
                 ! rotated  = rotated + 1
                                   pskipped = 0
                                   iswrot = iswrot + 1
                                   if( rotok ) then
                                      aqoap = aaqq / aapp
                                      apoaq = aapp / aaqq
                                      theta = -half*abs( aqoap-apoaq )/aapq
                                      if( aaqq>aapp0 )theta = -theta
                                      if( abs( theta )>bigtheta ) then
                                         t = half / theta
                                         fastr( 3 ) = t*d( p ) / d( q )
                                         fastr( 4 ) = -t*d( q ) / d( p )
                                         call stdlib_drotm( m, a( 1, p ), 1,a( 1, q ), 1, fastr )
                                                   
                                         if( rsvec )call stdlib_drotm( mvl,v( 1, p ), 1,v( 1, q ),&
                                                    1,fastr )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq ) )
                                         mxsinj = max( mxsinj, abs( t ) )
                                      else
                       ! Choose Correct Signum For Theta And Rotate
                                         thsign = -sign( one, aapq )
                                         if( aaqq>aapp0 )thsign = -thsign
                                         t = one / ( theta+thsign*sqrt( one+theta*theta ) )
                                                   
                                         cs = sqrt( one / ( one+t*t ) )
                                         sn = t*cs
                                         mxsinj = max( mxsinj, abs( sn ) )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq ) )
                                         apoaq = d( p ) / d( q )
                                         aqoap = d( q ) / d( p )
                                         if( d( p )>=one ) then
                                            if( d( q )>=one ) then
                                               fastr( 3 ) = t*apoaq
                                               fastr( 4 ) = -t*aqoap
                                               d( p ) = d( p )*cs
                                               d( q ) = d( q )*cs
                                               call stdlib_drotm( m, a( 1, p ), 1,a( 1, q ), 1,&
                                                         fastr )
                                               if( rsvec )call stdlib_drotm( mvl,v( 1, p ), 1, v( &
                                                         1, q ),1, fastr )
                                            else
                                               call stdlib_daxpy( m, -t*aqoap,a( 1, q ), 1,a( 1, &
                                                         p ), 1 )
                                               call stdlib_daxpy( m, cs*sn*apoaq,a( 1, p ), 1,a( &
                                                         1, q ), 1 )
                                               if( rsvec ) then
                                                  call stdlib_daxpy( mvl, -t*aqoap,v( 1, q ), 1,v(&
                                                             1, p ), 1 )
                                                  call stdlib_daxpy( mvl,cs*sn*apoaq,v( 1, p ), 1,&
                                                            v( 1, q ), 1 )
                                               end if
                                               d( p ) = d( p )*cs
                                               d( q ) = d( q ) / cs
                                            end if
                                         else
                                            if( d( q )>=one ) then
                                               call stdlib_daxpy( m, t*apoaq,a( 1, p ), 1,a( 1, q &
                                                         ), 1 )
                                               call stdlib_daxpy( m, -cs*sn*aqoap,a( 1, q ), 1,a( &
                                                         1, p ), 1 )
                                               if( rsvec ) then
                                                  call stdlib_daxpy( mvl, t*apoaq,v( 1, p ), 1,v( &
                                                            1, q ), 1 )
                                                  call stdlib_daxpy( mvl,-cs*sn*aqoap,v( 1, q ), &
                                                            1,v( 1, p ), 1 )
                                               end if
                                               d( p ) = d( p ) / cs
                                               d( q ) = d( q )*cs
                                            else
                                               if( d( p )>=d( q ) ) then
                                                  call stdlib_daxpy( m, -t*aqoap,a( 1, q ), 1,a( &
                                                            1, p ), 1 )
                                                  call stdlib_daxpy( m, cs*sn*apoaq,a( 1, p ), 1,&
                                                            a( 1, q ), 1 )
                                                  d( p ) = d( p )*cs
                                                  d( q ) = d( q ) / cs
                                                  if( rsvec ) then
                                                     call stdlib_daxpy( mvl,-t*aqoap,v( 1, q ), 1,&
                                                               v( 1, p ), 1 )
                                                     call stdlib_daxpy( mvl,cs*sn*apoaq,v( 1, p ),&
                                                                1,v( 1, q ), 1 )
                                                  end if
                                               else
                                                  call stdlib_daxpy( m, t*apoaq,a( 1, p ), 1,a( 1,&
                                                             q ), 1 )
                                                  call stdlib_daxpy( m,-cs*sn*aqoap,a( 1, q ), 1,&
                                                            a( 1, p ), 1 )
                                                  d( p ) = d( p ) / cs
                                                  d( q ) = d( q )*cs
                                                  if( rsvec ) then
                                                     call stdlib_daxpy( mvl,t*apoaq, v( 1, p ),1, &
                                                               v( 1, q ), 1 )
                                                     call stdlib_daxpy( mvl,-cs*sn*aqoap,v( 1, q )&
                                                               , 1,v( 1, p ), 1 )
                                                  end if
                                               end if
                                            end if
                                         end if
                                      end if
                                   else
                                      if( aapp>aaqq ) then
                                         call stdlib_dcopy( m, a( 1, p ), 1, work,1 )
                                         call stdlib_dlascl( 'G', 0, 0, aapp, one,m, 1, work, lda,&
                                                    ierr )
                                         call stdlib_dlascl( 'G', 0, 0, aaqq, one,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         temp1 = -aapq*d( p ) / d( q )
                                         call stdlib_daxpy( m, temp1, work, 1,a( 1, q ), 1 )
                                                   
                                         call stdlib_dlascl( 'G', 0, 0, one, aaqq,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         sva( q ) = aaqq*sqrt( max( zero,one-aapq*aapq ) )
                                         mxsinj = max( mxsinj, sfmin )
                                      else
                                         call stdlib_dcopy( m, a( 1, q ), 1, work,1 )
                                         call stdlib_dlascl( 'G', 0, 0, aaqq, one,m, 1, work, lda,&
                                                    ierr )
                                         call stdlib_dlascl( 'G', 0, 0, aapp, one,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         temp1 = -aapq*d( q ) / d( p )
                                         call stdlib_daxpy( m, temp1, work, 1,a( 1, p ), 1 )
                                                   
                                         call stdlib_dlascl( 'G', 0, 0, one, aapp,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         sva( p ) = aapp*sqrt( max( zero,one-aapq*aapq ) )
                                         mxsinj = max( mxsinj, sfmin )
                                      end if
                                   end if
                 ! end if rotok then ... else
                 ! in the case of cancellation in updating sva(q)
                 ! .. recompute sva(q)
                                   if( ( sva( q ) / aaqq )**2<=rooteps )then
                                      if( ( aaqq<rootbig ) .and.( aaqq>rootsfmin ) ) then
                                         sva( q ) = stdlib_dnrm2( m, a( 1, q ), 1 )*d( q )
                                      else
                                         t = zero
                                         aaqq = one
                                         call stdlib_dlassq( m, a( 1, q ), 1, t,aaqq )
                                         sva( q ) = t*sqrt( aaqq )*d( q )
                                      end if
                                   end if
                                   if( ( aapp / aapp0 )**2<=rooteps ) then
                                      if( ( aapp<rootbig ) .and.( aapp>rootsfmin ) ) then
                                         aapp = stdlib_dnrm2( m, a( 1, p ), 1 )*d( p )
                                      else
                                         t = zero
                                         aapp = one
                                         call stdlib_dlassq( m, a( 1, p ), 1, t,aapp )
                                         aapp = t*sqrt( aapp )*d( p )
                                      end if
                                      sva( p ) = aapp
                                   end if
                    ! end of ok rotation
                                else
                                   notrot = notrot + 1
                                   pskipped = pskipped + 1
                                   ijblsk = ijblsk + 1
                                end if
                             else
                                notrot = notrot + 1
                                pskipped = pskipped + 1
                                ijblsk = ijblsk + 1
                             end if
                             if( ( i<=swband ) .and. ( ijblsk>=blskip ) )then
                                sva( p ) = aapp
                                notrot = 0
                                go to 2011
                             end if
                             if( ( i<=swband ) .and.( pskipped>rowskip ) ) then
                                aapp = -aapp
                                notrot = 0
                                go to 2203
                             end if
                          end do loop_2200
              ! end of the q-loop
              2203 continue
                          sva( p ) = aapp
                       else
                          if( aapp==zero )notrot = notrot +min( jgl+kbl-1, n ) - jgl + 1
                          if( aapp<zero )notrot = 0
                       end if
                    end do loop_2100
           ! end of the p-loop
                 end do loop_2010
           ! end of the jbc-loop
           2011 continue
      ! 2011 bailed out of the jbc-loop
                 do p = igl, min( igl+kbl-1, n )
                    sva( p ) = abs( sva( p ) )
                 end do
              end do loop_2000
      ! 2000 :: end of the ibr-loop
           ! .. update sva(n)
              if( ( sva( n )<rootbig ) .and. ( sva( n )>rootsfmin ) )then
                 sva( n ) = stdlib_dnrm2( m, a( 1, n ), 1 )*d( n )
              else
                 t = zero
                 aapp = one
                 call stdlib_dlassq( m, a( 1, n ), 1, t, aapp )
                 sva( n ) = t*sqrt( aapp )*d( n )
              end if
           ! additional steering devices
              if( ( i<swband ) .and. ( ( mxaapq<=roottol ) .or.( iswrot<=n ) ) )swband = i
              if( ( i>swband+1 ) .and. ( mxaapq<real( n,KIND=dp)*tol ) .and.( real( n,KIND=dp)&
                        *mxaapq*mxsinj<tol ) ) then
                 go to 1994
              end if
              if( notrot>=emptsw )go to 1994
           end do loop_1993
           ! end i=1:nsweep loop
       ! #:) reaching this point means that the procedure has completed the given
           ! number of iterations.
           info = nsweep - 1
           go to 1995
           1994 continue
       ! #:) reaching this point means that during the i-th sweep all pivots were
           ! below the given tolerance, causing early exit.
           info = 0
       ! #:) info = 0 confirms successful iterations.
       1995 continue
           ! sort the vector d.
           do p = 1, n - 1
              q = stdlib_idamax( n-p+1, sva( p ), 1 ) + p - 1
              if( p/=q ) then
                 temp1 = sva( p )
                 sva( p ) = sva( q )
                 sva( q ) = temp1
                 temp1 = d( p )
                 d( p ) = d( q )
                 d( q ) = temp1
                 call stdlib_dswap( m, a( 1, p ), 1, a( 1, q ), 1 )
                 if( rsvec )call stdlib_dswap( mvl, v( 1, p ), 1, v( 1, q ), 1 )
              end if
           end do
           return
     end subroutine stdlib_dgsvj0

#:for rk,rt,ri in REAL_KINDS_TYPES
#:if not rk in ["sp","dp"]
     module pure subroutine stdlib_${ri}$gsvj0( jobv, m, n, a, lda, d, sva, mv, v, ldv, eps,sfmin, tol, &
     !! DGSVJ0: is called from DGESVJ as a pre-processor and that is its main
     !! purpose. It applies Jacobi rotations in the same way as DGESVJ does, but
     !! it does not check convergence (stopping criterion). Few tuning
     !! parameters (marked by [TP]) are available for the implementer.
               nsweep, work, lwork, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${rk}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, ldv, lwork, m, mv, n, nsweep
           real(${rk}$), intent(in) :: eps, sfmin, tol
           character, intent(in) :: jobv
           ! Array Arguments 
           real(${rk}$), intent(inout) :: a(lda,*), sva(n), d(n), v(ldv,*)
           real(${rk}$), intent(out) :: work(lwork)
        ! =====================================================================
           
           ! Local Scalars 
           real(${rk}$) :: aapp, aapp0, aapq, aaqq, apoaq, aqoap, big, bigtheta, cs, mxaapq, mxsinj, &
                     rootbig, rooteps, rootsfmin, roottol, small, sn, t, temp1, theta, thsign
           integer(ilp) :: blskip, emptsw, i, ibr, ierr, igl, ijblsk, ir1, iswrot, jbc, jgl, kbl, &
                     lkahead, mvl, nbl, notrot, p, pskipped, q, rowskip, swband
           logical(lk) :: applv, rotok, rsvec
           ! Local Arrays 
           real(${rk}$) :: fastr(5)
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters.
           applv = stdlib_lsame( jobv, 'A' )
           rsvec = stdlib_lsame( jobv, 'V' )
           if( .not.( rsvec .or. applv .or. stdlib_lsame( jobv, 'N' ) ) ) then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( ( n<0 ) .or. ( n>m ) ) then
              info = -3
           else if( lda<m ) then
              info = -5
           else if( ( rsvec.or.applv ) .and. ( mv<0 ) ) then
              info = -8
           else if( ( rsvec.and.( ldv<n ) ).or.( applv.and.( ldv<mv ) ) ) then
              info = -10
           else if( tol<=eps ) then
              info = -13
           else if( nsweep<0 ) then
              info = -14
           else if( lwork<m ) then
              info = -16
           else
              info = 0
           end if
           ! #:(
           if( info/=0 ) then
              call stdlib_xerbla( 'DGSVJ0', -info )
              return
           end if
           if( rsvec ) then
              mvl = n
           else if( applv ) then
              mvl = mv
           end if
           rsvec = rsvec .or. applv
           rooteps = sqrt( eps )
           rootsfmin = sqrt( sfmin )
           small = sfmin / eps
           big = one / sfmin
           rootbig = one / rootsfmin
           bigtheta = one / rooteps
           roottol = sqrt( tol )
           ! -#- row-cyclic jacobi svd algorithm with column pivoting -#-
           emptsw = ( n*( n-1 ) ) / 2
           notrot = 0
           fastr( 1 ) = zero
           ! -#- row-cyclic pivot strategy with de rijk's pivoting -#-
           swband = 0
      ! [tp] swband is a tuning parameter. it is meaningful and effective
           ! if stdlib_dgesvj is used as a computational routine in the preconditioned
           ! jacobi svd algorithm stdlib_dgesvj. for sweeps i=1:swband the procedure
           ! ......
           kbl = min( 8, n )
      ! [tp] kbl is a tuning parameter that defines the tile size in the
           ! tiling of the p-q loops of pivot pairs. in general, an optimal
           ! value of kbl depends on the matrix dimensions and on the
           ! parameters of the computer's memory.
           nbl = n / kbl
           if( ( nbl*kbl )/=n )nbl = nbl + 1
           blskip = ( kbl**2 ) + 1
      ! [tp] blkskip is a tuning parameter that depends on swband and kbl.
           rowskip = min( 5, kbl )
      ! [tp] rowskip is a tuning parameter.
           lkahead = 1
      ! [tp] lkahead is a tuning parameter.
           swband = 0
           pskipped = 0
           loop_1993: do i = 1, nsweep
           ! .. go go go ...
              mxaapq = zero
              mxsinj = zero
              iswrot = 0
              notrot = 0
              pskipped = 0
              loop_2000: do ibr = 1, nbl
                 igl = ( ibr-1 )*kbl + 1
                 loop_1002: do ir1 = 0, min( lkahead, nbl-ibr )
                    igl = igl + ir1*kbl
                    loop_2001: do p = igl, min( igl+kbl-1, n-1 )
           ! .. de rijk's pivoting
                       q = stdlib_i${ri}$amax( n-p+1, sva( p ), 1 ) + p - 1
                       if( p/=q ) then
                          call stdlib_${ri}$swap( m, a( 1, p ), 1, a( 1, q ), 1 )
                          if( rsvec )call stdlib_${ri}$swap( mvl, v( 1, p ), 1,v( 1, q ), 1 )
                          temp1 = sva( p )
                          sva( p ) = sva( q )
                          sva( q ) = temp1
                          temp1 = d( p )
                          d( p ) = d( q )
                          d( q ) = temp1
                       end if
                       if( ir1==0 ) then
              ! column norms are periodically updated by explicit
              ! norm computation.
              ! caveat:
              ! some blas implementations compute stdlib_${ri}$nrm2(m,a(1,p),1)
              ! as sqrt(stdlib_${ri}$dot(m,a(1,p),1,a(1,p),1)), which may result in
              ! overflow for ||a(:,p)||_2 > sqrt(overflow_threshold), and
              ! underflow for ||a(:,p)||_2 < sqrt(underflow_threshold).
              ! hence, stdlib_${ri}$nrm2 cannot be trusted, not even in the case when
              ! the true norm is far from the under(over)flow boundaries.
              ! if properly implemented stdlib_${ri}$nrm2 is available, the if-then-else
              ! below should read "aapp = stdlib_${ri}$nrm2( m, a(1,p), 1 ) * d(p)".
                          if( ( sva( p )<rootbig ) .and.( sva( p )>rootsfmin ) ) then
                             sva( p ) = stdlib_${ri}$nrm2( m, a( 1, p ), 1 )*d( p )
                          else
                             temp1 = zero
                             aapp = one
                             call stdlib_${ri}$lassq( m, a( 1, p ), 1, temp1, aapp )
                             sva( p ) = temp1*sqrt( aapp )*d( p )
                          end if
                          aapp = sva( p )
                       else
                          aapp = sva( p )
                       end if
                       if( aapp>zero ) then
                          pskipped = 0
                          loop_2002: do q = p + 1, min( igl+kbl-1, n )
                             aaqq = sva( q )
                             if( aaqq>zero ) then
                                aapp0 = aapp
                                if( aaqq>=one ) then
                                   rotok = ( small*aapp )<=aaqq
                                   if( aapp<( big / aaqq ) ) then
                                      aapq = ( stdlib_${ri}$dot( m, a( 1, p ), 1, a( 1,q ), 1 )*d( p )&
                                                *d( q ) / aaqq )/ aapp
                                   else
                                      call stdlib_${ri}$copy( m, a( 1, p ), 1, work, 1 )
                                      call stdlib_${ri}$lascl( 'G', 0, 0, aapp, d( p ),m, 1, work, lda,&
                                                 ierr )
                                      aapq = stdlib_${ri}$dot( m, work, 1, a( 1, q ),1 )*d( q ) / &
                                                aaqq
                                   end if
                                else
                                   rotok = aapp<=( aaqq / small )
                                   if( aapp>( small / aaqq ) ) then
                                      aapq = ( stdlib_${ri}$dot( m, a( 1, p ), 1, a( 1,q ), 1 )*d( p )&
                                                *d( q ) / aaqq )/ aapp
                                   else
                                      call stdlib_${ri}$copy( m, a( 1, q ), 1, work, 1 )
                                      call stdlib_${ri}$lascl( 'G', 0, 0, aaqq, d( q ),m, 1, work, lda,&
                                                 ierr )
                                      aapq = stdlib_${ri}$dot( m, work, 1, a( 1, p ),1 )*d( p ) / &
                                                aapp
                                   end if
                                end if
                                mxaapq = max( mxaapq, abs( aapq ) )
              ! to rotate or not to rotate, that is the question ...
                                if( abs( aapq )>tol ) then
                 ! Rotate
                 ! rotated = rotated + one
                                   if( ir1==0 ) then
                                      notrot = 0
                                      pskipped = 0
                                      iswrot = iswrot + 1
                                   end if
                                   if( rotok ) then
                                      aqoap = aaqq / aapp
                                      apoaq = aapp / aaqq
                                      theta = -half*abs( aqoap-apoaq )/aapq
                                      if( abs( theta )>bigtheta ) then
                                         t = half / theta
                                         fastr( 3 ) = t*d( p ) / d( q )
                                         fastr( 4 ) = -t*d( q ) / d( p )
                                         call stdlib_${ri}$rotm( m, a( 1, p ), 1,a( 1, q ), 1, fastr )
                                                   
                                         if( rsvec )call stdlib_${ri}$rotm( mvl,v( 1, p ), 1,v( 1, q ),&
                                                    1,fastr )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq ) )
                                         mxsinj = max( mxsinj, abs( t ) )
                                      else
                       ! Choose Correct Signum For Theta And Rotate
                                         thsign = -sign( one, aapq )
                                         t = one / ( theta+thsign*sqrt( one+theta*theta ) )
                                                   
                                         cs = sqrt( one / ( one+t*t ) )
                                         sn = t*cs
                                         mxsinj = max( mxsinj, abs( sn ) )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq ) )
                                         apoaq = d( p ) / d( q )
                                         aqoap = d( q ) / d( p )
                                         if( d( p )>=one ) then
                                            if( d( q )>=one ) then
                                               fastr( 3 ) = t*apoaq
                                               fastr( 4 ) = -t*aqoap
                                               d( p ) = d( p )*cs
                                               d( q ) = d( q )*cs
                                               call stdlib_${ri}$rotm( m, a( 1, p ), 1,a( 1, q ), 1,&
                                                         fastr )
                                               if( rsvec )call stdlib_${ri}$rotm( mvl,v( 1, p ), 1, v( &
                                                         1, q ),1, fastr )
                                            else
                                               call stdlib_${ri}$axpy( m, -t*aqoap,a( 1, q ), 1,a( 1, &
                                                         p ), 1 )
                                               call stdlib_${ri}$axpy( m, cs*sn*apoaq,a( 1, p ), 1,a( &
                                                         1, q ), 1 )
                                               d( p ) = d( p )*cs
                                               d( q ) = d( q ) / cs
                                               if( rsvec ) then
                                                  call stdlib_${ri}$axpy( mvl, -t*aqoap,v( 1, q ), 1,v(&
                                                             1, p ), 1 )
                                                  call stdlib_${ri}$axpy( mvl,cs*sn*apoaq,v( 1, p ), 1,&
                                                            v( 1, q ), 1 )
                                               end if
                                            end if
                                         else
                                            if( d( q )>=one ) then
                                               call stdlib_${ri}$axpy( m, t*apoaq,a( 1, p ), 1,a( 1, q &
                                                         ), 1 )
                                               call stdlib_${ri}$axpy( m, -cs*sn*aqoap,a( 1, q ), 1,a( &
                                                         1, p ), 1 )
                                               d( p ) = d( p ) / cs
                                               d( q ) = d( q )*cs
                                               if( rsvec ) then
                                                  call stdlib_${ri}$axpy( mvl, t*apoaq,v( 1, p ), 1,v( &
                                                            1, q ), 1 )
                                                  call stdlib_${ri}$axpy( mvl,-cs*sn*aqoap,v( 1, q ), &
                                                            1,v( 1, p ), 1 )
                                               end if
                                            else
                                               if( d( p )>=d( q ) ) then
                                                  call stdlib_${ri}$axpy( m, -t*aqoap,a( 1, q ), 1,a( &
                                                            1, p ), 1 )
                                                  call stdlib_${ri}$axpy( m, cs*sn*apoaq,a( 1, p ), 1,&
                                                            a( 1, q ), 1 )
                                                  d( p ) = d( p )*cs
                                                  d( q ) = d( q ) / cs
                                                  if( rsvec ) then
                                                     call stdlib_${ri}$axpy( mvl,-t*aqoap,v( 1, q ), 1,&
                                                               v( 1, p ), 1 )
                                                     call stdlib_${ri}$axpy( mvl,cs*sn*apoaq,v( 1, p ),&
                                                                1,v( 1, q ), 1 )
                                                  end if
                                               else
                                                  call stdlib_${ri}$axpy( m, t*apoaq,a( 1, p ), 1,a( 1,&
                                                             q ), 1 )
                                                  call stdlib_${ri}$axpy( m,-cs*sn*aqoap,a( 1, q ), 1,&
                                                            a( 1, p ), 1 )
                                                  d( p ) = d( p ) / cs
                                                  d( q ) = d( q )*cs
                                                  if( rsvec ) then
                                                     call stdlib_${ri}$axpy( mvl,t*apoaq, v( 1, p ),1, &
                                                               v( 1, q ), 1 )
                                                     call stdlib_${ri}$axpy( mvl,-cs*sn*aqoap,v( 1, q )&
                                                               , 1,v( 1, p ), 1 )
                                                  end if
                                               end if
                                            end if
                                         end if
                                      end if
                                   else
                    ! .. have to use modified gram-schmidt like transformation
                                      call stdlib_${ri}$copy( m, a( 1, p ), 1, work, 1 )
                                      call stdlib_${ri}$lascl( 'G', 0, 0, aapp, one, m,1, work, lda, &
                                                ierr )
                                      call stdlib_${ri}$lascl( 'G', 0, 0, aaqq, one, m,1, a( 1, q ), &
                                                lda, ierr )
                                      temp1 = -aapq*d( p ) / d( q )
                                      call stdlib_${ri}$axpy( m, temp1, work, 1,a( 1, q ), 1 )
                                      call stdlib_${ri}$lascl( 'G', 0, 0, one, aaqq, m,1, a( 1, q ), &
                                                lda, ierr )
                                      sva( q ) = aaqq*sqrt( max( zero,one-aapq*aapq ) )
                                      mxsinj = max( mxsinj, sfmin )
                                   end if
                 ! end if rotok then ... else
                 ! in the case of cancellation in updating sva(q), sva(p)
                 ! recompute sva(q), sva(p).
                                   if( ( sva( q ) / aaqq )**2<=rooteps )then
                                      if( ( aaqq<rootbig ) .and.( aaqq>rootsfmin ) ) then
                                         sva( q ) = stdlib_${ri}$nrm2( m, a( 1, q ), 1 )*d( q )
                                      else
                                         t = zero
                                         aaqq = one
                                         call stdlib_${ri}$lassq( m, a( 1, q ), 1, t,aaqq )
                                         sva( q ) = t*sqrt( aaqq )*d( q )
                                      end if
                                   end if
                                   if( ( aapp / aapp0 )<=rooteps ) then
                                      if( ( aapp<rootbig ) .and.( aapp>rootsfmin ) ) then
                                         aapp = stdlib_${ri}$nrm2( m, a( 1, p ), 1 )*d( p )
                                      else
                                         t = zero
                                         aapp = one
                                         call stdlib_${ri}$lassq( m, a( 1, p ), 1, t,aapp )
                                         aapp = t*sqrt( aapp )*d( p )
                                      end if
                                      sva( p ) = aapp
                                   end if
                                else
              ! a(:,p) and a(:,q) already numerically orthogonal
                                   if( ir1==0 )notrot = notrot + 1
                                   pskipped = pskipped + 1
                                end if
                             else
              ! a(:,q) is zero column
                                if( ir1==0 )notrot = notrot + 1
                                pskipped = pskipped + 1
                             end if
                             if( ( i<=swband ) .and.( pskipped>rowskip ) ) then
                                if( ir1==0 )aapp = -aapp
                                notrot = 0
                                go to 2103
                             end if
                          end do loop_2002
           ! end q-loop
           2103 continue
           ! bailed out of q-loop
                          sva( p ) = aapp
                       else
                          sva( p ) = aapp
                          if( ( ir1==0 ) .and. ( aapp==zero ) )notrot = notrot + min( igl+kbl-1, &
                                    n ) - p
                       end if
                    end do loop_2001
           ! end of the p-loop
           ! end of doing the block ( ibr, ibr )
                 end do loop_1002
           ! end of ir1-loop
      ! ........................................................
       ! ... go to the off diagonal blocks
                 igl = ( ibr-1 )*kbl + 1
                 loop_2010: do jbc = ibr + 1, nbl
                    jgl = ( jbc-1 )*kbl + 1
              ! doing the block at ( ibr, jbc )
                    ijblsk = 0
                    loop_2100: do p = igl, min( igl+kbl-1, n )
                       aapp = sva( p )
                       if( aapp>zero ) then
                          pskipped = 0
                          loop_2200: do q = jgl, min( jgl+kbl-1, n )
                             aaqq = sva( q )
                             if( aaqq>zero ) then
                                aapp0 = aapp
           ! -#- m x 2 jacobi svd -#-
              ! -#- safe gram matrix computation -#-
                                if( aaqq>=one ) then
                                   if( aapp>=aaqq ) then
                                      rotok = ( small*aapp )<=aaqq
                                   else
                                      rotok = ( small*aaqq )<=aapp
                                   end if
                                   if( aapp<( big / aaqq ) ) then
                                      aapq = ( stdlib_${ri}$dot( m, a( 1, p ), 1, a( 1,q ), 1 )*d( p )&
                                                *d( q ) / aaqq )/ aapp
                                   else
                                      call stdlib_${ri}$copy( m, a( 1, p ), 1, work, 1 )
                                      call stdlib_${ri}$lascl( 'G', 0, 0, aapp, d( p ),m, 1, work, lda,&
                                                 ierr )
                                      aapq = stdlib_${ri}$dot( m, work, 1, a( 1, q ),1 )*d( q ) / &
                                                aaqq
                                   end if
                                else
                                   if( aapp>=aaqq ) then
                                      rotok = aapp<=( aaqq / small )
                                   else
                                      rotok = aaqq<=( aapp / small )
                                   end if
                                   if( aapp>( small / aaqq ) ) then
                                      aapq = ( stdlib_${ri}$dot( m, a( 1, p ), 1, a( 1,q ), 1 )*d( p )&
                                                *d( q ) / aaqq )/ aapp
                                   else
                                      call stdlib_${ri}$copy( m, a( 1, q ), 1, work, 1 )
                                      call stdlib_${ri}$lascl( 'G', 0, 0, aaqq, d( q ),m, 1, work, lda,&
                                                 ierr )
                                      aapq = stdlib_${ri}$dot( m, work, 1, a( 1, p ),1 )*d( p ) / &
                                                aapp
                                   end if
                                end if
                                mxaapq = max( mxaapq, abs( aapq ) )
              ! to rotate or not to rotate, that is the question ...
                                if( abs( aapq )>tol ) then
                                   notrot = 0
                 ! rotated  = rotated + 1
                                   pskipped = 0
                                   iswrot = iswrot + 1
                                   if( rotok ) then
                                      aqoap = aaqq / aapp
                                      apoaq = aapp / aaqq
                                      theta = -half*abs( aqoap-apoaq )/aapq
                                      if( aaqq>aapp0 )theta = -theta
                                      if( abs( theta )>bigtheta ) then
                                         t = half / theta
                                         fastr( 3 ) = t*d( p ) / d( q )
                                         fastr( 4 ) = -t*d( q ) / d( p )
                                         call stdlib_${ri}$rotm( m, a( 1, p ), 1,a( 1, q ), 1, fastr )
                                                   
                                         if( rsvec )call stdlib_${ri}$rotm( mvl,v( 1, p ), 1,v( 1, q ),&
                                                    1,fastr )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq ) )
                                         mxsinj = max( mxsinj, abs( t ) )
                                      else
                       ! Choose Correct Signum For Theta And Rotate
                                         thsign = -sign( one, aapq )
                                         if( aaqq>aapp0 )thsign = -thsign
                                         t = one / ( theta+thsign*sqrt( one+theta*theta ) )
                                                   
                                         cs = sqrt( one / ( one+t*t ) )
                                         sn = t*cs
                                         mxsinj = max( mxsinj, abs( sn ) )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq ) )
                                         apoaq = d( p ) / d( q )
                                         aqoap = d( q ) / d( p )
                                         if( d( p )>=one ) then
                                            if( d( q )>=one ) then
                                               fastr( 3 ) = t*apoaq
                                               fastr( 4 ) = -t*aqoap
                                               d( p ) = d( p )*cs
                                               d( q ) = d( q )*cs
                                               call stdlib_${ri}$rotm( m, a( 1, p ), 1,a( 1, q ), 1,&
                                                         fastr )
                                               if( rsvec )call stdlib_${ri}$rotm( mvl,v( 1, p ), 1, v( &
                                                         1, q ),1, fastr )
                                            else
                                               call stdlib_${ri}$axpy( m, -t*aqoap,a( 1, q ), 1,a( 1, &
                                                         p ), 1 )
                                               call stdlib_${ri}$axpy( m, cs*sn*apoaq,a( 1, p ), 1,a( &
                                                         1, q ), 1 )
                                               if( rsvec ) then
                                                  call stdlib_${ri}$axpy( mvl, -t*aqoap,v( 1, q ), 1,v(&
                                                             1, p ), 1 )
                                                  call stdlib_${ri}$axpy( mvl,cs*sn*apoaq,v( 1, p ), 1,&
                                                            v( 1, q ), 1 )
                                               end if
                                               d( p ) = d( p )*cs
                                               d( q ) = d( q ) / cs
                                            end if
                                         else
                                            if( d( q )>=one ) then
                                               call stdlib_${ri}$axpy( m, t*apoaq,a( 1, p ), 1,a( 1, q &
                                                         ), 1 )
                                               call stdlib_${ri}$axpy( m, -cs*sn*aqoap,a( 1, q ), 1,a( &
                                                         1, p ), 1 )
                                               if( rsvec ) then
                                                  call stdlib_${ri}$axpy( mvl, t*apoaq,v( 1, p ), 1,v( &
                                                            1, q ), 1 )
                                                  call stdlib_${ri}$axpy( mvl,-cs*sn*aqoap,v( 1, q ), &
                                                            1,v( 1, p ), 1 )
                                               end if
                                               d( p ) = d( p ) / cs
                                               d( q ) = d( q )*cs
                                            else
                                               if( d( p )>=d( q ) ) then
                                                  call stdlib_${ri}$axpy( m, -t*aqoap,a( 1, q ), 1,a( &
                                                            1, p ), 1 )
                                                  call stdlib_${ri}$axpy( m, cs*sn*apoaq,a( 1, p ), 1,&
                                                            a( 1, q ), 1 )
                                                  d( p ) = d( p )*cs
                                                  d( q ) = d( q ) / cs
                                                  if( rsvec ) then
                                                     call stdlib_${ri}$axpy( mvl,-t*aqoap,v( 1, q ), 1,&
                                                               v( 1, p ), 1 )
                                                     call stdlib_${ri}$axpy( mvl,cs*sn*apoaq,v( 1, p ),&
                                                                1,v( 1, q ), 1 )
                                                  end if
                                               else
                                                  call stdlib_${ri}$axpy( m, t*apoaq,a( 1, p ), 1,a( 1,&
                                                             q ), 1 )
                                                  call stdlib_${ri}$axpy( m,-cs*sn*aqoap,a( 1, q ), 1,&
                                                            a( 1, p ), 1 )
                                                  d( p ) = d( p ) / cs
                                                  d( q ) = d( q )*cs
                                                  if( rsvec ) then
                                                     call stdlib_${ri}$axpy( mvl,t*apoaq, v( 1, p ),1, &
                                                               v( 1, q ), 1 )
                                                     call stdlib_${ri}$axpy( mvl,-cs*sn*aqoap,v( 1, q )&
                                                               , 1,v( 1, p ), 1 )
                                                  end if
                                               end if
                                            end if
                                         end if
                                      end if
                                   else
                                      if( aapp>aaqq ) then
                                         call stdlib_${ri}$copy( m, a( 1, p ), 1, work,1 )
                                         call stdlib_${ri}$lascl( 'G', 0, 0, aapp, one,m, 1, work, lda,&
                                                    ierr )
                                         call stdlib_${ri}$lascl( 'G', 0, 0, aaqq, one,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         temp1 = -aapq*d( p ) / d( q )
                                         call stdlib_${ri}$axpy( m, temp1, work, 1,a( 1, q ), 1 )
                                                   
                                         call stdlib_${ri}$lascl( 'G', 0, 0, one, aaqq,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         sva( q ) = aaqq*sqrt( max( zero,one-aapq*aapq ) )
                                         mxsinj = max( mxsinj, sfmin )
                                      else
                                         call stdlib_${ri}$copy( m, a( 1, q ), 1, work,1 )
                                         call stdlib_${ri}$lascl( 'G', 0, 0, aaqq, one,m, 1, work, lda,&
                                                    ierr )
                                         call stdlib_${ri}$lascl( 'G', 0, 0, aapp, one,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         temp1 = -aapq*d( q ) / d( p )
                                         call stdlib_${ri}$axpy( m, temp1, work, 1,a( 1, p ), 1 )
                                                   
                                         call stdlib_${ri}$lascl( 'G', 0, 0, one, aapp,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         sva( p ) = aapp*sqrt( max( zero,one-aapq*aapq ) )
                                         mxsinj = max( mxsinj, sfmin )
                                      end if
                                   end if
                 ! end if rotok then ... else
                 ! in the case of cancellation in updating sva(q)
                 ! .. recompute sva(q)
                                   if( ( sva( q ) / aaqq )**2<=rooteps )then
                                      if( ( aaqq<rootbig ) .and.( aaqq>rootsfmin ) ) then
                                         sva( q ) = stdlib_${ri}$nrm2( m, a( 1, q ), 1 )*d( q )
                                      else
                                         t = zero
                                         aaqq = one
                                         call stdlib_${ri}$lassq( m, a( 1, q ), 1, t,aaqq )
                                         sva( q ) = t*sqrt( aaqq )*d( q )
                                      end if
                                   end if
                                   if( ( aapp / aapp0 )**2<=rooteps ) then
                                      if( ( aapp<rootbig ) .and.( aapp>rootsfmin ) ) then
                                         aapp = stdlib_${ri}$nrm2( m, a( 1, p ), 1 )*d( p )
                                      else
                                         t = zero
                                         aapp = one
                                         call stdlib_${ri}$lassq( m, a( 1, p ), 1, t,aapp )
                                         aapp = t*sqrt( aapp )*d( p )
                                      end if
                                      sva( p ) = aapp
                                   end if
                    ! end of ok rotation
                                else
                                   notrot = notrot + 1
                                   pskipped = pskipped + 1
                                   ijblsk = ijblsk + 1
                                end if
                             else
                                notrot = notrot + 1
                                pskipped = pskipped + 1
                                ijblsk = ijblsk + 1
                             end if
                             if( ( i<=swband ) .and. ( ijblsk>=blskip ) )then
                                sva( p ) = aapp
                                notrot = 0
                                go to 2011
                             end if
                             if( ( i<=swband ) .and.( pskipped>rowskip ) ) then
                                aapp = -aapp
                                notrot = 0
                                go to 2203
                             end if
                          end do loop_2200
              ! end of the q-loop
              2203 continue
                          sva( p ) = aapp
                       else
                          if( aapp==zero )notrot = notrot +min( jgl+kbl-1, n ) - jgl + 1
                          if( aapp<zero )notrot = 0
                       end if
                    end do loop_2100
           ! end of the p-loop
                 end do loop_2010
           ! end of the jbc-loop
           2011 continue
      ! 2011 bailed out of the jbc-loop
                 do p = igl, min( igl+kbl-1, n )
                    sva( p ) = abs( sva( p ) )
                 end do
              end do loop_2000
      ! 2000 :: end of the ibr-loop
           ! .. update sva(n)
              if( ( sva( n )<rootbig ) .and. ( sva( n )>rootsfmin ) )then
                 sva( n ) = stdlib_${ri}$nrm2( m, a( 1, n ), 1 )*d( n )
              else
                 t = zero
                 aapp = one
                 call stdlib_${ri}$lassq( m, a( 1, n ), 1, t, aapp )
                 sva( n ) = t*sqrt( aapp )*d( n )
              end if
           ! additional steering devices
              if( ( i<swband ) .and. ( ( mxaapq<=roottol ) .or.( iswrot<=n ) ) )swband = i
              if( ( i>swband+1 ) .and. ( mxaapq<real( n,KIND=${rk}$)*tol ) .and.( real( n,KIND=${rk}$)&
                        *mxaapq*mxsinj<tol ) ) then
                 go to 1994
              end if
              if( notrot>=emptsw )go to 1994
           end do loop_1993
           ! end i=1:nsweep loop
       ! #:) reaching this point means that the procedure has completed the given
           ! number of iterations.
           info = nsweep - 1
           go to 1995
           1994 continue
       ! #:) reaching this point means that during the i-th sweep all pivots were
           ! below the given tolerance, causing early exit.
           info = 0
       ! #:) info = 0 confirms successful iterations.
       1995 continue
           ! sort the vector d.
           do p = 1, n - 1
              q = stdlib_i${ri}$amax( n-p+1, sva( p ), 1 ) + p - 1
              if( p/=q ) then
                 temp1 = sva( p )
                 sva( p ) = sva( q )
                 sva( q ) = temp1
                 temp1 = d( p )
                 d( p ) = d( q )
                 d( q ) = temp1
                 call stdlib_${ri}$swap( m, a( 1, p ), 1, a( 1, q ), 1 )
                 if( rsvec )call stdlib_${ri}$swap( mvl, v( 1, p ), 1, v( 1, q ), 1 )
              end if
           end do
           return
     end subroutine stdlib_${ri}$gsvj0

#:endif
#:endfor

     module pure subroutine stdlib_cgsvj0( jobv, m, n, a, lda, d, sva, mv, v, ldv, eps,sfmin, tol, &
     !! CGSVJ0 is called from CGESVJ as a pre-processor and that is its main
     !! purpose. It applies Jacobi rotations in the same way as CGESVJ does, but
     !! it does not check convergence (stopping criterion). Few tuning
     !! parameters (marked by [TP]) are available for the implementer.
               nsweep, work, lwork, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, ldv, lwork, m, mv, n, nsweep
           real(sp), intent(in) :: eps, sfmin, tol
           character, intent(in) :: jobv
           ! Array Arguments 
           complex(sp), intent(inout) :: a(lda,*), d(n), v(ldv,*)
           complex(sp), intent(out) :: work(lwork)
           real(sp), intent(inout) :: sva(n)
        ! =====================================================================
           
           
           ! Local Scalars 
           complex(sp) :: aapq, ompq
           real(sp) :: aapp, aapp0, aapq1, aaqq, apoaq, aqoap, big, bigtheta, cs, mxaapq, mxsinj, &
                     rootbig, rooteps, rootsfmin, roottol, small, sn, t, temp1, theta, thsign
           integer(ilp) :: blskip, emptsw, i, ibr, ierr, igl, ijblsk, ir1, iswrot, jbc, jgl, kbl, &
                     lkahead, mvl, nbl, notrot, p, pskipped, q, rowskip, swband
           logical(lk) :: applv, rotok, rsvec
           ! Intrinsic Functions 
           ! from lapack
           ! Executable Statements 
           ! test the input parameters.
           applv = stdlib_lsame( jobv, 'A' )
           rsvec = stdlib_lsame( jobv, 'V' )
           if( .not.( rsvec .or. applv .or. stdlib_lsame( jobv, 'N' ) ) ) then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( ( n<0 ) .or. ( n>m ) ) then
              info = -3
           else if( lda<m ) then
              info = -5
           else if( ( rsvec.or.applv ) .and. ( mv<0 ) ) then
              info = -8
           else if( ( rsvec.and.( ldv<n ) ).or.( applv.and.( ldv<mv ) ) ) then
              info = -10
           else if( tol<=eps ) then
              info = -13
           else if( nsweep<0 ) then
              info = -14
           else if( lwork<m ) then
              info = -16
           else
              info = 0
           end if
           ! #:(
           if( info/=0 ) then
              call stdlib_xerbla( 'CGSVJ0', -info )
              return
           end if
           if( rsvec ) then
              mvl = n
           else if( applv ) then
              mvl = mv
           end if
           rsvec = rsvec .or. applv
           rooteps = sqrt( eps )
           rootsfmin = sqrt( sfmin )
           small = sfmin / eps
           big = one / sfmin
           rootbig = one / rootsfmin
           bigtheta = one / rooteps
           roottol = sqrt( tol )
           ! .. row-cyclic jacobi svd algorithm with column pivoting ..
           emptsw = ( n*( n-1 ) ) / 2
           notrot = 0
           ! .. row-cyclic pivot strategy with de rijk's pivoting ..
           swband = 0
      ! [tp] swband is a tuning parameter [tp]. it is meaningful and effective
           ! if stdlib_cgesvj is used as a computational routine in the preconditioned
           ! jacobi svd algorithm stdlib_cgejsv. for sweeps i=1:swband the procedure
           ! works on pivots inside a band-like region around the diagonal.
           ! the boundaries are determined dynamically, based on the number of
           ! pivots above a threshold.
           kbl = min( 8, n )
      ! [tp] kbl is a tuning parameter that defines the tile size in the
           ! tiling of the p-q loops of pivot pairs. in general, an optimal
           ! value of kbl depends on the matrix dimensions and on the
           ! parameters of the computer's memory.
           nbl = n / kbl
           if( ( nbl*kbl )/=n )nbl = nbl + 1
           blskip = kbl**2
      ! [tp] blkskip is a tuning parameter that depends on swband and kbl.
           rowskip = min( 5, kbl )
      ! [tp] rowskip is a tuning parameter.
           lkahead = 1
      ! [tp] lkahead is a tuning parameter.
           ! quasi block transformations, using the lower (upper) triangular
           ! structure of the input matrix. the quasi-block-cycling usually
           ! invokes cubic convergence. big part of this cycle is done inside
           ! canonical subspaces of dimensions less than m.
           ! .. row-cyclic pivot strategy with de rijk's pivoting ..
           loop_1993: do i = 1, nsweep
           ! .. go go go ...
              mxaapq = zero
              mxsinj = zero
              iswrot = 0
              notrot = 0
              pskipped = 0
           ! each sweep is unrolled using kbl-by-kbl tiles over the pivot pairs
           ! 1 <= p < q <= n. this is the first step toward a blocked implementation
           ! of the rotations. new implementation, based on block transformations,
           ! is under development.
              loop_2000: do ibr = 1, nbl
                 igl = ( ibr-1 )*kbl + 1
                 loop_1002: do ir1 = 0, min( lkahead, nbl-ibr )
                    igl = igl + ir1*kbl
                    loop_2001: do p = igl, min( igl+kbl-1, n-1 )
           ! .. de rijk's pivoting
                       q = stdlib_isamax( n-p+1, sva( p ), 1 ) + p - 1
                       if( p/=q ) then
                          call stdlib_cswap( m, a( 1, p ), 1, a( 1, q ), 1 )
                          if( rsvec )call stdlib_cswap( mvl, v( 1, p ), 1,v( 1, q ), 1 )
                          temp1 = sva( p )
                          sva( p ) = sva( q )
                          sva( q ) = temp1
                          aapq = d(p)
                          d(p) = d(q)
                          d(q) = aapq
                       end if
                       if( ir1==0 ) then
              ! column norms are periodically updated by explicit
              ! norm computation.
              ! caveat:
              ! unfortunately, some blas implementations compute sncrm2(m,a(1,p),1)
              ! as sqrt(s=stdlib_cdotc(m,a(1,p),1,a(1,p),1)), which may cause the result to
              ! overflow for ||a(:,p)||_2 > sqrt(overflow_threshold), and to
              ! underflow for ||a(:,p)||_2 < sqrt(underflow_threshold).
              ! hence, stdlib_scnrm2 cannot be trusted, not even in the case when
              ! the true norm is far from the under(over)flow boundaries.
              ! if properly implemented stdlib_scnrm2 is available, the if-then-else-end if
              ! below should be replaced with "aapp = stdlib_scnrm2( m, a(1,p), 1 )".
                          if( ( sva( p )<rootbig ) .and.( sva( p )>rootsfmin ) ) then
                             sva( p ) = stdlib_scnrm2( m, a( 1, p ), 1 )
                          else
                             temp1 = zero
                             aapp = one
                             call stdlib_classq( m, a( 1, p ), 1, temp1, aapp )
                             sva( p ) = temp1*sqrt( aapp )
                          end if
                          aapp = sva( p )
                       else
                          aapp = sva( p )
                       end if
                       if( aapp>zero ) then
                          pskipped = 0
                          loop_2002: do q = p + 1, min( igl+kbl-1, n )
                             aaqq = sva( q )
                             if( aaqq>zero ) then
                                aapp0 = aapp
                                if( aaqq>=one ) then
                                   rotok = ( small*aapp )<=aaqq
                                   if( aapp<( big / aaqq ) ) then
                                      aapq = ( stdlib_cdotc( m, a( 1, p ), 1,a( 1, q ), 1 ) / &
                                                aaqq ) / aapp
                                   else
                                      call stdlib_ccopy( m, a( 1, p ), 1,work, 1 )
                                      call stdlib_clascl( 'G', 0, 0, aapp, one,m, 1, work, lda, &
                                                ierr )
                                      aapq = stdlib_cdotc( m, work, 1,a( 1, q ), 1 ) / &
                                                aaqq
                                   end if
                                else
                                   rotok = aapp<=( aaqq / small )
                                   if( aapp>( small / aaqq ) ) then
                                      aapq = ( stdlib_cdotc( m, a( 1, p ), 1,a( 1, q ), 1 ) / &
                                                aapp ) / aaqq
                                   else
                                      call stdlib_ccopy( m, a( 1, q ), 1,work, 1 )
                                      call stdlib_clascl( 'G', 0, 0, aaqq,one, m, 1,work, lda, &
                                                ierr )
                                      aapq = stdlib_cdotc( m, a( 1, p ), 1,work, 1 ) / &
                                                aapp
                                   end if
                                end if
                                 ! aapq = aapq * conjg( cwork(p) ) * cwork(q)
                                aapq1  = -abs(aapq)
                                mxaapq = max( mxaapq, -aapq1 )
              ! to rotate or not to rotate, that is the question ...
                                if( abs( aapq1 )>tol ) then
                                   ompq = aapq / abs(aapq)
                 ! Rotate
      ! [rtd]      rotated = rotated + one
                                   if( ir1==0 ) then
                                      notrot = 0
                                      pskipped = 0
                                      iswrot = iswrot + 1
                                   end if
                                   if( rotok ) then
                                      aqoap = aaqq / aapp
                                      apoaq = aapp / aaqq
                                      theta = -half*abs( aqoap-apoaq )/aapq1
                                      if( abs( theta )>bigtheta ) then
                                         t  = half / theta
                                         cs = one
                                         call stdlib_crot( m, a(1,p), 1, a(1,q), 1,cs, conjg(ompq)&
                                                   *t )
                                         if ( rsvec ) then
                                             call stdlib_crot( mvl, v(1,p), 1,v(1,q), 1, cs, &
                                                       conjg(ompq)*t )
                                         end if
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq1 ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq1 ) )
                                         mxsinj = max( mxsinj, abs( t ) )
                                      else
                       ! Choose Correct Signum For Theta And Rotate
                                         thsign = -sign( one, aapq1 )
                                         t = one / ( theta+thsign*sqrt( one+theta*theta ) )
                                                   
                                         cs = sqrt( one / ( one+t*t ) )
                                         sn = t*cs
                                         mxsinj = max( mxsinj, abs( sn ) )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq1 ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq1 ) )
                                         call stdlib_crot( m, a(1,p), 1, a(1,q), 1,cs, conjg(ompq)&
                                                   *sn )
                                         if ( rsvec ) then
                                             call stdlib_crot( mvl, v(1,p), 1,v(1,q), 1, cs, &
                                                       conjg(ompq)*sn )
                                         end if
                                      end if
                                      d(p) = -d(q) * ompq
                                      else
                    ! .. have to use modified gram-schmidt like transformation
                                      call stdlib_ccopy( m, a( 1, p ), 1,work, 1 )
                                      call stdlib_clascl( 'G', 0, 0, aapp, one, m,1, work, lda,&
                                                ierr )
                                      call stdlib_clascl( 'G', 0, 0, aaqq, one, m,1, a( 1, q ), &
                                                lda, ierr )
                                      call stdlib_caxpy( m, -aapq, work, 1,a( 1, q ), 1 )
                                      call stdlib_clascl( 'G', 0, 0, one, aaqq, m,1, a( 1, q ), &
                                                lda, ierr )
                                      sva( q ) = aaqq*sqrt( max( zero,one-aapq1*aapq1 ) )
                                      mxsinj = max( mxsinj, sfmin )
                                   end if
                 ! end if rotok then ... else
                 ! in the case of cancellation in updating sva(q), sva(p)
                 ! recompute sva(q), sva(p).
                                   if( ( sva( q ) / aaqq )**2<=rooteps )then
                                      if( ( aaqq<rootbig ) .and.( aaqq>rootsfmin ) ) then
                                         sva( q ) = stdlib_scnrm2( m, a( 1, q ), 1 )
                                      else
                                         t = zero
                                         aaqq = one
                                         call stdlib_classq( m, a( 1, q ), 1, t,aaqq )
                                         sva( q ) = t*sqrt( aaqq )
                                      end if
                                   end if
                                   if( ( aapp / aapp0 )<=rooteps ) then
                                      if( ( aapp<rootbig ) .and.( aapp>rootsfmin ) ) then
                                         aapp = stdlib_scnrm2( m, a( 1, p ), 1 )
                                      else
                                         t = zero
                                         aapp = one
                                         call stdlib_classq( m, a( 1, p ), 1, t,aapp )
                                         aapp = t*sqrt( aapp )
                                      end if
                                      sva( p ) = aapp
                                   end if
                                else
              ! a(:,p) and a(:,q) already numerically orthogonal
                                   if( ir1==0 )notrot = notrot + 1
      ! [rtd]      skipped  = skipped  + 1
                                   pskipped = pskipped + 1
                                end if
                             else
              ! a(:,q) is zero column
                                if( ir1==0 )notrot = notrot + 1
                                pskipped = pskipped + 1
                             end if
                             if( ( i<=swband ) .and.( pskipped>rowskip ) ) then
                                if( ir1==0 )aapp = -aapp
                                notrot = 0
                                go to 2103
                             end if
                          end do loop_2002
           ! end q-loop
           2103 continue
           ! bailed out of q-loop
                          sva( p ) = aapp
                       else
                          sva( p ) = aapp
                          if( ( ir1==0 ) .and. ( aapp==zero ) )notrot = notrot + min( igl+kbl-1, &
                                    n ) - p
                       end if
                    end do loop_2001
           ! end of the p-loop
           ! end of doing the block ( ibr, ibr )
                 end do loop_1002
           ! end of ir1-loop
       ! ... go to the off diagonal blocks
                 igl = ( ibr-1 )*kbl + 1
                 loop_2010: do jbc = ibr + 1, nbl
                    jgl = ( jbc-1 )*kbl + 1
              ! doing the block at ( ibr, jbc )
                    ijblsk = 0
                    loop_2100: do p = igl, min( igl+kbl-1, n )
                       aapp = sva( p )
                       if( aapp>zero ) then
                          pskipped = 0
                          loop_2200: do q = jgl, min( jgl+kbl-1, n )
                             aaqq = sva( q )
                             if( aaqq>zero ) then
                                aapp0 = aapp
           ! M X 2 Jacobi Svd 
              ! safe gram matrix computation
                                if( aaqq>=one ) then
                                   if( aapp>=aaqq ) then
                                      rotok = ( small*aapp )<=aaqq
                                   else
                                      rotok = ( small*aaqq )<=aapp
                                   end if
                                   if( aapp<( big / aaqq ) ) then
                                      aapq = ( stdlib_cdotc( m, a( 1, p ), 1,a( 1, q ), 1 ) / &
                                                aaqq ) / aapp
                                   else
                                      call stdlib_ccopy( m, a( 1, p ), 1,work, 1 )
                                      call stdlib_clascl( 'G', 0, 0, aapp,one, m, 1,work, lda, &
                                                ierr )
                                      aapq = stdlib_cdotc( m, work, 1,a( 1, q ), 1 ) / &
                                                aaqq
                                   end if
                                else
                                   if( aapp>=aaqq ) then
                                      rotok = aapp<=( aaqq / small )
                                   else
                                      rotok = aaqq<=( aapp / small )
                                   end if
                                   if( aapp>( small / aaqq ) ) then
                                      aapq = ( stdlib_cdotc( m, a( 1, p ), 1,a( 1, q ), 1 ) / max(&
                                                aaqq,aapp) )/ min(aaqq,aapp)
                                   else
                                      call stdlib_ccopy( m, a( 1, q ), 1,work, 1 )
                                      call stdlib_clascl( 'G', 0, 0, aaqq,one, m, 1,work, lda, &
                                                ierr )
                                      aapq = stdlib_cdotc( m, a( 1, p ), 1,work, 1 ) / &
                                                aapp
                                   end if
                                end if
                                 ! aapq = aapq * conjg(cwork(p))*cwork(q)
                                aapq1  = -abs(aapq)
                                mxaapq = max( mxaapq, -aapq1 )
              ! to rotate or not to rotate, that is the question ...
                                if( abs( aapq1 )>tol ) then
                                   ompq = aapq / abs(aapq)
                                   notrot = 0
      ! [rtd]      rotated  = rotated + 1
                                   pskipped = 0
                                   iswrot = iswrot + 1
                                   if( rotok ) then
                                      aqoap = aaqq / aapp
                                      apoaq = aapp / aaqq
                                      theta = -half*abs( aqoap-apoaq )/ aapq1
                                      if( aaqq>aapp0 )theta = -theta
                                      if( abs( theta )>bigtheta ) then
                                         t  = half / theta
                                         cs = one
                                         call stdlib_crot( m, a(1,p), 1, a(1,q), 1,cs, conjg(ompq)&
                                                   *t )
                                         if( rsvec ) then
                                             call stdlib_crot( mvl, v(1,p), 1,v(1,q), 1, cs, &
                                                       conjg(ompq)*t )
                                         end if
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq1 ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq1 ) )
                                         mxsinj = max( mxsinj, abs( t ) )
                                      else
                       ! Choose Correct Signum For Theta And Rotate
                                         thsign = -sign( one, aapq1 )
                                         if( aaqq>aapp0 )thsign = -thsign
                                         t = one / ( theta+thsign*sqrt( one+theta*theta ) )
                                                   
                                         cs = sqrt( one / ( one+t*t ) )
                                         sn = t*cs
                                         mxsinj = max( mxsinj, abs( sn ) )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq1 ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq1 ) )
                                         call stdlib_crot( m, a(1,p), 1, a(1,q), 1,cs, conjg(ompq)&
                                                   *sn )
                                         if( rsvec ) then
                                             call stdlib_crot( mvl, v(1,p), 1,v(1,q), 1, cs, &
                                                       conjg(ompq)*sn )
                                         end if
                                      end if
                                      d(p) = -d(q) * ompq
                                   else
                    ! .. have to use modified gram-schmidt like transformation
                                    if( aapp>aaqq ) then
                                         call stdlib_ccopy( m, a( 1, p ), 1,work, 1 )
                                         call stdlib_clascl( 'G', 0, 0, aapp, one,m, 1, work,lda,&
                                                   ierr )
                                         call stdlib_clascl( 'G', 0, 0, aaqq, one,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         call stdlib_caxpy( m, -aapq, work,1, a( 1, q ), 1 )
                                                   
                                         call stdlib_clascl( 'G', 0, 0, one, aaqq,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         sva( q ) = aaqq*sqrt( max( zero,one-aapq1*aapq1 ) )
                                                   
                                         mxsinj = max( mxsinj, sfmin )
                                    else
                                        call stdlib_ccopy( m, a( 1, q ), 1,work, 1 )
                                         call stdlib_clascl( 'G', 0, 0, aaqq, one,m, 1, work,lda,&
                                                   ierr )
                                         call stdlib_clascl( 'G', 0, 0, aapp, one,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         call stdlib_caxpy( m, -conjg(aapq),work, 1, a( 1, p ), 1 &
                                                   )
                                         call stdlib_clascl( 'G', 0, 0, one, aapp,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         sva( p ) = aapp*sqrt( max( zero,one-aapq1*aapq1 ) )
                                                   
                                         mxsinj = max( mxsinj, sfmin )
                                    end if
                                   end if
                 ! end if rotok then ... else
                 ! in the case of cancellation in updating sva(q), sva(p)
                 ! .. recompute sva(q), sva(p)
                                   if( ( sva( q ) / aaqq )**2<=rooteps )then
                                      if( ( aaqq<rootbig ) .and.( aaqq>rootsfmin ) ) then
                                         sva( q ) = stdlib_scnrm2( m, a( 1, q ), 1)
                                       else
                                         t = zero
                                         aaqq = one
                                         call stdlib_classq( m, a( 1, q ), 1, t,aaqq )
                                         sva( q ) = t*sqrt( aaqq )
                                      end if
                                   end if
                                   if( ( aapp / aapp0 )**2<=rooteps ) then
                                      if( ( aapp<rootbig ) .and.( aapp>rootsfmin ) ) then
                                         aapp = stdlib_scnrm2( m, a( 1, p ), 1 )
                                      else
                                         t = zero
                                         aapp = one
                                         call stdlib_classq( m, a( 1, p ), 1, t,aapp )
                                         aapp = t*sqrt( aapp )
                                      end if
                                      sva( p ) = aapp
                                   end if
                    ! end of ok rotation
                                else
                                   notrot = notrot + 1
      ! [rtd]      skipped  = skipped  + 1
                                   pskipped = pskipped + 1
                                   ijblsk = ijblsk + 1
                                end if
                             else
                                notrot = notrot + 1
                                pskipped = pskipped + 1
                                ijblsk = ijblsk + 1
                             end if
                             if( ( i<=swband ) .and. ( ijblsk>=blskip ) )then
                                sva( p ) = aapp
                                notrot = 0
                                go to 2011
                             end if
                             if( ( i<=swband ) .and.( pskipped>rowskip ) ) then
                                aapp = -aapp
                                notrot = 0
                                go to 2203
                             end if
                          end do loop_2200
              ! end of the q-loop
              2203 continue
                          sva( p ) = aapp
                       else
                          if( aapp==zero )notrot = notrot +min( jgl+kbl-1, n ) - jgl + 1
                          if( aapp<zero )notrot = 0
                       end if
                    end do loop_2100
           ! end of the p-loop
                 end do loop_2010
           ! end of the jbc-loop
           2011 continue
      ! 2011 bailed out of the jbc-loop
                 do p = igl, min( igl+kbl-1, n )
                    sva( p ) = abs( sva( p ) )
                 end do
      ! **
              end do loop_2000
      ! 2000 :: end of the ibr-loop
           ! .. update sva(n)
              if( ( sva( n )<rootbig ) .and. ( sva( n )>rootsfmin ) )then
                 sva( n ) = stdlib_scnrm2( m, a( 1, n ), 1 )
              else
                 t = zero
                 aapp = one
                 call stdlib_classq( m, a( 1, n ), 1, t, aapp )
                 sva( n ) = t*sqrt( aapp )
              end if
           ! additional steering devices
              if( ( i<swband ) .and. ( ( mxaapq<=roottol ) .or.( iswrot<=n ) ) )swband = i
              if( ( i>swband+1 ) .and. ( mxaapq<sqrt( real( n,KIND=sp) )*tol ) .and. ( real( n,&
                        KIND=sp)*mxaapq*mxsinj<tol ) ) then
                 go to 1994
              end if
              if( notrot>=emptsw )go to 1994
           end do loop_1993
           ! end i=1:nsweep loop
       ! #:( reaching this point means that the procedure has not converged.
           info = nsweep - 1
           go to 1995
           1994 continue
       ! #:) reaching this point means numerical convergence after the i-th
           ! sweep.
           info = 0
       ! #:) info = 0 confirms successful iterations.
       1995 continue
           ! sort the vector sva() of column norms.
           do p = 1, n - 1
              q = stdlib_isamax( n-p+1, sva( p ), 1 ) + p - 1
              if( p/=q ) then
                 temp1 = sva( p )
                 sva( p ) = sva( q )
                 sva( q ) = temp1
                 aapq = d( p )
                 d( p ) = d( q )
                 d( q ) = aapq
                 call stdlib_cswap( m, a( 1, p ), 1, a( 1, q ), 1 )
                 if( rsvec )call stdlib_cswap( mvl, v( 1, p ), 1, v( 1, q ), 1 )
              end if
           end do
           return
     end subroutine stdlib_cgsvj0

     module pure subroutine stdlib_zgsvj0( jobv, m, n, a, lda, d, sva, mv, v, ldv, eps,sfmin, tol, &
     !! ZGSVJ0 is called from ZGESVJ as a pre-processor and that is its main
     !! purpose. It applies Jacobi rotations in the same way as ZGESVJ does, but
     !! it does not check convergence (stopping criterion). Few tuning
     !! parameters (marked by [TP]) are available for the implementer.
               nsweep, work, lwork, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, ldv, lwork, m, mv, n, nsweep
           real(dp), intent(in) :: eps, sfmin, tol
           character, intent(in) :: jobv
           ! Array Arguments 
           complex(dp), intent(inout) :: a(lda,*), d(n), v(ldv,*)
           complex(dp), intent(out) :: work(lwork)
           real(dp), intent(inout) :: sva(n)
        ! =====================================================================
           
           
           ! Local Scalars 
           complex(dp) :: aapq, ompq
           real(dp) :: aapp, aapp0, aapq1, aaqq, apoaq, aqoap, big, bigtheta, cs, mxaapq, mxsinj, &
                     rootbig, rooteps, rootsfmin, roottol, small, sn, t, temp1, theta, thsign
           integer(ilp) :: blskip, emptsw, i, ibr, ierr, igl, ijblsk, ir1, iswrot, jbc, jgl, kbl, &
                     lkahead, mvl, nbl, notrot, p, pskipped, q, rowskip, swband
           logical(lk) :: applv, rotok, rsvec
           ! Intrinsic Functions 
           ! from lapack
           ! Executable Statements 
           ! test the input parameters.
           applv = stdlib_lsame( jobv, 'A' )
           rsvec = stdlib_lsame( jobv, 'V' )
           if( .not.( rsvec .or. applv .or. stdlib_lsame( jobv, 'N' ) ) ) then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( ( n<0 ) .or. ( n>m ) ) then
              info = -3
           else if( lda<m ) then
              info = -5
           else if( ( rsvec.or.applv ) .and. ( mv<0 ) ) then
              info = -8
           else if( ( rsvec.and.( ldv<n ) ).or.( applv.and.( ldv<mv ) ) ) then
              info = -10
           else if( tol<=eps ) then
              info = -13
           else if( nsweep<0 ) then
              info = -14
           else if( lwork<m ) then
              info = -16
           else
              info = 0
           end if
           ! #:(
           if( info/=0 ) then
              call stdlib_xerbla( 'ZGSVJ0', -info )
              return
           end if
           if( rsvec ) then
              mvl = n
           else if( applv ) then
              mvl = mv
           end if
           rsvec = rsvec .or. applv
           rooteps = sqrt( eps )
           rootsfmin = sqrt( sfmin )
           small = sfmin / eps
           big = one / sfmin
           rootbig = one / rootsfmin
           bigtheta = one / rooteps
           roottol = sqrt( tol )
           ! .. row-cyclic jacobi svd algorithm with column pivoting ..
           emptsw = ( n*( n-1 ) ) / 2
           notrot = 0
           ! .. row-cyclic pivot strategy with de rijk's pivoting ..
           swband = 0
      ! [tp] swband is a tuning parameter [tp]. it is meaningful and effective
           ! if stdlib_zgesvj is used as a computational routine in the preconditioned
           ! jacobi svd algorithm stdlib_zgejsv. for sweeps i=1:swband the procedure
           ! works on pivots inside a band-like region around the diagonal.
           ! the boundaries are determined dynamically, based on the number of
           ! pivots above a threshold.
           kbl = min( 8, n )
      ! [tp] kbl is a tuning parameter that defines the tile size in the
           ! tiling of the p-q loops of pivot pairs. in general, an optimal
           ! value of kbl depends on the matrix dimensions and on the
           ! parameters of the computer's memory.
           nbl = n / kbl
           if( ( nbl*kbl )/=n )nbl = nbl + 1
           blskip = kbl**2
      ! [tp] blkskip is a tuning parameter that depends on swband and kbl.
           rowskip = min( 5, kbl )
      ! [tp] rowskip is a tuning parameter.
           lkahead = 1
      ! [tp] lkahead is a tuning parameter.
           ! quasi block transformations, using the lower (upper) triangular
           ! structure of the input matrix. the quasi-block-cycling usually
           ! invokes cubic convergence. big part of this cycle is done inside
           ! canonical subspaces of dimensions less than m.
           ! .. row-cyclic pivot strategy with de rijk's pivoting ..
           loop_1993: do i = 1, nsweep
           ! .. go go go ...
              mxaapq = zero
              mxsinj = zero
              iswrot = 0
              notrot = 0
              pskipped = 0
           ! each sweep is unrolled using kbl-by-kbl tiles over the pivot pairs
           ! 1 <= p < q <= n. this is the first step toward a blocked implementation
           ! of the rotations. new implementation, based on block transformations,
           ! is under development.
              loop_2000: do ibr = 1, nbl
                 igl = ( ibr-1 )*kbl + 1
                 loop_1002: do ir1 = 0, min( lkahead, nbl-ibr )
                    igl = igl + ir1*kbl
                    loop_2001: do p = igl, min( igl+kbl-1, n-1 )
           ! .. de rijk's pivoting
                       q = stdlib_idamax( n-p+1, sva( p ), 1 ) + p - 1
                       if( p/=q ) then
                          call stdlib_zswap( m, a( 1, p ), 1, a( 1, q ), 1 )
                          if( rsvec )call stdlib_zswap( mvl, v( 1, p ), 1,v( 1, q ), 1 )
                          temp1 = sva( p )
                          sva( p ) = sva( q )
                          sva( q ) = temp1
                          aapq = d(p)
                          d(p) = d(q)
                          d(q) = aapq
                       end if
                       if( ir1==0 ) then
              ! column norms are periodically updated by explicit
              ! norm computation.
              ! caveat:
              ! unfortunately, some blas implementations compute sncrm2(m,a(1,p),1)
              ! as sqrt(s=stdlib_zdotc(m,a(1,p),1,a(1,p),1)), which may cause the result to
              ! overflow for ||a(:,p)||_2 > sqrt(overflow_threshold), and to
              ! underflow for ||a(:,p)||_2 < sqrt(underflow_threshold).
              ! hence, stdlib_dznrm2 cannot be trusted, not even in the case when
              ! the true norm is far from the under(over)flow boundaries.
              ! if properly implemented stdlib_dznrm2 is available, the if-then-else-end if
              ! below should be replaced with "aapp = stdlib_dznrm2( m, a(1,p), 1 )".
                          if( ( sva( p )<rootbig ) .and.( sva( p )>rootsfmin ) ) then
                             sva( p ) = stdlib_dznrm2( m, a( 1, p ), 1 )
                          else
                             temp1 = zero
                             aapp = one
                             call stdlib_zlassq( m, a( 1, p ), 1, temp1, aapp )
                             sva( p ) = temp1*sqrt( aapp )
                          end if
                          aapp = sva( p )
                       else
                          aapp = sva( p )
                       end if
                       if( aapp>zero ) then
                          pskipped = 0
                          loop_2002: do q = p + 1, min( igl+kbl-1, n )
                             aaqq = sva( q )
                             if( aaqq>zero ) then
                                aapp0 = aapp
                                if( aaqq>=one ) then
                                   rotok = ( small*aapp )<=aaqq
                                   if( aapp<( big / aaqq ) ) then
                                      aapq = ( stdlib_zdotc( m, a( 1, p ), 1,a( 1, q ), 1 ) / &
                                                aaqq ) / aapp
                                   else
                                      call stdlib_zcopy( m, a( 1, p ), 1,work, 1 )
                                      call stdlib_zlascl( 'G', 0, 0, aapp, one,m, 1, work, lda, &
                                                ierr )
                                      aapq = stdlib_zdotc( m, work, 1,a( 1, q ), 1 ) / &
                                                aaqq
                                   end if
                                else
                                   rotok = aapp<=( aaqq / small )
                                   if( aapp>( small / aaqq ) ) then
                                      aapq = ( stdlib_zdotc( m, a( 1, p ), 1,a( 1, q ), 1 ) / &
                                                aapp ) / aaqq
                                   else
                                      call stdlib_zcopy( m, a( 1, q ), 1,work, 1 )
                                      call stdlib_zlascl( 'G', 0, 0, aaqq,one, m, 1,work, lda, &
                                                ierr )
                                      aapq = stdlib_zdotc( m, a( 1, p ), 1,work, 1 ) / &
                                                aapp
                                   end if
                                end if
                                 ! aapq = aapq * conjg( cwork(p) ) * cwork(q)
                                aapq1  = -abs(aapq)
                                mxaapq = max( mxaapq, -aapq1 )
              ! to rotate or not to rotate, that is the question ...
                                if( abs( aapq1 )>tol ) then
                                   ompq = aapq / abs(aapq)
                 ! Rotate
      ! [rtd]      rotated = rotated + one
                                   if( ir1==0 ) then
                                      notrot = 0
                                      pskipped = 0
                                      iswrot = iswrot + 1
                                   end if
                                   if( rotok ) then
                                      aqoap = aaqq / aapp
                                      apoaq = aapp / aaqq
                                      theta = -half*abs( aqoap-apoaq )/aapq1
                                      if( abs( theta )>bigtheta ) then
                                         t  = half / theta
                                         cs = one
                                         call stdlib_zrot( m, a(1,p), 1, a(1,q), 1,cs, conjg(ompq)&
                                                   *t )
                                         if ( rsvec ) then
                                             call stdlib_zrot( mvl, v(1,p), 1,v(1,q), 1, cs, &
                                                       conjg(ompq)*t )
                                         end if
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq1 ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq1 ) )
                                         mxsinj = max( mxsinj, abs( t ) )
                                      else
                       ! Choose Correct Signum For Theta And Rotate
                                         thsign = -sign( one, aapq1 )
                                         t = one / ( theta+thsign*sqrt( one+theta*theta ) )
                                                   
                                         cs = sqrt( one / ( one+t*t ) )
                                         sn = t*cs
                                         mxsinj = max( mxsinj, abs( sn ) )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq1 ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq1 ) )
                                         call stdlib_zrot( m, a(1,p), 1, a(1,q), 1,cs, conjg(ompq)&
                                                   *sn )
                                         if ( rsvec ) then
                                             call stdlib_zrot( mvl, v(1,p), 1,v(1,q), 1, cs, &
                                                       conjg(ompq)*sn )
                                         end if
                                      end if
                                      d(p) = -d(q) * ompq
                                      else
                    ! .. have to use modified gram-schmidt like transformation
                                      call stdlib_zcopy( m, a( 1, p ), 1,work, 1 )
                                      call stdlib_zlascl( 'G', 0, 0, aapp, one, m,1, work, lda,&
                                                ierr )
                                      call stdlib_zlascl( 'G', 0, 0, aaqq, one, m,1, a( 1, q ), &
                                                lda, ierr )
                                      call stdlib_zaxpy( m, -aapq, work, 1,a( 1, q ), 1 )
                                      call stdlib_zlascl( 'G', 0, 0, one, aaqq, m,1, a( 1, q ), &
                                                lda, ierr )
                                      sva( q ) = aaqq*sqrt( max( zero,one-aapq1*aapq1 ) )
                                      mxsinj = max( mxsinj, sfmin )
                                   end if
                 ! end if rotok then ... else
                 ! in the case of cancellation in updating sva(q), sva(p)
                 ! recompute sva(q), sva(p).
                                   if( ( sva( q ) / aaqq )**2<=rooteps )then
                                      if( ( aaqq<rootbig ) .and.( aaqq>rootsfmin ) ) then
                                         sva( q ) = stdlib_dznrm2( m, a( 1, q ), 1 )
                                      else
                                         t = zero
                                         aaqq = one
                                         call stdlib_zlassq( m, a( 1, q ), 1, t,aaqq )
                                         sva( q ) = t*sqrt( aaqq )
                                      end if
                                   end if
                                   if( ( aapp / aapp0 )<=rooteps ) then
                                      if( ( aapp<rootbig ) .and.( aapp>rootsfmin ) ) then
                                         aapp = stdlib_dznrm2( m, a( 1, p ), 1 )
                                      else
                                         t = zero
                                         aapp = one
                                         call stdlib_zlassq( m, a( 1, p ), 1, t,aapp )
                                         aapp = t*sqrt( aapp )
                                      end if
                                      sva( p ) = aapp
                                   end if
                                else
              ! a(:,p) and a(:,q) already numerically orthogonal
                                   if( ir1==0 )notrot = notrot + 1
      ! [rtd]      skipped  = skipped  + 1
                                   pskipped = pskipped + 1
                                end if
                             else
              ! a(:,q) is zero column
                                if( ir1==0 )notrot = notrot + 1
                                pskipped = pskipped + 1
                             end if
                             if( ( i<=swband ) .and.( pskipped>rowskip ) ) then
                                if( ir1==0 )aapp = -aapp
                                notrot = 0
                                go to 2103
                             end if
                          end do loop_2002
           ! end q-loop
           2103 continue
           ! bailed out of q-loop
                          sva( p ) = aapp
                       else
                          sva( p ) = aapp
                          if( ( ir1==0 ) .and. ( aapp==zero ) )notrot = notrot + min( igl+kbl-1, &
                                    n ) - p
                       end if
                    end do loop_2001
           ! end of the p-loop
           ! end of doing the block ( ibr, ibr )
                 end do loop_1002
           ! end of ir1-loop
       ! ... go to the off diagonal blocks
                 igl = ( ibr-1 )*kbl + 1
                 loop_2010: do jbc = ibr + 1, nbl
                    jgl = ( jbc-1 )*kbl + 1
              ! doing the block at ( ibr, jbc )
                    ijblsk = 0
                    loop_2100: do p = igl, min( igl+kbl-1, n )
                       aapp = sva( p )
                       if( aapp>zero ) then
                          pskipped = 0
                          loop_2200: do q = jgl, min( jgl+kbl-1, n )
                             aaqq = sva( q )
                             if( aaqq>zero ) then
                                aapp0 = aapp
           ! M X 2 Jacobi Svd 
              ! safe gram matrix computation
                                if( aaqq>=one ) then
                                   if( aapp>=aaqq ) then
                                      rotok = ( small*aapp )<=aaqq
                                   else
                                      rotok = ( small*aaqq )<=aapp
                                   end if
                                   if( aapp<( big / aaqq ) ) then
                                      aapq = ( stdlib_zdotc( m, a( 1, p ), 1,a( 1, q ), 1 ) / &
                                                aaqq ) / aapp
                                   else
                                      call stdlib_zcopy( m, a( 1, p ), 1,work, 1 )
                                      call stdlib_zlascl( 'G', 0, 0, aapp,one, m, 1,work, lda, &
                                                ierr )
                                      aapq = stdlib_zdotc( m, work, 1,a( 1, q ), 1 ) / &
                                                aaqq
                                   end if
                                else
                                   if( aapp>=aaqq ) then
                                      rotok = aapp<=( aaqq / small )
                                   else
                                      rotok = aaqq<=( aapp / small )
                                   end if
                                   if( aapp>( small / aaqq ) ) then
                                      aapq = ( stdlib_zdotc( m, a( 1, p ), 1,a( 1, q ), 1 ) / max(&
                                                aaqq,aapp) )/ min(aaqq,aapp)
                                   else
                                      call stdlib_zcopy( m, a( 1, q ), 1,work, 1 )
                                      call stdlib_zlascl( 'G', 0, 0, aaqq,one, m, 1,work, lda, &
                                                ierr )
                                      aapq = stdlib_zdotc( m, a( 1, p ), 1,work, 1 ) / &
                                                aapp
                                   end if
                                end if
                                 ! aapq = aapq * conjg(cwork(p))*cwork(q)
                                aapq1  = -abs(aapq)
                                mxaapq = max( mxaapq, -aapq1 )
              ! to rotate or not to rotate, that is the question ...
                                if( abs( aapq1 )>tol ) then
                                   ompq = aapq / abs(aapq)
                                   notrot = 0
      ! [rtd]      rotated  = rotated + 1
                                   pskipped = 0
                                   iswrot = iswrot + 1
                                   if( rotok ) then
                                      aqoap = aaqq / aapp
                                      apoaq = aapp / aaqq
                                      theta = -half*abs( aqoap-apoaq )/ aapq1
                                      if( aaqq>aapp0 )theta = -theta
                                      if( abs( theta )>bigtheta ) then
                                         t  = half / theta
                                         cs = one
                                         call stdlib_zrot( m, a(1,p), 1, a(1,q), 1,cs, conjg(ompq)&
                                                   *t )
                                         if( rsvec ) then
                                             call stdlib_zrot( mvl, v(1,p), 1,v(1,q), 1, cs, &
                                                       conjg(ompq)*t )
                                         end if
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq1 ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq1 ) )
                                         mxsinj = max( mxsinj, abs( t ) )
                                      else
                       ! Choose Correct Signum For Theta And Rotate
                                         thsign = -sign( one, aapq1 )
                                         if( aaqq>aapp0 )thsign = -thsign
                                         t = one / ( theta+thsign*sqrt( one+theta*theta ) )
                                                   
                                         cs = sqrt( one / ( one+t*t ) )
                                         sn = t*cs
                                         mxsinj = max( mxsinj, abs( sn ) )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq1 ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq1 ) )
                                         call stdlib_zrot( m, a(1,p), 1, a(1,q), 1,cs, conjg(ompq)&
                                                   *sn )
                                         if( rsvec ) then
                                             call stdlib_zrot( mvl, v(1,p), 1,v(1,q), 1, cs, &
                                                       conjg(ompq)*sn )
                                         end if
                                      end if
                                      d(p) = -d(q) * ompq
                                   else
                    ! .. have to use modified gram-schmidt like transformation
                                    if( aapp>aaqq ) then
                                         call stdlib_zcopy( m, a( 1, p ), 1,work, 1 )
                                         call stdlib_zlascl( 'G', 0, 0, aapp, one,m, 1, work,lda,&
                                                   ierr )
                                         call stdlib_zlascl( 'G', 0, 0, aaqq, one,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         call stdlib_zaxpy( m, -aapq, work,1, a( 1, q ), 1 )
                                                   
                                         call stdlib_zlascl( 'G', 0, 0, one, aaqq,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         sva( q ) = aaqq*sqrt( max( zero,one-aapq1*aapq1 ) )
                                                   
                                         mxsinj = max( mxsinj, sfmin )
                                    else
                                        call stdlib_zcopy( m, a( 1, q ), 1,work, 1 )
                                         call stdlib_zlascl( 'G', 0, 0, aaqq, one,m, 1, work,lda,&
                                                   ierr )
                                         call stdlib_zlascl( 'G', 0, 0, aapp, one,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         call stdlib_zaxpy( m, -conjg(aapq),work, 1, a( 1, p ), 1 &
                                                   )
                                         call stdlib_zlascl( 'G', 0, 0, one, aapp,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         sva( p ) = aapp*sqrt( max( zero,one-aapq1*aapq1 ) )
                                                   
                                         mxsinj = max( mxsinj, sfmin )
                                    end if
                                   end if
                 ! end if rotok then ... else
                 ! in the case of cancellation in updating sva(q), sva(p)
                 ! .. recompute sva(q), sva(p)
                                   if( ( sva( q ) / aaqq )**2<=rooteps )then
                                      if( ( aaqq<rootbig ) .and.( aaqq>rootsfmin ) ) then
                                         sva( q ) = stdlib_dznrm2( m, a( 1, q ), 1)
                                       else
                                         t = zero
                                         aaqq = one
                                         call stdlib_zlassq( m, a( 1, q ), 1, t,aaqq )
                                         sva( q ) = t*sqrt( aaqq )
                                      end if
                                   end if
                                   if( ( aapp / aapp0 )**2<=rooteps ) then
                                      if( ( aapp<rootbig ) .and.( aapp>rootsfmin ) ) then
                                         aapp = stdlib_dznrm2( m, a( 1, p ), 1 )
                                      else
                                         t = zero
                                         aapp = one
                                         call stdlib_zlassq( m, a( 1, p ), 1, t,aapp )
                                         aapp = t*sqrt( aapp )
                                      end if
                                      sva( p ) = aapp
                                   end if
                    ! end of ok rotation
                                else
                                   notrot = notrot + 1
      ! [rtd]      skipped  = skipped  + 1
                                   pskipped = pskipped + 1
                                   ijblsk = ijblsk + 1
                                end if
                             else
                                notrot = notrot + 1
                                pskipped = pskipped + 1
                                ijblsk = ijblsk + 1
                             end if
                             if( ( i<=swband ) .and. ( ijblsk>=blskip ) )then
                                sva( p ) = aapp
                                notrot = 0
                                go to 2011
                             end if
                             if( ( i<=swband ) .and.( pskipped>rowskip ) ) then
                                aapp = -aapp
                                notrot = 0
                                go to 2203
                             end if
                          end do loop_2200
              ! end of the q-loop
              2203 continue
                          sva( p ) = aapp
                       else
                          if( aapp==zero )notrot = notrot +min( jgl+kbl-1, n ) - jgl + 1
                          if( aapp<zero )notrot = 0
                       end if
                    end do loop_2100
           ! end of the p-loop
                 end do loop_2010
           ! end of the jbc-loop
           2011 continue
      ! 2011 bailed out of the jbc-loop
                 do p = igl, min( igl+kbl-1, n )
                    sva( p ) = abs( sva( p ) )
                 end do
      ! **
              end do loop_2000
      ! 2000 :: end of the ibr-loop
           ! .. update sva(n)
              if( ( sva( n )<rootbig ) .and. ( sva( n )>rootsfmin ) )then
                 sva( n ) = stdlib_dznrm2( m, a( 1, n ), 1 )
              else
                 t = zero
                 aapp = one
                 call stdlib_zlassq( m, a( 1, n ), 1, t, aapp )
                 sva( n ) = t*sqrt( aapp )
              end if
           ! additional steering devices
              if( ( i<swband ) .and. ( ( mxaapq<=roottol ) .or.( iswrot<=n ) ) )swband = i
              if( ( i>swband+1 ) .and. ( mxaapq<sqrt( real( n,KIND=dp) )*tol ) .and. ( real( n,&
                        KIND=dp)*mxaapq*mxsinj<tol ) ) then
                 go to 1994
              end if
              if( notrot>=emptsw )go to 1994
           end do loop_1993
           ! end i=1:nsweep loop
       ! #:( reaching this point means that the procedure has not converged.
           info = nsweep - 1
           go to 1995
           1994 continue
       ! #:) reaching this point means numerical convergence after the i-th
           ! sweep.
           info = 0
       ! #:) info = 0 confirms successful iterations.
       1995 continue
           ! sort the vector sva() of column norms.
           do p = 1, n - 1
              q = stdlib_idamax( n-p+1, sva( p ), 1 ) + p - 1
              if( p/=q ) then
                 temp1 = sva( p )
                 sva( p ) = sva( q )
                 sva( q ) = temp1
                 aapq = d( p )
                 d( p ) = d( q )
                 d( q ) = aapq
                 call stdlib_zswap( m, a( 1, p ), 1, a( 1, q ), 1 )
                 if( rsvec )call stdlib_zswap( mvl, v( 1, p ), 1, v( 1, q ), 1 )
              end if
           end do
           return
     end subroutine stdlib_zgsvj0

#:for ck,ct,ci in CMPLX_KINDS_TYPES
#:if not ck in ["sp","dp"]
     module pure subroutine stdlib_${ci}$gsvj0( jobv, m, n, a, lda, d, sva, mv, v, ldv, eps,sfmin, tol, &
     !! ZGSVJ0: is called from ZGESVJ as a pre-processor and that is its main
     !! purpose. It applies Jacobi rotations in the same way as ZGESVJ does, but
     !! it does not check convergence (stopping criterion). Few tuning
     !! parameters (marked by [TP]) are available for the implementer.
               nsweep, work, lwork, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${ck}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, ldv, lwork, m, mv, n, nsweep
           real(${ck}$), intent(in) :: eps, sfmin, tol
           character, intent(in) :: jobv
           ! Array Arguments 
           complex(${ck}$), intent(inout) :: a(lda,*), d(n), v(ldv,*)
           complex(${ck}$), intent(out) :: work(lwork)
           real(${ck}$), intent(inout) :: sva(n)
        ! =====================================================================
           
           
           ! Local Scalars 
           complex(${ck}$) :: aapq, ompq
           real(${ck}$) :: aapp, aapp0, aapq1, aaqq, apoaq, aqoap, big, bigtheta, cs, mxaapq, mxsinj, &
                     rootbig, rooteps, rootsfmin, roottol, small, sn, t, temp1, theta, thsign
           integer(ilp) :: blskip, emptsw, i, ibr, ierr, igl, ijblsk, ir1, iswrot, jbc, jgl, kbl, &
                     lkahead, mvl, nbl, notrot, p, pskipped, q, rowskip, swband
           logical(lk) :: applv, rotok, rsvec
           ! Intrinsic Functions 
           ! from lapack
           ! Executable Statements 
           ! test the input parameters.
           applv = stdlib_lsame( jobv, 'A' )
           rsvec = stdlib_lsame( jobv, 'V' )
           if( .not.( rsvec .or. applv .or. stdlib_lsame( jobv, 'N' ) ) ) then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( ( n<0 ) .or. ( n>m ) ) then
              info = -3
           else if( lda<m ) then
              info = -5
           else if( ( rsvec.or.applv ) .and. ( mv<0 ) ) then
              info = -8
           else if( ( rsvec.and.( ldv<n ) ).or.( applv.and.( ldv<mv ) ) ) then
              info = -10
           else if( tol<=eps ) then
              info = -13
           else if( nsweep<0 ) then
              info = -14
           else if( lwork<m ) then
              info = -16
           else
              info = 0
           end if
           ! #:(
           if( info/=0 ) then
              call stdlib_xerbla( 'ZGSVJ0', -info )
              return
           end if
           if( rsvec ) then
              mvl = n
           else if( applv ) then
              mvl = mv
           end if
           rsvec = rsvec .or. applv
           rooteps = sqrt( eps )
           rootsfmin = sqrt( sfmin )
           small = sfmin / eps
           big = one / sfmin
           rootbig = one / rootsfmin
           bigtheta = one / rooteps
           roottol = sqrt( tol )
           ! .. row-cyclic jacobi svd algorithm with column pivoting ..
           emptsw = ( n*( n-1 ) ) / 2
           notrot = 0
           ! .. row-cyclic pivot strategy with de rijk's pivoting ..
           swband = 0
      ! [tp] swband is a tuning parameter [tp]. it is meaningful and effective
           ! if stdlib_${ci}$gesvj is used as a computational routine in the preconditioned
           ! jacobi svd algorithm stdlib_${ci}$gejsv. for sweeps i=1:swband the procedure
           ! works on pivots inside a band-like region around the diagonal.
           ! the boundaries are determined dynamically, based on the number of
           ! pivots above a threshold.
           kbl = min( 8, n )
      ! [tp] kbl is a tuning parameter that defines the tile size in the
           ! tiling of the p-q loops of pivot pairs. in general, an optimal
           ! value of kbl depends on the matrix dimensions and on the
           ! parameters of the computer's memory.
           nbl = n / kbl
           if( ( nbl*kbl )/=n )nbl = nbl + 1
           blskip = kbl**2
      ! [tp] blkskip is a tuning parameter that depends on swband and kbl.
           rowskip = min( 5, kbl )
      ! [tp] rowskip is a tuning parameter.
           lkahead = 1
      ! [tp] lkahead is a tuning parameter.
           ! quasi block transformations, using the lower (upper) triangular
           ! structure of the input matrix. the quasi-block-cycling usually
           ! invokes cubic convergence. big part of this cycle is done inside
           ! canonical subspaces of dimensions less than m.
           ! .. row-cyclic pivot strategy with de rijk's pivoting ..
           loop_1993: do i = 1, nsweep
           ! .. go go go ...
              mxaapq = zero
              mxsinj = zero
              iswrot = 0
              notrot = 0
              pskipped = 0
           ! each sweep is unrolled using kbl-by-kbl tiles over the pivot pairs
           ! 1 <= p < q <= n. this is the first step toward a blocked implementation
           ! of the rotations. new implementation, based on block transformations,
           ! is under development.
              loop_2000: do ibr = 1, nbl
                 igl = ( ibr-1 )*kbl + 1
                 loop_1002: do ir1 = 0, min( lkahead, nbl-ibr )
                    igl = igl + ir1*kbl
                    loop_2001: do p = igl, min( igl+kbl-1, n-1 )
           ! .. de rijk's pivoting
                       q = stdlib_i${c2ri(ci)}$amax( n-p+1, sva( p ), 1 ) + p - 1
                       if( p/=q ) then
                          call stdlib_${ci}$swap( m, a( 1, p ), 1, a( 1, q ), 1 )
                          if( rsvec )call stdlib_${ci}$swap( mvl, v( 1, p ), 1,v( 1, q ), 1 )
                          temp1 = sva( p )
                          sva( p ) = sva( q )
                          sva( q ) = temp1
                          aapq = d(p)
                          d(p) = d(q)
                          d(q) = aapq
                       end if
                       if( ir1==0 ) then
              ! column norms are periodically updated by explicit
              ! norm computation.
              ! caveat:
              ! unfortunately, some blas implementations compute sncrm2(m,a(1,p),1)
              ! as sqrt(s=stdlib_${ci}$dotc(m,a(1,p),1,a(1,p),1)), which may cause the result to
              ! overflow for ||a(:,p)||_2 > sqrt(overflow_threshold), and to
              ! underflow for ||a(:,p)||_2 < sqrt(underflow_threshold).
              ! hence, stdlib_${c2ri(ci)}$znrm2 cannot be trusted, not even in the case when
              ! the true norm is far from the under(over)flow boundaries.
              ! if properly implemented stdlib_${c2ri(ci)}$znrm2 is available, the if-then-else-end if
              ! below should be replaced with "aapp = stdlib_${c2ri(ci)}$znrm2( m, a(1,p), 1 )".
                          if( ( sva( p )<rootbig ) .and.( sva( p )>rootsfmin ) ) then
                             sva( p ) = stdlib_${c2ri(ci)}$znrm2( m, a( 1, p ), 1 )
                          else
                             temp1 = zero
                             aapp = one
                             call stdlib_${ci}$lassq( m, a( 1, p ), 1, temp1, aapp )
                             sva( p ) = temp1*sqrt( aapp )
                          end if
                          aapp = sva( p )
                       else
                          aapp = sva( p )
                       end if
                       if( aapp>zero ) then
                          pskipped = 0
                          loop_2002: do q = p + 1, min( igl+kbl-1, n )
                             aaqq = sva( q )
                             if( aaqq>zero ) then
                                aapp0 = aapp
                                if( aaqq>=one ) then
                                   rotok = ( small*aapp )<=aaqq
                                   if( aapp<( big / aaqq ) ) then
                                      aapq = ( stdlib_${ci}$dotc( m, a( 1, p ), 1,a( 1, q ), 1 ) / &
                                                aaqq ) / aapp
                                   else
                                      call stdlib_${ci}$copy( m, a( 1, p ), 1,work, 1 )
                                      call stdlib_${ci}$lascl( 'G', 0, 0, aapp, one,m, 1, work, lda, &
                                                ierr )
                                      aapq = stdlib_${ci}$dotc( m, work, 1,a( 1, q ), 1 ) / &
                                                aaqq
                                   end if
                                else
                                   rotok = aapp<=( aaqq / small )
                                   if( aapp>( small / aaqq ) ) then
                                      aapq = ( stdlib_${ci}$dotc( m, a( 1, p ), 1,a( 1, q ), 1 ) / &
                                                aapp ) / aaqq
                                   else
                                      call stdlib_${ci}$copy( m, a( 1, q ), 1,work, 1 )
                                      call stdlib_${ci}$lascl( 'G', 0, 0, aaqq,one, m, 1,work, lda, &
                                                ierr )
                                      aapq = stdlib_${ci}$dotc( m, a( 1, p ), 1,work, 1 ) / &
                                                aapp
                                   end if
                                end if
                                 ! aapq = aapq * conjg( cwork(p) ) * cwork(q)
                                aapq1  = -abs(aapq)
                                mxaapq = max( mxaapq, -aapq1 )
              ! to rotate or not to rotate, that is the question ...
                                if( abs( aapq1 )>tol ) then
                                   ompq = aapq / abs(aapq)
                 ! Rotate
      ! [rtd]      rotated = rotated + one
                                   if( ir1==0 ) then
                                      notrot = 0
                                      pskipped = 0
                                      iswrot = iswrot + 1
                                   end if
                                   if( rotok ) then
                                      aqoap = aaqq / aapp
                                      apoaq = aapp / aaqq
                                      theta = -half*abs( aqoap-apoaq )/aapq1
                                      if( abs( theta )>bigtheta ) then
                                         t  = half / theta
                                         cs = one
                                         call stdlib_${ci}$rot( m, a(1,p), 1, a(1,q), 1,cs, conjg(ompq)&
                                                   *t )
                                         if ( rsvec ) then
                                             call stdlib_${ci}$rot( mvl, v(1,p), 1,v(1,q), 1, cs, &
                                                       conjg(ompq)*t )
                                         end if
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq1 ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq1 ) )
                                         mxsinj = max( mxsinj, abs( t ) )
                                      else
                       ! Choose Correct Signum For Theta And Rotate
                                         thsign = -sign( one, aapq1 )
                                         t = one / ( theta+thsign*sqrt( one+theta*theta ) )
                                                   
                                         cs = sqrt( one / ( one+t*t ) )
                                         sn = t*cs
                                         mxsinj = max( mxsinj, abs( sn ) )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq1 ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq1 ) )
                                         call stdlib_${ci}$rot( m, a(1,p), 1, a(1,q), 1,cs, conjg(ompq)&
                                                   *sn )
                                         if ( rsvec ) then
                                             call stdlib_${ci}$rot( mvl, v(1,p), 1,v(1,q), 1, cs, &
                                                       conjg(ompq)*sn )
                                         end if
                                      end if
                                      d(p) = -d(q) * ompq
                                      else
                    ! .. have to use modified gram-schmidt like transformation
                                      call stdlib_${ci}$copy( m, a( 1, p ), 1,work, 1 )
                                      call stdlib_${ci}$lascl( 'G', 0, 0, aapp, one, m,1, work, lda,&
                                                ierr )
                                      call stdlib_${ci}$lascl( 'G', 0, 0, aaqq, one, m,1, a( 1, q ), &
                                                lda, ierr )
                                      call stdlib_${ci}$axpy( m, -aapq, work, 1,a( 1, q ), 1 )
                                      call stdlib_${ci}$lascl( 'G', 0, 0, one, aaqq, m,1, a( 1, q ), &
                                                lda, ierr )
                                      sva( q ) = aaqq*sqrt( max( zero,one-aapq1*aapq1 ) )
                                      mxsinj = max( mxsinj, sfmin )
                                   end if
                 ! end if rotok then ... else
                 ! in the case of cancellation in updating sva(q), sva(p)
                 ! recompute sva(q), sva(p).
                                   if( ( sva( q ) / aaqq )**2<=rooteps )then
                                      if( ( aaqq<rootbig ) .and.( aaqq>rootsfmin ) ) then
                                         sva( q ) = stdlib_${c2ri(ci)}$znrm2( m, a( 1, q ), 1 )
                                      else
                                         t = zero
                                         aaqq = one
                                         call stdlib_${ci}$lassq( m, a( 1, q ), 1, t,aaqq )
                                         sva( q ) = t*sqrt( aaqq )
                                      end if
                                   end if
                                   if( ( aapp / aapp0 )<=rooteps ) then
                                      if( ( aapp<rootbig ) .and.( aapp>rootsfmin ) ) then
                                         aapp = stdlib_${c2ri(ci)}$znrm2( m, a( 1, p ), 1 )
                                      else
                                         t = zero
                                         aapp = one
                                         call stdlib_${ci}$lassq( m, a( 1, p ), 1, t,aapp )
                                         aapp = t*sqrt( aapp )
                                      end if
                                      sva( p ) = aapp
                                   end if
                                else
              ! a(:,p) and a(:,q) already numerically orthogonal
                                   if( ir1==0 )notrot = notrot + 1
      ! [rtd]      skipped  = skipped  + 1
                                   pskipped = pskipped + 1
                                end if
                             else
              ! a(:,q) is zero column
                                if( ir1==0 )notrot = notrot + 1
                                pskipped = pskipped + 1
                             end if
                             if( ( i<=swband ) .and.( pskipped>rowskip ) ) then
                                if( ir1==0 )aapp = -aapp
                                notrot = 0
                                go to 2103
                             end if
                          end do loop_2002
           ! end q-loop
           2103 continue
           ! bailed out of q-loop
                          sva( p ) = aapp
                       else
                          sva( p ) = aapp
                          if( ( ir1==0 ) .and. ( aapp==zero ) )notrot = notrot + min( igl+kbl-1, &
                                    n ) - p
                       end if
                    end do loop_2001
           ! end of the p-loop
           ! end of doing the block ( ibr, ibr )
                 end do loop_1002
           ! end of ir1-loop
       ! ... go to the off diagonal blocks
                 igl = ( ibr-1 )*kbl + 1
                 loop_2010: do jbc = ibr + 1, nbl
                    jgl = ( jbc-1 )*kbl + 1
              ! doing the block at ( ibr, jbc )
                    ijblsk = 0
                    loop_2100: do p = igl, min( igl+kbl-1, n )
                       aapp = sva( p )
                       if( aapp>zero ) then
                          pskipped = 0
                          loop_2200: do q = jgl, min( jgl+kbl-1, n )
                             aaqq = sva( q )
                             if( aaqq>zero ) then
                                aapp0 = aapp
           ! M X 2 Jacobi Svd 
              ! safe gram matrix computation
                                if( aaqq>=one ) then
                                   if( aapp>=aaqq ) then
                                      rotok = ( small*aapp )<=aaqq
                                   else
                                      rotok = ( small*aaqq )<=aapp
                                   end if
                                   if( aapp<( big / aaqq ) ) then
                                      aapq = ( stdlib_${ci}$dotc( m, a( 1, p ), 1,a( 1, q ), 1 ) / &
                                                aaqq ) / aapp
                                   else
                                      call stdlib_${ci}$copy( m, a( 1, p ), 1,work, 1 )
                                      call stdlib_${ci}$lascl( 'G', 0, 0, aapp,one, m, 1,work, lda, &
                                                ierr )
                                      aapq = stdlib_${ci}$dotc( m, work, 1,a( 1, q ), 1 ) / &
                                                aaqq
                                   end if
                                else
                                   if( aapp>=aaqq ) then
                                      rotok = aapp<=( aaqq / small )
                                   else
                                      rotok = aaqq<=( aapp / small )
                                   end if
                                   if( aapp>( small / aaqq ) ) then
                                      aapq = ( stdlib_${ci}$dotc( m, a( 1, p ), 1,a( 1, q ), 1 ) / max(&
                                                aaqq,aapp) )/ min(aaqq,aapp)
                                   else
                                      call stdlib_${ci}$copy( m, a( 1, q ), 1,work, 1 )
                                      call stdlib_${ci}$lascl( 'G', 0, 0, aaqq,one, m, 1,work, lda, &
                                                ierr )
                                      aapq = stdlib_${ci}$dotc( m, a( 1, p ), 1,work, 1 ) / &
                                                aapp
                                   end if
                                end if
                                 ! aapq = aapq * conjg(cwork(p))*cwork(q)
                                aapq1  = -abs(aapq)
                                mxaapq = max( mxaapq, -aapq1 )
              ! to rotate or not to rotate, that is the question ...
                                if( abs( aapq1 )>tol ) then
                                   ompq = aapq / abs(aapq)
                                   notrot = 0
      ! [rtd]      rotated  = rotated + 1
                                   pskipped = 0
                                   iswrot = iswrot + 1
                                   if( rotok ) then
                                      aqoap = aaqq / aapp
                                      apoaq = aapp / aaqq
                                      theta = -half*abs( aqoap-apoaq )/ aapq1
                                      if( aaqq>aapp0 )theta = -theta
                                      if( abs( theta )>bigtheta ) then
                                         t  = half / theta
                                         cs = one
                                         call stdlib_${ci}$rot( m, a(1,p), 1, a(1,q), 1,cs, conjg(ompq)&
                                                   *t )
                                         if( rsvec ) then
                                             call stdlib_${ci}$rot( mvl, v(1,p), 1,v(1,q), 1, cs, &
                                                       conjg(ompq)*t )
                                         end if
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq1 ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq1 ) )
                                         mxsinj = max( mxsinj, abs( t ) )
                                      else
                       ! Choose Correct Signum For Theta And Rotate
                                         thsign = -sign( one, aapq1 )
                                         if( aaqq>aapp0 )thsign = -thsign
                                         t = one / ( theta+thsign*sqrt( one+theta*theta ) )
                                                   
                                         cs = sqrt( one / ( one+t*t ) )
                                         sn = t*cs
                                         mxsinj = max( mxsinj, abs( sn ) )
                                         sva( q ) = aaqq*sqrt( max( zero,one+t*apoaq*aapq1 ) )
                                                   
                                         aapp = aapp*sqrt( max( zero,one-t*aqoap*aapq1 ) )
                                         call stdlib_${ci}$rot( m, a(1,p), 1, a(1,q), 1,cs, conjg(ompq)&
                                                   *sn )
                                         if( rsvec ) then
                                             call stdlib_${ci}$rot( mvl, v(1,p), 1,v(1,q), 1, cs, &
                                                       conjg(ompq)*sn )
                                         end if
                                      end if
                                      d(p) = -d(q) * ompq
                                   else
                    ! .. have to use modified gram-schmidt like transformation
                                    if( aapp>aaqq ) then
                                         call stdlib_${ci}$copy( m, a( 1, p ), 1,work, 1 )
                                         call stdlib_${ci}$lascl( 'G', 0, 0, aapp, one,m, 1, work,lda,&
                                                   ierr )
                                         call stdlib_${ci}$lascl( 'G', 0, 0, aaqq, one,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         call stdlib_${ci}$axpy( m, -aapq, work,1, a( 1, q ), 1 )
                                                   
                                         call stdlib_${ci}$lascl( 'G', 0, 0, one, aaqq,m, 1, a( 1, q ),&
                                                    lda,ierr )
                                         sva( q ) = aaqq*sqrt( max( zero,one-aapq1*aapq1 ) )
                                                   
                                         mxsinj = max( mxsinj, sfmin )
                                    else
                                        call stdlib_${ci}$copy( m, a( 1, q ), 1,work, 1 )
                                         call stdlib_${ci}$lascl( 'G', 0, 0, aaqq, one,m, 1, work,lda,&
                                                   ierr )
                                         call stdlib_${ci}$lascl( 'G', 0, 0, aapp, one,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         call stdlib_${ci}$axpy( m, -conjg(aapq),work, 1, a( 1, p ), 1 &
                                                   )
                                         call stdlib_${ci}$lascl( 'G', 0, 0, one, aapp,m, 1, a( 1, p ),&
                                                    lda,ierr )
                                         sva( p ) = aapp*sqrt( max( zero,one-aapq1*aapq1 ) )
                                                   
                                         mxsinj = max( mxsinj, sfmin )
                                    end if
                                   end if
                 ! end if rotok then ... else
                 ! in the case of cancellation in updating sva(q), sva(p)
                 ! .. recompute sva(q), sva(p)
                                   if( ( sva( q ) / aaqq )**2<=rooteps )then
                                      if( ( aaqq<rootbig ) .and.( aaqq>rootsfmin ) ) then
                                         sva( q ) = stdlib_${c2ri(ci)}$znrm2( m, a( 1, q ), 1)
                                       else
                                         t = zero
                                         aaqq = one
                                         call stdlib_${ci}$lassq( m, a( 1, q ), 1, t,aaqq )
                                         sva( q ) = t*sqrt( aaqq )
                                      end if
                                   end if
                                   if( ( aapp / aapp0 )**2<=rooteps ) then
                                      if( ( aapp<rootbig ) .and.( aapp>rootsfmin ) ) then
                                         aapp = stdlib_${c2ri(ci)}$znrm2( m, a( 1, p ), 1 )
                                      else
                                         t = zero
                                         aapp = one
                                         call stdlib_${ci}$lassq( m, a( 1, p ), 1, t,aapp )
                                         aapp = t*sqrt( aapp )
                                      end if
                                      sva( p ) = aapp
                                   end if
                    ! end of ok rotation
                                else
                                   notrot = notrot + 1
      ! [rtd]      skipped  = skipped  + 1
                                   pskipped = pskipped + 1
                                   ijblsk = ijblsk + 1
                                end if
                             else
                                notrot = notrot + 1
                                pskipped = pskipped + 1
                                ijblsk = ijblsk + 1
                             end if
                             if( ( i<=swband ) .and. ( ijblsk>=blskip ) )then
                                sva( p ) = aapp
                                notrot = 0
                                go to 2011
                             end if
                             if( ( i<=swband ) .and.( pskipped>rowskip ) ) then
                                aapp = -aapp
                                notrot = 0
                                go to 2203
                             end if
                          end do loop_2200
              ! end of the q-loop
              2203 continue
                          sva( p ) = aapp
                       else
                          if( aapp==zero )notrot = notrot +min( jgl+kbl-1, n ) - jgl + 1
                          if( aapp<zero )notrot = 0
                       end if
                    end do loop_2100
           ! end of the p-loop
                 end do loop_2010
           ! end of the jbc-loop
           2011 continue
      ! 2011 bailed out of the jbc-loop
                 do p = igl, min( igl+kbl-1, n )
                    sva( p ) = abs( sva( p ) )
                 end do
      ! **
              end do loop_2000
      ! 2000 :: end of the ibr-loop
           ! .. update sva(n)
              if( ( sva( n )<rootbig ) .and. ( sva( n )>rootsfmin ) )then
                 sva( n ) = stdlib_${c2ri(ci)}$znrm2( m, a( 1, n ), 1 )
              else
                 t = zero
                 aapp = one
                 call stdlib_${ci}$lassq( m, a( 1, n ), 1, t, aapp )
                 sva( n ) = t*sqrt( aapp )
              end if
           ! additional steering devices
              if( ( i<swband ) .and. ( ( mxaapq<=roottol ) .or.( iswrot<=n ) ) )swband = i
              if( ( i>swband+1 ) .and. ( mxaapq<sqrt( real( n,KIND=${ck}$) )*tol ) .and. ( real( n,&
                        KIND=${ck}$)*mxaapq*mxsinj<tol ) ) then
                 go to 1994
              end if
              if( notrot>=emptsw )go to 1994
           end do loop_1993
           ! end i=1:nsweep loop
       ! #:( reaching this point means that the procedure has not converged.
           info = nsweep - 1
           go to 1995
           1994 continue
       ! #:) reaching this point means numerical convergence after the i-th
           ! sweep.
           info = 0
       ! #:) info = 0 confirms successful iterations.
       1995 continue
           ! sort the vector sva() of column norms.
           do p = 1, n - 1
              q = stdlib_i${c2ri(ci)}$amax( n-p+1, sva( p ), 1 ) + p - 1
              if( p/=q ) then
                 temp1 = sva( p )
                 sva( p ) = sva( q )
                 sva( q ) = temp1
                 aapq = d( p )
                 d( p ) = d( q )
                 d( q ) = aapq
                 call stdlib_${ci}$swap( m, a( 1, p ), 1, a( 1, q ), 1 )
                 if( rsvec )call stdlib_${ci}$swap( mvl, v( 1, p ), 1, v( 1, q ), 1 )
              end if
           end do
           return
     end subroutine stdlib_${ci}$gsvj0

#:endif
#:endfor



     module pure subroutine stdlib_cunmbr( vect, side, trans, m, n, k, a, lda, tau, c,ldc, work, lwork, &
     !! If VECT = 'Q', CUNMBR: overwrites the general complex M-by-N matrix C
     !! with
     !! SIDE = 'L'     SIDE = 'R'
     !! TRANS = 'N':      Q * C          C * Q
     !! TRANS = 'C':      Q**H * C       C * Q**H
     !! If VECT = 'P', CUNMBR overwrites the general complex M-by-N matrix C
     !! with
     !! SIDE = 'L'     SIDE = 'R'
     !! TRANS = 'N':      P * C          C * P
     !! TRANS = 'C':      P**H * C       C * P**H
     !! Here Q and P**H are the unitary matrices determined by CGEBRD when
     !! reducing a complex matrix A to bidiagonal form: A = Q * B * P**H. Q
     !! and P**H are defined as products of elementary reflectors H(i) and
     !! G(i) respectively.
     !! Let nq = m if SIDE = 'L' and nq = n if SIDE = 'R'. Thus nq is the
     !! order of the unitary matrix Q or P**H that is applied.
     !! If VECT = 'Q', A is assumed to have been an NQ-by-K matrix:
     !! if nq >= k, Q = H(1) H(2) . . . H(k);
     !! if nq < k, Q = H(1) H(2) . . . H(nq-1).
     !! If VECT = 'P', A is assumed to have been a K-by-NQ matrix:
     !! if k < nq, P = G(1) G(2) . . . G(k);
     !! if k >= nq, P = G(1) G(2) . . . G(nq-1).
               info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: side, trans, vect
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: k, lda, ldc, lwork, m, n
           ! Array Arguments 
           complex(sp), intent(inout) :: a(lda,*), c(ldc,*)
           complex(sp), intent(in) :: tau(*)
           complex(sp), intent(out) :: work(*)
        ! =====================================================================
           ! Local Scalars 
           logical(lk) :: applyq, left, lquery, notran
           character :: transt
           integer(ilp) :: i1, i2, iinfo, lwkopt, mi, nb, ni, nq, nw
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input arguments
           info = 0
           applyq = stdlib_lsame( vect, 'Q' )
           left = stdlib_lsame( side, 'L' )
           notran = stdlib_lsame( trans, 'N' )
           lquery = ( lwork==-1 )
           ! nq is the order of q or p and nw is the minimum dimension of work
           if( left ) then
              nq = m
              nw = max( 1, n )
           else
              nq = n
              nw = max( 1, m )
           end if
           if( .not.applyq .and. .not.stdlib_lsame( vect, 'P' ) ) then
              info = -1
           else if( .not.left .and. .not.stdlib_lsame( side, 'R' ) ) then
              info = -2
           else if( .not.notran .and. .not.stdlib_lsame( trans, 'C' ) ) then
              info = -3
           else if( m<0 ) then
              info = -4
           else if( n<0 ) then
              info = -5
           else if( k<0 ) then
              info = -6
           else if( ( applyq .and. lda<max( 1, nq ) ) .or.( .not.applyq .and. lda<max( 1, min( nq,&
                      k ) ) ) )then
              info = -8
           else if( ldc<max( 1, m ) ) then
              info = -11
           else if( lwork<nw .and. .not.lquery ) then
              info = -13
           end if
           if( info==0 ) then
              if( m>0 .and. n>0 ) then
                 if( applyq ) then
                    if( left ) then
                       nb = stdlib_ilaenv( 1, 'CUNMQR', side // trans, m-1, n, m-1,-1 )
                    else
                       nb = stdlib_ilaenv( 1, 'CUNMQR', side // trans, m, n-1, n-1,-1 )
                    end if
                 else
                    if( left ) then
                       nb = stdlib_ilaenv( 1, 'CUNMLQ', side // trans, m-1, n, m-1,-1 )
                    else
                       nb = stdlib_ilaenv( 1, 'CUNMLQ', side // trans, m, n-1, n-1,-1 )
                    end if
                 end if
                 lwkopt = nw*nb
              else
                 lwkopt = 1
              end if
              work( 1 ) = lwkopt
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'CUNMBR', -info )
              return
           else if( lquery ) then
              return
           end if
           ! quick return if possible
           if( m==0 .or. n==0 )return
           if( applyq ) then
              ! apply q
              if( nq>=k ) then
                 ! q was determined by a call to stdlib_cgebrd with nq >= k
                 call stdlib_cunmqr( side, trans, m, n, k, a, lda, tau, c, ldc,work, lwork, iinfo &
                           )
              else if( nq>1 ) then
                 ! q was determined by a call to stdlib_cgebrd with nq < k
                 if( left ) then
                    mi = m - 1
                    ni = n
                    i1 = 2
                    i2 = 1
                 else
                    mi = m
                    ni = n - 1
                    i1 = 1
                    i2 = 2
                 end if
                 call stdlib_cunmqr( side, trans, mi, ni, nq-1, a( 2, 1 ), lda, tau,c( i1, i2 ), &
                           ldc, work, lwork, iinfo )
              end if
           else
              ! apply p
              if( notran ) then
                 transt = 'C'
              else
                 transt = 'N'
              end if
              if( nq>k ) then
                 ! p was determined by a call to stdlib_cgebrd with nq > k
                 call stdlib_cunmlq( side, transt, m, n, k, a, lda, tau, c, ldc,work, lwork, &
                           iinfo )
              else if( nq>1 ) then
                 ! p was determined by a call to stdlib_cgebrd with nq <= k
                 if( left ) then
                    mi = m - 1
                    ni = n
                    i1 = 2
                    i2 = 1
                 else
                    mi = m
                    ni = n - 1
                    i1 = 1
                    i2 = 2
                 end if
                 call stdlib_cunmlq( side, transt, mi, ni, nq-1, a( 1, 2 ), lda,tau, c( i1, i2 ), &
                           ldc, work, lwork, iinfo )
              end if
           end if
           work( 1 ) = lwkopt
           return
     end subroutine stdlib_cunmbr

     module pure subroutine stdlib_zunmbr( vect, side, trans, m, n, k, a, lda, tau, c,ldc, work, lwork, &
     !! If VECT = 'Q', ZUNMBR: overwrites the general complex M-by-N matrix C
     !! with
     !! SIDE = 'L'     SIDE = 'R'
     !! TRANS = 'N':      Q * C          C * Q
     !! TRANS = 'C':      Q**H * C       C * Q**H
     !! If VECT = 'P', ZUNMBR overwrites the general complex M-by-N matrix C
     !! with
     !! SIDE = 'L'     SIDE = 'R'
     !! TRANS = 'N':      P * C          C * P
     !! TRANS = 'C':      P**H * C       C * P**H
     !! Here Q and P**H are the unitary matrices determined by ZGEBRD when
     !! reducing a complex matrix A to bidiagonal form: A = Q * B * P**H. Q
     !! and P**H are defined as products of elementary reflectors H(i) and
     !! G(i) respectively.
     !! Let nq = m if SIDE = 'L' and nq = n if SIDE = 'R'. Thus nq is the
     !! order of the unitary matrix Q or P**H that is applied.
     !! If VECT = 'Q', A is assumed to have been an NQ-by-K matrix:
     !! if nq >= k, Q = H(1) H(2) . . . H(k);
     !! if nq < k, Q = H(1) H(2) . . . H(nq-1).
     !! If VECT = 'P', A is assumed to have been a K-by-NQ matrix:
     !! if k < nq, P = G(1) G(2) . . . G(k);
     !! if k >= nq, P = G(1) G(2) . . . G(nq-1).
               info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: side, trans, vect
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: k, lda, ldc, lwork, m, n
           ! Array Arguments 
           complex(dp), intent(inout) :: a(lda,*), c(ldc,*)
           complex(dp), intent(in) :: tau(*)
           complex(dp), intent(out) :: work(*)
        ! =====================================================================
           ! Local Scalars 
           logical(lk) :: applyq, left, lquery, notran
           character :: transt
           integer(ilp) :: i1, i2, iinfo, lwkopt, mi, nb, ni, nq, nw
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input arguments
           info = 0
           applyq = stdlib_lsame( vect, 'Q' )
           left = stdlib_lsame( side, 'L' )
           notran = stdlib_lsame( trans, 'N' )
           lquery = ( lwork==-1 )
           ! nq is the order of q or p and nw is the minimum dimension of work
           if( left ) then
              nq = m
              nw = max( 1, n )
           else
              nq = n
              nw = max( 1, m )
           end if
           if( .not.applyq .and. .not.stdlib_lsame( vect, 'P' ) ) then
              info = -1
           else if( .not.left .and. .not.stdlib_lsame( side, 'R' ) ) then
              info = -2
           else if( .not.notran .and. .not.stdlib_lsame( trans, 'C' ) ) then
              info = -3
           else if( m<0 ) then
              info = -4
           else if( n<0 ) then
              info = -5
           else if( k<0 ) then
              info = -6
           else if( ( applyq .and. lda<max( 1, nq ) ) .or.( .not.applyq .and. lda<max( 1, min( nq,&
                      k ) ) ) )then
              info = -8
           else if( ldc<max( 1, m ) ) then
              info = -11
           else if( lwork<nw .and. .not.lquery ) then
              info = -13
           end if
           if( info==0 ) then
              if( m>0 .and. n>0 ) then
                 if( applyq ) then
                    if( left ) then
                       nb = stdlib_ilaenv( 1, 'ZUNMQR', side // trans, m-1, n, m-1,-1 )
                    else
                       nb = stdlib_ilaenv( 1, 'ZUNMQR', side // trans, m, n-1, n-1,-1 )
                    end if
                 else
                    if( left ) then
                       nb = stdlib_ilaenv( 1, 'ZUNMLQ', side // trans, m-1, n, m-1,-1 )
                    else
                       nb = stdlib_ilaenv( 1, 'ZUNMLQ', side // trans, m, n-1, n-1,-1 )
                    end if
                 end if
                 lwkopt = nw*nb
              else
                 lwkopt = 1
              end if
              work( 1 ) = lwkopt
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'ZUNMBR', -info )
              return
           else if( lquery ) then
              return
           end if
           ! quick return if possible
           if( m==0 .or. n==0 )return
           if( applyq ) then
              ! apply q
              if( nq>=k ) then
                 ! q was determined by a call to stdlib_zgebrd with nq >= k
                 call stdlib_zunmqr( side, trans, m, n, k, a, lda, tau, c, ldc,work, lwork, iinfo &
                           )
              else if( nq>1 ) then
                 ! q was determined by a call to stdlib_zgebrd with nq < k
                 if( left ) then
                    mi = m - 1
                    ni = n
                    i1 = 2
                    i2 = 1
                 else
                    mi = m
                    ni = n - 1
                    i1 = 1
                    i2 = 2
                 end if
                 call stdlib_zunmqr( side, trans, mi, ni, nq-1, a( 2, 1 ), lda, tau,c( i1, i2 ), &
                           ldc, work, lwork, iinfo )
              end if
           else
              ! apply p
              if( notran ) then
                 transt = 'C'
              else
                 transt = 'N'
              end if
              if( nq>k ) then
                 ! p was determined by a call to stdlib_zgebrd with nq > k
                 call stdlib_zunmlq( side, transt, m, n, k, a, lda, tau, c, ldc,work, lwork, &
                           iinfo )
              else if( nq>1 ) then
                 ! p was determined by a call to stdlib_zgebrd with nq <= k
                 if( left ) then
                    mi = m - 1
                    ni = n
                    i1 = 2
                    i2 = 1
                 else
                    mi = m
                    ni = n - 1
                    i1 = 1
                    i2 = 2
                 end if
                 call stdlib_zunmlq( side, transt, mi, ni, nq-1, a( 1, 2 ), lda,tau, c( i1, i2 ), &
                           ldc, work, lwork, iinfo )
              end if
           end if
           work( 1 ) = lwkopt
           return
     end subroutine stdlib_zunmbr

#:for ck,ct,ci in CMPLX_KINDS_TYPES
#:if not ck in ["sp","dp"]
     module pure subroutine stdlib_${ci}$unmbr( vect, side, trans, m, n, k, a, lda, tau, c,ldc, work, lwork, &
     !! If VECT = 'Q', ZUNMBR: overwrites the general complex M-by-N matrix C
     !! with
     !! SIDE = 'L'     SIDE = 'R'
     !! TRANS = 'N':      Q * C          C * Q
     !! TRANS = 'C':      Q**H * C       C * Q**H
     !! If VECT = 'P', ZUNMBR overwrites the general complex M-by-N matrix C
     !! with
     !! SIDE = 'L'     SIDE = 'R'
     !! TRANS = 'N':      P * C          C * P
     !! TRANS = 'C':      P**H * C       C * P**H
     !! Here Q and P**H are the unitary matrices determined by ZGEBRD when
     !! reducing a complex matrix A to bidiagonal form: A = Q * B * P**H. Q
     !! and P**H are defined as products of elementary reflectors H(i) and
     !! G(i) respectively.
     !! Let nq = m if SIDE = 'L' and nq = n if SIDE = 'R'. Thus nq is the
     !! order of the unitary matrix Q or P**H that is applied.
     !! If VECT = 'Q', A is assumed to have been an NQ-by-K matrix:
     !! if nq >= k, Q = H(1) H(2) . . . H(k);
     !! if nq < k, Q = H(1) H(2) . . . H(nq-1).
     !! If VECT = 'P', A is assumed to have been a K-by-NQ matrix:
     !! if k < nq, P = G(1) G(2) . . . G(k);
     !! if k >= nq, P = G(1) G(2) . . . G(nq-1).
               info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${ck}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: side, trans, vect
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: k, lda, ldc, lwork, m, n
           ! Array Arguments 
           complex(${ck}$), intent(inout) :: a(lda,*), c(ldc,*)
           complex(${ck}$), intent(in) :: tau(*)
           complex(${ck}$), intent(out) :: work(*)
        ! =====================================================================
           ! Local Scalars 
           logical(lk) :: applyq, left, lquery, notran
           character :: transt
           integer(ilp) :: i1, i2, iinfo, lwkopt, mi, nb, ni, nq, nw
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input arguments
           info = 0
           applyq = stdlib_lsame( vect, 'Q' )
           left = stdlib_lsame( side, 'L' )
           notran = stdlib_lsame( trans, 'N' )
           lquery = ( lwork==-1 )
           ! nq is the order of q or p and nw is the minimum dimension of work
           if( left ) then
              nq = m
              nw = max( 1, n )
           else
              nq = n
              nw = max( 1, m )
           end if
           if( .not.applyq .and. .not.stdlib_lsame( vect, 'P' ) ) then
              info = -1
           else if( .not.left .and. .not.stdlib_lsame( side, 'R' ) ) then
              info = -2
           else if( .not.notran .and. .not.stdlib_lsame( trans, 'C' ) ) then
              info = -3
           else if( m<0 ) then
              info = -4
           else if( n<0 ) then
              info = -5
           else if( k<0 ) then
              info = -6
           else if( ( applyq .and. lda<max( 1, nq ) ) .or.( .not.applyq .and. lda<max( 1, min( nq,&
                      k ) ) ) )then
              info = -8
           else if( ldc<max( 1, m ) ) then
              info = -11
           else if( lwork<nw .and. .not.lquery ) then
              info = -13
           end if
           if( info==0 ) then
              if( m>0 .and. n>0 ) then
                 if( applyq ) then
                    if( left ) then
                       nb = stdlib_ilaenv( 1, 'ZUNMQR', side // trans, m-1, n, m-1,-1 )
                    else
                       nb = stdlib_ilaenv( 1, 'ZUNMQR', side // trans, m, n-1, n-1,-1 )
                    end if
                 else
                    if( left ) then
                       nb = stdlib_ilaenv( 1, 'ZUNMLQ', side // trans, m-1, n, m-1,-1 )
                    else
                       nb = stdlib_ilaenv( 1, 'ZUNMLQ', side // trans, m, n-1, n-1,-1 )
                    end if
                 end if
                 lwkopt = nw*nb
              else
                 lwkopt = 1
              end if
              work( 1 ) = lwkopt
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'ZUNMBR', -info )
              return
           else if( lquery ) then
              return
           end if
           ! quick return if possible
           if( m==0 .or. n==0 )return
           if( applyq ) then
              ! apply q
              if( nq>=k ) then
                 ! q was determined by a call to stdlib_${ci}$gebrd with nq >= k
                 call stdlib_${ci}$unmqr( side, trans, m, n, k, a, lda, tau, c, ldc,work, lwork, iinfo &
                           )
              else if( nq>1 ) then
                 ! q was determined by a call to stdlib_${ci}$gebrd with nq < k
                 if( left ) then
                    mi = m - 1
                    ni = n
                    i1 = 2
                    i2 = 1
                 else
                    mi = m
                    ni = n - 1
                    i1 = 1
                    i2 = 2
                 end if
                 call stdlib_${ci}$unmqr( side, trans, mi, ni, nq-1, a( 2, 1 ), lda, tau,c( i1, i2 ), &
                           ldc, work, lwork, iinfo )
              end if
           else
              ! apply p
              if( notran ) then
                 transt = 'C'
              else
                 transt = 'N'
              end if
              if( nq>k ) then
                 ! p was determined by a call to stdlib_${ci}$gebrd with nq > k
                 call stdlib_${ci}$unmlq( side, transt, m, n, k, a, lda, tau, c, ldc,work, lwork, &
                           iinfo )
              else if( nq>1 ) then
                 ! p was determined by a call to stdlib_${ci}$gebrd with nq <= k
                 if( left ) then
                    mi = m - 1
                    ni = n
                    i1 = 2
                    i2 = 1
                 else
                    mi = m
                    ni = n - 1
                    i1 = 1
                    i2 = 2
                 end if
                 call stdlib_${ci}$unmlq( side, transt, mi, ni, nq-1, a( 1, 2 ), lda,tau, c( i1, i2 ), &
                           ldc, work, lwork, iinfo )
              end if
           end if
           work( 1 ) = lwkopt
           return
     end subroutine stdlib_${ci}$unmbr

#:endif
#:endfor





     module pure subroutine stdlib_sgebd2( m, n, a, lda, d, e, tauq, taup, work, info )
     !! SGEBD2 reduces a real general m by n matrix A to upper or lower
     !! bidiagonal form B by an orthogonal transformation: Q**T * A * P = B.
     !! If m >= n, B is upper bidiagonal; if m < n, B is lower bidiagonal.
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, m, n
           ! Array Arguments 
           real(sp), intent(inout) :: a(lda,*)
           real(sp), intent(out) :: d(*), e(*), taup(*), tauq(*), work(*)
        ! =====================================================================
           
           ! Local Scalars 
           integer(ilp) :: i
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters
           info = 0
           if( m<0 ) then
              info = -1
           else if( n<0 ) then
              info = -2
           else if( lda<max( 1, m ) ) then
              info = -4
           end if
           if( info<0 ) then
              call stdlib_xerbla( 'SGEBD2', -info )
              return
           end if
           if( m>=n ) then
              ! reduce to upper bidiagonal form
              do i = 1, n
                 ! generate elementary reflector h(i) to annihilate a(i+1:m,i)
                 call stdlib_slarfg( m-i+1, a( i, i ), a( min( i+1, m ), i ), 1,tauq( i ) )
                           
                 d( i ) = a( i, i )
                 a( i, i ) = one
                 ! apply h(i) to a(i:m,i+1:n) from the left
                 if( i<n )call stdlib_slarf( 'LEFT', m-i+1, n-i, a( i, i ), 1, tauq( i ),a( i, i+&
                           1 ), lda, work )
                 a( i, i ) = d( i )
                 if( i<n ) then
                    ! generate elementary reflector g(i) to annihilate
                    ! a(i,i+2:n)
                    call stdlib_slarfg( n-i, a( i, i+1 ), a( i, min( i+2, n ) ),lda, taup( i ) )
                              
                    e( i ) = a( i, i+1 )
                    a( i, i+1 ) = one
                    ! apply g(i) to a(i+1:m,i+1:n) from the right
                    call stdlib_slarf( 'RIGHT', m-i, n-i, a( i, i+1 ), lda,taup( i ), a( i+1, i+1 &
                              ), lda, work )
                    a( i, i+1 ) = e( i )
                 else
                    taup( i ) = zero
                 end if
              end do
           else
              ! reduce to lower bidiagonal form
              do i = 1, m
                 ! generate elementary reflector g(i) to annihilate a(i,i+1:n)
                 call stdlib_slarfg( n-i+1, a( i, i ), a( i, min( i+1, n ) ), lda,taup( i ) )
                           
                 d( i ) = a( i, i )
                 a( i, i ) = one
                 ! apply g(i) to a(i+1:m,i:n) from the right
                 if( i<m )call stdlib_slarf( 'RIGHT', m-i, n-i+1, a( i, i ), lda,taup( i ), a( i+&
                           1, i ), lda, work )
                 a( i, i ) = d( i )
                 if( i<m ) then
                    ! generate elementary reflector h(i) to annihilate
                    ! a(i+2:m,i)
                    call stdlib_slarfg( m-i, a( i+1, i ), a( min( i+2, m ), i ), 1,tauq( i ) )
                              
                    e( i ) = a( i+1, i )
                    a( i+1, i ) = one
                    ! apply h(i) to a(i+1:m,i+1:n) from the left
                    call stdlib_slarf( 'LEFT', m-i, n-i, a( i+1, i ), 1, tauq( i ),a( i+1, i+1 ), &
                              lda, work )
                    a( i+1, i ) = e( i )
                 else
                    tauq( i ) = zero
                 end if
              end do
           end if
           return
     end subroutine stdlib_sgebd2

     module pure subroutine stdlib_dgebd2( m, n, a, lda, d, e, tauq, taup, work, info )
     !! DGEBD2 reduces a real general m by n matrix A to upper or lower
     !! bidiagonal form B by an orthogonal transformation: Q**T * A * P = B.
     !! If m >= n, B is upper bidiagonal; if m < n, B is lower bidiagonal.
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, m, n
           ! Array Arguments 
           real(dp), intent(inout) :: a(lda,*)
           real(dp), intent(out) :: d(*), e(*), taup(*), tauq(*), work(*)
        ! =====================================================================
           
           ! Local Scalars 
           integer(ilp) :: i
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters
           info = 0
           if( m<0 ) then
              info = -1
           else if( n<0 ) then
              info = -2
           else if( lda<max( 1, m ) ) then
              info = -4
           end if
           if( info<0 ) then
              call stdlib_xerbla( 'DGEBD2', -info )
              return
           end if
           if( m>=n ) then
              ! reduce to upper bidiagonal form
              do i = 1, n
                 ! generate elementary reflector h(i) to annihilate a(i+1:m,i)
                 call stdlib_dlarfg( m-i+1, a( i, i ), a( min( i+1, m ), i ), 1,tauq( i ) )
                           
                 d( i ) = a( i, i )
                 a( i, i ) = one
                 ! apply h(i) to a(i:m,i+1:n) from the left
                 if( i<n )call stdlib_dlarf( 'LEFT', m-i+1, n-i, a( i, i ), 1, tauq( i ),a( i, i+&
                           1 ), lda, work )
                 a( i, i ) = d( i )
                 if( i<n ) then
                    ! generate elementary reflector g(i) to annihilate
                    ! a(i,i+2:n)
                    call stdlib_dlarfg( n-i, a( i, i+1 ), a( i, min( i+2, n ) ),lda, taup( i ) )
                              
                    e( i ) = a( i, i+1 )
                    a( i, i+1 ) = one
                    ! apply g(i) to a(i+1:m,i+1:n) from the right
                    call stdlib_dlarf( 'RIGHT', m-i, n-i, a( i, i+1 ), lda,taup( i ), a( i+1, i+1 &
                              ), lda, work )
                    a( i, i+1 ) = e( i )
                 else
                    taup( i ) = zero
                 end if
              end do
           else
              ! reduce to lower bidiagonal form
              do i = 1, m
                 ! generate elementary reflector g(i) to annihilate a(i,i+1:n)
                 call stdlib_dlarfg( n-i+1, a( i, i ), a( i, min( i+1, n ) ), lda,taup( i ) )
                           
                 d( i ) = a( i, i )
                 a( i, i ) = one
                 ! apply g(i) to a(i+1:m,i:n) from the right
                 if( i<m )call stdlib_dlarf( 'RIGHT', m-i, n-i+1, a( i, i ), lda,taup( i ), a( i+&
                           1, i ), lda, work )
                 a( i, i ) = d( i )
                 if( i<m ) then
                    ! generate elementary reflector h(i) to annihilate
                    ! a(i+2:m,i)
                    call stdlib_dlarfg( m-i, a( i+1, i ), a( min( i+2, m ), i ), 1,tauq( i ) )
                              
                    e( i ) = a( i+1, i )
                    a( i+1, i ) = one
                    ! apply h(i) to a(i+1:m,i+1:n) from the left
                    call stdlib_dlarf( 'LEFT', m-i, n-i, a( i+1, i ), 1, tauq( i ),a( i+1, i+1 ), &
                              lda, work )
                    a( i+1, i ) = e( i )
                 else
                    tauq( i ) = zero
                 end if
              end do
           end if
           return
     end subroutine stdlib_dgebd2

#:for rk,rt,ri in REAL_KINDS_TYPES
#:if not rk in ["sp","dp"]
     module pure subroutine stdlib_${ri}$gebd2( m, n, a, lda, d, e, tauq, taup, work, info )
     !! DGEBD2: reduces a real general m by n matrix A to upper or lower
     !! bidiagonal form B by an orthogonal transformation: Q**T * A * P = B.
     !! If m >= n, B is upper bidiagonal; if m < n, B is lower bidiagonal.
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${rk}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, m, n
           ! Array Arguments 
           real(${rk}$), intent(inout) :: a(lda,*)
           real(${rk}$), intent(out) :: d(*), e(*), taup(*), tauq(*), work(*)
        ! =====================================================================
           
           ! Local Scalars 
           integer(ilp) :: i
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters
           info = 0
           if( m<0 ) then
              info = -1
           else if( n<0 ) then
              info = -2
           else if( lda<max( 1, m ) ) then
              info = -4
           end if
           if( info<0 ) then
              call stdlib_xerbla( 'DGEBD2', -info )
              return
           end if
           if( m>=n ) then
              ! reduce to upper bidiagonal form
              do i = 1, n
                 ! generate elementary reflector h(i) to annihilate a(i+1:m,i)
                 call stdlib_${ri}$larfg( m-i+1, a( i, i ), a( min( i+1, m ), i ), 1,tauq( i ) )
                           
                 d( i ) = a( i, i )
                 a( i, i ) = one
                 ! apply h(i) to a(i:m,i+1:n) from the left
                 if( i<n )call stdlib_${ri}$larf( 'LEFT', m-i+1, n-i, a( i, i ), 1, tauq( i ),a( i, i+&
                           1 ), lda, work )
                 a( i, i ) = d( i )
                 if( i<n ) then
                    ! generate elementary reflector g(i) to annihilate
                    ! a(i,i+2:n)
                    call stdlib_${ri}$larfg( n-i, a( i, i+1 ), a( i, min( i+2, n ) ),lda, taup( i ) )
                              
                    e( i ) = a( i, i+1 )
                    a( i, i+1 ) = one
                    ! apply g(i) to a(i+1:m,i+1:n) from the right
                    call stdlib_${ri}$larf( 'RIGHT', m-i, n-i, a( i, i+1 ), lda,taup( i ), a( i+1, i+1 &
                              ), lda, work )
                    a( i, i+1 ) = e( i )
                 else
                    taup( i ) = zero
                 end if
              end do
           else
              ! reduce to lower bidiagonal form
              do i = 1, m
                 ! generate elementary reflector g(i) to annihilate a(i,i+1:n)
                 call stdlib_${ri}$larfg( n-i+1, a( i, i ), a( i, min( i+1, n ) ), lda,taup( i ) )
                           
                 d( i ) = a( i, i )
                 a( i, i ) = one
                 ! apply g(i) to a(i+1:m,i:n) from the right
                 if( i<m )call stdlib_${ri}$larf( 'RIGHT', m-i, n-i+1, a( i, i ), lda,taup( i ), a( i+&
                           1, i ), lda, work )
                 a( i, i ) = d( i )
                 if( i<m ) then
                    ! generate elementary reflector h(i) to annihilate
                    ! a(i+2:m,i)
                    call stdlib_${ri}$larfg( m-i, a( i+1, i ), a( min( i+2, m ), i ), 1,tauq( i ) )
                              
                    e( i ) = a( i+1, i )
                    a( i+1, i ) = one
                    ! apply h(i) to a(i+1:m,i+1:n) from the left
                    call stdlib_${ri}$larf( 'LEFT', m-i, n-i, a( i+1, i ), 1, tauq( i ),a( i+1, i+1 ), &
                              lda, work )
                    a( i+1, i ) = e( i )
                 else
                    tauq( i ) = zero
                 end if
              end do
           end if
           return
     end subroutine stdlib_${ri}$gebd2

#:endif
#:endfor

     module pure subroutine stdlib_cgebd2( m, n, a, lda, d, e, tauq, taup, work, info )
     !! CGEBD2 reduces a complex general m by n matrix A to upper or lower
     !! real bidiagonal form B by a unitary transformation: Q**H * A * P = B.
     !! If m >= n, B is upper bidiagonal; if m < n, B is lower bidiagonal.
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, m, n
           ! Array Arguments 
           real(sp), intent(out) :: d(*), e(*)
           complex(sp), intent(inout) :: a(lda,*)
           complex(sp), intent(out) :: taup(*), tauq(*), work(*)
        ! =====================================================================
           
           ! Local Scalars 
           integer(ilp) :: i
           complex(sp) :: alpha
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters
           info = 0
           if( m<0 ) then
              info = -1
           else if( n<0 ) then
              info = -2
           else if( lda<max( 1, m ) ) then
              info = -4
           end if
           if( info<0 ) then
              call stdlib_xerbla( 'CGEBD2', -info )
              return
           end if
           if( m>=n ) then
              ! reduce to upper bidiagonal form
              do i = 1, n
                 ! generate elementary reflector h(i) to annihilate a(i+1:m,i)
                 alpha = a( i, i )
                 call stdlib_clarfg( m-i+1, alpha, a( min( i+1, m ), i ), 1,tauq( i ) )
                 d( i ) = real( alpha,KIND=sp)
                 a( i, i ) = cone
                 ! apply h(i)**h to a(i:m,i+1:n) from the left
                 if( i<n )call stdlib_clarf( 'LEFT', m-i+1, n-i, a( i, i ), 1,conjg( tauq( i ) ), &
                           a( i, i+1 ), lda, work )
                 a( i, i ) = d( i )
                 if( i<n ) then
                    ! generate elementary reflector g(i) to annihilate
                    ! a(i,i+2:n)
                    call stdlib_clacgv( n-i, a( i, i+1 ), lda )
                    alpha = a( i, i+1 )
                    call stdlib_clarfg( n-i, alpha, a( i, min( i+2, n ) ),lda, taup( i ) )
                    e( i ) = real( alpha,KIND=sp)
                    a( i, i+1 ) = cone
                    ! apply g(i) to a(i+1:m,i+1:n) from the right
                    call stdlib_clarf( 'RIGHT', m-i, n-i, a( i, i+1 ), lda,taup( i ), a( i+1, i+1 &
                              ), lda, work )
                    call stdlib_clacgv( n-i, a( i, i+1 ), lda )
                    a( i, i+1 ) = e( i )
                 else
                    taup( i ) = czero
                 end if
              end do
           else
              ! reduce to lower bidiagonal form
              do i = 1, m
                 ! generate elementary reflector g(i) to annihilate a(i,i+1:n)
                 call stdlib_clacgv( n-i+1, a( i, i ), lda )
                 alpha = a( i, i )
                 call stdlib_clarfg( n-i+1, alpha, a( i, min( i+1, n ) ), lda,taup( i ) )
                 d( i ) = real( alpha,KIND=sp)
                 a( i, i ) = cone
                 ! apply g(i) to a(i+1:m,i:n) from the right
                 if( i<m )call stdlib_clarf( 'RIGHT', m-i, n-i+1, a( i, i ), lda,taup( i ), a( i+&
                           1, i ), lda, work )
                 call stdlib_clacgv( n-i+1, a( i, i ), lda )
                 a( i, i ) = d( i )
                 if( i<m ) then
                    ! generate elementary reflector h(i) to annihilate
                    ! a(i+2:m,i)
                    alpha = a( i+1, i )
                    call stdlib_clarfg( m-i, alpha, a( min( i+2, m ), i ), 1,tauq( i ) )
                    e( i ) = real( alpha,KIND=sp)
                    a( i+1, i ) = cone
                    ! apply h(i)**h to a(i+1:m,i+1:n) from the left
                    call stdlib_clarf( 'LEFT', m-i, n-i, a( i+1, i ), 1,conjg( tauq( i ) ), a( i+&
                              1, i+1 ), lda,work )
                    a( i+1, i ) = e( i )
                 else
                    tauq( i ) = czero
                 end if
              end do
           end if
           return
     end subroutine stdlib_cgebd2

     module pure subroutine stdlib_zgebd2( m, n, a, lda, d, e, tauq, taup, work, info )
     !! ZGEBD2 reduces a complex general m by n matrix A to upper or lower
     !! real bidiagonal form B by a unitary transformation: Q**H * A * P = B.
     !! If m >= n, B is upper bidiagonal; if m < n, B is lower bidiagonal.
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, m, n
           ! Array Arguments 
           real(dp), intent(out) :: d(*), e(*)
           complex(dp), intent(inout) :: a(lda,*)
           complex(dp), intent(out) :: taup(*), tauq(*), work(*)
        ! =====================================================================
           
           ! Local Scalars 
           integer(ilp) :: i
           complex(dp) :: alpha
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters
           info = 0
           if( m<0 ) then
              info = -1
           else if( n<0 ) then
              info = -2
           else if( lda<max( 1, m ) ) then
              info = -4
           end if
           if( info<0 ) then
              call stdlib_xerbla( 'ZGEBD2', -info )
              return
           end if
           if( m>=n ) then
              ! reduce to upper bidiagonal form
              do i = 1, n
                 ! generate elementary reflector h(i) to annihilate a(i+1:m,i)
                 alpha = a( i, i )
                 call stdlib_zlarfg( m-i+1, alpha, a( min( i+1, m ), i ), 1,tauq( i ) )
                 d( i ) = real( alpha,KIND=dp)
                 a( i, i ) = cone
                 ! apply h(i)**h to a(i:m,i+1:n) from the left
                 if( i<n )call stdlib_zlarf( 'LEFT', m-i+1, n-i, a( i, i ), 1,conjg( tauq( i ) ), &
                           a( i, i+1 ), lda, work )
                 a( i, i ) = d( i )
                 if( i<n ) then
                    ! generate elementary reflector g(i) to annihilate
                    ! a(i,i+2:n)
                    call stdlib_zlacgv( n-i, a( i, i+1 ), lda )
                    alpha = a( i, i+1 )
                    call stdlib_zlarfg( n-i, alpha, a( i, min( i+2, n ) ), lda,taup( i ) )
                    e( i ) = real( alpha,KIND=dp)
                    a( i, i+1 ) = cone
                    ! apply g(i) to a(i+1:m,i+1:n) from the right
                    call stdlib_zlarf( 'RIGHT', m-i, n-i, a( i, i+1 ), lda,taup( i ), a( i+1, i+1 &
                              ), lda, work )
                    call stdlib_zlacgv( n-i, a( i, i+1 ), lda )
                    a( i, i+1 ) = e( i )
                 else
                    taup( i ) = czero
                 end if
              end do
           else
              ! reduce to lower bidiagonal form
              do i = 1, m
                 ! generate elementary reflector g(i) to annihilate a(i,i+1:n)
                 call stdlib_zlacgv( n-i+1, a( i, i ), lda )
                 alpha = a( i, i )
                 call stdlib_zlarfg( n-i+1, alpha, a( i, min( i+1, n ) ), lda,taup( i ) )
                 d( i ) = real( alpha,KIND=dp)
                 a( i, i ) = cone
                 ! apply g(i) to a(i+1:m,i:n) from the right
                 if( i<m )call stdlib_zlarf( 'RIGHT', m-i, n-i+1, a( i, i ), lda,taup( i ), a( i+&
                           1, i ), lda, work )
                 call stdlib_zlacgv( n-i+1, a( i, i ), lda )
                 a( i, i ) = d( i )
                 if( i<m ) then
                    ! generate elementary reflector h(i) to annihilate
                    ! a(i+2:m,i)
                    alpha = a( i+1, i )
                    call stdlib_zlarfg( m-i, alpha, a( min( i+2, m ), i ), 1,tauq( i ) )
                    e( i ) = real( alpha,KIND=dp)
                    a( i+1, i ) = cone
                    ! apply h(i)**h to a(i+1:m,i+1:n) from the left
                    call stdlib_zlarf( 'LEFT', m-i, n-i, a( i+1, i ), 1,conjg( tauq( i ) ), a( i+&
                              1, i+1 ), lda,work )
                    a( i+1, i ) = e( i )
                 else
                    tauq( i ) = czero
                 end if
              end do
           end if
           return
     end subroutine stdlib_zgebd2

#:for ck,ct,ci in CMPLX_KINDS_TYPES
#:if not ck in ["sp","dp"]
     module pure subroutine stdlib_${ci}$gebd2( m, n, a, lda, d, e, tauq, taup, work, info )
     !! ZGEBD2: reduces a complex general m by n matrix A to upper or lower
     !! real bidiagonal form B by a unitary transformation: Q**H * A * P = B.
     !! If m >= n, B is upper bidiagonal; if m < n, B is lower bidiagonal.
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${ck}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: lda, m, n
           ! Array Arguments 
           real(${ck}$), intent(out) :: d(*), e(*)
           complex(${ck}$), intent(inout) :: a(lda,*)
           complex(${ck}$), intent(out) :: taup(*), tauq(*), work(*)
        ! =====================================================================
           
           ! Local Scalars 
           integer(ilp) :: i
           complex(${ck}$) :: alpha
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters
           info = 0
           if( m<0 ) then
              info = -1
           else if( n<0 ) then
              info = -2
           else if( lda<max( 1, m ) ) then
              info = -4
           end if
           if( info<0 ) then
              call stdlib_xerbla( 'ZGEBD2', -info )
              return
           end if
           if( m>=n ) then
              ! reduce to upper bidiagonal form
              do i = 1, n
                 ! generate elementary reflector h(i) to annihilate a(i+1:m,i)
                 alpha = a( i, i )
                 call stdlib_${ci}$larfg( m-i+1, alpha, a( min( i+1, m ), i ), 1,tauq( i ) )
                 d( i ) = real( alpha,KIND=${ck}$)
                 a( i, i ) = cone
                 ! apply h(i)**h to a(i:m,i+1:n) from the left
                 if( i<n )call stdlib_${ci}$larf( 'LEFT', m-i+1, n-i, a( i, i ), 1,conjg( tauq( i ) ), &
                           a( i, i+1 ), lda, work )
                 a( i, i ) = d( i )
                 if( i<n ) then
                    ! generate elementary reflector g(i) to annihilate
                    ! a(i,i+2:n)
                    call stdlib_${ci}$lacgv( n-i, a( i, i+1 ), lda )
                    alpha = a( i, i+1 )
                    call stdlib_${ci}$larfg( n-i, alpha, a( i, min( i+2, n ) ), lda,taup( i ) )
                    e( i ) = real( alpha,KIND=${ck}$)
                    a( i, i+1 ) = cone
                    ! apply g(i) to a(i+1:m,i+1:n) from the right
                    call stdlib_${ci}$larf( 'RIGHT', m-i, n-i, a( i, i+1 ), lda,taup( i ), a( i+1, i+1 &
                              ), lda, work )
                    call stdlib_${ci}$lacgv( n-i, a( i, i+1 ), lda )
                    a( i, i+1 ) = e( i )
                 else
                    taup( i ) = czero
                 end if
              end do
           else
              ! reduce to lower bidiagonal form
              do i = 1, m
                 ! generate elementary reflector g(i) to annihilate a(i,i+1:n)
                 call stdlib_${ci}$lacgv( n-i+1, a( i, i ), lda )
                 alpha = a( i, i )
                 call stdlib_${ci}$larfg( n-i+1, alpha, a( i, min( i+1, n ) ), lda,taup( i ) )
                 d( i ) = real( alpha,KIND=${ck}$)
                 a( i, i ) = cone
                 ! apply g(i) to a(i+1:m,i:n) from the right
                 if( i<m )call stdlib_${ci}$larf( 'RIGHT', m-i, n-i+1, a( i, i ), lda,taup( i ), a( i+&
                           1, i ), lda, work )
                 call stdlib_${ci}$lacgv( n-i+1, a( i, i ), lda )
                 a( i, i ) = d( i )
                 if( i<m ) then
                    ! generate elementary reflector h(i) to annihilate
                    ! a(i+2:m,i)
                    alpha = a( i+1, i )
                    call stdlib_${ci}$larfg( m-i, alpha, a( min( i+2, m ), i ), 1,tauq( i ) )
                    e( i ) = real( alpha,KIND=${ck}$)
                    a( i+1, i ) = cone
                    ! apply h(i)**h to a(i+1:m,i+1:n) from the left
                    call stdlib_${ci}$larf( 'LEFT', m-i, n-i, a( i+1, i ), 1,conjg( tauq( i ) ), a( i+&
                              1, i+1 ), lda,work )
                    a( i+1, i ) = e( i )
                 else
                    tauq( i ) = czero
                 end if
              end do
           end if
           return
     end subroutine stdlib_${ci}$gebd2

#:endif
#:endfor



     module pure subroutine stdlib_sgbbrd( vect, m, n, ncc, kl, ku, ab, ldab, d, e, q,ldq, pt, ldpt, c, &
     !! SGBBRD reduces a real general m-by-n band matrix A to upper
     !! bidiagonal form B by an orthogonal transformation: Q**T * A * P = B.
     !! The routine computes B, and optionally forms Q or P**T, or computes
     !! Q**T*C for a given matrix C.
               ldc, work, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: vect
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: kl, ku, ldab, ldc, ldpt, ldq, m, n, ncc
           ! Array Arguments 
           real(sp), intent(inout) :: ab(ldab,*), c(ldc,*)
           real(sp), intent(out) :: d(*), e(*), pt(ldpt,*), q(ldq,*), work(*)
        ! =====================================================================
           
           ! Local Scalars 
           logical(lk) :: wantb, wantc, wantpt, wantq
           integer(ilp) :: i, inca, j, j1, j2, kb, kb1, kk, klm, klu1, kun, l, minmn, ml, ml0, mn,&
                      mu, mu0, nr, nrt
           real(sp) :: ra, rb, rc, rs
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters
           wantb = stdlib_lsame( vect, 'B' )
           wantq = stdlib_lsame( vect, 'Q' ) .or. wantb
           wantpt = stdlib_lsame( vect, 'P' ) .or. wantb
           wantc = ncc>0
           klu1 = kl + ku + 1
           info = 0
           if( .not.wantq .and. .not.wantpt .and. .not.stdlib_lsame( vect, 'N' ) )then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( n<0 ) then
              info = -3
           else if( ncc<0 ) then
              info = -4
           else if( kl<0 ) then
              info = -5
           else if( ku<0 ) then
              info = -6
           else if( ldab<klu1 ) then
              info = -8
           else if( ldq<1 .or. wantq .and. ldq<max( 1, m ) ) then
              info = -12
           else if( ldpt<1 .or. wantpt .and. ldpt<max( 1, n ) ) then
              info = -14
           else if( ldc<1 .or. wantc .and. ldc<max( 1, m ) ) then
              info = -16
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'SGBBRD', -info )
              return
           end if
           ! initialize q and p**t to the unit matrix, if needed
           if( wantq )call stdlib_slaset( 'FULL', m, m, zero, one, q, ldq )
           if( wantpt )call stdlib_slaset( 'FULL', n, n, zero, one, pt, ldpt )
           ! quick return if possible.
           if( m==0 .or. n==0 )return
           minmn = min( m, n )
           if( kl+ku>1 ) then
              ! reduce to upper bidiagonal form if ku > 0; if ku = 0, reduce
              ! first to lower bidiagonal form and then transform to upper
              ! bidiagonal
              if( ku>0 ) then
                 ml0 = 1
                 mu0 = 2
              else
                 ml0 = 2
                 mu0 = 1
              end if
              ! wherever possible, plane rotations are generated and applied in
              ! vector operations of length nr over the index set j1:j2:klu1.
              ! the sines of the plane rotations are stored in work(1:max(m,n))
              ! and the cosines in work(max(m,n)+1:2*max(m,n)).
              mn = max( m, n )
              klm = min( m-1, kl )
              kun = min( n-1, ku )
              kb = klm + kun
              kb1 = kb + 1
              inca = kb1*ldab
              nr = 0
              j1 = klm + 2
              j2 = 1 - kun
              loop_90: do i = 1, minmn
                 ! reduce i-th column and i-th row of matrix to bidiagonal form
                 ml = klm + 1
                 mu = kun + 1
                 loop_80: do kk = 1, kb
                    j1 = j1 + kb
                    j2 = j2 + kb
                    ! generate plane rotations to annihilate nonzero elements
                    ! which have been created below the band
                    if( nr>0 )call stdlib_slargv( nr, ab( klu1, j1-klm-1 ), inca,work( j1 ), kb1, &
                              work( mn+j1 ), kb1 )
                    ! apply plane rotations from the left
                    do l = 1, kb
                       if( j2-klm+l-1>n ) then
                          nrt = nr - 1
                       else
                          nrt = nr
                       end if
                       if( nrt>0 )call stdlib_slartv( nrt, ab( klu1-l, j1-klm+l-1 ), inca,ab( &
                                 klu1-l+1, j1-klm+l-1 ), inca,work( mn+j1 ), work( j1 ), kb1 )
                    end do
                    if( ml>ml0 ) then
                       if( ml<=m-i+1 ) then
                          ! generate plane rotation to annihilate a(i+ml-1,i)
                          ! within the band, and apply rotation from the left
                          call stdlib_slartg( ab( ku+ml-1, i ), ab( ku+ml, i ),work( mn+i+ml-1 ), &
                                    work( i+ml-1 ),ra )
                          ab( ku+ml-1, i ) = ra
                          if( i<n )call stdlib_srot( min( ku+ml-2, n-i ),ab( ku+ml-2, i+1 ), ldab-&
                                    1,ab( ku+ml-1, i+1 ), ldab-1,work( mn+i+ml-1 ), work( i+ml-1 ) )
                       end if
                       nr = nr + 1
                       j1 = j1 - kb1
                    end if
                    if( wantq ) then
                       ! accumulate product of plane rotations in q
                       do j = j1, j2, kb1
                          call stdlib_srot( m, q( 1, j-1 ), 1, q( 1, j ), 1,work( mn+j ), work( j &
                                    ) )
                       end do
                    end if
                    if( wantc ) then
                       ! apply plane rotations to c
                       do j = j1, j2, kb1
                          call stdlib_srot( ncc, c( j-1, 1 ), ldc, c( j, 1 ), ldc,work( mn+j ), &
                                    work( j ) )
                       end do
                    end if
                    if( j2+kun>n ) then
                       ! adjust j2 to keep within the bounds of the matrix
                       nr = nr - 1
                       j2 = j2 - kb1
                    end if
                    do j = j1, j2, kb1
                       ! create nonzero element a(j-1,j+ku) above the band
                       ! and store it in work(n+1:2*n)
                       work( j+kun ) = work( j )*ab( 1, j+kun )
                       ab( 1, j+kun ) = work( mn+j )*ab( 1, j+kun )
                    end do
                    ! generate plane rotations to annihilate nonzero elements
                    ! which have been generated above the band
                    if( nr>0 )call stdlib_slargv( nr, ab( 1, j1+kun-1 ), inca,work( j1+kun ), kb1,&
                               work( mn+j1+kun ),kb1 )
                    ! apply plane rotations from the right
                    do l = 1, kb
                       if( j2+l-1>m ) then
                          nrt = nr - 1
                       else
                          nrt = nr
                       end if
                       if( nrt>0 )call stdlib_slartv( nrt, ab( l+1, j1+kun-1 ), inca,ab( l, j1+&
                                 kun ), inca,work( mn+j1+kun ), work( j1+kun ),kb1 )
                    end do
                    if( ml==ml0 .and. mu>mu0 ) then
                       if( mu<=n-i+1 ) then
                          ! generate plane rotation to annihilate a(i,i+mu-1)
                          ! within the band, and apply rotation from the right
                          call stdlib_slartg( ab( ku-mu+3, i+mu-2 ),ab( ku-mu+2, i+mu-1 ),work( &
                                    mn+i+mu-1 ), work( i+mu-1 ),ra )
                          ab( ku-mu+3, i+mu-2 ) = ra
                          call stdlib_srot( min( kl+mu-2, m-i ),ab( ku-mu+4, i+mu-2 ), 1,ab( ku-&
                                    mu+3, i+mu-1 ), 1,work( mn+i+mu-1 ), work( i+mu-1 ) )
                       end if
                       nr = nr + 1
                       j1 = j1 - kb1
                    end if
                    if( wantpt ) then
                       ! accumulate product of plane rotations in p**t
                       do j = j1, j2, kb1
                          call stdlib_srot( n, pt( j+kun-1, 1 ), ldpt,pt( j+kun, 1 ), ldpt, work( &
                                    mn+j+kun ),work( j+kun ) )
                       end do
                    end if
                    if( j2+kb>m ) then
                       ! adjust j2 to keep within the bounds of the matrix
                       nr = nr - 1
                       j2 = j2 - kb1
                    end if
                    do j = j1, j2, kb1
                       ! create nonzero element a(j+kl+ku,j+ku-1) below the
                       ! band and store it in work(1:n)
                       work( j+kb ) = work( j+kun )*ab( klu1, j+kun )
                       ab( klu1, j+kun ) = work( mn+j+kun )*ab( klu1, j+kun )
                    end do
                    if( ml>ml0 ) then
                       ml = ml - 1
                    else
                       mu = mu - 1
                    end if
                 end do loop_80
              end do loop_90
           end if
           if( ku==0 .and. kl>0 ) then
              ! a has been reduced to lower bidiagonal form
              ! transform lower bidiagonal form to upper bidiagonal by applying
              ! plane rotations from the left, storing diagonal elements in d
              ! and off-diagonal elements in e
              do i = 1, min( m-1, n )
                 call stdlib_slartg( ab( 1, i ), ab( 2, i ), rc, rs, ra )
                 d( i ) = ra
                 if( i<n ) then
                    e( i ) = rs*ab( 1, i+1 )
                    ab( 1, i+1 ) = rc*ab( 1, i+1 )
                 end if
                 if( wantq )call stdlib_srot( m, q( 1, i ), 1, q( 1, i+1 ), 1, rc, rs )
                 if( wantc )call stdlib_srot( ncc, c( i, 1 ), ldc, c( i+1, 1 ), ldc, rc,rs )
                           
              end do
              if( m<=n )d( m ) = ab( 1, m )
           else if( ku>0 ) then
              ! a has been reduced to upper bidiagonal form
              if( m<n ) then
                 ! annihilate a(m,m+1) by applying plane rotations from the
                 ! right, storing diagonal elements in d and off-diagonal
                 ! elements in e
                 rb = ab( ku, m+1 )
                 do i = m, 1, -1
                    call stdlib_slartg( ab( ku+1, i ), rb, rc, rs, ra )
                    d( i ) = ra
                    if( i>1 ) then
                       rb = -rs*ab( ku, i )
                       e( i-1 ) = rc*ab( ku, i )
                    end if
                    if( wantpt )call stdlib_srot( n, pt( i, 1 ), ldpt, pt( m+1, 1 ), ldpt,rc, rs )
                              
                 end do
              else
                 ! copy off-diagonal elements to e and diagonal elements to d
                 do i = 1, minmn - 1
                    e( i ) = ab( ku, i+1 )
                 end do
                 do i = 1, minmn
                    d( i ) = ab( ku+1, i )
                 end do
              end if
           else
              ! a is diagonal. set elements of e to zero and copy diagonal
              ! elements to d.
              do i = 1, minmn - 1
                 e( i ) = zero
              end do
              do i = 1, minmn
                 d( i ) = ab( 1, i )
              end do
           end if
           return
     end subroutine stdlib_sgbbrd

     module pure subroutine stdlib_dgbbrd( vect, m, n, ncc, kl, ku, ab, ldab, d, e, q,ldq, pt, ldpt, c, &
     !! DGBBRD reduces a real general m-by-n band matrix A to upper
     !! bidiagonal form B by an orthogonal transformation: Q**T * A * P = B.
     !! The routine computes B, and optionally forms Q or P**T, or computes
     !! Q**T*C for a given matrix C.
               ldc, work, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: vect
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: kl, ku, ldab, ldc, ldpt, ldq, m, n, ncc
           ! Array Arguments 
           real(dp), intent(inout) :: ab(ldab,*), c(ldc,*)
           real(dp), intent(out) :: d(*), e(*), pt(ldpt,*), q(ldq,*), work(*)
        ! =====================================================================
           
           ! Local Scalars 
           logical(lk) :: wantb, wantc, wantpt, wantq
           integer(ilp) :: i, inca, j, j1, j2, kb, kb1, kk, klm, klu1, kun, l, minmn, ml, ml0, mn,&
                      mu, mu0, nr, nrt
           real(dp) :: ra, rb, rc, rs
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters
           wantb = stdlib_lsame( vect, 'B' )
           wantq = stdlib_lsame( vect, 'Q' ) .or. wantb
           wantpt = stdlib_lsame( vect, 'P' ) .or. wantb
           wantc = ncc>0
           klu1 = kl + ku + 1
           info = 0
           if( .not.wantq .and. .not.wantpt .and. .not.stdlib_lsame( vect, 'N' ) )then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( n<0 ) then
              info = -3
           else if( ncc<0 ) then
              info = -4
           else if( kl<0 ) then
              info = -5
           else if( ku<0 ) then
              info = -6
           else if( ldab<klu1 ) then
              info = -8
           else if( ldq<1 .or. wantq .and. ldq<max( 1, m ) ) then
              info = -12
           else if( ldpt<1 .or. wantpt .and. ldpt<max( 1, n ) ) then
              info = -14
           else if( ldc<1 .or. wantc .and. ldc<max( 1, m ) ) then
              info = -16
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'DGBBRD', -info )
              return
           end if
           ! initialize q and p**t to the unit matrix, if needed
           if( wantq )call stdlib_dlaset( 'FULL', m, m, zero, one, q, ldq )
           if( wantpt )call stdlib_dlaset( 'FULL', n, n, zero, one, pt, ldpt )
           ! quick return if possible.
           if( m==0 .or. n==0 )return
           minmn = min( m, n )
           if( kl+ku>1 ) then
              ! reduce to upper bidiagonal form if ku > 0; if ku = 0, reduce
              ! first to lower bidiagonal form and then transform to upper
              ! bidiagonal
              if( ku>0 ) then
                 ml0 = 1
                 mu0 = 2
              else
                 ml0 = 2
                 mu0 = 1
              end if
              ! wherever possible, plane rotations are generated and applied in
              ! vector operations of length nr over the index set j1:j2:klu1.
              ! the sines of the plane rotations are stored in work(1:max(m,n))
              ! and the cosines in work(max(m,n)+1:2*max(m,n)).
              mn = max( m, n )
              klm = min( m-1, kl )
              kun = min( n-1, ku )
              kb = klm + kun
              kb1 = kb + 1
              inca = kb1*ldab
              nr = 0
              j1 = klm + 2
              j2 = 1 - kun
              loop_90: do i = 1, minmn
                 ! reduce i-th column and i-th row of matrix to bidiagonal form
                 ml = klm + 1
                 mu = kun + 1
                 loop_80: do kk = 1, kb
                    j1 = j1 + kb
                    j2 = j2 + kb
                    ! generate plane rotations to annihilate nonzero elements
                    ! which have been created below the band
                    if( nr>0 )call stdlib_dlargv( nr, ab( klu1, j1-klm-1 ), inca,work( j1 ), kb1, &
                              work( mn+j1 ), kb1 )
                    ! apply plane rotations from the left
                    do l = 1, kb
                       if( j2-klm+l-1>n ) then
                          nrt = nr - 1
                       else
                          nrt = nr
                       end if
                       if( nrt>0 )call stdlib_dlartv( nrt, ab( klu1-l, j1-klm+l-1 ), inca,ab( &
                                 klu1-l+1, j1-klm+l-1 ), inca,work( mn+j1 ), work( j1 ), kb1 )
                    end do
                    if( ml>ml0 ) then
                       if( ml<=m-i+1 ) then
                          ! generate plane rotation to annihilate a(i+ml-1,i)
                          ! within the band, and apply rotation from the left
                          call stdlib_dlartg( ab( ku+ml-1, i ), ab( ku+ml, i ),work( mn+i+ml-1 ), &
                                    work( i+ml-1 ),ra )
                          ab( ku+ml-1, i ) = ra
                          if( i<n )call stdlib_drot( min( ku+ml-2, n-i ),ab( ku+ml-2, i+1 ), ldab-&
                                    1,ab( ku+ml-1, i+1 ), ldab-1,work( mn+i+ml-1 ), work( i+ml-1 ) )
                       end if
                       nr = nr + 1
                       j1 = j1 - kb1
                    end if
                    if( wantq ) then
                       ! accumulate product of plane rotations in q
                       do j = j1, j2, kb1
                          call stdlib_drot( m, q( 1, j-1 ), 1, q( 1, j ), 1,work( mn+j ), work( j &
                                    ) )
                       end do
                    end if
                    if( wantc ) then
                       ! apply plane rotations to c
                       do j = j1, j2, kb1
                          call stdlib_drot( ncc, c( j-1, 1 ), ldc, c( j, 1 ), ldc,work( mn+j ), &
                                    work( j ) )
                       end do
                    end if
                    if( j2+kun>n ) then
                       ! adjust j2 to keep within the bounds of the matrix
                       nr = nr - 1
                       j2 = j2 - kb1
                    end if
                    do j = j1, j2, kb1
                       ! create nonzero element a(j-1,j+ku) above the band
                       ! and store it in work(n+1:2*n)
                       work( j+kun ) = work( j )*ab( 1, j+kun )
                       ab( 1, j+kun ) = work( mn+j )*ab( 1, j+kun )
                    end do
                    ! generate plane rotations to annihilate nonzero elements
                    ! which have been generated above the band
                    if( nr>0 )call stdlib_dlargv( nr, ab( 1, j1+kun-1 ), inca,work( j1+kun ), kb1,&
                               work( mn+j1+kun ),kb1 )
                    ! apply plane rotations from the right
                    do l = 1, kb
                       if( j2+l-1>m ) then
                          nrt = nr - 1
                       else
                          nrt = nr
                       end if
                       if( nrt>0 )call stdlib_dlartv( nrt, ab( l+1, j1+kun-1 ), inca,ab( l, j1+&
                                 kun ), inca,work( mn+j1+kun ), work( j1+kun ),kb1 )
                    end do
                    if( ml==ml0 .and. mu>mu0 ) then
                       if( mu<=n-i+1 ) then
                          ! generate plane rotation to annihilate a(i,i+mu-1)
                          ! within the band, and apply rotation from the right
                          call stdlib_dlartg( ab( ku-mu+3, i+mu-2 ),ab( ku-mu+2, i+mu-1 ),work( &
                                    mn+i+mu-1 ), work( i+mu-1 ),ra )
                          ab( ku-mu+3, i+mu-2 ) = ra
                          call stdlib_drot( min( kl+mu-2, m-i ),ab( ku-mu+4, i+mu-2 ), 1,ab( ku-&
                                    mu+3, i+mu-1 ), 1,work( mn+i+mu-1 ), work( i+mu-1 ) )
                       end if
                       nr = nr + 1
                       j1 = j1 - kb1
                    end if
                    if( wantpt ) then
                       ! accumulate product of plane rotations in p**t
                       do j = j1, j2, kb1
                          call stdlib_drot( n, pt( j+kun-1, 1 ), ldpt,pt( j+kun, 1 ), ldpt, work( &
                                    mn+j+kun ),work( j+kun ) )
                       end do
                    end if
                    if( j2+kb>m ) then
                       ! adjust j2 to keep within the bounds of the matrix
                       nr = nr - 1
                       j2 = j2 - kb1
                    end if
                    do j = j1, j2, kb1
                       ! create nonzero element a(j+kl+ku,j+ku-1) below the
                       ! band and store it in work(1:n)
                       work( j+kb ) = work( j+kun )*ab( klu1, j+kun )
                       ab( klu1, j+kun ) = work( mn+j+kun )*ab( klu1, j+kun )
                    end do
                    if( ml>ml0 ) then
                       ml = ml - 1
                    else
                       mu = mu - 1
                    end if
                 end do loop_80
              end do loop_90
           end if
           if( ku==0 .and. kl>0 ) then
              ! a has been reduced to lower bidiagonal form
              ! transform lower bidiagonal form to upper bidiagonal by applying
              ! plane rotations from the left, storing diagonal elements in d
              ! and off-diagonal elements in e
              do i = 1, min( m-1, n )
                 call stdlib_dlartg( ab( 1, i ), ab( 2, i ), rc, rs, ra )
                 d( i ) = ra
                 if( i<n ) then
                    e( i ) = rs*ab( 1, i+1 )
                    ab( 1, i+1 ) = rc*ab( 1, i+1 )
                 end if
                 if( wantq )call stdlib_drot( m, q( 1, i ), 1, q( 1, i+1 ), 1, rc, rs )
                 if( wantc )call stdlib_drot( ncc, c( i, 1 ), ldc, c( i+1, 1 ), ldc, rc,rs )
                           
              end do
              if( m<=n )d( m ) = ab( 1, m )
           else if( ku>0 ) then
              ! a has been reduced to upper bidiagonal form
              if( m<n ) then
                 ! annihilate a(m,m+1) by applying plane rotations from the
                 ! right, storing diagonal elements in d and off-diagonal
                 ! elements in e
                 rb = ab( ku, m+1 )
                 do i = m, 1, -1
                    call stdlib_dlartg( ab( ku+1, i ), rb, rc, rs, ra )
                    d( i ) = ra
                    if( i>1 ) then
                       rb = -rs*ab( ku, i )
                       e( i-1 ) = rc*ab( ku, i )
                    end if
                    if( wantpt )call stdlib_drot( n, pt( i, 1 ), ldpt, pt( m+1, 1 ), ldpt,rc, rs )
                              
                 end do
              else
                 ! copy off-diagonal elements to e and diagonal elements to d
                 do i = 1, minmn - 1
                    e( i ) = ab( ku, i+1 )
                 end do
                 do i = 1, minmn
                    d( i ) = ab( ku+1, i )
                 end do
              end if
           else
              ! a is diagonal. set elements of e to zero and copy diagonal
              ! elements to d.
              do i = 1, minmn - 1
                 e( i ) = zero
              end do
              do i = 1, minmn
                 d( i ) = ab( 1, i )
              end do
           end if
           return
     end subroutine stdlib_dgbbrd

#:for rk,rt,ri in REAL_KINDS_TYPES
#:if not rk in ["sp","dp"]
     module pure subroutine stdlib_${ri}$gbbrd( vect, m, n, ncc, kl, ku, ab, ldab, d, e, q,ldq, pt, ldpt, c, &
     !! DGBBRD: reduces a real general m-by-n band matrix A to upper
     !! bidiagonal form B by an orthogonal transformation: Q**T * A * P = B.
     !! The routine computes B, and optionally forms Q or P**T, or computes
     !! Q**T*C for a given matrix C.
               ldc, work, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${rk}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: vect
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: kl, ku, ldab, ldc, ldpt, ldq, m, n, ncc
           ! Array Arguments 
           real(${rk}$), intent(inout) :: ab(ldab,*), c(ldc,*)
           real(${rk}$), intent(out) :: d(*), e(*), pt(ldpt,*), q(ldq,*), work(*)
        ! =====================================================================
           
           ! Local Scalars 
           logical(lk) :: wantb, wantc, wantpt, wantq
           integer(ilp) :: i, inca, j, j1, j2, kb, kb1, kk, klm, klu1, kun, l, minmn, ml, ml0, mn,&
                      mu, mu0, nr, nrt
           real(${rk}$) :: ra, rb, rc, rs
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters
           wantb = stdlib_lsame( vect, 'B' )
           wantq = stdlib_lsame( vect, 'Q' ) .or. wantb
           wantpt = stdlib_lsame( vect, 'P' ) .or. wantb
           wantc = ncc>0
           klu1 = kl + ku + 1
           info = 0
           if( .not.wantq .and. .not.wantpt .and. .not.stdlib_lsame( vect, 'N' ) )then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( n<0 ) then
              info = -3
           else if( ncc<0 ) then
              info = -4
           else if( kl<0 ) then
              info = -5
           else if( ku<0 ) then
              info = -6
           else if( ldab<klu1 ) then
              info = -8
           else if( ldq<1 .or. wantq .and. ldq<max( 1, m ) ) then
              info = -12
           else if( ldpt<1 .or. wantpt .and. ldpt<max( 1, n ) ) then
              info = -14
           else if( ldc<1 .or. wantc .and. ldc<max( 1, m ) ) then
              info = -16
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'DGBBRD', -info )
              return
           end if
           ! initialize q and p**t to the unit matrix, if needed
           if( wantq )call stdlib_${ri}$laset( 'FULL', m, m, zero, one, q, ldq )
           if( wantpt )call stdlib_${ri}$laset( 'FULL', n, n, zero, one, pt, ldpt )
           ! quick return if possible.
           if( m==0 .or. n==0 )return
           minmn = min( m, n )
           if( kl+ku>1 ) then
              ! reduce to upper bidiagonal form if ku > 0; if ku = 0, reduce
              ! first to lower bidiagonal form and then transform to upper
              ! bidiagonal
              if( ku>0 ) then
                 ml0 = 1
                 mu0 = 2
              else
                 ml0 = 2
                 mu0 = 1
              end if
              ! wherever possible, plane rotations are generated and applied in
              ! vector operations of length nr over the index set j1:j2:klu1.
              ! the sines of the plane rotations are stored in work(1:max(m,n))
              ! and the cosines in work(max(m,n)+1:2*max(m,n)).
              mn = max( m, n )
              klm = min( m-1, kl )
              kun = min( n-1, ku )
              kb = klm + kun
              kb1 = kb + 1
              inca = kb1*ldab
              nr = 0
              j1 = klm + 2
              j2 = 1 - kun
              loop_90: do i = 1, minmn
                 ! reduce i-th column and i-th row of matrix to bidiagonal form
                 ml = klm + 1
                 mu = kun + 1
                 loop_80: do kk = 1, kb
                    j1 = j1 + kb
                    j2 = j2 + kb
                    ! generate plane rotations to annihilate nonzero elements
                    ! which have been created below the band
                    if( nr>0 )call stdlib_${ri}$largv( nr, ab( klu1, j1-klm-1 ), inca,work( j1 ), kb1, &
                              work( mn+j1 ), kb1 )
                    ! apply plane rotations from the left
                    do l = 1, kb
                       if( j2-klm+l-1>n ) then
                          nrt = nr - 1
                       else
                          nrt = nr
                       end if
                       if( nrt>0 )call stdlib_${ri}$lartv( nrt, ab( klu1-l, j1-klm+l-1 ), inca,ab( &
                                 klu1-l+1, j1-klm+l-1 ), inca,work( mn+j1 ), work( j1 ), kb1 )
                    end do
                    if( ml>ml0 ) then
                       if( ml<=m-i+1 ) then
                          ! generate plane rotation to annihilate a(i+ml-1,i)
                          ! within the band, and apply rotation from the left
                          call stdlib_${ri}$lartg( ab( ku+ml-1, i ), ab( ku+ml, i ),work( mn+i+ml-1 ), &
                                    work( i+ml-1 ),ra )
                          ab( ku+ml-1, i ) = ra
                          if( i<n )call stdlib_${ri}$rot( min( ku+ml-2, n-i ),ab( ku+ml-2, i+1 ), ldab-&
                                    1,ab( ku+ml-1, i+1 ), ldab-1,work( mn+i+ml-1 ), work( i+ml-1 ) )
                       end if
                       nr = nr + 1
                       j1 = j1 - kb1
                    end if
                    if( wantq ) then
                       ! accumulate product of plane rotations in q
                       do j = j1, j2, kb1
                          call stdlib_${ri}$rot( m, q( 1, j-1 ), 1, q( 1, j ), 1,work( mn+j ), work( j &
                                    ) )
                       end do
                    end if
                    if( wantc ) then
                       ! apply plane rotations to c
                       do j = j1, j2, kb1
                          call stdlib_${ri}$rot( ncc, c( j-1, 1 ), ldc, c( j, 1 ), ldc,work( mn+j ), &
                                    work( j ) )
                       end do
                    end if
                    if( j2+kun>n ) then
                       ! adjust j2 to keep within the bounds of the matrix
                       nr = nr - 1
                       j2 = j2 - kb1
                    end if
                    do j = j1, j2, kb1
                       ! create nonzero element a(j-1,j+ku) above the band
                       ! and store it in work(n+1:2*n)
                       work( j+kun ) = work( j )*ab( 1, j+kun )
                       ab( 1, j+kun ) = work( mn+j )*ab( 1, j+kun )
                    end do
                    ! generate plane rotations to annihilate nonzero elements
                    ! which have been generated above the band
                    if( nr>0 )call stdlib_${ri}$largv( nr, ab( 1, j1+kun-1 ), inca,work( j1+kun ), kb1,&
                               work( mn+j1+kun ),kb1 )
                    ! apply plane rotations from the right
                    do l = 1, kb
                       if( j2+l-1>m ) then
                          nrt = nr - 1
                       else
                          nrt = nr
                       end if
                       if( nrt>0 )call stdlib_${ri}$lartv( nrt, ab( l+1, j1+kun-1 ), inca,ab( l, j1+&
                                 kun ), inca,work( mn+j1+kun ), work( j1+kun ),kb1 )
                    end do
                    if( ml==ml0 .and. mu>mu0 ) then
                       if( mu<=n-i+1 ) then
                          ! generate plane rotation to annihilate a(i,i+mu-1)
                          ! within the band, and apply rotation from the right
                          call stdlib_${ri}$lartg( ab( ku-mu+3, i+mu-2 ),ab( ku-mu+2, i+mu-1 ),work( &
                                    mn+i+mu-1 ), work( i+mu-1 ),ra )
                          ab( ku-mu+3, i+mu-2 ) = ra
                          call stdlib_${ri}$rot( min( kl+mu-2, m-i ),ab( ku-mu+4, i+mu-2 ), 1,ab( ku-&
                                    mu+3, i+mu-1 ), 1,work( mn+i+mu-1 ), work( i+mu-1 ) )
                       end if
                       nr = nr + 1
                       j1 = j1 - kb1
                    end if
                    if( wantpt ) then
                       ! accumulate product of plane rotations in p**t
                       do j = j1, j2, kb1
                          call stdlib_${ri}$rot( n, pt( j+kun-1, 1 ), ldpt,pt( j+kun, 1 ), ldpt, work( &
                                    mn+j+kun ),work( j+kun ) )
                       end do
                    end if
                    if( j2+kb>m ) then
                       ! adjust j2 to keep within the bounds of the matrix
                       nr = nr - 1
                       j2 = j2 - kb1
                    end if
                    do j = j1, j2, kb1
                       ! create nonzero element a(j+kl+ku,j+ku-1) below the
                       ! band and store it in work(1:n)
                       work( j+kb ) = work( j+kun )*ab( klu1, j+kun )
                       ab( klu1, j+kun ) = work( mn+j+kun )*ab( klu1, j+kun )
                    end do
                    if( ml>ml0 ) then
                       ml = ml - 1
                    else
                       mu = mu - 1
                    end if
                 end do loop_80
              end do loop_90
           end if
           if( ku==0 .and. kl>0 ) then
              ! a has been reduced to lower bidiagonal form
              ! transform lower bidiagonal form to upper bidiagonal by applying
              ! plane rotations from the left, storing diagonal elements in d
              ! and off-diagonal elements in e
              do i = 1, min( m-1, n )
                 call stdlib_${ri}$lartg( ab( 1, i ), ab( 2, i ), rc, rs, ra )
                 d( i ) = ra
                 if( i<n ) then
                    e( i ) = rs*ab( 1, i+1 )
                    ab( 1, i+1 ) = rc*ab( 1, i+1 )
                 end if
                 if( wantq )call stdlib_${ri}$rot( m, q( 1, i ), 1, q( 1, i+1 ), 1, rc, rs )
                 if( wantc )call stdlib_${ri}$rot( ncc, c( i, 1 ), ldc, c( i+1, 1 ), ldc, rc,rs )
                           
              end do
              if( m<=n )d( m ) = ab( 1, m )
           else if( ku>0 ) then
              ! a has been reduced to upper bidiagonal form
              if( m<n ) then
                 ! annihilate a(m,m+1) by applying plane rotations from the
                 ! right, storing diagonal elements in d and off-diagonal
                 ! elements in e
                 rb = ab( ku, m+1 )
                 do i = m, 1, -1
                    call stdlib_${ri}$lartg( ab( ku+1, i ), rb, rc, rs, ra )
                    d( i ) = ra
                    if( i>1 ) then
                       rb = -rs*ab( ku, i )
                       e( i-1 ) = rc*ab( ku, i )
                    end if
                    if( wantpt )call stdlib_${ri}$rot( n, pt( i, 1 ), ldpt, pt( m+1, 1 ), ldpt,rc, rs )
                              
                 end do
              else
                 ! copy off-diagonal elements to e and diagonal elements to d
                 do i = 1, minmn - 1
                    e( i ) = ab( ku, i+1 )
                 end do
                 do i = 1, minmn
                    d( i ) = ab( ku+1, i )
                 end do
              end if
           else
              ! a is diagonal. set elements of e to zero and copy diagonal
              ! elements to d.
              do i = 1, minmn - 1
                 e( i ) = zero
              end do
              do i = 1, minmn
                 d( i ) = ab( 1, i )
              end do
           end if
           return
     end subroutine stdlib_${ri}$gbbrd

#:endif
#:endfor

     module pure subroutine stdlib_cgbbrd( vect, m, n, ncc, kl, ku, ab, ldab, d, e, q,ldq, pt, ldpt, c, &
     !! CGBBRD reduces a complex general m-by-n band matrix A to real upper
     !! bidiagonal form B by a unitary transformation: Q**H * A * P = B.
     !! The routine computes B, and optionally forms Q or P**H, or computes
     !! Q**H*C for a given matrix C.
               ldc, work, rwork, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: vect
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: kl, ku, ldab, ldc, ldpt, ldq, m, n, ncc
           ! Array Arguments 
           real(sp), intent(out) :: d(*), e(*), rwork(*)
           complex(sp), intent(inout) :: ab(ldab,*), c(ldc,*)
           complex(sp), intent(out) :: pt(ldpt,*), q(ldq,*), work(*)
        ! =====================================================================
           
           
           ! Local Scalars 
           logical(lk) :: wantb, wantc, wantpt, wantq
           integer(ilp) :: i, inca, j, j1, j2, kb, kb1, kk, klm, klu1, kun, l, minmn, ml, ml0, mu,&
                      mu0, nr, nrt
           real(sp) :: abst, rc
           complex(sp) :: ra, rb, rs, t
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters
           wantb = stdlib_lsame( vect, 'B' )
           wantq = stdlib_lsame( vect, 'Q' ) .or. wantb
           wantpt = stdlib_lsame( vect, 'P' ) .or. wantb
           wantc = ncc>0
           klu1 = kl + ku + 1
           info = 0
           if( .not.wantq .and. .not.wantpt .and. .not.stdlib_lsame( vect, 'N' ) )then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( n<0 ) then
              info = -3
           else if( ncc<0 ) then
              info = -4
           else if( kl<0 ) then
              info = -5
           else if( ku<0 ) then
              info = -6
           else if( ldab<klu1 ) then
              info = -8
           else if( ldq<1 .or. wantq .and. ldq<max( 1, m ) ) then
              info = -12
           else if( ldpt<1 .or. wantpt .and. ldpt<max( 1, n ) ) then
              info = -14
           else if( ldc<1 .or. wantc .and. ldc<max( 1, m ) ) then
              info = -16
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'CGBBRD', -info )
              return
           end if
           ! initialize q and p**h to the unit matrix, if needed
           if( wantq )call stdlib_claset( 'FULL', m, m, czero, cone, q, ldq )
           if( wantpt )call stdlib_claset( 'FULL', n, n, czero, cone, pt, ldpt )
           ! quick return if possible.
           if( m==0 .or. n==0 )return
           minmn = min( m, n )
           if( kl+ku>1 ) then
              ! reduce to upper bidiagonal form if ku > 0; if ku = 0, reduce
              ! first to lower bidiagonal form and then transform to upper
              ! bidiagonal
              if( ku>0 ) then
                 ml0 = 1
                 mu0 = 2
              else
                 ml0 = 2
                 mu0 = 1
              end if
              ! wherever possible, plane rotations are generated and applied in
              ! vector operations of length nr over the index set j1:j2:klu1.
              ! the complex sines of the plane rotations are stored in work,
              ! and the real cosines in rwork.
              klm = min( m-1, kl )
              kun = min( n-1, ku )
              kb = klm + kun
              kb1 = kb + 1
              inca = kb1*ldab
              nr = 0
              j1 = klm + 2
              j2 = 1 - kun
              loop_90: do i = 1, minmn
                 ! reduce i-th column and i-th row of matrix to bidiagonal form
                 ml = klm + 1
                 mu = kun + 1
                 loop_80: do kk = 1, kb
                    j1 = j1 + kb
                    j2 = j2 + kb
                    ! generate plane rotations to annihilate nonzero elements
                    ! which have been created below the band
                    if( nr>0 )call stdlib_clargv( nr, ab( klu1, j1-klm-1 ), inca,work( j1 ), kb1, &
                              rwork( j1 ), kb1 )
                    ! apply plane rotations from the left
                    do l = 1, kb
                       if( j2-klm+l-1>n ) then
                          nrt = nr - 1
                       else
                          nrt = nr
                       end if
                       if( nrt>0 )call stdlib_clartv( nrt, ab( klu1-l, j1-klm+l-1 ), inca,ab( &
                                 klu1-l+1, j1-klm+l-1 ), inca,rwork( j1 ), work( j1 ), kb1 )
                    end do
                    if( ml>ml0 ) then
                       if( ml<=m-i+1 ) then
                          ! generate plane rotation to annihilate a(i+ml-1,i)
                          ! within the band, and apply rotation from the left
                          call stdlib_clartg( ab( ku+ml-1, i ), ab( ku+ml, i ),rwork( i+ml-1 ), &
                                    work( i+ml-1 ), ra )
                          ab( ku+ml-1, i ) = ra
                          if( i<n )call stdlib_crot( min( ku+ml-2, n-i ),ab( ku+ml-2, i+1 ), ldab-&
                                    1,ab( ku+ml-1, i+1 ), ldab-1,rwork( i+ml-1 ), work( i+ml-1 ) )
                       end if
                       nr = nr + 1
                       j1 = j1 - kb1
                    end if
                    if( wantq ) then
                       ! accumulate product of plane rotations in q
                       do j = j1, j2, kb1
                          call stdlib_crot( m, q( 1, j-1 ), 1, q( 1, j ), 1,rwork( j ), conjg( &
                                    work( j ) ) )
                       end do
                    end if
                    if( wantc ) then
                       ! apply plane rotations to c
                       do j = j1, j2, kb1
                          call stdlib_crot( ncc, c( j-1, 1 ), ldc, c( j, 1 ), ldc,rwork( j ), &
                                    work( j ) )
                       end do
                    end if
                    if( j2+kun>n ) then
                       ! adjust j2 to keep within the bounds of the matrix
                       nr = nr - 1
                       j2 = j2 - kb1
                    end if
                    do j = j1, j2, kb1
                       ! create nonzero element a(j-1,j+ku) above the band
                       ! and store it in work(n+1:2*n)
                       work( j+kun ) = work( j )*ab( 1, j+kun )
                       ab( 1, j+kun ) = rwork( j )*ab( 1, j+kun )
                    end do
                    ! generate plane rotations to annihilate nonzero elements
                    ! which have been generated above the band
                    if( nr>0 )call stdlib_clargv( nr, ab( 1, j1+kun-1 ), inca,work( j1+kun ), kb1,&
                               rwork( j1+kun ),kb1 )
                    ! apply plane rotations from the right
                    do l = 1, kb
                       if( j2+l-1>m ) then
                          nrt = nr - 1
                       else
                          nrt = nr
                       end if
                       if( nrt>0 )call stdlib_clartv( nrt, ab( l+1, j1+kun-1 ), inca,ab( l, j1+&
                                 kun ), inca,rwork( j1+kun ), work( j1+kun ), kb1 )
                    end do
                    if( ml==ml0 .and. mu>mu0 ) then
                       if( mu<=n-i+1 ) then
                          ! generate plane rotation to annihilate a(i,i+mu-1)
                          ! within the band, and apply rotation from the right
                          call stdlib_clartg( ab( ku-mu+3, i+mu-2 ),ab( ku-mu+2, i+mu-1 ),rwork( &
                                    i+mu-1 ), work( i+mu-1 ), ra )
                          ab( ku-mu+3, i+mu-2 ) = ra
                          call stdlib_crot( min( kl+mu-2, m-i ),ab( ku-mu+4, i+mu-2 ), 1,ab( ku-&
                                    mu+3, i+mu-1 ), 1,rwork( i+mu-1 ), work( i+mu-1 ) )
                       end if
                       nr = nr + 1
                       j1 = j1 - kb1
                    end if
                    if( wantpt ) then
                       ! accumulate product of plane rotations in p**h
                       do j = j1, j2, kb1
                          call stdlib_crot( n, pt( j+kun-1, 1 ), ldpt,pt( j+kun, 1 ), ldpt, rwork(&
                                     j+kun ),conjg( work( j+kun ) ) )
                       end do
                    end if
                    if( j2+kb>m ) then
                       ! adjust j2 to keep within the bounds of the matrix
                       nr = nr - 1
                       j2 = j2 - kb1
                    end if
                    do j = j1, j2, kb1
                       ! create nonzero element a(j+kl+ku,j+ku-1) below the
                       ! band and store it in work(1:n)
                       work( j+kb ) = work( j+kun )*ab( klu1, j+kun )
                       ab( klu1, j+kun ) = rwork( j+kun )*ab( klu1, j+kun )
                    end do
                    if( ml>ml0 ) then
                       ml = ml - 1
                    else
                       mu = mu - 1
                    end if
                 end do loop_80
              end do loop_90
           end if
           if( ku==0 .and. kl>0 ) then
              ! a has been reduced to complex lower bidiagonal form
              ! transform lower bidiagonal form to upper bidiagonal by applying
              ! plane rotations from the left, overwriting superdiagonal
              ! elements on subdiagonal elements
              do i = 1, min( m-1, n )
                 call stdlib_clartg( ab( 1, i ), ab( 2, i ), rc, rs, ra )
                 ab( 1, i ) = ra
                 if( i<n ) then
                    ab( 2, i ) = rs*ab( 1, i+1 )
                    ab( 1, i+1 ) = rc*ab( 1, i+1 )
                 end if
                 if( wantq )call stdlib_crot( m, q( 1, i ), 1, q( 1, i+1 ), 1, rc,conjg( rs ) )
                           
                 if( wantc )call stdlib_crot( ncc, c( i, 1 ), ldc, c( i+1, 1 ), ldc, rc,rs )
                           
              end do
           else
              ! a has been reduced to complex upper bidiagonal form or is
              ! diagonal
              if( ku>0 .and. m<n ) then
                 ! annihilate a(m,m+1) by applying plane rotations from the
                 ! right
                 rb = ab( ku, m+1 )
                 do i = m, 1, -1
                    call stdlib_clartg( ab( ku+1, i ), rb, rc, rs, ra )
                    ab( ku+1, i ) = ra
                    if( i>1 ) then
                       rb = -conjg( rs )*ab( ku, i )
                       ab( ku, i ) = rc*ab( ku, i )
                    end if
                    if( wantpt )call stdlib_crot( n, pt( i, 1 ), ldpt, pt( m+1, 1 ), ldpt,rc, &
                              conjg( rs ) )
                 end do
              end if
           end if
           ! make diagonal and superdiagonal elements real, storing them in d
           ! and e
           t = ab( ku+1, 1 )
           loop_120: do i = 1, minmn
              abst = abs( t )
              d( i ) = abst
              if( abst/=zero ) then
                 t = t / abst
              else
                 t = cone
              end if
              if( wantq )call stdlib_cscal( m, t, q( 1, i ), 1 )
              if( wantc )call stdlib_cscal( ncc, conjg( t ), c( i, 1 ), ldc )
              if( i<minmn ) then
                 if( ku==0 .and. kl==0 ) then
                    e( i ) = zero
                    t = ab( 1, i+1 )
                 else
                    if( ku==0 ) then
                       t = ab( 2, i )*conjg( t )
                    else
                       t = ab( ku, i+1 )*conjg( t )
                    end if
                    abst = abs( t )
                    e( i ) = abst
                    if( abst/=zero ) then
                       t = t / abst
                    else
                       t = cone
                    end if
                    if( wantpt )call stdlib_cscal( n, t, pt( i+1, 1 ), ldpt )
                    t = ab( ku+1, i+1 )*conjg( t )
                 end if
              end if
           end do loop_120
           return
     end subroutine stdlib_cgbbrd

     module pure subroutine stdlib_zgbbrd( vect, m, n, ncc, kl, ku, ab, ldab, d, e, q,ldq, pt, ldpt, c, &
     !! ZGBBRD reduces a complex general m-by-n band matrix A to real upper
     !! bidiagonal form B by a unitary transformation: Q**H * A * P = B.
     !! The routine computes B, and optionally forms Q or P**H, or computes
     !! Q**H*C for a given matrix C.
               ldc, work, rwork, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: vect
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: kl, ku, ldab, ldc, ldpt, ldq, m, n, ncc
           ! Array Arguments 
           real(dp), intent(out) :: d(*), e(*), rwork(*)
           complex(dp), intent(inout) :: ab(ldab,*), c(ldc,*)
           complex(dp), intent(out) :: pt(ldpt,*), q(ldq,*), work(*)
        ! =====================================================================
           
           
           ! Local Scalars 
           logical(lk) :: wantb, wantc, wantpt, wantq
           integer(ilp) :: i, inca, j, j1, j2, kb, kb1, kk, klm, klu1, kun, l, minmn, ml, ml0, mu,&
                      mu0, nr, nrt
           real(dp) :: abst, rc
           complex(dp) :: ra, rb, rs, t
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters
           wantb = stdlib_lsame( vect, 'B' )
           wantq = stdlib_lsame( vect, 'Q' ) .or. wantb
           wantpt = stdlib_lsame( vect, 'P' ) .or. wantb
           wantc = ncc>0
           klu1 = kl + ku + 1
           info = 0
           if( .not.wantq .and. .not.wantpt .and. .not.stdlib_lsame( vect, 'N' ) )then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( n<0 ) then
              info = -3
           else if( ncc<0 ) then
              info = -4
           else if( kl<0 ) then
              info = -5
           else if( ku<0 ) then
              info = -6
           else if( ldab<klu1 ) then
              info = -8
           else if( ldq<1 .or. wantq .and. ldq<max( 1, m ) ) then
              info = -12
           else if( ldpt<1 .or. wantpt .and. ldpt<max( 1, n ) ) then
              info = -14
           else if( ldc<1 .or. wantc .and. ldc<max( 1, m ) ) then
              info = -16
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'ZGBBRD', -info )
              return
           end if
           ! initialize q and p**h to the unit matrix, if needed
           if( wantq )call stdlib_zlaset( 'FULL', m, m, czero, cone, q, ldq )
           if( wantpt )call stdlib_zlaset( 'FULL', n, n, czero, cone, pt, ldpt )
           ! quick return if possible.
           if( m==0 .or. n==0 )return
           minmn = min( m, n )
           if( kl+ku>1 ) then
              ! reduce to upper bidiagonal form if ku > 0; if ku = 0, reduce
              ! first to lower bidiagonal form and then transform to upper
              ! bidiagonal
              if( ku>0 ) then
                 ml0 = 1
                 mu0 = 2
              else
                 ml0 = 2
                 mu0 = 1
              end if
              ! wherever possible, plane rotations are generated and applied in
              ! vector operations of length nr over the index set j1:j2:klu1.
              ! the complex sines of the plane rotations are stored in work,
              ! and the real cosines in rwork.
              klm = min( m-1, kl )
              kun = min( n-1, ku )
              kb = klm + kun
              kb1 = kb + 1
              inca = kb1*ldab
              nr = 0
              j1 = klm + 2
              j2 = 1 - kun
              loop_90: do i = 1, minmn
                 ! reduce i-th column and i-th row of matrix to bidiagonal form
                 ml = klm + 1
                 mu = kun + 1
                 loop_80: do kk = 1, kb
                    j1 = j1 + kb
                    j2 = j2 + kb
                    ! generate plane rotations to annihilate nonzero elements
                    ! which have been created below the band
                    if( nr>0 )call stdlib_zlargv( nr, ab( klu1, j1-klm-1 ), inca,work( j1 ), kb1, &
                              rwork( j1 ), kb1 )
                    ! apply plane rotations from the left
                    do l = 1, kb
                       if( j2-klm+l-1>n ) then
                          nrt = nr - 1
                       else
                          nrt = nr
                       end if
                       if( nrt>0 )call stdlib_zlartv( nrt, ab( klu1-l, j1-klm+l-1 ), inca,ab( &
                                 klu1-l+1, j1-klm+l-1 ), inca,rwork( j1 ), work( j1 ), kb1 )
                    end do
                    if( ml>ml0 ) then
                       if( ml<=m-i+1 ) then
                          ! generate plane rotation to annihilate a(i+ml-1,i)
                          ! within the band, and apply rotation from the left
                          call stdlib_zlartg( ab( ku+ml-1, i ), ab( ku+ml, i ),rwork( i+ml-1 ), &
                                    work( i+ml-1 ), ra )
                          ab( ku+ml-1, i ) = ra
                          if( i<n )call stdlib_zrot( min( ku+ml-2, n-i ),ab( ku+ml-2, i+1 ), ldab-&
                                    1,ab( ku+ml-1, i+1 ), ldab-1,rwork( i+ml-1 ), work( i+ml-1 ) )
                       end if
                       nr = nr + 1
                       j1 = j1 - kb1
                    end if
                    if( wantq ) then
                       ! accumulate product of plane rotations in q
                       do j = j1, j2, kb1
                          call stdlib_zrot( m, q( 1, j-1 ), 1, q( 1, j ), 1,rwork( j ), conjg( &
                                    work( j ) ) )
                       end do
                    end if
                    if( wantc ) then
                       ! apply plane rotations to c
                       do j = j1, j2, kb1
                          call stdlib_zrot( ncc, c( j-1, 1 ), ldc, c( j, 1 ), ldc,rwork( j ), &
                                    work( j ) )
                       end do
                    end if
                    if( j2+kun>n ) then
                       ! adjust j2 to keep within the bounds of the matrix
                       nr = nr - 1
                       j2 = j2 - kb1
                    end if
                    do j = j1, j2, kb1
                       ! create nonzero element a(j-1,j+ku) above the band
                       ! and store it in work(n+1:2*n)
                       work( j+kun ) = work( j )*ab( 1, j+kun )
                       ab( 1, j+kun ) = rwork( j )*ab( 1, j+kun )
                    end do
                    ! generate plane rotations to annihilate nonzero elements
                    ! which have been generated above the band
                    if( nr>0 )call stdlib_zlargv( nr, ab( 1, j1+kun-1 ), inca,work( j1+kun ), kb1,&
                               rwork( j1+kun ),kb1 )
                    ! apply plane rotations from the right
                    do l = 1, kb
                       if( j2+l-1>m ) then
                          nrt = nr - 1
                       else
                          nrt = nr
                       end if
                       if( nrt>0 )call stdlib_zlartv( nrt, ab( l+1, j1+kun-1 ), inca,ab( l, j1+&
                                 kun ), inca,rwork( j1+kun ), work( j1+kun ), kb1 )
                    end do
                    if( ml==ml0 .and. mu>mu0 ) then
                       if( mu<=n-i+1 ) then
                          ! generate plane rotation to annihilate a(i,i+mu-1)
                          ! within the band, and apply rotation from the right
                          call stdlib_zlartg( ab( ku-mu+3, i+mu-2 ),ab( ku-mu+2, i+mu-1 ),rwork( &
                                    i+mu-1 ), work( i+mu-1 ), ra )
                          ab( ku-mu+3, i+mu-2 ) = ra
                          call stdlib_zrot( min( kl+mu-2, m-i ),ab( ku-mu+4, i+mu-2 ), 1,ab( ku-&
                                    mu+3, i+mu-1 ), 1,rwork( i+mu-1 ), work( i+mu-1 ) )
                       end if
                       nr = nr + 1
                       j1 = j1 - kb1
                    end if
                    if( wantpt ) then
                       ! accumulate product of plane rotations in p**h
                       do j = j1, j2, kb1
                          call stdlib_zrot( n, pt( j+kun-1, 1 ), ldpt,pt( j+kun, 1 ), ldpt, rwork(&
                                     j+kun ),conjg( work( j+kun ) ) )
                       end do
                    end if
                    if( j2+kb>m ) then
                       ! adjust j2 to keep within the bounds of the matrix
                       nr = nr - 1
                       j2 = j2 - kb1
                    end if
                    do j = j1, j2, kb1
                       ! create nonzero element a(j+kl+ku,j+ku-1) below the
                       ! band and store it in work(1:n)
                       work( j+kb ) = work( j+kun )*ab( klu1, j+kun )
                       ab( klu1, j+kun ) = rwork( j+kun )*ab( klu1, j+kun )
                    end do
                    if( ml>ml0 ) then
                       ml = ml - 1
                    else
                       mu = mu - 1
                    end if
                 end do loop_80
              end do loop_90
           end if
           if( ku==0 .and. kl>0 ) then
              ! a has been reduced to complex lower bidiagonal form
              ! transform lower bidiagonal form to upper bidiagonal by applying
              ! plane rotations from the left, overwriting superdiagonal
              ! elements on subdiagonal elements
              do i = 1, min( m-1, n )
                 call stdlib_zlartg( ab( 1, i ), ab( 2, i ), rc, rs, ra )
                 ab( 1, i ) = ra
                 if( i<n ) then
                    ab( 2, i ) = rs*ab( 1, i+1 )
                    ab( 1, i+1 ) = rc*ab( 1, i+1 )
                 end if
                 if( wantq )call stdlib_zrot( m, q( 1, i ), 1, q( 1, i+1 ), 1, rc,conjg( rs ) )
                           
                 if( wantc )call stdlib_zrot( ncc, c( i, 1 ), ldc, c( i+1, 1 ), ldc, rc,rs )
                           
              end do
           else
              ! a has been reduced to complex upper bidiagonal form or is
              ! diagonal
              if( ku>0 .and. m<n ) then
                 ! annihilate a(m,m+1) by applying plane rotations from the
                 ! right
                 rb = ab( ku, m+1 )
                 do i = m, 1, -1
                    call stdlib_zlartg( ab( ku+1, i ), rb, rc, rs, ra )
                    ab( ku+1, i ) = ra
                    if( i>1 ) then
                       rb = -conjg( rs )*ab( ku, i )
                       ab( ku, i ) = rc*ab( ku, i )
                    end if
                    if( wantpt )call stdlib_zrot( n, pt( i, 1 ), ldpt, pt( m+1, 1 ), ldpt,rc, &
                              conjg( rs ) )
                 end do
              end if
           end if
           ! make diagonal and superdiagonal elements real, storing them in d
           ! and e
           t = ab( ku+1, 1 )
           loop_120: do i = 1, minmn
              abst = abs( t )
              d( i ) = abst
              if( abst/=zero ) then
                 t = t / abst
              else
                 t = cone
              end if
              if( wantq )call stdlib_zscal( m, t, q( 1, i ), 1 )
              if( wantc )call stdlib_zscal( ncc, conjg( t ), c( i, 1 ), ldc )
              if( i<minmn ) then
                 if( ku==0 .and. kl==0 ) then
                    e( i ) = zero
                    t = ab( 1, i+1 )
                 else
                    if( ku==0 ) then
                       t = ab( 2, i )*conjg( t )
                    else
                       t = ab( ku, i+1 )*conjg( t )
                    end if
                    abst = abs( t )
                    e( i ) = abst
                    if( abst/=zero ) then
                       t = t / abst
                    else
                       t = cone
                    end if
                    if( wantpt )call stdlib_zscal( n, t, pt( i+1, 1 ), ldpt )
                    t = ab( ku+1, i+1 )*conjg( t )
                 end if
              end if
           end do loop_120
           return
     end subroutine stdlib_zgbbrd

#:for ck,ct,ci in CMPLX_KINDS_TYPES
#:if not ck in ["sp","dp"]
     module pure subroutine stdlib_${ci}$gbbrd( vect, m, n, ncc, kl, ku, ab, ldab, d, e, q,ldq, pt, ldpt, c, &
     !! ZGBBRD: reduces a complex general m-by-n band matrix A to real upper
     !! bidiagonal form B by a unitary transformation: Q**H * A * P = B.
     !! The routine computes B, and optionally forms Q or P**H, or computes
     !! Q**H*C for a given matrix C.
               ldc, work, rwork, info )
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${ck}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: vect
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: kl, ku, ldab, ldc, ldpt, ldq, m, n, ncc
           ! Array Arguments 
           real(${ck}$), intent(out) :: d(*), e(*), rwork(*)
           complex(${ck}$), intent(inout) :: ab(ldab,*), c(ldc,*)
           complex(${ck}$), intent(out) :: pt(ldpt,*), q(ldq,*), work(*)
        ! =====================================================================
           
           
           ! Local Scalars 
           logical(lk) :: wantb, wantc, wantpt, wantq
           integer(ilp) :: i, inca, j, j1, j2, kb, kb1, kk, klm, klu1, kun, l, minmn, ml, ml0, mu,&
                      mu0, nr, nrt
           real(${ck}$) :: abst, rc
           complex(${ck}$) :: ra, rb, rs, t
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input parameters
           wantb = stdlib_lsame( vect, 'B' )
           wantq = stdlib_lsame( vect, 'Q' ) .or. wantb
           wantpt = stdlib_lsame( vect, 'P' ) .or. wantb
           wantc = ncc>0
           klu1 = kl + ku + 1
           info = 0
           if( .not.wantq .and. .not.wantpt .and. .not.stdlib_lsame( vect, 'N' ) )then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( n<0 ) then
              info = -3
           else if( ncc<0 ) then
              info = -4
           else if( kl<0 ) then
              info = -5
           else if( ku<0 ) then
              info = -6
           else if( ldab<klu1 ) then
              info = -8
           else if( ldq<1 .or. wantq .and. ldq<max( 1, m ) ) then
              info = -12
           else if( ldpt<1 .or. wantpt .and. ldpt<max( 1, n ) ) then
              info = -14
           else if( ldc<1 .or. wantc .and. ldc<max( 1, m ) ) then
              info = -16
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'ZGBBRD', -info )
              return
           end if
           ! initialize q and p**h to the unit matrix, if needed
           if( wantq )call stdlib_${ci}$laset( 'FULL', m, m, czero, cone, q, ldq )
           if( wantpt )call stdlib_${ci}$laset( 'FULL', n, n, czero, cone, pt, ldpt )
           ! quick return if possible.
           if( m==0 .or. n==0 )return
           minmn = min( m, n )
           if( kl+ku>1 ) then
              ! reduce to upper bidiagonal form if ku > 0; if ku = 0, reduce
              ! first to lower bidiagonal form and then transform to upper
              ! bidiagonal
              if( ku>0 ) then
                 ml0 = 1
                 mu0 = 2
              else
                 ml0 = 2
                 mu0 = 1
              end if
              ! wherever possible, plane rotations are generated and applied in
              ! vector operations of length nr over the index set j1:j2:klu1.
              ! the complex sines of the plane rotations are stored in work,
              ! and the real cosines in rwork.
              klm = min( m-1, kl )
              kun = min( n-1, ku )
              kb = klm + kun
              kb1 = kb + 1
              inca = kb1*ldab
              nr = 0
              j1 = klm + 2
              j2 = 1 - kun
              loop_90: do i = 1, minmn
                 ! reduce i-th column and i-th row of matrix to bidiagonal form
                 ml = klm + 1
                 mu = kun + 1
                 loop_80: do kk = 1, kb
                    j1 = j1 + kb
                    j2 = j2 + kb
                    ! generate plane rotations to annihilate nonzero elements
                    ! which have been created below the band
                    if( nr>0 )call stdlib_${ci}$largv( nr, ab( klu1, j1-klm-1 ), inca,work( j1 ), kb1, &
                              rwork( j1 ), kb1 )
                    ! apply plane rotations from the left
                    do l = 1, kb
                       if( j2-klm+l-1>n ) then
                          nrt = nr - 1
                       else
                          nrt = nr
                       end if
                       if( nrt>0 )call stdlib_${ci}$lartv( nrt, ab( klu1-l, j1-klm+l-1 ), inca,ab( &
                                 klu1-l+1, j1-klm+l-1 ), inca,rwork( j1 ), work( j1 ), kb1 )
                    end do
                    if( ml>ml0 ) then
                       if( ml<=m-i+1 ) then
                          ! generate plane rotation to annihilate a(i+ml-1,i)
                          ! within the band, and apply rotation from the left
                          call stdlib_${ci}$lartg( ab( ku+ml-1, i ), ab( ku+ml, i ),rwork( i+ml-1 ), &
                                    work( i+ml-1 ), ra )
                          ab( ku+ml-1, i ) = ra
                          if( i<n )call stdlib_${ci}$rot( min( ku+ml-2, n-i ),ab( ku+ml-2, i+1 ), ldab-&
                                    1,ab( ku+ml-1, i+1 ), ldab-1,rwork( i+ml-1 ), work( i+ml-1 ) )
                       end if
                       nr = nr + 1
                       j1 = j1 - kb1
                    end if
                    if( wantq ) then
                       ! accumulate product of plane rotations in q
                       do j = j1, j2, kb1
                          call stdlib_${ci}$rot( m, q( 1, j-1 ), 1, q( 1, j ), 1,rwork( j ), conjg( &
                                    work( j ) ) )
                       end do
                    end if
                    if( wantc ) then
                       ! apply plane rotations to c
                       do j = j1, j2, kb1
                          call stdlib_${ci}$rot( ncc, c( j-1, 1 ), ldc, c( j, 1 ), ldc,rwork( j ), &
                                    work( j ) )
                       end do
                    end if
                    if( j2+kun>n ) then
                       ! adjust j2 to keep within the bounds of the matrix
                       nr = nr - 1
                       j2 = j2 - kb1
                    end if
                    do j = j1, j2, kb1
                       ! create nonzero element a(j-1,j+ku) above the band
                       ! and store it in work(n+1:2*n)
                       work( j+kun ) = work( j )*ab( 1, j+kun )
                       ab( 1, j+kun ) = rwork( j )*ab( 1, j+kun )
                    end do
                    ! generate plane rotations to annihilate nonzero elements
                    ! which have been generated above the band
                    if( nr>0 )call stdlib_${ci}$largv( nr, ab( 1, j1+kun-1 ), inca,work( j1+kun ), kb1,&
                               rwork( j1+kun ),kb1 )
                    ! apply plane rotations from the right
                    do l = 1, kb
                       if( j2+l-1>m ) then
                          nrt = nr - 1
                       else
                          nrt = nr
                       end if
                       if( nrt>0 )call stdlib_${ci}$lartv( nrt, ab( l+1, j1+kun-1 ), inca,ab( l, j1+&
                                 kun ), inca,rwork( j1+kun ), work( j1+kun ), kb1 )
                    end do
                    if( ml==ml0 .and. mu>mu0 ) then
                       if( mu<=n-i+1 ) then
                          ! generate plane rotation to annihilate a(i,i+mu-1)
                          ! within the band, and apply rotation from the right
                          call stdlib_${ci}$lartg( ab( ku-mu+3, i+mu-2 ),ab( ku-mu+2, i+mu-1 ),rwork( &
                                    i+mu-1 ), work( i+mu-1 ), ra )
                          ab( ku-mu+3, i+mu-2 ) = ra
                          call stdlib_${ci}$rot( min( kl+mu-2, m-i ),ab( ku-mu+4, i+mu-2 ), 1,ab( ku-&
                                    mu+3, i+mu-1 ), 1,rwork( i+mu-1 ), work( i+mu-1 ) )
                       end if
                       nr = nr + 1
                       j1 = j1 - kb1
                    end if
                    if( wantpt ) then
                       ! accumulate product of plane rotations in p**h
                       do j = j1, j2, kb1
                          call stdlib_${ci}$rot( n, pt( j+kun-1, 1 ), ldpt,pt( j+kun, 1 ), ldpt, rwork(&
                                     j+kun ),conjg( work( j+kun ) ) )
                       end do
                    end if
                    if( j2+kb>m ) then
                       ! adjust j2 to keep within the bounds of the matrix
                       nr = nr - 1
                       j2 = j2 - kb1
                    end if
                    do j = j1, j2, kb1
                       ! create nonzero element a(j+kl+ku,j+ku-1) below the
                       ! band and store it in work(1:n)
                       work( j+kb ) = work( j+kun )*ab( klu1, j+kun )
                       ab( klu1, j+kun ) = rwork( j+kun )*ab( klu1, j+kun )
                    end do
                    if( ml>ml0 ) then
                       ml = ml - 1
                    else
                       mu = mu - 1
                    end if
                 end do loop_80
              end do loop_90
           end if
           if( ku==0 .and. kl>0 ) then
              ! a has been reduced to complex lower bidiagonal form
              ! transform lower bidiagonal form to upper bidiagonal by applying
              ! plane rotations from the left, overwriting superdiagonal
              ! elements on subdiagonal elements
              do i = 1, min( m-1, n )
                 call stdlib_${ci}$lartg( ab( 1, i ), ab( 2, i ), rc, rs, ra )
                 ab( 1, i ) = ra
                 if( i<n ) then
                    ab( 2, i ) = rs*ab( 1, i+1 )
                    ab( 1, i+1 ) = rc*ab( 1, i+1 )
                 end if
                 if( wantq )call stdlib_${ci}$rot( m, q( 1, i ), 1, q( 1, i+1 ), 1, rc,conjg( rs ) )
                           
                 if( wantc )call stdlib_${ci}$rot( ncc, c( i, 1 ), ldc, c( i+1, 1 ), ldc, rc,rs )
                           
              end do
           else
              ! a has been reduced to complex upper bidiagonal form or is
              ! diagonal
              if( ku>0 .and. m<n ) then
                 ! annihilate a(m,m+1) by applying plane rotations from the
                 ! right
                 rb = ab( ku, m+1 )
                 do i = m, 1, -1
                    call stdlib_${ci}$lartg( ab( ku+1, i ), rb, rc, rs, ra )
                    ab( ku+1, i ) = ra
                    if( i>1 ) then
                       rb = -conjg( rs )*ab( ku, i )
                       ab( ku, i ) = rc*ab( ku, i )
                    end if
                    if( wantpt )call stdlib_${ci}$rot( n, pt( i, 1 ), ldpt, pt( m+1, 1 ), ldpt,rc, &
                              conjg( rs ) )
                 end do
              end if
           end if
           ! make diagonal and superdiagonal elements real, storing them in d
           ! and e
           t = ab( ku+1, 1 )
           loop_120: do i = 1, minmn
              abst = abs( t )
              d( i ) = abst
              if( abst/=zero ) then
                 t = t / abst
              else
                 t = cone
              end if
              if( wantq )call stdlib_${ci}$scal( m, t, q( 1, i ), 1 )
              if( wantc )call stdlib_${ci}$scal( ncc, conjg( t ), c( i, 1 ), ldc )
              if( i<minmn ) then
                 if( ku==0 .and. kl==0 ) then
                    e( i ) = zero
                    t = ab( 1, i+1 )
                 else
                    if( ku==0 ) then
                       t = ab( 2, i )*conjg( t )
                    else
                       t = ab( ku, i+1 )*conjg( t )
                    end if
                    abst = abs( t )
                    e( i ) = abst
                    if( abst/=zero ) then
                       t = t / abst
                    else
                       t = cone
                    end if
                    if( wantpt )call stdlib_${ci}$scal( n, t, pt( i+1, 1 ), ldpt )
                    t = ab( ku+1, i+1 )*conjg( t )
                 end if
              end if
           end do loop_120
           return
     end subroutine stdlib_${ci}$gbbrd

#:endif
#:endfor



     module pure subroutine stdlib_slas2( f, g, h, ssmin, ssmax )
     !! SLAS2 computes the singular values of the 2-by-2 matrix
     !! [  F   G  ]
     !! [  0   H  ].
     !! On return, SSMIN is the smaller singular value and SSMAX is the
     !! larger singular value.
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           real(sp), intent(in) :: f, g, h
           real(sp), intent(out) :: ssmax, ssmin
        ! ====================================================================
           
           
           
           ! Local Scalars 
           real(sp) :: as, at, au, c, fa, fhmn, fhmx, ga, ha
           ! Intrinsic Functions 
           ! Executable Statements 
           fa = abs( f )
           ga = abs( g )
           ha = abs( h )
           fhmn = min( fa, ha )
           fhmx = max( fa, ha )
           if( fhmn==zero ) then
              ssmin = zero
              if( fhmx==zero ) then
                 ssmax = ga
              else
                 ssmax = max( fhmx, ga )*sqrt( one+( min( fhmx, ga ) / max( fhmx, ga ) )**2 )
                           
              end if
           else
              if( ga<fhmx ) then
                 as = one + fhmn / fhmx
                 at = ( fhmx-fhmn ) / fhmx
                 au = ( ga / fhmx )**2
                 c = two / ( sqrt( as*as+au )+sqrt( at*at+au ) )
                 ssmin = fhmn*c
                 ssmax = fhmx / c
              else
                 au = fhmx / ga
                 if( au==zero ) then
                    ! avoid possible harmful underflow if exponent range
                    ! asymmetric (true ssmin may not underflow even if
                    ! au underflows)
                    ssmin = ( fhmn*fhmx ) / ga
                    ssmax = ga
                 else
                    as = one + fhmn / fhmx
                    at = ( fhmx-fhmn ) / fhmx
                    c = one / ( sqrt( one+( as*au )**2 )+sqrt( one+( at*au )**2 ) )
                    ssmin = ( fhmn*c )*au
                    ssmin = ssmin + ssmin
                    ssmax = ga / ( c+c )
                 end if
              end if
           end if
           return
     end subroutine stdlib_slas2

     module pure subroutine stdlib_dlas2( f, g, h, ssmin, ssmax )
     !! DLAS2 computes the singular values of the 2-by-2 matrix
     !! [  F   G  ]
     !! [  0   H  ].
     !! On return, SSMIN is the smaller singular value and SSMAX is the
     !! larger singular value.
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           real(dp), intent(in) :: f, g, h
           real(dp), intent(out) :: ssmax, ssmin
        ! ====================================================================
           
           
           
           ! Local Scalars 
           real(dp) :: as, at, au, c, fa, fhmn, fhmx, ga, ha
           ! Intrinsic Functions 
           ! Executable Statements 
           fa = abs( f )
           ga = abs( g )
           ha = abs( h )
           fhmn = min( fa, ha )
           fhmx = max( fa, ha )
           if( fhmn==zero ) then
              ssmin = zero
              if( fhmx==zero ) then
                 ssmax = ga
              else
                 ssmax = max( fhmx, ga )*sqrt( one+( min( fhmx, ga ) / max( fhmx, ga ) )**2 )
                           
              end if
           else
              if( ga<fhmx ) then
                 as = one + fhmn / fhmx
                 at = ( fhmx-fhmn ) / fhmx
                 au = ( ga / fhmx )**2
                 c = two / ( sqrt( as*as+au )+sqrt( at*at+au ) )
                 ssmin = fhmn*c
                 ssmax = fhmx / c
              else
                 au = fhmx / ga
                 if( au==zero ) then
                    ! avoid possible harmful underflow if exponent range
                    ! asymmetric (true ssmin may not underflow even if
                    ! au underflows)
                    ssmin = ( fhmn*fhmx ) / ga
                    ssmax = ga
                 else
                    as = one + fhmn / fhmx
                    at = ( fhmx-fhmn ) / fhmx
                    c = one / ( sqrt( one+( as*au )**2 )+sqrt( one+( at*au )**2 ) )
                    ssmin = ( fhmn*c )*au
                    ssmin = ssmin + ssmin
                    ssmax = ga / ( c+c )
                 end if
              end if
           end if
           return
     end subroutine stdlib_dlas2

#:for rk,rt,ri in REAL_KINDS_TYPES
#:if not rk in ["sp","dp"]
     module pure subroutine stdlib_${ri}$las2( f, g, h, ssmin, ssmax )
     !! DLAS2:  computes the singular values of the 2-by-2 matrix
     !! [  F   G  ]
     !! [  0   H  ].
     !! On return, SSMIN is the smaller singular value and SSMAX is the
     !! larger singular value.
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${rk}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           real(${rk}$), intent(in) :: f, g, h
           real(${rk}$), intent(out) :: ssmax, ssmin
        ! ====================================================================
           
           
           
           ! Local Scalars 
           real(${rk}$) :: as, at, au, c, fa, fhmn, fhmx, ga, ha
           ! Intrinsic Functions 
           ! Executable Statements 
           fa = abs( f )
           ga = abs( g )
           ha = abs( h )
           fhmn = min( fa, ha )
           fhmx = max( fa, ha )
           if( fhmn==zero ) then
              ssmin = zero
              if( fhmx==zero ) then
                 ssmax = ga
              else
                 ssmax = max( fhmx, ga )*sqrt( one+( min( fhmx, ga ) / max( fhmx, ga ) )**2 )
                           
              end if
           else
              if( ga<fhmx ) then
                 as = one + fhmn / fhmx
                 at = ( fhmx-fhmn ) / fhmx
                 au = ( ga / fhmx )**2
                 c = two / ( sqrt( as*as+au )+sqrt( at*at+au ) )
                 ssmin = fhmn*c
                 ssmax = fhmx / c
              else
                 au = fhmx / ga
                 if( au==zero ) then
                    ! avoid possible harmful underflow if exponent range
                    ! asymmetric (true ssmin may not underflow even if
                    ! au underflows)
                    ssmin = ( fhmn*fhmx ) / ga
                    ssmax = ga
                 else
                    as = one + fhmn / fhmx
                    at = ( fhmx-fhmn ) / fhmx
                    c = one / ( sqrt( one+( as*au )**2 )+sqrt( one+( at*au )**2 ) )
                    ssmin = ( fhmn*c )*au
                    ssmin = ssmin + ssmin
                    ssmax = ga / ( c+c )
                 end if
              end if
           end if
           return
     end subroutine stdlib_${ri}$las2

#:endif
#:endfor



     module pure subroutine stdlib_cungbr( vect, m, n, k, a, lda, tau, work, lwork, info )
     !! CUNGBR generates one of the complex unitary matrices Q or P**H
     !! determined by CGEBRD when reducing a complex matrix A to bidiagonal
     !! form: A = Q * B * P**H.  Q and P**H are defined as products of
     !! elementary reflectors H(i) or G(i) respectively.
     !! If VECT = 'Q', A is assumed to have been an M-by-K matrix, and Q
     !! is of order M:
     !! if m >= k, Q = H(1) H(2) . . . H(k) and CUNGBR returns the first n
     !! columns of Q, where m >= n >= k;
     !! if m < k, Q = H(1) H(2) . . . H(m-1) and CUNGBR returns Q as an
     !! M-by-M matrix.
     !! If VECT = 'P', A is assumed to have been a K-by-N matrix, and P**H
     !! is of order N:
     !! if k < n, P**H = G(k) . . . G(2) G(1) and CUNGBR returns the first m
     !! rows of P**H, where n >= m >= k;
     !! if k >= n, P**H = G(n-1) . . . G(2) G(1) and CUNGBR returns P**H as
     !! an N-by-N matrix.
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: vect
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: k, lda, lwork, m, n
           ! Array Arguments 
           complex(sp), intent(inout) :: a(lda,*)
           complex(sp), intent(in) :: tau(*)
           complex(sp), intent(out) :: work(*)
        ! =====================================================================
           
           ! Local Scalars 
           logical(lk) :: lquery, wantq
           integer(ilp) :: i, iinfo, j, lwkopt, mn
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input arguments
           info = 0
           wantq = stdlib_lsame( vect, 'Q' )
           mn = min( m, n )
           lquery = ( lwork==-1 )
           if( .not.wantq .and. .not.stdlib_lsame( vect, 'P' ) ) then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( n<0 .or. ( wantq .and. ( n>m .or. n<min( m,k ) ) ) .or. ( .not.wantq .and. ( &
                     m>n .or. m<min( n, k ) ) ) ) then
              info = -3
           else if( k<0 ) then
              info = -4
           else if( lda<max( 1, m ) ) then
              info = -6
           else if( lwork<max( 1, mn ) .and. .not.lquery ) then
              info = -9
           end if
           if( info==0 ) then
              work( 1 ) = 1
              if( wantq ) then
                 if( m>=k ) then
                    call stdlib_cungqr( m, n, k, a, lda, tau, work, -1, iinfo )
                 else
                    if( m>1 ) then
                       call stdlib_cungqr( m-1, m-1, m-1, a, lda, tau, work, -1,iinfo )
                    end if
                 end if
              else
                 if( k<n ) then
                    call stdlib_cunglq( m, n, k, a, lda, tau, work, -1, iinfo )
                 else
                    if( n>1 ) then
                       call stdlib_cunglq( n-1, n-1, n-1, a, lda, tau, work, -1,iinfo )
                    end if
                 end if
              end if
              lwkopt = real( work( 1 ),KIND=sp)
              lwkopt = max (lwkopt, mn)
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'CUNGBR', -info )
              return
           else if( lquery ) then
              work( 1 ) = lwkopt
              return
           end if
           ! quick return if possible
           if( m==0 .or. n==0 ) then
              work( 1 ) = 1
              return
           end if
           if( wantq ) then
              ! form q, determined by a call to stdlib_cgebrd to reduce an m-by-k
              ! matrix
              if( m>=k ) then
                 ! if m >= k, assume m >= n >= k
                 call stdlib_cungqr( m, n, k, a, lda, tau, work, lwork, iinfo )
              else
                 ! if m < k, assume m = n
                 ! shift the vectors which define the elementary reflectors cone
                 ! column to the right, and set the first row and column of q
                 ! to those of the unit matrix
                 do j = m, 2, -1
                    a( 1, j ) = czero
                    do i = j + 1, m
                       a( i, j ) = a( i, j-1 )
                    end do
                 end do
                 a( 1, 1 ) = cone
                 do i = 2, m
                    a( i, 1 ) = czero
                 end do
                 if( m>1 ) then
                    ! form q(2:m,2:m)
                    call stdlib_cungqr( m-1, m-1, m-1, a( 2, 2 ), lda, tau, work,lwork, iinfo )
                              
                 end if
              end if
           else
              ! form p**h, determined by a call to stdlib_cgebrd to reduce a k-by-n
              ! matrix
              if( k<n ) then
                 ! if k < n, assume k <= m <= n
                 call stdlib_cunglq( m, n, k, a, lda, tau, work, lwork, iinfo )
              else
                 ! if k >= n, assume m = n
                 ! shift the vectors which define the elementary reflectors cone
                 ! row downward, and set the first row and column of p**h to
                 ! those of the unit matrix
                 a( 1, 1 ) = cone
                 do i = 2, n
                    a( i, 1 ) = czero
                 end do
                 do j = 2, n
                    do i = j - 1, 2, -1
                       a( i, j ) = a( i-1, j )
                    end do
                    a( 1, j ) = czero
                 end do
                 if( n>1 ) then
                    ! form p**h(2:n,2:n)
                    call stdlib_cunglq( n-1, n-1, n-1, a( 2, 2 ), lda, tau, work,lwork, iinfo )
                              
                 end if
              end if
           end if
           work( 1 ) = lwkopt
           return
     end subroutine stdlib_cungbr

     module pure subroutine stdlib_zungbr( vect, m, n, k, a, lda, tau, work, lwork, info )
     !! ZUNGBR generates one of the complex unitary matrices Q or P**H
     !! determined by ZGEBRD when reducing a complex matrix A to bidiagonal
     !! form: A = Q * B * P**H.  Q and P**H are defined as products of
     !! elementary reflectors H(i) or G(i) respectively.
     !! If VECT = 'Q', A is assumed to have been an M-by-K matrix, and Q
     !! is of order M:
     !! if m >= k, Q = H(1) H(2) . . . H(k) and ZUNGBR returns the first n
     !! columns of Q, where m >= n >= k;
     !! if m < k, Q = H(1) H(2) . . . H(m-1) and ZUNGBR returns Q as an
     !! M-by-M matrix.
     !! If VECT = 'P', A is assumed to have been a K-by-N matrix, and P**H
     !! is of order N:
     !! if k < n, P**H = G(k) . . . G(2) G(1) and ZUNGBR returns the first m
     !! rows of P**H, where n >= m >= k;
     !! if k >= n, P**H = G(n-1) . . . G(2) G(1) and ZUNGBR returns P**H as
     !! an N-by-N matrix.
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: vect
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: k, lda, lwork, m, n
           ! Array Arguments 
           complex(dp), intent(inout) :: a(lda,*)
           complex(dp), intent(in) :: tau(*)
           complex(dp), intent(out) :: work(*)
        ! =====================================================================
           
           ! Local Scalars 
           logical(lk) :: lquery, wantq
           integer(ilp) :: i, iinfo, j, lwkopt, mn
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input arguments
           info = 0
           wantq = stdlib_lsame( vect, 'Q' )
           mn = min( m, n )
           lquery = ( lwork==-1 )
           if( .not.wantq .and. .not.stdlib_lsame( vect, 'P' ) ) then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( n<0 .or. ( wantq .and. ( n>m .or. n<min( m,k ) ) ) .or. ( .not.wantq .and. ( &
                     m>n .or. m<min( n, k ) ) ) ) then
              info = -3
           else if( k<0 ) then
              info = -4
           else if( lda<max( 1, m ) ) then
              info = -6
           else if( lwork<max( 1, mn ) .and. .not.lquery ) then
              info = -9
           end if
           if( info==0 ) then
              work( 1 ) = 1
              if( wantq ) then
                 if( m>=k ) then
                    call stdlib_zungqr( m, n, k, a, lda, tau, work, -1, iinfo )
                 else
                    if( m>1 ) then
                       call stdlib_zungqr( m-1, m-1, m-1, a, lda, tau, work, -1,iinfo )
                    end if
                 end if
              else
                 if( k<n ) then
                    call stdlib_zunglq( m, n, k, a, lda, tau, work, -1, iinfo )
                 else
                    if( n>1 ) then
                       call stdlib_zunglq( n-1, n-1, n-1, a, lda, tau, work, -1,iinfo )
                    end if
                 end if
              end if
              lwkopt = real( work( 1 ),KIND=dp)
              lwkopt = max (lwkopt, mn)
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'ZUNGBR', -info )
              return
           else if( lquery ) then
              work( 1 ) = lwkopt
              return
           end if
           ! quick return if possible
           if( m==0 .or. n==0 ) then
              work( 1 ) = 1
              return
           end if
           if( wantq ) then
              ! form q, determined by a call to stdlib_zgebrd to reduce an m-by-k
              ! matrix
              if( m>=k ) then
                 ! if m >= k, assume m >= n >= k
                 call stdlib_zungqr( m, n, k, a, lda, tau, work, lwork, iinfo )
              else
                 ! if m < k, assume m = n
                 ! shift the vectors which define the elementary reflectors cone
                 ! column to the right, and set the first row and column of q
                 ! to those of the unit matrix
                 do j = m, 2, -1
                    a( 1, j ) = czero
                    do i = j + 1, m
                       a( i, j ) = a( i, j-1 )
                    end do
                 end do
                 a( 1, 1 ) = cone
                 do i = 2, m
                    a( i, 1 ) = czero
                 end do
                 if( m>1 ) then
                    ! form q(2:m,2:m)
                    call stdlib_zungqr( m-1, m-1, m-1, a( 2, 2 ), lda, tau, work,lwork, iinfo )
                              
                 end if
              end if
           else
              ! form p**h, determined by a call to stdlib_zgebrd to reduce a k-by-n
              ! matrix
              if( k<n ) then
                 ! if k < n, assume k <= m <= n
                 call stdlib_zunglq( m, n, k, a, lda, tau, work, lwork, iinfo )
              else
                 ! if k >= n, assume m = n
                 ! shift the vectors which define the elementary reflectors cone
                 ! row downward, and set the first row and column of p**h to
                 ! those of the unit matrix
                 a( 1, 1 ) = cone
                 do i = 2, n
                    a( i, 1 ) = czero
                 end do
                 do j = 2, n
                    do i = j - 1, 2, -1
                       a( i, j ) = a( i-1, j )
                    end do
                    a( 1, j ) = czero
                 end do
                 if( n>1 ) then
                    ! form p**h(2:n,2:n)
                    call stdlib_zunglq( n-1, n-1, n-1, a( 2, 2 ), lda, tau, work,lwork, iinfo )
                              
                 end if
              end if
           end if
           work( 1 ) = lwkopt
           return
     end subroutine stdlib_zungbr

#:for ck,ct,ci in CMPLX_KINDS_TYPES
#:if not ck in ["sp","dp"]
     module pure subroutine stdlib_${ci}$ungbr( vect, m, n, k, a, lda, tau, work, lwork, info )
     !! ZUNGBR: generates one of the complex unitary matrices Q or P**H
     !! determined by ZGEBRD when reducing a complex matrix A to bidiagonal
     !! form: A = Q * B * P**H.  Q and P**H are defined as products of
     !! elementary reflectors H(i) or G(i) respectively.
     !! If VECT = 'Q', A is assumed to have been an M-by-K matrix, and Q
     !! is of order M:
     !! if m >= k, Q = H(1) H(2) . . . H(k) and ZUNGBR returns the first n
     !! columns of Q, where m >= n >= k;
     !! if m < k, Q = H(1) H(2) . . . H(m-1) and ZUNGBR returns Q as an
     !! M-by-M matrix.
     !! If VECT = 'P', A is assumed to have been a K-by-N matrix, and P**H
     !! is of order N:
     !! if k < n, P**H = G(k) . . . G(2) G(1) and ZUNGBR returns the first m
     !! rows of P**H, where n >= m >= k;
     !! if k >= n, P**H = G(n-1) . . . G(2) G(1) and ZUNGBR returns P**H as
     !! an N-by-N matrix.
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${ck}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: vect
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: k, lda, lwork, m, n
           ! Array Arguments 
           complex(${ck}$), intent(inout) :: a(lda,*)
           complex(${ck}$), intent(in) :: tau(*)
           complex(${ck}$), intent(out) :: work(*)
        ! =====================================================================
           
           ! Local Scalars 
           logical(lk) :: lquery, wantq
           integer(ilp) :: i, iinfo, j, lwkopt, mn
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input arguments
           info = 0
           wantq = stdlib_lsame( vect, 'Q' )
           mn = min( m, n )
           lquery = ( lwork==-1 )
           if( .not.wantq .and. .not.stdlib_lsame( vect, 'P' ) ) then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( n<0 .or. ( wantq .and. ( n>m .or. n<min( m,k ) ) ) .or. ( .not.wantq .and. ( &
                     m>n .or. m<min( n, k ) ) ) ) then
              info = -3
           else if( k<0 ) then
              info = -4
           else if( lda<max( 1, m ) ) then
              info = -6
           else if( lwork<max( 1, mn ) .and. .not.lquery ) then
              info = -9
           end if
           if( info==0 ) then
              work( 1 ) = 1
              if( wantq ) then
                 if( m>=k ) then
                    call stdlib_${ci}$ungqr( m, n, k, a, lda, tau, work, -1, iinfo )
                 else
                    if( m>1 ) then
                       call stdlib_${ci}$ungqr( m-1, m-1, m-1, a, lda, tau, work, -1,iinfo )
                    end if
                 end if
              else
                 if( k<n ) then
                    call stdlib_${ci}$unglq( m, n, k, a, lda, tau, work, -1, iinfo )
                 else
                    if( n>1 ) then
                       call stdlib_${ci}$unglq( n-1, n-1, n-1, a, lda, tau, work, -1,iinfo )
                    end if
                 end if
              end if
              lwkopt = real( work( 1 ),KIND=${ck}$)
              lwkopt = max (lwkopt, mn)
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'ZUNGBR', -info )
              return
           else if( lquery ) then
              work( 1 ) = lwkopt
              return
           end if
           ! quick return if possible
           if( m==0 .or. n==0 ) then
              work( 1 ) = 1
              return
           end if
           if( wantq ) then
              ! form q, determined by a call to stdlib_${ci}$gebrd to reduce an m-by-k
              ! matrix
              if( m>=k ) then
                 ! if m >= k, assume m >= n >= k
                 call stdlib_${ci}$ungqr( m, n, k, a, lda, tau, work, lwork, iinfo )
              else
                 ! if m < k, assume m = n
                 ! shift the vectors which define the elementary reflectors cone
                 ! column to the right, and set the first row and column of q
                 ! to those of the unit matrix
                 do j = m, 2, -1
                    a( 1, j ) = czero
                    do i = j + 1, m
                       a( i, j ) = a( i, j-1 )
                    end do
                 end do
                 a( 1, 1 ) = cone
                 do i = 2, m
                    a( i, 1 ) = czero
                 end do
                 if( m>1 ) then
                    ! form q(2:m,2:m)
                    call stdlib_${ci}$ungqr( m-1, m-1, m-1, a( 2, 2 ), lda, tau, work,lwork, iinfo )
                              
                 end if
              end if
           else
              ! form p**h, determined by a call to stdlib_${ci}$gebrd to reduce a k-by-n
              ! matrix
              if( k<n ) then
                 ! if k < n, assume k <= m <= n
                 call stdlib_${ci}$unglq( m, n, k, a, lda, tau, work, lwork, iinfo )
              else
                 ! if k >= n, assume m = n
                 ! shift the vectors which define the elementary reflectors cone
                 ! row downward, and set the first row and column of p**h to
                 ! those of the unit matrix
                 a( 1, 1 ) = cone
                 do i = 2, n
                    a( i, 1 ) = czero
                 end do
                 do j = 2, n
                    do i = j - 1, 2, -1
                       a( i, j ) = a( i-1, j )
                    end do
                    a( 1, j ) = czero
                 end do
                 if( n>1 ) then
                    ! form p**h(2:n,2:n)
                    call stdlib_${ci}$unglq( n-1, n-1, n-1, a( 2, 2 ), lda, tau, work,lwork, iinfo )
                              
                 end if
              end if
           end if
           work( 1 ) = lwkopt
           return
     end subroutine stdlib_${ci}$ungbr

#:endif
#:endfor



     module pure subroutine stdlib_sorgbr( vect, m, n, k, a, lda, tau, work, lwork, info )
     !! SORGBR generates one of the real orthogonal matrices Q or P**T
     !! determined by SGEBRD when reducing a real matrix A to bidiagonal
     !! form: A = Q * B * P**T.  Q and P**T are defined as products of
     !! elementary reflectors H(i) or G(i) respectively.
     !! If VECT = 'Q', A is assumed to have been an M-by-K matrix, and Q
     !! is of order M:
     !! if m >= k, Q = H(1) H(2) . . . H(k) and SORGBR returns the first n
     !! columns of Q, where m >= n >= k;
     !! if m < k, Q = H(1) H(2) . . . H(m-1) and SORGBR returns Q as an
     !! M-by-M matrix.
     !! If VECT = 'P', A is assumed to have been a K-by-N matrix, and P**T
     !! is of order N:
     !! if k < n, P**T = G(k) . . . G(2) G(1) and SORGBR returns the first m
     !! rows of P**T, where n >= m >= k;
     !! if k >= n, P**T = G(n-1) . . . G(2) G(1) and SORGBR returns P**T as
     !! an N-by-N matrix.
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: vect
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: k, lda, lwork, m, n
           ! Array Arguments 
           real(sp), intent(inout) :: a(lda,*)
           real(sp), intent(in) :: tau(*)
           real(sp), intent(out) :: work(*)
        ! =====================================================================
           
           ! Local Scalars 
           logical(lk) :: lquery, wantq
           integer(ilp) :: i, iinfo, j, lwkopt, mn
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input arguments
           info = 0
           wantq = stdlib_lsame( vect, 'Q' )
           mn = min( m, n )
           lquery = ( lwork==-1 )
           if( .not.wantq .and. .not.stdlib_lsame( vect, 'P' ) ) then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( n<0 .or. ( wantq .and. ( n>m .or. n<min( m,k ) ) ) .or. ( .not.wantq .and. ( &
                     m>n .or. m<min( n, k ) ) ) ) then
              info = -3
           else if( k<0 ) then
              info = -4
           else if( lda<max( 1, m ) ) then
              info = -6
           else if( lwork<max( 1, mn ) .and. .not.lquery ) then
              info = -9
           end if
           if( info==0 ) then
              work( 1 ) = 1
              if( wantq ) then
                 if( m>=k ) then
                    call stdlib_sorgqr( m, n, k, a, lda, tau, work, -1, iinfo )
                 else
                    if( m>1 ) then
                       call stdlib_sorgqr( m-1, m-1, m-1, a, lda, tau, work, -1,iinfo )
                    end if
                 end if
              else
                 if( k<n ) then
                    call stdlib_sorglq( m, n, k, a, lda, tau, work, -1, iinfo )
                 else
                    if( n>1 ) then
                       call stdlib_sorglq( n-1, n-1, n-1, a, lda, tau, work, -1,iinfo )
                    end if
                 end if
              end if
              lwkopt = work( 1 )
              lwkopt = max (lwkopt, mn)
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'SORGBR', -info )
              return
           else if( lquery ) then
              work( 1 ) = lwkopt
              return
           end if
           ! quick return if possible
           if( m==0 .or. n==0 ) then
              work( 1 ) = 1
              return
           end if
           if( wantq ) then
              ! form q, determined by a call to stdlib_sgebrd to reduce an m-by-k
              ! matrix
              if( m>=k ) then
                 ! if m >= k, assume m >= n >= k
                 call stdlib_sorgqr( m, n, k, a, lda, tau, work, lwork, iinfo )
              else
                 ! if m < k, assume m = n
                 ! shift the vectors which define the elementary reflectors one
                 ! column to the right, and set the first row and column of q
                 ! to those of the unit matrix
                 do j = m, 2, -1
                    a( 1, j ) = zero
                    do i = j + 1, m
                       a( i, j ) = a( i, j-1 )
                    end do
                 end do
                 a( 1, 1 ) = one
                 do i = 2, m
                    a( i, 1 ) = zero
                 end do
                 if( m>1 ) then
                    ! form q(2:m,2:m)
                    call stdlib_sorgqr( m-1, m-1, m-1, a( 2, 2 ), lda, tau, work,lwork, iinfo )
                              
                 end if
              end if
           else
              ! form p**t, determined by a call to stdlib_sgebrd to reduce a k-by-n
              ! matrix
              if( k<n ) then
                 ! if k < n, assume k <= m <= n
                 call stdlib_sorglq( m, n, k, a, lda, tau, work, lwork, iinfo )
              else
                 ! if k >= n, assume m = n
                 ! shift the vectors which define the elementary reflectors one
                 ! row downward, and set the first row and column of p**t to
                 ! those of the unit matrix
                 a( 1, 1 ) = one
                 do i = 2, n
                    a( i, 1 ) = zero
                 end do
                 do j = 2, n
                    do i = j - 1, 2, -1
                       a( i, j ) = a( i-1, j )
                    end do
                    a( 1, j ) = zero
                 end do
                 if( n>1 ) then
                    ! form p**t(2:n,2:n)
                    call stdlib_sorglq( n-1, n-1, n-1, a( 2, 2 ), lda, tau, work,lwork, iinfo )
                              
                 end if
              end if
           end if
           work( 1 ) = lwkopt
           return
     end subroutine stdlib_sorgbr

     module pure subroutine stdlib_dorgbr( vect, m, n, k, a, lda, tau, work, lwork, info )
     !! DORGBR generates one of the real orthogonal matrices Q or P**T
     !! determined by DGEBRD when reducing a real matrix A to bidiagonal
     !! form: A = Q * B * P**T.  Q and P**T are defined as products of
     !! elementary reflectors H(i) or G(i) respectively.
     !! If VECT = 'Q', A is assumed to have been an M-by-K matrix, and Q
     !! is of order M:
     !! if m >= k, Q = H(1) H(2) . . . H(k) and DORGBR returns the first n
     !! columns of Q, where m >= n >= k;
     !! if m < k, Q = H(1) H(2) . . . H(m-1) and DORGBR returns Q as an
     !! M-by-M matrix.
     !! If VECT = 'P', A is assumed to have been a K-by-N matrix, and P**T
     !! is of order N:
     !! if k < n, P**T = G(k) . . . G(2) G(1) and DORGBR returns the first m
     !! rows of P**T, where n >= m >= k;
     !! if k >= n, P**T = G(n-1) . . . G(2) G(1) and DORGBR returns P**T as
     !! an N-by-N matrix.
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: vect
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: k, lda, lwork, m, n
           ! Array Arguments 
           real(dp), intent(inout) :: a(lda,*)
           real(dp), intent(in) :: tau(*)
           real(dp), intent(out) :: work(*)
        ! =====================================================================
           
           ! Local Scalars 
           logical(lk) :: lquery, wantq
           integer(ilp) :: i, iinfo, j, lwkopt, mn
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input arguments
           info = 0
           wantq = stdlib_lsame( vect, 'Q' )
           mn = min( m, n )
           lquery = ( lwork==-1 )
           if( .not.wantq .and. .not.stdlib_lsame( vect, 'P' ) ) then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( n<0 .or. ( wantq .and. ( n>m .or. n<min( m,k ) ) ) .or. ( .not.wantq .and. ( &
                     m>n .or. m<min( n, k ) ) ) ) then
              info = -3
           else if( k<0 ) then
              info = -4
           else if( lda<max( 1, m ) ) then
              info = -6
           else if( lwork<max( 1, mn ) .and. .not.lquery ) then
              info = -9
           end if
           if( info==0 ) then
              work( 1 ) = 1
              if( wantq ) then
                 if( m>=k ) then
                    call stdlib_dorgqr( m, n, k, a, lda, tau, work, -1, iinfo )
                 else
                    if( m>1 ) then
                       call stdlib_dorgqr( m-1, m-1, m-1, a, lda, tau, work, -1,iinfo )
                    end if
                 end if
              else
                 if( k<n ) then
                    call stdlib_dorglq( m, n, k, a, lda, tau, work, -1, iinfo )
                 else
                    if( n>1 ) then
                       call stdlib_dorglq( n-1, n-1, n-1, a, lda, tau, work, -1,iinfo )
                    end if
                 end if
              end if
              lwkopt = work( 1 )
              lwkopt = max (lwkopt, mn)
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'DORGBR', -info )
              return
           else if( lquery ) then
              work( 1 ) = lwkopt
              return
           end if
           ! quick return if possible
           if( m==0 .or. n==0 ) then
              work( 1 ) = 1
              return
           end if
           if( wantq ) then
              ! form q, determined by a call to stdlib_dgebrd to reduce an m-by-k
              ! matrix
              if( m>=k ) then
                 ! if m >= k, assume m >= n >= k
                 call stdlib_dorgqr( m, n, k, a, lda, tau, work, lwork, iinfo )
              else
                 ! if m < k, assume m = n
                 ! shift the vectors which define the elementary reflectors one
                 ! column to the right, and set the first row and column of q
                 ! to those of the unit matrix
                 do j = m, 2, -1
                    a( 1, j ) = zero
                    do i = j + 1, m
                       a( i, j ) = a( i, j-1 )
                    end do
                 end do
                 a( 1, 1 ) = one
                 do i = 2, m
                    a( i, 1 ) = zero
                 end do
                 if( m>1 ) then
                    ! form q(2:m,2:m)
                    call stdlib_dorgqr( m-1, m-1, m-1, a( 2, 2 ), lda, tau, work,lwork, iinfo )
                              
                 end if
              end if
           else
              ! form p**t, determined by a call to stdlib_dgebrd to reduce a k-by-n
              ! matrix
              if( k<n ) then
                 ! if k < n, assume k <= m <= n
                 call stdlib_dorglq( m, n, k, a, lda, tau, work, lwork, iinfo )
              else
                 ! if k >= n, assume m = n
                 ! shift the vectors which define the elementary reflectors one
                 ! row downward, and set the first row and column of p**t to
                 ! those of the unit matrix
                 a( 1, 1 ) = one
                 do i = 2, n
                    a( i, 1 ) = zero
                 end do
                 do j = 2, n
                    do i = j - 1, 2, -1
                       a( i, j ) = a( i-1, j )
                    end do
                    a( 1, j ) = zero
                 end do
                 if( n>1 ) then
                    ! form p**t(2:n,2:n)
                    call stdlib_dorglq( n-1, n-1, n-1, a( 2, 2 ), lda, tau, work,lwork, iinfo )
                              
                 end if
              end if
           end if
           work( 1 ) = lwkopt
           return
     end subroutine stdlib_dorgbr

#:for rk,rt,ri in REAL_KINDS_TYPES
#:if not rk in ["sp","dp"]
     module pure subroutine stdlib_${ri}$orgbr( vect, m, n, k, a, lda, tau, work, lwork, info )
     !! DORGBR: generates one of the real orthogonal matrices Q or P**T
     !! determined by DGEBRD when reducing a real matrix A to bidiagonal
     !! form: A = Q * B * P**T.  Q and P**T are defined as products of
     !! elementary reflectors H(i) or G(i) respectively.
     !! If VECT = 'Q', A is assumed to have been an M-by-K matrix, and Q
     !! is of order M:
     !! if m >= k, Q = H(1) H(2) . . . H(k) and DORGBR returns the first n
     !! columns of Q, where m >= n >= k;
     !! if m < k, Q = H(1) H(2) . . . H(m-1) and DORGBR returns Q as an
     !! M-by-M matrix.
     !! If VECT = 'P', A is assumed to have been a K-by-N matrix, and P**T
     !! is of order N:
     !! if k < n, P**T = G(k) . . . G(2) G(1) and DORGBR returns the first m
     !! rows of P**T, where n >= m >= k;
     !! if k >= n, P**T = G(n-1) . . . G(2) G(1) and DORGBR returns P**T as
     !! an N-by-N matrix.
        ! -- lapack computational routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${rk}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           character, intent(in) :: vect
           integer(ilp), intent(out) :: info
           integer(ilp), intent(in) :: k, lda, lwork, m, n
           ! Array Arguments 
           real(${rk}$), intent(inout) :: a(lda,*)
           real(${rk}$), intent(in) :: tau(*)
           real(${rk}$), intent(out) :: work(*)
        ! =====================================================================
           
           ! Local Scalars 
           logical(lk) :: lquery, wantq
           integer(ilp) :: i, iinfo, j, lwkopt, mn
           ! Intrinsic Functions 
           ! Executable Statements 
           ! test the input arguments
           info = 0
           wantq = stdlib_lsame( vect, 'Q' )
           mn = min( m, n )
           lquery = ( lwork==-1 )
           if( .not.wantq .and. .not.stdlib_lsame( vect, 'P' ) ) then
              info = -1
           else if( m<0 ) then
              info = -2
           else if( n<0 .or. ( wantq .and. ( n>m .or. n<min( m,k ) ) ) .or. ( .not.wantq .and. ( &
                     m>n .or. m<min( n, k ) ) ) ) then
              info = -3
           else if( k<0 ) then
              info = -4
           else if( lda<max( 1, m ) ) then
              info = -6
           else if( lwork<max( 1, mn ) .and. .not.lquery ) then
              info = -9
           end if
           if( info==0 ) then
              work( 1 ) = 1
              if( wantq ) then
                 if( m>=k ) then
                    call stdlib_${ri}$orgqr( m, n, k, a, lda, tau, work, -1, iinfo )
                 else
                    if( m>1 ) then
                       call stdlib_${ri}$orgqr( m-1, m-1, m-1, a, lda, tau, work, -1,iinfo )
                    end if
                 end if
              else
                 if( k<n ) then
                    call stdlib_${ri}$orglq( m, n, k, a, lda, tau, work, -1, iinfo )
                 else
                    if( n>1 ) then
                       call stdlib_${ri}$orglq( n-1, n-1, n-1, a, lda, tau, work, -1,iinfo )
                    end if
                 end if
              end if
              lwkopt = work( 1 )
              lwkopt = max (lwkopt, mn)
           end if
           if( info/=0 ) then
              call stdlib_xerbla( 'DORGBR', -info )
              return
           else if( lquery ) then
              work( 1 ) = lwkopt
              return
           end if
           ! quick return if possible
           if( m==0 .or. n==0 ) then
              work( 1 ) = 1
              return
           end if
           if( wantq ) then
              ! form q, determined by a call to stdlib_${ri}$gebrd to reduce an m-by-k
              ! matrix
              if( m>=k ) then
                 ! if m >= k, assume m >= n >= k
                 call stdlib_${ri}$orgqr( m, n, k, a, lda, tau, work, lwork, iinfo )
              else
                 ! if m < k, assume m = n
                 ! shift the vectors which define the elementary reflectors one
                 ! column to the right, and set the first row and column of q
                 ! to those of the unit matrix
                 do j = m, 2, -1
                    a( 1, j ) = zero
                    do i = j + 1, m
                       a( i, j ) = a( i, j-1 )
                    end do
                 end do
                 a( 1, 1 ) = one
                 do i = 2, m
                    a( i, 1 ) = zero
                 end do
                 if( m>1 ) then
                    ! form q(2:m,2:m)
                    call stdlib_${ri}$orgqr( m-1, m-1, m-1, a( 2, 2 ), lda, tau, work,lwork, iinfo )
                              
                 end if
              end if
           else
              ! form p**t, determined by a call to stdlib_${ri}$gebrd to reduce a k-by-n
              ! matrix
              if( k<n ) then
                 ! if k < n, assume k <= m <= n
                 call stdlib_${ri}$orglq( m, n, k, a, lda, tau, work, lwork, iinfo )
              else
                 ! if k >= n, assume m = n
                 ! shift the vectors which define the elementary reflectors one
                 ! row downward, and set the first row and column of p**t to
                 ! those of the unit matrix
                 a( 1, 1 ) = one
                 do i = 2, n
                    a( i, 1 ) = zero
                 end do
                 do j = 2, n
                    do i = j - 1, 2, -1
                       a( i, j ) = a( i-1, j )
                    end do
                    a( 1, j ) = zero
                 end do
                 if( n>1 ) then
                    ! form p**t(2:n,2:n)
                    call stdlib_${ri}$orglq( n-1, n-1, n-1, a( 2, 2 ), lda, tau, work,lwork, iinfo )
                              
                 end if
              end if
           end if
           work( 1 ) = lwkopt
           return
     end subroutine stdlib_${ri}$orgbr

#:endif
#:endfor



     module pure subroutine stdlib_slags2( upper, a1, a2, a3, b1, b2, b3, csu, snu, csv,snv, csq, snq )
     !! SLAGS2 computes 2-by-2 orthogonal matrices U, V and Q, such
     !! that if ( UPPER ) then
     !! U**T *A*Q = U**T *( A1 A2 )*Q = ( x  0  )
     !! ( 0  A3 )     ( x  x  )
     !! and
     !! V**T*B*Q = V**T *( B1 B2 )*Q = ( x  0  )
     !! ( 0  B3 )     ( x  x  )
     !! or if ( .NOT.UPPER ) then
     !! U**T *A*Q = U**T *( A1 0  )*Q = ( x  x  )
     !! ( A2 A3 )     ( 0  x  )
     !! and
     !! V**T*B*Q = V**T*( B1 0  )*Q = ( x  x  )
     !! ( B2 B3 )     ( 0  x  )
     !! The rows of the transformed A and B are parallel, where
     !! U = (  CSU  SNU ), V = (  CSV SNV ), Q = (  CSQ   SNQ )
     !! ( -SNU  CSU )      ( -SNV CSV )      ( -SNQ   CSQ )
     !! Z**T denotes the transpose of Z.
               
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           logical(lk), intent(in) :: upper
           real(sp), intent(in) :: a1, a2, a3, b1, b2, b3
           real(sp), intent(out) :: csq, csu, csv, snq, snu, snv
        ! =====================================================================
           
           ! Local Scalars 
           real(sp) :: a, aua11, aua12, aua21, aua22, avb11, avb12, avb21, avb22, csl, csr, d, s1,&
            s2, snl, snr, ua11r, ua22r, vb11r, vb22r, b, c, r, ua11, ua12, ua21, ua22, vb11, vb12,&
                       vb21, vb22
           ! Intrinsic Functions 
           ! Executable Statements 
           if( upper ) then
              ! input matrices a and b are upper triangular matrices
              ! form matrix c = a*adj(b) = ( a b )
                                         ! ( 0 d )
              a = a1*b3
              d = a3*b1
              b = a2*b1 - a1*b2
              ! the svd of real 2-by-2 triangular c
               ! ( csl -snl )*( a b )*(  csr  snr ) = ( r 0 )
               ! ( snl  csl ) ( 0 d ) ( -snr  csr )   ( 0 t )
              call stdlib_slasv2( a, b, d, s1, s2, snr, csr, snl, csl )
              if( abs( csl )>=abs( snl ) .or. abs( csr )>=abs( snr ) )then
                 ! compute the (1,1) and (1,2) elements of u**t *a and v**t *b,
                 ! and (1,2) element of |u|**t *|a| and |v|**t *|b|.
                 ua11r = csl*a1
                 ua12 = csl*a2 + snl*a3
                 vb11r = csr*b1
                 vb12 = csr*b2 + snr*b3
                 aua12 = abs( csl )*abs( a2 ) + abs( snl )*abs( a3 )
                 avb12 = abs( csr )*abs( b2 ) + abs( snr )*abs( b3 )
                 ! zero (1,2) elements of u**t *a and v**t *b
                 if( ( abs( ua11r )+abs( ua12 ) )/=zero ) then
                    if( aua12 / ( abs( ua11r )+abs( ua12 ) )<=avb12 /( abs( vb11r )+abs( vb12 ) ) &
                              ) then
                       call stdlib_slartg( -ua11r, ua12, csq, snq, r )
                    else
                       call stdlib_slartg( -vb11r, vb12, csq, snq, r )
                    end if
                 else
                    call stdlib_slartg( -vb11r, vb12, csq, snq, r )
                 end if
                 csu = csl
                 snu = -snl
                 csv = csr
                 snv = -snr
              else
                 ! compute the (2,1) and (2,2) elements of u**t *a and v**t *b,
                 ! and (2,2) element of |u|**t *|a| and |v|**t *|b|.
                 ua21 = -snl*a1
                 ua22 = -snl*a2 + csl*a3
                 vb21 = -snr*b1
                 vb22 = -snr*b2 + csr*b3
                 aua22 = abs( snl )*abs( a2 ) + abs( csl )*abs( a3 )
                 avb22 = abs( snr )*abs( b2 ) + abs( csr )*abs( b3 )
                 ! zero (2,2) elements of u**t*a and v**t*b, and then swap.
                 if( ( abs( ua21 )+abs( ua22 ) )/=zero ) then
                    if( aua22 / ( abs( ua21 )+abs( ua22 ) )<=avb22 /( abs( vb21 )+abs( vb22 ) ) ) &
                              then
                       call stdlib_slartg( -ua21, ua22, csq, snq, r )
                    else
                       call stdlib_slartg( -vb21, vb22, csq, snq, r )
                    end if
                 else
                    call stdlib_slartg( -vb21, vb22, csq, snq, r )
                 end if
                 csu = snl
                 snu = csl
                 csv = snr
                 snv = csr
              end if
           else
              ! input matrices a and b are lower triangular matrices
              ! form matrix c = a*adj(b) = ( a 0 )
                                         ! ( c d )
              a = a1*b3
              d = a3*b1
              c = a2*b3 - a3*b2
              ! the svd of real 2-by-2 triangular c
               ! ( csl -snl )*( a 0 )*(  csr  snr ) = ( r 0 )
               ! ( snl  csl ) ( c d ) ( -snr  csr )   ( 0 t )
              call stdlib_slasv2( a, c, d, s1, s2, snr, csr, snl, csl )
              if( abs( csr )>=abs( snr ) .or. abs( csl )>=abs( snl ) )then
                 ! compute the (2,1) and (2,2) elements of u**t *a and v**t *b,
                 ! and (2,1) element of |u|**t *|a| and |v|**t *|b|.
                 ua21 = -snr*a1 + csr*a2
                 ua22r = csr*a3
                 vb21 = -snl*b1 + csl*b2
                 vb22r = csl*b3
                 aua21 = abs( snr )*abs( a1 ) + abs( csr )*abs( a2 )
                 avb21 = abs( snl )*abs( b1 ) + abs( csl )*abs( b2 )
                 ! zero (2,1) elements of u**t *a and v**t *b.
                 if( ( abs( ua21 )+abs( ua22r ) )/=zero ) then
                    if( aua21 / ( abs( ua21 )+abs( ua22r ) )<=avb21 /( abs( vb21 )+abs( vb22r ) ) &
                              ) then
                       call stdlib_slartg( ua22r, ua21, csq, snq, r )
                    else
                       call stdlib_slartg( vb22r, vb21, csq, snq, r )
                    end if
                 else
                    call stdlib_slartg( vb22r, vb21, csq, snq, r )
                 end if
                 csu = csr
                 snu = -snr
                 csv = csl
                 snv = -snl
              else
                 ! compute the (1,1) and (1,2) elements of u**t *a and v**t *b,
                 ! and (1,1) element of |u|**t *|a| and |v|**t *|b|.
                 ua11 = csr*a1 + snr*a2
                 ua12 = snr*a3
                 vb11 = csl*b1 + snl*b2
                 vb12 = snl*b3
                 aua11 = abs( csr )*abs( a1 ) + abs( snr )*abs( a2 )
                 avb11 = abs( csl )*abs( b1 ) + abs( snl )*abs( b2 )
                 ! zero (1,1) elements of u**t*a and v**t*b, and then swap.
                 if( ( abs( ua11 )+abs( ua12 ) )/=zero ) then
                    if( aua11 / ( abs( ua11 )+abs( ua12 ) )<=avb11 /( abs( vb11 )+abs( vb12 ) ) ) &
                              then
                       call stdlib_slartg( ua12, ua11, csq, snq, r )
                    else
                       call stdlib_slartg( vb12, vb11, csq, snq, r )
                    end if
                 else
                    call stdlib_slartg( vb12, vb11, csq, snq, r )
                 end if
                 csu = snr
                 snu = csr
                 csv = snl
                 snv = csl
              end if
           end if
           return
     end subroutine stdlib_slags2

     module pure subroutine stdlib_dlags2( upper, a1, a2, a3, b1, b2, b3, csu, snu, csv,snv, csq, snq )
     !! DLAGS2 computes 2-by-2 orthogonal matrices U, V and Q, such
     !! that if ( UPPER ) then
     !! U**T *A*Q = U**T *( A1 A2 )*Q = ( x  0  )
     !! ( 0  A3 )     ( x  x  )
     !! and
     !! V**T*B*Q = V**T *( B1 B2 )*Q = ( x  0  )
     !! ( 0  B3 )     ( x  x  )
     !! or if ( .NOT.UPPER ) then
     !! U**T *A*Q = U**T *( A1 0  )*Q = ( x  x  )
     !! ( A2 A3 )     ( 0  x  )
     !! and
     !! V**T*B*Q = V**T*( B1 0  )*Q = ( x  x  )
     !! ( B2 B3 )     ( 0  x  )
     !! The rows of the transformed A and B are parallel, where
     !! U = (  CSU  SNU ), V = (  CSV SNV ), Q = (  CSQ   SNQ )
     !! ( -SNU  CSU )      ( -SNV CSV )      ( -SNQ   CSQ )
     !! Z**T denotes the transpose of Z.
               
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           logical(lk), intent(in) :: upper
           real(dp), intent(in) :: a1, a2, a3, b1, b2, b3
           real(dp), intent(out) :: csq, csu, csv, snq, snu, snv
        ! =====================================================================
           
           ! Local Scalars 
           real(dp) :: a, aua11, aua12, aua21, aua22, avb11, avb12, avb21, avb22, b, c, csl, csr, &
           d, r, s1, s2, snl, snr, ua11, ua11r, ua12, ua21, ua22, ua22r, vb11, vb11r, vb12, vb21, &
                     vb22, vb22r
           ! Intrinsic Functions 
           ! Executable Statements 
           if( upper ) then
              ! input matrices a and b are upper triangular matrices
              ! form matrix c = a*adj(b) = ( a b )
                                         ! ( 0 d )
              a = a1*b3
              d = a3*b1
              b = a2*b1 - a1*b2
              ! the svd of real 2-by-2 triangular c
               ! ( csl -snl )*( a b )*(  csr  snr ) = ( r 0 )
               ! ( snl  csl ) ( 0 d ) ( -snr  csr )   ( 0 t )
              call stdlib_dlasv2( a, b, d, s1, s2, snr, csr, snl, csl )
              if( abs( csl )>=abs( snl ) .or. abs( csr )>=abs( snr ) )then
                 ! compute the (1,1) and (1,2) elements of u**t *a and v**t *b,
                 ! and (1,2) element of |u|**t *|a| and |v|**t *|b|.
                 ua11r = csl*a1
                 ua12 = csl*a2 + snl*a3
                 vb11r = csr*b1
                 vb12 = csr*b2 + snr*b3
                 aua12 = abs( csl )*abs( a2 ) + abs( snl )*abs( a3 )
                 avb12 = abs( csr )*abs( b2 ) + abs( snr )*abs( b3 )
                 ! zero (1,2) elements of u**t *a and v**t *b
                 if( ( abs( ua11r )+abs( ua12 ) )/=zero ) then
                    if( aua12 / ( abs( ua11r )+abs( ua12 ) )<=avb12 /( abs( vb11r )+abs( vb12 ) ) &
                              ) then
                       call stdlib_dlartg( -ua11r, ua12, csq, snq, r )
                    else
                       call stdlib_dlartg( -vb11r, vb12, csq, snq, r )
                    end if
                 else
                    call stdlib_dlartg( -vb11r, vb12, csq, snq, r )
                 end if
                 csu = csl
                 snu = -snl
                 csv = csr
                 snv = -snr
              else
                 ! compute the (2,1) and (2,2) elements of u**t *a and v**t *b,
                 ! and (2,2) element of |u|**t *|a| and |v|**t *|b|.
                 ua21 = -snl*a1
                 ua22 = -snl*a2 + csl*a3
                 vb21 = -snr*b1
                 vb22 = -snr*b2 + csr*b3
                 aua22 = abs( snl )*abs( a2 ) + abs( csl )*abs( a3 )
                 avb22 = abs( snr )*abs( b2 ) + abs( csr )*abs( b3 )
                 ! zero (2,2) elements of u**t*a and v**t*b, and then swap.
                 if( ( abs( ua21 )+abs( ua22 ) )/=zero ) then
                    if( aua22 / ( abs( ua21 )+abs( ua22 ) )<=avb22 /( abs( vb21 )+abs( vb22 ) ) ) &
                              then
                       call stdlib_dlartg( -ua21, ua22, csq, snq, r )
                    else
                       call stdlib_dlartg( -vb21, vb22, csq, snq, r )
                    end if
                 else
                    call stdlib_dlartg( -vb21, vb22, csq, snq, r )
                 end if
                 csu = snl
                 snu = csl
                 csv = snr
                 snv = csr
              end if
           else
              ! input matrices a and b are lower triangular matrices
              ! form matrix c = a*adj(b) = ( a 0 )
                                         ! ( c d )
              a = a1*b3
              d = a3*b1
              c = a2*b3 - a3*b2
              ! the svd of real 2-by-2 triangular c
               ! ( csl -snl )*( a 0 )*(  csr  snr ) = ( r 0 )
               ! ( snl  csl ) ( c d ) ( -snr  csr )   ( 0 t )
              call stdlib_dlasv2( a, c, d, s1, s2, snr, csr, snl, csl )
              if( abs( csr )>=abs( snr ) .or. abs( csl )>=abs( snl ) )then
                 ! compute the (2,1) and (2,2) elements of u**t *a and v**t *b,
                 ! and (2,1) element of |u|**t *|a| and |v|**t *|b|.
                 ua21 = -snr*a1 + csr*a2
                 ua22r = csr*a3
                 vb21 = -snl*b1 + csl*b2
                 vb22r = csl*b3
                 aua21 = abs( snr )*abs( a1 ) + abs( csr )*abs( a2 )
                 avb21 = abs( snl )*abs( b1 ) + abs( csl )*abs( b2 )
                 ! zero (2,1) elements of u**t *a and v**t *b.
                 if( ( abs( ua21 )+abs( ua22r ) )/=zero ) then
                    if( aua21 / ( abs( ua21 )+abs( ua22r ) )<=avb21 /( abs( vb21 )+abs( vb22r ) ) &
                              ) then
                       call stdlib_dlartg( ua22r, ua21, csq, snq, r )
                    else
                       call stdlib_dlartg( vb22r, vb21, csq, snq, r )
                    end if
                 else
                    call stdlib_dlartg( vb22r, vb21, csq, snq, r )
                 end if
                 csu = csr
                 snu = -snr
                 csv = csl
                 snv = -snl
              else
                 ! compute the (1,1) and (1,2) elements of u**t *a and v**t *b,
                 ! and (1,1) element of |u|**t *|a| and |v|**t *|b|.
                 ua11 = csr*a1 + snr*a2
                 ua12 = snr*a3
                 vb11 = csl*b1 + snl*b2
                 vb12 = snl*b3
                 aua11 = abs( csr )*abs( a1 ) + abs( snr )*abs( a2 )
                 avb11 = abs( csl )*abs( b1 ) + abs( snl )*abs( b2 )
                 ! zero (1,1) elements of u**t*a and v**t*b, and then swap.
                 if( ( abs( ua11 )+abs( ua12 ) )/=zero ) then
                    if( aua11 / ( abs( ua11 )+abs( ua12 ) )<=avb11 /( abs( vb11 )+abs( vb12 ) ) ) &
                              then
                       call stdlib_dlartg( ua12, ua11, csq, snq, r )
                    else
                       call stdlib_dlartg( vb12, vb11, csq, snq, r )
                    end if
                 else
                    call stdlib_dlartg( vb12, vb11, csq, snq, r )
                 end if
                 csu = snr
                 snu = csr
                 csv = snl
                 snv = csl
              end if
           end if
           return
     end subroutine stdlib_dlags2

#:for rk,rt,ri in REAL_KINDS_TYPES
#:if not rk in ["sp","dp"]
     module pure subroutine stdlib_${ri}$lags2( upper, a1, a2, a3, b1, b2, b3, csu, snu, csv,snv, csq, snq )
     !! DLAGS2: computes 2-by-2 orthogonal matrices U, V and Q, such
     !! that if ( UPPER ) then
     !! U**T *A*Q = U**T *( A1 A2 )*Q = ( x  0  )
     !! ( 0  A3 )     ( x  x  )
     !! and
     !! V**T*B*Q = V**T *( B1 B2 )*Q = ( x  0  )
     !! ( 0  B3 )     ( x  x  )
     !! or if ( .NOT.UPPER ) then
     !! U**T *A*Q = U**T *( A1 0  )*Q = ( x  x  )
     !! ( A2 A3 )     ( 0  x  )
     !! and
     !! V**T*B*Q = V**T*( B1 0  )*Q = ( x  x  )
     !! ( B2 B3 )     ( 0  x  )
     !! The rows of the transformed A and B are parallel, where
     !! U = (  CSU  SNU ), V = (  CSV SNV ), Q = (  CSQ   SNQ )
     !! ( -SNU  CSU )      ( -SNV CSV )      ( -SNQ   CSQ )
     !! Z**T denotes the transpose of Z.
               
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${rk}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           logical(lk), intent(in) :: upper
           real(${rk}$), intent(in) :: a1, a2, a3, b1, b2, b3
           real(${rk}$), intent(out) :: csq, csu, csv, snq, snu, snv
        ! =====================================================================
           
           ! Local Scalars 
           real(${rk}$) :: a, aua11, aua12, aua21, aua22, avb11, avb12, avb21, avb22, b, c, csl, csr, &
           d, r, s1, s2, snl, snr, ua11, ua11r, ua12, ua21, ua22, ua22r, vb11, vb11r, vb12, vb21, &
                     vb22, vb22r
           ! Intrinsic Functions 
           ! Executable Statements 
           if( upper ) then
              ! input matrices a and b are upper triangular matrices
              ! form matrix c = a*adj(b) = ( a b )
                                         ! ( 0 d )
              a = a1*b3
              d = a3*b1
              b = a2*b1 - a1*b2
              ! the svd of real 2-by-2 triangular c
               ! ( csl -snl )*( a b )*(  csr  snr ) = ( r 0 )
               ! ( snl  csl ) ( 0 d ) ( -snr  csr )   ( 0 t )
              call stdlib_${ri}$lasv2( a, b, d, s1, s2, snr, csr, snl, csl )
              if( abs( csl )>=abs( snl ) .or. abs( csr )>=abs( snr ) )then
                 ! compute the (1,1) and (1,2) elements of u**t *a and v**t *b,
                 ! and (1,2) element of |u|**t *|a| and |v|**t *|b|.
                 ua11r = csl*a1
                 ua12 = csl*a2 + snl*a3
                 vb11r = csr*b1
                 vb12 = csr*b2 + snr*b3
                 aua12 = abs( csl )*abs( a2 ) + abs( snl )*abs( a3 )
                 avb12 = abs( csr )*abs( b2 ) + abs( snr )*abs( b3 )
                 ! zero (1,2) elements of u**t *a and v**t *b
                 if( ( abs( ua11r )+abs( ua12 ) )/=zero ) then
                    if( aua12 / ( abs( ua11r )+abs( ua12 ) )<=avb12 /( abs( vb11r )+abs( vb12 ) ) &
                              ) then
                       call stdlib_${ri}$lartg( -ua11r, ua12, csq, snq, r )
                    else
                       call stdlib_${ri}$lartg( -vb11r, vb12, csq, snq, r )
                    end if
                 else
                    call stdlib_${ri}$lartg( -vb11r, vb12, csq, snq, r )
                 end if
                 csu = csl
                 snu = -snl
                 csv = csr
                 snv = -snr
              else
                 ! compute the (2,1) and (2,2) elements of u**t *a and v**t *b,
                 ! and (2,2) element of |u|**t *|a| and |v|**t *|b|.
                 ua21 = -snl*a1
                 ua22 = -snl*a2 + csl*a3
                 vb21 = -snr*b1
                 vb22 = -snr*b2 + csr*b3
                 aua22 = abs( snl )*abs( a2 ) + abs( csl )*abs( a3 )
                 avb22 = abs( snr )*abs( b2 ) + abs( csr )*abs( b3 )
                 ! zero (2,2) elements of u**t*a and v**t*b, and then swap.
                 if( ( abs( ua21 )+abs( ua22 ) )/=zero ) then
                    if( aua22 / ( abs( ua21 )+abs( ua22 ) )<=avb22 /( abs( vb21 )+abs( vb22 ) ) ) &
                              then
                       call stdlib_${ri}$lartg( -ua21, ua22, csq, snq, r )
                    else
                       call stdlib_${ri}$lartg( -vb21, vb22, csq, snq, r )
                    end if
                 else
                    call stdlib_${ri}$lartg( -vb21, vb22, csq, snq, r )
                 end if
                 csu = snl
                 snu = csl
                 csv = snr
                 snv = csr
              end if
           else
              ! input matrices a and b are lower triangular matrices
              ! form matrix c = a*adj(b) = ( a 0 )
                                         ! ( c d )
              a = a1*b3
              d = a3*b1
              c = a2*b3 - a3*b2
              ! the svd of real 2-by-2 triangular c
               ! ( csl -snl )*( a 0 )*(  csr  snr ) = ( r 0 )
               ! ( snl  csl ) ( c d ) ( -snr  csr )   ( 0 t )
              call stdlib_${ri}$lasv2( a, c, d, s1, s2, snr, csr, snl, csl )
              if( abs( csr )>=abs( snr ) .or. abs( csl )>=abs( snl ) )then
                 ! compute the (2,1) and (2,2) elements of u**t *a and v**t *b,
                 ! and (2,1) element of |u|**t *|a| and |v|**t *|b|.
                 ua21 = -snr*a1 + csr*a2
                 ua22r = csr*a3
                 vb21 = -snl*b1 + csl*b2
                 vb22r = csl*b3
                 aua21 = abs( snr )*abs( a1 ) + abs( csr )*abs( a2 )
                 avb21 = abs( snl )*abs( b1 ) + abs( csl )*abs( b2 )
                 ! zero (2,1) elements of u**t *a and v**t *b.
                 if( ( abs( ua21 )+abs( ua22r ) )/=zero ) then
                    if( aua21 / ( abs( ua21 )+abs( ua22r ) )<=avb21 /( abs( vb21 )+abs( vb22r ) ) &
                              ) then
                       call stdlib_${ri}$lartg( ua22r, ua21, csq, snq, r )
                    else
                       call stdlib_${ri}$lartg( vb22r, vb21, csq, snq, r )
                    end if
                 else
                    call stdlib_${ri}$lartg( vb22r, vb21, csq, snq, r )
                 end if
                 csu = csr
                 snu = -snr
                 csv = csl
                 snv = -snl
              else
                 ! compute the (1,1) and (1,2) elements of u**t *a and v**t *b,
                 ! and (1,1) element of |u|**t *|a| and |v|**t *|b|.
                 ua11 = csr*a1 + snr*a2
                 ua12 = snr*a3
                 vb11 = csl*b1 + snl*b2
                 vb12 = snl*b3
                 aua11 = abs( csr )*abs( a1 ) + abs( snr )*abs( a2 )
                 avb11 = abs( csl )*abs( b1 ) + abs( snl )*abs( b2 )
                 ! zero (1,1) elements of u**t*a and v**t*b, and then swap.
                 if( ( abs( ua11 )+abs( ua12 ) )/=zero ) then
                    if( aua11 / ( abs( ua11 )+abs( ua12 ) )<=avb11 /( abs( vb11 )+abs( vb12 ) ) ) &
                              then
                       call stdlib_${ri}$lartg( ua12, ua11, csq, snq, r )
                    else
                       call stdlib_${ri}$lartg( vb12, vb11, csq, snq, r )
                    end if
                 else
                    call stdlib_${ri}$lartg( vb12, vb11, csq, snq, r )
                 end if
                 csu = snr
                 snu = csr
                 csv = snl
                 snv = csl
              end if
           end if
           return
     end subroutine stdlib_${ri}$lags2

#:endif
#:endfor

     module pure subroutine stdlib_clags2( upper, a1, a2, a3, b1, b2, b3, csu, snu, csv,snv, csq, snq )
     !! CLAGS2 computes 2-by-2 unitary matrices U, V and Q, such
     !! that if ( UPPER ) then
     !! U**H *A*Q = U**H *( A1 A2 )*Q = ( x  0  )
     !! ( 0  A3 )     ( x  x  )
     !! and
     !! V**H*B*Q = V**H *( B1 B2 )*Q = ( x  0  )
     !! ( 0  B3 )     ( x  x  )
     !! or if ( .NOT.UPPER ) then
     !! U**H *A*Q = U**H *( A1 0  )*Q = ( x  x  )
     !! ( A2 A3 )     ( 0  x  )
     !! and
     !! V**H *B*Q = V**H *( B1 0  )*Q = ( x  x  )
     !! ( B2 B3 )     ( 0  x  )
     !! where
     !! U = (   CSU    SNU ), V = (  CSV    SNV ),
     !! ( -SNU**H  CSU )      ( -SNV**H CSV )
     !! Q = (   CSQ    SNQ )
     !! ( -SNQ**H  CSQ )
     !! The rows of the transformed A and B are parallel. Moreover, if the
     !! input 2-by-2 matrix A is not zero, then the transformed (1,1) entry
     !! of A is not zero. If the input matrices A and B are both not zero,
     !! then the transformed (2,2) element of B is not zero, except when the
     !! first rows of input A and B are parallel and the second rows are
     !! zero.
               
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_sp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           logical(lk), intent(in) :: upper
           real(sp), intent(in) :: a1, a3, b1, b3
           real(sp), intent(out) :: csq, csu, csv
           complex(sp), intent(in) :: a2, b2
           complex(sp), intent(out) :: snq, snu, snv
        ! =====================================================================
           
           ! Local Scalars 
           real(sp) :: a, aua11, aua12, aua21, aua22, avb11, avb12, avb21, avb22, csl, csr, d, fb,&
                      fc, s1, s2, snl, snr, ua11r, ua22r, vb11r, vb22r
           complex(sp) :: b, c, d1, r, t, ua11, ua12, ua21, ua22, vb11, vb12, vb21, vb22
           ! Intrinsic Functions 
           ! Statement Functions 
           real(sp) :: abs1
           ! Statement Function Definitions 
           abs1( t ) = abs( real( t,KIND=sp) ) + abs( aimag( t ) )
           ! Executable Statements 
           if( upper ) then
              ! input matrices a and b are upper triangular matrices
              ! form matrix c = a*adj(b) = ( a b )
                                         ! ( 0 d )
              a = a1*b3
              d = a3*b1
              b = a2*b1 - a1*b2
              fb = abs( b )
              ! transform complex 2-by-2 matrix c to real matrix by unitary
              ! diagonal matrix diag(1,d1).
              d1 = one
              if( fb/=zero )d1 = b / fb
              ! the svd of real 2 by 2 triangular c
               ! ( csl -snl )*( a b )*(  csr  snr ) = ( r 0 )
               ! ( snl  csl ) ( 0 d ) ( -snr  csr )   ( 0 t )
              call stdlib_slasv2( a, fb, d, s1, s2, snr, csr, snl, csl )
              if( abs( csl )>=abs( snl ) .or. abs( csr )>=abs( snr ) )then
                 ! compute the (1,1) and (1,2) elements of u**h *a and v**h *b,
                 ! and (1,2) element of |u|**h *|a| and |v|**h *|b|.
                 ua11r = csl*a1
                 ua12 = csl*a2 + d1*snl*a3
                 vb11r = csr*b1
                 vb12 = csr*b2 + d1*snr*b3
                 aua12 = abs( csl )*abs1( a2 ) + abs( snl )*abs( a3 )
                 avb12 = abs( csr )*abs1( b2 ) + abs( snr )*abs( b3 )
                 ! zero (1,2) elements of u**h *a and v**h *b
                 if( ( abs( ua11r )+abs1( ua12 ) )==zero ) then
                    call stdlib_clartg( -cmplx( vb11r,KIND=sp), conjg( vb12 ), csq, snq,r )
                              
                 else if( ( abs( vb11r )+abs1( vb12 ) )==zero ) then
                    call stdlib_clartg( -cmplx( ua11r,KIND=sp), conjg( ua12 ), csq, snq,r )
                              
                 else if( aua12 / ( abs( ua11r )+abs1( ua12 ) )<=avb12 /( abs( vb11r )+abs1( vb12 &
                           ) ) ) then
                    call stdlib_clartg( -cmplx( ua11r,KIND=sp), conjg( ua12 ), csq, snq,r )
                              
                 else
                    call stdlib_clartg( -cmplx( vb11r,KIND=sp), conjg( vb12 ), csq, snq,r )
                              
                 end if
                 csu = csl
                 snu = -d1*snl
                 csv = csr
                 snv = -d1*snr
              else
                 ! compute the (2,1) and (2,2) elements of u**h *a and v**h *b,
                 ! and (2,2) element of |u|**h *|a| and |v|**h *|b|.
                 ua21 = -conjg( d1 )*snl*a1
                 ua22 = -conjg( d1 )*snl*a2 + csl*a3
                 vb21 = -conjg( d1 )*snr*b1
                 vb22 = -conjg( d1 )*snr*b2 + csr*b3
                 aua22 = abs( snl )*abs1( a2 ) + abs( csl )*abs( a3 )
                 avb22 = abs( snr )*abs1( b2 ) + abs( csr )*abs( b3 )
                 ! zero (2,2) elements of u**h *a and v**h *b, and then swap.
                 if( ( abs1( ua21 )+abs1( ua22 ) )==zero ) then
                    call stdlib_clartg( -conjg( vb21 ), conjg( vb22 ), csq, snq, r )
                 else if( ( abs1( vb21 )+abs( vb22 ) )==zero ) then
                    call stdlib_clartg( -conjg( ua21 ), conjg( ua22 ), csq, snq, r )
                 else if( aua22 / ( abs1( ua21 )+abs1( ua22 ) )<=avb22 /( abs1( vb21 )+abs1( vb22 &
                           ) ) ) then
                    call stdlib_clartg( -conjg( ua21 ), conjg( ua22 ), csq, snq, r )
                 else
                    call stdlib_clartg( -conjg( vb21 ), conjg( vb22 ), csq, snq, r )
                 end if
                 csu = snl
                 snu = d1*csl
                 csv = snr
                 snv = d1*csr
              end if
           else
              ! input matrices a and b are lower triangular matrices
              ! form matrix c = a*adj(b) = ( a 0 )
                                         ! ( c d )
              a = a1*b3
              d = a3*b1
              c = a2*b3 - a3*b2
              fc = abs( c )
              ! transform complex 2-by-2 matrix c to real matrix by unitary
              ! diagonal matrix diag(d1,1).
              d1 = one
              if( fc/=zero )d1 = c / fc
              ! the svd of real 2 by 2 triangular c
               ! ( csl -snl )*( a 0 )*(  csr  snr ) = ( r 0 )
               ! ( snl  csl ) ( c d ) ( -snr  csr )   ( 0 t )
              call stdlib_slasv2( a, fc, d, s1, s2, snr, csr, snl, csl )
              if( abs( csr )>=abs( snr ) .or. abs( csl )>=abs( snl ) )then
                 ! compute the (2,1) and (2,2) elements of u**h *a and v**h *b,
                 ! and (2,1) element of |u|**h *|a| and |v|**h *|b|.
                 ua21 = -d1*snr*a1 + csr*a2
                 ua22r = csr*a3
                 vb21 = -d1*snl*b1 + csl*b2
                 vb22r = csl*b3
                 aua21 = abs( snr )*abs( a1 ) + abs( csr )*abs1( a2 )
                 avb21 = abs( snl )*abs( b1 ) + abs( csl )*abs1( b2 )
                 ! zero (2,1) elements of u**h *a and v**h *b.
                 if( ( abs1( ua21 )+abs( ua22r ) )==zero ) then
                    call stdlib_clartg( cmplx( vb22r,KIND=sp), vb21, csq, snq, r )
                 else if( ( abs1( vb21 )+abs( vb22r ) )==zero ) then
                    call stdlib_clartg( cmplx( ua22r,KIND=sp), ua21, csq, snq, r )
                 else if( aua21 / ( abs1( ua21 )+abs( ua22r ) )<=avb21 /( abs1( vb21 )+abs( vb22r &
                           ) ) ) then
                    call stdlib_clartg( cmplx( ua22r,KIND=sp), ua21, csq, snq, r )
                 else
                    call stdlib_clartg( cmplx( vb22r,KIND=sp), vb21, csq, snq, r )
                 end if
                 csu = csr
                 snu = -conjg( d1 )*snr
                 csv = csl
                 snv = -conjg( d1 )*snl
              else
                 ! compute the (1,1) and (1,2) elements of u**h *a and v**h *b,
                 ! and (1,1) element of |u|**h *|a| and |v|**h *|b|.
                 ua11 = csr*a1 + conjg( d1 )*snr*a2
                 ua12 = conjg( d1 )*snr*a3
                 vb11 = csl*b1 + conjg( d1 )*snl*b2
                 vb12 = conjg( d1 )*snl*b3
                 aua11 = abs( csr )*abs( a1 ) + abs( snr )*abs1( a2 )
                 avb11 = abs( csl )*abs( b1 ) + abs( snl )*abs1( b2 )
                 ! zero (1,1) elements of u**h *a and v**h *b, and then swap.
                 if( ( abs1( ua11 )+abs1( ua12 ) )==zero ) then
                    call stdlib_clartg( vb12, vb11, csq, snq, r )
                 else if( ( abs1( vb11 )+abs1( vb12 ) )==zero ) then
                    call stdlib_clartg( ua12, ua11, csq, snq, r )
                 else if( aua11 / ( abs1( ua11 )+abs1( ua12 ) )<=avb11 /( abs1( vb11 )+abs1( vb12 &
                           ) ) ) then
                    call stdlib_clartg( ua12, ua11, csq, snq, r )
                 else
                    call stdlib_clartg( vb12, vb11, csq, snq, r )
                 end if
                 csu = snr
                 snu = conjg( d1 )*csr
                 csv = snl
                 snv = conjg( d1 )*csl
              end if
           end if
           return
     end subroutine stdlib_clags2

     module pure subroutine stdlib_zlags2( upper, a1, a2, a3, b1, b2, b3, csu, snu, csv,snv, csq, snq )
     !! ZLAGS2 computes 2-by-2 unitary matrices U, V and Q, such
     !! that if ( UPPER ) then
     !! U**H *A*Q = U**H *( A1 A2 )*Q = ( x  0  )
     !! ( 0  A3 )     ( x  x  )
     !! and
     !! V**H*B*Q = V**H *( B1 B2 )*Q = ( x  0  )
     !! ( 0  B3 )     ( x  x  )
     !! or if ( .NOT.UPPER ) then
     !! U**H *A*Q = U**H *( A1 0  )*Q = ( x  x  )
     !! ( A2 A3 )     ( 0  x  )
     !! and
     !! V**H *B*Q = V**H *( B1 0  )*Q = ( x  x  )
     !! ( B2 B3 )     ( 0  x  )
     !! where
     !! U = (   CSU    SNU ), V = (  CSV    SNV ),
     !! ( -SNU**H  CSU )      ( -SNV**H CSV )
     !! Q = (   CSQ    SNQ )
     !! ( -SNQ**H  CSQ )
     !! The rows of the transformed A and B are parallel. Moreover, if the
     !! input 2-by-2 matrix A is not zero, then the transformed (1,1) entry
     !! of A is not zero. If the input matrices A and B are both not zero,
     !! then the transformed (2,2) element of B is not zero, except when the
     !! first rows of input A and B are parallel and the second rows are
     !! zero.
               
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_dp, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           logical(lk), intent(in) :: upper
           real(dp), intent(in) :: a1, a3, b1, b3
           real(dp), intent(out) :: csq, csu, csv
           complex(dp), intent(in) :: a2, b2
           complex(dp), intent(out) :: snq, snu, snv
        ! =====================================================================
           
           ! Local Scalars 
           real(dp) :: a, aua11, aua12, aua21, aua22, avb12, avb11, avb21, avb22, csl, csr, d, fb,&
                      fc, s1, s2, snl, snr, ua11r, ua22r, vb11r, vb22r
           complex(dp) :: b, c, d1, r, t, ua11, ua12, ua21, ua22, vb11, vb12, vb21, vb22
           ! Intrinsic Functions 
           ! Statement Functions 
           real(dp) :: abs1
           ! Statement Function Definitions 
           abs1( t ) = abs( real( t,KIND=dp) ) + abs( aimag( t ) )
           ! Executable Statements 
           if( upper ) then
              ! input matrices a and b are upper triangular matrices
              ! form matrix c = a*adj(b) = ( a b )
                                         ! ( 0 d )
              a = a1*b3
              d = a3*b1
              b = a2*b1 - a1*b2
              fb = abs( b )
              ! transform complex 2-by-2 matrix c to real matrix by unitary
              ! diagonal matrix diag(1,d1).
              d1 = one
              if( fb/=zero )d1 = b / fb
              ! the svd of real 2 by 2 triangular c
               ! ( csl -snl )*( a b )*(  csr  snr ) = ( r 0 )
               ! ( snl  csl ) ( 0 d ) ( -snr  csr )   ( 0 t )
              call stdlib_dlasv2( a, fb, d, s1, s2, snr, csr, snl, csl )
              if( abs( csl )>=abs( snl ) .or. abs( csr )>=abs( snr ) )then
                 ! compute the (1,1) and (1,2) elements of u**h *a and v**h *b,
                 ! and (1,2) element of |u|**h *|a| and |v|**h *|b|.
                 ua11r = csl*a1
                 ua12 = csl*a2 + d1*snl*a3
                 vb11r = csr*b1
                 vb12 = csr*b2 + d1*snr*b3
                 aua12 = abs( csl )*abs1( a2 ) + abs( snl )*abs( a3 )
                 avb12 = abs( csr )*abs1( b2 ) + abs( snr )*abs( b3 )
                 ! zero (1,2) elements of u**h *a and v**h *b
                 if( ( abs( ua11r )+abs1( ua12 ) )==zero ) then
                    call stdlib_zlartg( -cmplx( vb11r,KIND=dp), conjg( vb12 ), csq, snq,r )
                              
                 else if( ( abs( vb11r )+abs1( vb12 ) )==zero ) then
                    call stdlib_zlartg( -cmplx( ua11r,KIND=dp), conjg( ua12 ), csq, snq,r )
                              
                 else if( aua12 / ( abs( ua11r )+abs1( ua12 ) )<=avb12 /( abs( vb11r )+abs1( vb12 &
                           ) ) ) then
                    call stdlib_zlartg( -cmplx( ua11r,KIND=dp), conjg( ua12 ), csq, snq,r )
                              
                 else
                    call stdlib_zlartg( -cmplx( vb11r,KIND=dp), conjg( vb12 ), csq, snq,r )
                              
                 end if
                 csu = csl
                 snu = -d1*snl
                 csv = csr
                 snv = -d1*snr
              else
                 ! compute the (2,1) and (2,2) elements of u**h *a and v**h *b,
                 ! and (2,2) element of |u|**h *|a| and |v|**h *|b|.
                 ua21 = -conjg( d1 )*snl*a1
                 ua22 = -conjg( d1 )*snl*a2 + csl*a3
                 vb21 = -conjg( d1 )*snr*b1
                 vb22 = -conjg( d1 )*snr*b2 + csr*b3
                 aua22 = abs( snl )*abs1( a2 ) + abs( csl )*abs( a3 )
                 avb22 = abs( snr )*abs1( b2 ) + abs( csr )*abs( b3 )
                 ! zero (2,2) elements of u**h *a and v**h *b, and then swap.
                 if( ( abs1( ua21 )+abs1( ua22 ) )==zero ) then
                    call stdlib_zlartg( -conjg( vb21 ), conjg( vb22 ), csq, snq,r )
                 else if( ( abs1( vb21 )+abs( vb22 ) )==zero ) then
                    call stdlib_zlartg( -conjg( ua21 ), conjg( ua22 ), csq, snq,r )
                 else if( aua22 / ( abs1( ua21 )+abs1( ua22 ) )<=avb22 /( abs1( vb21 )+abs1( vb22 &
                           ) ) ) then
                    call stdlib_zlartg( -conjg( ua21 ), conjg( ua22 ), csq, snq,r )
                 else
                    call stdlib_zlartg( -conjg( vb21 ), conjg( vb22 ), csq, snq,r )
                 end if
                 csu = snl
                 snu = d1*csl
                 csv = snr
                 snv = d1*csr
              end if
           else
              ! input matrices a and b are lower triangular matrices
              ! form matrix c = a*adj(b) = ( a 0 )
                                         ! ( c d )
              a = a1*b3
              d = a3*b1
              c = a2*b3 - a3*b2
              fc = abs( c )
              ! transform complex 2-by-2 matrix c to real matrix by unitary
              ! diagonal matrix diag(d1,1).
              d1 = one
              if( fc/=zero )d1 = c / fc
              ! the svd of real 2 by 2 triangular c
               ! ( csl -snl )*( a 0 )*(  csr  snr ) = ( r 0 )
               ! ( snl  csl ) ( c d ) ( -snr  csr )   ( 0 t )
              call stdlib_dlasv2( a, fc, d, s1, s2, snr, csr, snl, csl )
              if( abs( csr )>=abs( snr ) .or. abs( csl )>=abs( snl ) )then
                 ! compute the (2,1) and (2,2) elements of u**h *a and v**h *b,
                 ! and (2,1) element of |u|**h *|a| and |v|**h *|b|.
                 ua21 = -d1*snr*a1 + csr*a2
                 ua22r = csr*a3
                 vb21 = -d1*snl*b1 + csl*b2
                 vb22r = csl*b3
                 aua21 = abs( snr )*abs( a1 ) + abs( csr )*abs1( a2 )
                 avb21 = abs( snl )*abs( b1 ) + abs( csl )*abs1( b2 )
                 ! zero (2,1) elements of u**h *a and v**h *b.
                 if( ( abs1( ua21 )+abs( ua22r ) )==zero ) then
                    call stdlib_zlartg( cmplx( vb22r,KIND=dp), vb21, csq, snq, r )
                 else if( ( abs1( vb21 )+abs( vb22r ) )==zero ) then
                    call stdlib_zlartg( cmplx( ua22r,KIND=dp), ua21, csq, snq, r )
                 else if( aua21 / ( abs1( ua21 )+abs( ua22r ) )<=avb21 /( abs1( vb21 )+abs( vb22r &
                           ) ) ) then
                    call stdlib_zlartg( cmplx( ua22r,KIND=dp), ua21, csq, snq, r )
                 else
                    call stdlib_zlartg( cmplx( vb22r,KIND=dp), vb21, csq, snq, r )
                 end if
                 csu = csr
                 snu = -conjg( d1 )*snr
                 csv = csl
                 snv = -conjg( d1 )*snl
              else
                 ! compute the (1,1) and (1,2) elements of u**h *a and v**h *b,
                 ! and (1,1) element of |u|**h *|a| and |v|**h *|b|.
                 ua11 = csr*a1 + conjg( d1 )*snr*a2
                 ua12 = conjg( d1 )*snr*a3
                 vb11 = csl*b1 + conjg( d1 )*snl*b2
                 vb12 = conjg( d1 )*snl*b3
                 aua11 = abs( csr )*abs( a1 ) + abs( snr )*abs1( a2 )
                 avb11 = abs( csl )*abs( b1 ) + abs( snl )*abs1( b2 )
                 ! zero (1,1) elements of u**h *a and v**h *b, and then swap.
                 if( ( abs1( ua11 )+abs1( ua12 ) )==zero ) then
                    call stdlib_zlartg( vb12, vb11, csq, snq, r )
                 else if( ( abs1( vb11 )+abs1( vb12 ) )==zero ) then
                    call stdlib_zlartg( ua12, ua11, csq, snq, r )
                 else if( aua11 / ( abs1( ua11 )+abs1( ua12 ) )<=avb11 /( abs1( vb11 )+abs1( vb12 &
                           ) ) ) then
                    call stdlib_zlartg( ua12, ua11, csq, snq, r )
                 else
                    call stdlib_zlartg( vb12, vb11, csq, snq, r )
                 end if
                 csu = snr
                 snu = conjg( d1 )*csr
                 csv = snl
                 snv = conjg( d1 )*csl
              end if
           end if
           return
     end subroutine stdlib_zlags2

#:for ck,ct,ci in CMPLX_KINDS_TYPES
#:if not ck in ["sp","dp"]
     module pure subroutine stdlib_${ci}$lags2( upper, a1, a2, a3, b1, b2, b3, csu, snu, csv,snv, csq, snq )
     !! ZLAGS2: computes 2-by-2 unitary matrices U, V and Q, such
     !! that if ( UPPER ) then
     !! U**H *A*Q = U**H *( A1 A2 )*Q = ( x  0  )
     !! ( 0  A3 )     ( x  x  )
     !! and
     !! V**H*B*Q = V**H *( B1 B2 )*Q = ( x  0  )
     !! ( 0  B3 )     ( x  x  )
     !! or if ( .NOT.UPPER ) then
     !! U**H *A*Q = U**H *( A1 0  )*Q = ( x  x  )
     !! ( A2 A3 )     ( 0  x  )
     !! and
     !! V**H *B*Q = V**H *( B1 0  )*Q = ( x  x  )
     !! ( B2 B3 )     ( 0  x  )
     !! where
     !! U = (   CSU    SNU ), V = (  CSV    SNV ),
     !! ( -SNU**H  CSU )      ( -SNV**H CSV )
     !! Q = (   CSQ    SNQ )
     !! ( -SNQ**H  CSQ )
     !! The rows of the transformed A and B are parallel. Moreover, if the
     !! input 2-by-2 matrix A is not zero, then the transformed (1,1) entry
     !! of A is not zero. If the input matrices A and B are both not zero,
     !! then the transformed (2,2) element of B is not zero, except when the
     !! first rows of input A and B are parallel and the second rows are
     !! zero.
               
        ! -- lapack auxiliary routine --
        ! -- lapack is a software package provided by univ. of tennessee,    --
        ! -- univ. of california berkeley, univ. of colorado denver and nag ltd..--
           use stdlib_blas_constants_${ck}$, only: negone, zero, half, one, two, three, four, eight, ten, czero, chalf, cone, cnegone
           ! Scalar Arguments 
           logical(lk), intent(in) :: upper
           real(${ck}$), intent(in) :: a1, a3, b1, b3
           real(${ck}$), intent(out) :: csq, csu, csv
           complex(${ck}$), intent(in) :: a2, b2
           complex(${ck}$), intent(out) :: snq, snu, snv
        ! =====================================================================
           
           ! Local Scalars 
           real(${ck}$) :: a, aua11, aua12, aua21, aua22, avb12, avb11, avb21, avb22, csl, csr, d, fb,&
                      fc, s1, s2, snl, snr, ua11r, ua22r, vb11r, vb22r
           complex(${ck}$) :: b, c, d1, r, t, ua11, ua12, ua21, ua22, vb11, vb12, vb21, vb22
           ! Intrinsic Functions 
           ! Statement Functions 
           real(${ck}$) :: abs1
           ! Statement Function Definitions 
           abs1( t ) = abs( real( t,KIND=${ck}$) ) + abs( aimag( t ) )
           ! Executable Statements 
           if( upper ) then
              ! input matrices a and b are upper triangular matrices
              ! form matrix c = a*adj(b) = ( a b )
                                         ! ( 0 d )
              a = a1*b3
              d = a3*b1
              b = a2*b1 - a1*b2
              fb = abs( b )
              ! transform complex 2-by-2 matrix c to real matrix by unitary
              ! diagonal matrix diag(1,d1).
              d1 = one
              if( fb/=zero )d1 = b / fb
              ! the svd of real 2 by 2 triangular c
               ! ( csl -snl )*( a b )*(  csr  snr ) = ( r 0 )
               ! ( snl  csl ) ( 0 d ) ( -snr  csr )   ( 0 t )
              call stdlib_${c2ri(ci)}$lasv2( a, fb, d, s1, s2, snr, csr, snl, csl )
              if( abs( csl )>=abs( snl ) .or. abs( csr )>=abs( snr ) )then
                 ! compute the (1,1) and (1,2) elements of u**h *a and v**h *b,
                 ! and (1,2) element of |u|**h *|a| and |v|**h *|b|.
                 ua11r = csl*a1
                 ua12 = csl*a2 + d1*snl*a3
                 vb11r = csr*b1
                 vb12 = csr*b2 + d1*snr*b3
                 aua12 = abs( csl )*abs1( a2 ) + abs( snl )*abs( a3 )
                 avb12 = abs( csr )*abs1( b2 ) + abs( snr )*abs( b3 )
                 ! zero (1,2) elements of u**h *a and v**h *b
                 if( ( abs( ua11r )+abs1( ua12 ) )==zero ) then
                    call stdlib_${ci}$lartg( -cmplx( vb11r,KIND=${ck}$), conjg( vb12 ), csq, snq,r )
                              
                 else if( ( abs( vb11r )+abs1( vb12 ) )==zero ) then
                    call stdlib_${ci}$lartg( -cmplx( ua11r,KIND=${ck}$), conjg( ua12 ), csq, snq,r )
                              
                 else if( aua12 / ( abs( ua11r )+abs1( ua12 ) )<=avb12 /( abs( vb11r )+abs1( vb12 &
                           ) ) ) then
                    call stdlib_${ci}$lartg( -cmplx( ua11r,KIND=${ck}$), conjg( ua12 ), csq, snq,r )
                              
                 else
                    call stdlib_${ci}$lartg( -cmplx( vb11r,KIND=${ck}$), conjg( vb12 ), csq, snq,r )
                              
                 end if
                 csu = csl
                 snu = -d1*snl
                 csv = csr
                 snv = -d1*snr
              else
                 ! compute the (2,1) and (2,2) elements of u**h *a and v**h *b,
                 ! and (2,2) element of |u|**h *|a| and |v|**h *|b|.
                 ua21 = -conjg( d1 )*snl*a1
                 ua22 = -conjg( d1 )*snl*a2 + csl*a3
                 vb21 = -conjg( d1 )*snr*b1
                 vb22 = -conjg( d1 )*snr*b2 + csr*b3
                 aua22 = abs( snl )*abs1( a2 ) + abs( csl )*abs( a3 )
                 avb22 = abs( snr )*abs1( b2 ) + abs( csr )*abs( b3 )
                 ! zero (2,2) elements of u**h *a and v**h *b, and then swap.
                 if( ( abs1( ua21 )+abs1( ua22 ) )==zero ) then
                    call stdlib_${ci}$lartg( -conjg( vb21 ), conjg( vb22 ), csq, snq,r )
                 else if( ( abs1( vb21 )+abs( vb22 ) )==zero ) then
                    call stdlib_${ci}$lartg( -conjg( ua21 ), conjg( ua22 ), csq, snq,r )
                 else if( aua22 / ( abs1( ua21 )+abs1( ua22 ) )<=avb22 /( abs1( vb21 )+abs1( vb22 &
                           ) ) ) then
                    call stdlib_${ci}$lartg( -conjg( ua21 ), conjg( ua22 ), csq, snq,r )
                 else
                    call stdlib_${ci}$lartg( -conjg( vb21 ), conjg( vb22 ), csq, snq,r )
                 end if
                 csu = snl
                 snu = d1*csl
                 csv = snr
                 snv = d1*csr
              end if
           else
              ! input matrices a and b are lower triangular matrices
              ! form matrix c = a*adj(b) = ( a 0 )
                                         ! ( c d )
              a = a1*b3
              d = a3*b1
              c = a2*b3 - a3*b2
              fc = abs( c )
              ! transform complex 2-by-2 matrix c to real matrix by unitary
              ! diagonal matrix diag(d1,1).
              d1 = one
              if( fc/=zero )d1 = c / fc
              ! the svd of real 2 by 2 triangular c
               ! ( csl -snl )*( a 0 )*(  csr  snr ) = ( r 0 )
               ! ( snl  csl ) ( c d ) ( -snr  csr )   ( 0 t )
              call stdlib_${c2ri(ci)}$lasv2( a, fc, d, s1, s2, snr, csr, snl, csl )
              if( abs( csr )>=abs( snr ) .or. abs( csl )>=abs( snl ) )then
                 ! compute the (2,1) and (2,2) elements of u**h *a and v**h *b,
                 ! and (2,1) element of |u|**h *|a| and |v|**h *|b|.
                 ua21 = -d1*snr*a1 + csr*a2
                 ua22r = csr*a3
                 vb21 = -d1*snl*b1 + csl*b2
                 vb22r = csl*b3
                 aua21 = abs( snr )*abs( a1 ) + abs( csr )*abs1( a2 )
                 avb21 = abs( snl )*abs( b1 ) + abs( csl )*abs1( b2 )
                 ! zero (2,1) elements of u**h *a and v**h *b.
                 if( ( abs1( ua21 )+abs( ua22r ) )==zero ) then
                    call stdlib_${ci}$lartg( cmplx( vb22r,KIND=${ck}$), vb21, csq, snq, r )
                 else if( ( abs1( vb21 )+abs( vb22r ) )==zero ) then
                    call stdlib_${ci}$lartg( cmplx( ua22r,KIND=${ck}$), ua21, csq, snq, r )
                 else if( aua21 / ( abs1( ua21 )+abs( ua22r ) )<=avb21 /( abs1( vb21 )+abs( vb22r &
                           ) ) ) then
                    call stdlib_${ci}$lartg( cmplx( ua22r,KIND=${ck}$), ua21, csq, snq, r )
                 else
                    call stdlib_${ci}$lartg( cmplx( vb22r,KIND=${ck}$), vb21, csq, snq, r )
                 end if
                 csu = csr
                 snu = -conjg( d1 )*snr
                 csv = csl
                 snv = -conjg( d1 )*snl
              else
                 ! compute the (1,1) and (1,2) elements of u**h *a and v**h *b,
                 ! and (1,1) element of |u|**h *|a| and |v|**h *|b|.
                 ua11 = csr*a1 + conjg( d1 )*snr*a2
                 ua12 = conjg( d1 )*snr*a3
                 vb11 = csl*b1 + conjg( d1 )*snl*b2
                 vb12 = conjg( d1 )*snl*b3
                 aua11 = abs( csr )*abs( a1 ) + abs( snr )*abs1( a2 )
                 avb11 = abs( csl )*abs( b1 ) + abs( snl )*abs1( b2 )
                 ! zero (1,1) elements of u**h *a and v**h *b, and then swap.
                 if( ( abs1( ua11 )+abs1( ua12 ) )==zero ) then
                    call stdlib_${ci}$lartg( vb12, vb11, csq, snq, r )
                 else if( ( abs1( vb11 )+abs1( vb12 ) )==zero ) then
                    call stdlib_${ci}$lartg( ua12, ua11, csq, snq, r )
                 else if( aua11 / ( abs1( ua11 )+abs1( ua12 ) )<=avb11 /( abs1( vb11 )+abs1( vb12 &
                           ) ) ) then
                    call stdlib_${ci}$lartg( ua12, ua11, csq, snq, r )
                 else
                    call stdlib_${ci}$lartg( vb12, vb11, csq, snq, r )
                 end if
                 csu = snr
                 snu = conjg( d1 )*csr
                 csv = snl
                 snv = conjg( d1 )*csl
              end if
           end if
           return
     end subroutine stdlib_${ci}$lags2

#:endif
#:endfor


end submodule stdlib_lapack_svd_comp
